---
name: A Firefox branded hero with image
order: 3
description: |
  A hero section with Firefox product branding. This example also features a tagline.
notes: |
  - Product icons can be displayed using an additional theme class:
    - `mzp-t-product-firefox`.
    - `mzp-t-product-beta`.
    - `mzp-t-product-developer`.
    - `mzp-t-product-nightly`.
  - Adding a theme class of `mzp-t-mozilla` will render the title font using Zilla Slab.
  - This example shows a mock download button. Actual download buttons on mozilla.org are much more complex with a lot of hidden markup so the CTA wrapper here is a `div` where other examples use a `p` element (a paragraph can only contain text and phrasing elements; a `p` wouldn’t be correct for a real download button).
  - [See the demo page](/demos/hero.html) for more examples in a full window context.
---

{{#embed "patterns.organisms.hero.hero" image="true" class="mzp-t-firefox mzp-t-product-firefox"}}
  {{#content "content"}}
    <h1 class="mzp-c-hero-title">A Headline With 30 Characters</h1>

    <div class="mzp-c-hero-desc">
      <p class="mzp-c-hero-tagline">A short tagline with about 40 characters.</p>
    </div>

    <div class="mzp-c-hero-cta">
      {{#embed "patterns.molecules.download-button.download-button"}}{{/embed}}
    </div>
  {{/content}}
{{/embed}}
