---
name: Hero
order: 1
description: |
  A large promotional section, usually at the very top of the page, featuring at minimum a headline and a call to action. A brief description is recommended but optional.
notes: |
  - The content is centered by default without a hero image.
  - The description can feature a larger tagline with the `mzp-c-hero-tagline` class.
  - Adding a theme class of `mzp-t-mozilla` will render the title font using Zilla Slab.
  - Add the `mzp-t-dark` class to invert text colors for dark backgrounds.
  - [See the demo page](/demos/hero.html) for more examples in a full window context.
links:
    More examples: /demos/hero.html
---

<section class="mzp-c-hero {{#if image}}mzp-has-image{{/if}} {{#if class}}{{class}}{{/if}}">
  <div class="mzp-l-content {{#if content-class}}{{content-class}}{{/if}}">
    <div class="mzp-c-hero-body">
      {{#block "content"}}
      <h1 class="mzp-c-hero-title">A Headline With 30 Characters</h1>

      <div class="mzp-c-hero-desc">
        <p>A description with a maximum of 140 characters and <a href="#">a link</a>. That means we usually only have room for one or two sentences. Like this.</p>
      </div>

      <p class="mzp-c-hero-cta">
        <a class="mzp-c-button" href="#">Call to action</a>
      </p>
      {{/block}}
    </div>
  </div>

{{#if image}}
  {{#block "hero-image"}}
  <div class="mzp-c-hero-image">
    <img src="{{@root.baseurl}}/static/img/hero/hero-image.png" alt="">
  </div>
  {{/block}}
{{/if}}
</section>
