---
name: Menu List
description: Customized with mzp-t-cta and mzp-t-download
order: 2
---
<div class="mzp-t-firefox">

<div class="mzp-c-menu-list mzp-t-cta mzp-t-download">
  <h3 class="mzp-c-menu-list-title">Download the App</h3>
  <ul id="download" class="mzp-c-menu-list-list">
    <li class="mzp-c-menu-list-item"><a href="#">Desktop</a></li>
    <li class="mzp-c-menu-list-item"><a href="#">Android</a></li>
    <li class="mzp-c-menu-list-item"><a href="#">iOS</a></li>
    <li class="mzp-c-menu-list-item"><a href="#">Slightly longer menu item for testing</a></li>
  </ul>
</div>

</div>

<script src="{{@root.baseurl}}/assets/protocol/protocol/js/protocol-details.js"></script>
<script>
  window.Mzp.Details.init('.mzp-c-menu-list-title');
</script>
