---
title: Documentation
notes: General documentation.
---

<p>Docs will go here. Stuff like an installation/contribution guide, coding standards, etc.</p>

<ul class="mzp-u-list-styled">
  {{#each (pages "docs" sortby="order" ignore="index")}}
    <li>
      <a href="{{@root.baseurl}}/{{url}}">{{data.title}}</a>
    </li>
  {{/each}}
</ul>
