---
title: Documentation
notes: |
  General documentation of naming conventions and template usage
---

<p>Docs will go here. Stuff like an installation/contribution guide, coding standards, etc.</p>

<ul>
  {{#each (pages "docs" ignore="index")}}
    <li>
      <a href="{{@root.baseurl}}/{{url}}">{{data.title}}</a>
    </li>
  {{/each}}
</ul>
