{% render '@zap', { heading_el: 'h2', zap_number: '1', heading: 'An <strong>example</strong> of Zap 1' } %}
{% render '@zap', { heading_el: 'h2', zap_number: '2', heading: 'An <strong>example</strong> of Zap 2' } %}
{% render '@zap', { heading_el: 'h2', zap_number: '3', heading: 'An <strong>example</strong> of Zap 3' } %}
{% render '@zap', { heading_el: 'h2', zap_number: '4', heading: 'An <strong>example</strong> of Zap 4' } %}
{% render '@zap', { heading_el: 'h2', zap_number: '5', heading: 'An <strong>example</strong> of Zap 5' } %}
{% render '@zap', { heading_el: 'h2', zap_number: '6', heading: 'An <strong>example</strong> of Zap 6' } %}
{% render '@zap', { heading_el: 'h2', zap_number: '7', heading: 'An <strong>example</strong> of Zap 7' } %}
{% render '@zap', { heading_el: 'h2', zap_number: '8', heading: 'An <strong>example</strong> of Zap 8' } %}
{% render '@zap', { heading_el: 'h2', zap_number: '9', heading: 'An <strong>example</strong> of Zap 9' } %}
{% render '@zap', { heading_el: 'h2', zap_number: '10', heading: 'An <strong>example</strong> of Zap 10' } %}
{% render '@zap', { heading_el: 'h2', zap_number: '11', heading: 'An <strong>example</strong> of Zap 11' } %}
{% render '@zap', { heading_el: 'h2', zap_number: '12', heading: 'An <strong>example</strong> of Zap 12' } %}
{% render '@zap', { heading_el: 'h2', zap_number: '13', heading: 'An <strong>example</strong> of Zap 13' } %}
{% render '@zap', { heading_el: 'h2', zap_number: '14', heading: 'An <strong>example</strong> of Zap 14' } %}
{% render '@zap', { heading_el: 'h2', zap_number: '15', heading: 'An <strong>example</strong> of Zap 15' } %}
{% render '@zap', { heading_el: 'h2', zap_number: '16', heading: 'An <strong>example</strong> of Zap 16' } %}
{% render '@zap', { heading_el: 'h2', zap_number: '17', heading: 'An <strong>example</strong> of Zap 17' } %}
{% render '@zap', { heading_el: 'h2', zap_number: '18', heading: 'An <strong>example</strong> of Zap 18' } %}
