{# @billboard
#
# parameters:
# class         - string
# image         - path
# heading         - string
# heading_el      - HTML heading element (h1, h2, h3, h4, h5, h6)
# body          - string
# cta           - string
# cta_link      - url
#}
<div class="mzp-c-billboard {% if class %} {{ class }}{% else %}mzp-l-billboard-right{% endif %}">
  <div class="mzp-c-billboard-image-container">
    <img class="mzp-c-billboard-image" src="{{ image | default('/img/billboard-image.png') | path }}" alt="">
  </div>
  <div class="mzp-c-billboard-content">
    <div class="mzp-c-billboard-content-container">
      <div class="mzp-c-billboard-content-inner">
        <{{ heading_el | default('h2') }} class="mzp-c-billboard-heading">{{ heading }}</{{ heading_el | default('h2') }}>
      {%- if body %}
        <p class="mzp-c-billboard-body">{{ body }}</p>
      {% endif -%}
      {%- if cta %}
        <a href="{{ cta_link }}" class="mzp-c-cta-link">{{ cta }}</a>
      {% endif -%}
      </div>
    </div>
  </div>
</div>
