---
name: Input with placeholder
description: |
    Field placeholders should show an example of the expected input, such as suggested search terms or a demonstration of a correctly formatted email address.
nonos: |
    - Don't use the placeholder attribute as a substitute for a label. It's a misuse of the attribute and leaves you with an inaccessible, unlabeled field.
order: 2
---

<label for="email">E-mail</label>
<input type="email" name="email" id="email" placeholder="you@example.com">
