
<nav class="mzp-c-menu mzp-is-basic">
  <ul class="mzp-c-menu-category-list">
    {% block content %}
      <li class="mzp-c-menu-category">
          <a class="mzp-c-menu-title" href="https://www.mozilla.org/" target="_blank" external="noopener noreferrer">Sample Link</a>
      </li>
      <li class="mzp-c-menu-category mzp-has-drop-down mzp-js-expandable">
        <a class="mzp-c-menu-title" href="#" aria-haspopup="true" aria-controls="mzp-c-menu-panel-example">Firefox</a>
        <div class="mzp-c-menu-panel mzp-has-card" id="mzp-c-menu-panel-example">
          <div class="mzp-c-menu-panel-container">
            <button class="mzp-c-menu-button-close" type="button" aria-controls="mzp-c-menu-panel-example">Close Firefox menu</button>
            <div class="mzp-c-menu-panel-content">
              <ul>
                <li>
                  {% render "@menu-item" %}
                </li>
                <li>
                  {% render "@menu-item" %}
                </li>
              </ul>
              <ul>
                <li class="mzp-c-menu-item">
                  <h4 class="mzp-c-menu-item-title">A headline with 30 characters</h4>
                  <p class="mzp-c-menu-item-desc">
                    This is a short description with only a single sentence and no more.
                  </p>
                </li>
                <li class="mzp-c-menu-item">
                  <h4 class="mzp-c-menu-item-title">A headline with 30 characters</h4>
                  <p class="mzp-c-menu-item-desc">
                    This is a short description with only a single sentence and no more.
                  </p>
                </li>
                <li class="mzp-c-menu-item">
                  <h4 class="mzp-c-menu-item-title">A headline with 30 characters</h4>
                  <p class="mzp-c-menu-item-desc">
                    This is a short description with only a single sentence and no more.
                  </p>
                </li>
              </ul>
            </div>
            <div class="mzp-c-menu-panel-card">
              <!-- Waiting on card component to be built -->
              {#
              {% block content %}
              {{#embed "patterns.molecules.card.extra-small-card"}}{{/embed}}
              {% endblock %}
              #}
            </div>
          </div>
        </div>
      </li>
    {% endblock %}
  </ul>
</nav>

<script src="{{ '/protocol/js/protocol-menu.js' }}"></script>

<script>
  Mzp.Menu.init({
      onMenuOpen: function() {
          console.log('Menu opened');
      },
      onMenuClose: function() {
          console.log('Menu closed');
      },
      onMenuButtonClose: function() {
          console.log('Menu close button clicked');
      }
  });
</script>
