<div class="mzp-l-content mzp-has-sidebar mzp-l-sidebar-left">
  <main class="mzp-l-main">
    <p>Main content.</p>
    <p>The sidebar comes <strong>after</strong> the main section in the source order.</p>
  </main>

  <aside class="mzp-l-sidebar">
    <p>Sidebar content.</p>
  </aside>
</div>

<div class="mzp-l-content mzp-has-sidebar mzp-l-sidebar-right">
  <main class="mzp-l-main">
    <p>Main content.</p>
    <p>The sidebar comes <strong>after</strong> the main section in the source order.</p>
  </main>

  <aside class="mzp-l-sidebar">
    <p>Sidebar content.</p>
  </aside>
</div>

<!-- Inline styles are for demo purposes only. Prefer external stylesheet in production. -->
<style>
  .mzp-l-main {
    background-color: papayawhip;
  }

  .mzp-l-sidebar {
    background-color: lavender;
  }
</style>

