// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

// Component previews on the Protocol documentation site

$image-path: '../../img' !default;
$font-path: '../../fonts' !default;


// Fonts
@import '../protocol/includes/fonts/inter';
@import '../protocol/includes/fonts/zilla-slab';
@import '../protocol/includes/fonts/metropolis';

// Base elements - general HTML elements
@import '../protocol/base/elements';

// Base utilities
@import '../protocol/base/utilities/backgrounds';
@import '../protocol/base/utilities/titles';

// Base includes - animations
@import '../protocol/base/includes';

// ALL the components
@import '../protocol/components/button';
@import '../protocol/components/emphasis-box';
@import '../protocol/components/feature-card';
@import '../protocol/components/forms/button-container';
@import '../protocol/components/forms/choice';
@import '../protocol/components/forms/field';
@import '../protocol/components/forms/form';
@import '../protocol/components/forms/msg';
@import '../protocol/components/forms/set';
@import '../protocol/components/forms/status';
@import '../protocol/components/picto';
@import '../protocol/components/section-heading';
@import '../protocol/components/zap';

@import '../protocol/templates/multi-column';



html,
body {
    height: 100%;
}

.site-preview {
    box-sizing: border-box;
    padding: $spacing-lg;
    height: 100%;
}

