---
notes: |
  Checkboxes represent a set of options where multiple selections are allowed.

  Also use a checkbox for a binary choice (such as a yes or no question) rather than two radio buttons. A radio button, once activated, cannot be deactivated, whereas a single checkbox behaves as a switch to let a user toggle between the two states (you can uncheck a checked checkbox).
order: 4
---

<label for="checkbox-1">
  <input type="checkbox" name="checkboxes" id="checkbox-1"> Option 1
</label>
<label for="checkbox-2">
  <input type="checkbox" name="checkboxes" id="checkbox-2"> Option 2
</label>
