---
name: Input with placeholder
notes: |
    Field placeholders should show an example of the expected input, such as suggested search terms or a demonstration of a correctly formatted email address. The placeholder attribute should **not** be used as a substitute for a label.
order: 2
---

<label for="email">E-mail</label>
<input type="email" name="email" id="email" placeholder="you@example.com">
