# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    ignore:
      # Pin sass at 1.91.0 until mozilla/protocol#982
      - dependency-name: 'sass'
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 10
    groups:
      frontend:
        dependency-type: production
        update-types:
          - "minor"
          - "patch"
      dev-dependencies:
        dependency-type: development
        update-types:
          - "minor"
          - "patch"
    labels:
      - dependencies

