---
name: Four Column Grid - Overflow
order: 9
---

{{#if overflow}}
{{else}}
<div class="mzp-u-overflow-hidden">
{{/if}}

  <div class="mzp-l-grid">
    <div class="mzp-l-grid-1-2">1</div>
    <div class="mzp-l-grid-3-4">2</div>
  </div>

  <div class="mzp-l-grid">
    <div class="mzp-l-grid-3-4">1</div>
    <div class="mzp-l-grid-1-2">2</div>
  </div>

  <div class="mzp-l-grid">
    <div class="mzp-l-grid-2-4">1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
  </div>

  <div class="mzp-l-grid">
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div class="mzp-l-grid-2-4">4</div>
  </div>

{{#if overflow}}
{{else}}
</div>
{{/if}}
