---
name: Grid
order: 1
description: |
  The `mzp-l-grid` class will resize all child divs in to evenly spaced columns
---

<div class="mzp-l-grid"><div>1</div></div>

<div class="mzp-l-grid"><div>1</div><div>2</div></div>

<div class="mzp-l-grid"><div>1</div><div>2</div><div>3</div></div>

<div class="mzp-l-grid"><div>1</div><div>2</div><div>3</div><div>4</div></div>

<div class="mzp-l-grid"><div>1</div><div>2</div><div>3</div><div>4</div><div>5</div><div>6</div></div>

<div class="mzp-l-grid"><div>1</div><div>2</div><div>3</div><div>4</div><div>5</div><div>6</div><div>7</div><div>8</div></div>
