---
name: Three Column Grid - Position
order: 5
---

<div class="mzp-l-grid">
    <div class="mzp-l-grid-2-3">1</div>
</div>

<div class="mzp-l-grid">
    <div class="mzp-l-grid-2-3 mzp-u-right">1</div>
</div>

<div class="mzp-l-grid">
    <div class="mzp-l-grid-2-3 mzp-u-center">1</div>
</div>
