---
name: Three Column Grid
order: 4
---

<div class="mzp-l-grid">
    <div>1</div>
    <div>2</div>
    <div>3</div>
</div>

<div class="mzp-l-grid">
    <div class="mzp-l-grid-1-3">1</div>
    <div class="mzp-l-grid-2-3">2</div>
</div>

<div class="mzp-l-grid">
    <div class="mzp-l-grid-2-3">1</div>
    <div class="mzp-l-grid-1-3">2</div>
</div>
