---
name: Three Column Grid - Overflow
order: 6
---

{{#if overflow}}
{{else}}
<div class="mzp-u-overflow-hidden">
{{/if}}

  <div class="mzp-l-grid">
    <div>1</div>
    <div>2</div>
    <div class="mzp-l-grid-2-3">3</div>
  </div>

  <div class="mzp-l-grid">
    <div class="mzp-l-grid-2-3">1</div>
    <div>2</div>
    <div>3</div>
  </div>

{{#if overflow}}
{{else}}
</div>
{{/if}}
