build-sync-stage:
  only:
    - master
    - gitlab-stage
  tags:
    - mozmeao
  script:
    - bin/build.sh stage
    - cd dist
    - aws s3 sync . s3://mozilla-protocol-stage --acl public-read --delete

build-sync-prod:
  only:
    - prod
  tags:
    - mozmeao
  script:
    - bin/build.sh prod
    - cd dist
    - aws s3 sync . s3://mozilla-protocol --acl public-read --delete 
