// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@use '../../includes/lib' as *;
@use '../../includes/forms';
@forward "../../includes/forms";

// Basic atoms that make up a form:
// - form
//     - form
//     - form-header
//     - form-title
//     - form-footer

.mzp-c-form {
    color: forms.$form-text;
    margin-bottom: forms.$field-v-spacing;

    &.mzp-t-dark,
    .mzp-t-dark & {
        color: $body-text-color-secondary-inverse;
    }

    @supports (--css: variables) {
        color: var(--body-text-color-secondary);

        &.mzp-t-dark,
        .mzp-t-dark & {
            color: var(--body-text-color-secondary-inverse);
        }
    }

    // if we're using the form component bottom spacing comes from `field` and `choice` components
    fieldset {
        margin-bottom: 0;
    }
}

// Header
.mzp-c-form-header {
    margin-bottom: $spacing-lg;

    > * {
        margin-bottom: 0;

        + * {
            margin-top: forms.$info-v-spacing;
        }
    }
}

// Footer
.mzp-c-form-footer {
    padding-top: $spacing-xl - forms.$field-v-spacing;

    > * {
        margin-bottom: 0;

        + * {
            margin-top: forms.$info-v-spacing;
        }
    }
}

// Title
.mzp-c-form-title,
legend.mzp-c-form-title {
    @include text-heading-xs;
    color: $title-text-color;
    margin: 0 0 $spacing-lg;

    .mzp-c-form-header > & {
        margin-bottom: 0;
    }

    .mzp-t-dark & {
        color: $title-text-color-inverse;
    }

    @supports (--css: variables) {
        color: var(--heading-text-color);

        .mzp-t-dark & {
            color: var(--heading-text-color-inverse);
        }
    }
}

// Subtitle
.mzp-c-form-subtitle,
legend.mzp-c-form-subtitle {
    font-weight: bold;
    margin-bottom: forms.$field-v-spacing;
    @include text-body-lg;
}

legend.mzp-c-form-title,
legend.mzp-c-form-subtitle {
    float: left;
    width: 100%;
}

// Info
.mzp-c-form-info {
    @include forms.form-info;

    &.mzp-t-xs {
        @include text-body-xs;
    }

    .mzp-c-form-msg + & {
        padding-top: $spacing-xs;
    }
}
