---
title: Button alignment
layout: blank
styles:
  - forms
---

<section class="mzp-l-content">
  <div class="mzp-c-form">
    <h2 class="mzp-u-title-xs">Default: Buttons are aligned with text (left in LTR languages, right in RTL languages)</h2>
    <br>
    <div class="mzp-c-button-container">
      {{#embed "patterns.atoms.buttons.primary" }}{{#content "content"}}Primary{{/content}}{{/embed}}
      {{#embed "patterns.atoms.buttons.secondary" }}{{#content "content"}}Secondary{{/content}}{{/embed}}
      <p class="mzp-c-button-info">More information.</p>
    </div>

    <hr>

    <h2 class="mzp-u-title-xs"><code>mzp-l-align-end</code>: Align buttons opposite to text (right in LTR languages, left in RTL languages)</h2>
    <br>
    <div class="mzp-c-button-container mzp-l-align-end">
      {{#embed "patterns.atoms.buttons.primary" }}{{#content "content"}}Primary{{/content}}{{/embed}}
      {{#embed "patterns.atoms.buttons.secondary" }}{{#content "content"}}Secondary{{/content}}{{/embed}}
      <p class="mzp-c-button-info">More information.</p>
    </div>

    <hr>

    <h2 class="mzp-u-title-xs"><code>mzp-l-align-center</code>: Align buttons in the center</h2>
    <br>
    <div class="mzp-c-button-container mzp-l-align-center">
      {{#embed "patterns.atoms.buttons.primary" }}{{#content "content"}}Primary{{/content}}{{/embed}}
      {{#embed "patterns.atoms.buttons.secondary" }}{{#content "content"}}Secondary{{/content}}{{/embed}}
      <p class="mzp-c-button-info">More information.</p>
    </div>

    <hr>

    <h2 class="mzp-u-title-xs"><code>mzp-l-stretch</code>: Stretch buttons to full width</h2>
    <p><strong>Only use this in narrow forms!</strong> This example shows two buttons but most forms will have only one.</p>
    <br>
    <div class="mzp-c-button-container mzp-l-stretch">
      {{#embed "patterns.atoms.buttons.primary" }}{{#content "content"}}Primary{{/content}}{{/embed}}
      {{#embed "patterns.atoms.buttons.secondary" }}{{#content "content"}}Secondary{{/content}}{{/embed}}
      <p class="mzp-c-button-info">More information.</p>
    </div>

  </div>
</section>
