---
title: Form validation
layout: blank
styles:
  - forms
---

<div class="mzp-l-content mzp-t-content-md">

  <form id="form" class="mzp-c-form mzp-is-error">

    <h1 class="mzp-c-form-heading">Form validaton demo</h1>

    <p>For longer forms provide a list of errors at the top that need to be addressed:</p>

    <div class="mzp-c-form-errors">
      <ul class="mzp-u-list-styled">
        <li>Birthdate: Use the order year, month, day.</li>
        <li>Your email: This required field was left empty.</li>
        <li>Username: Must be at least six characters.</li>
        <li>Event Date: Please pick an event date in the future</li>
        <li>You must agree to the privacy policy.</li>
      </ul>
    </div>

    <fieldset class="mzp-c-field-set">
      <h2 class="mzp-c-form-subheading">Note</h2>
      <p>When a label includes a <a href="/patterns/atoms/forms.html#field-notes">field note</a>, adding mzp-is-error to a parent element will highlight it.</p>
      {{#embed "patterns.molecules.forms.fields.input" id="n_birth_date" type="text" required="true"}}
        {{#content "label" }}Birthdate <span class="mzp-c-fieldnote">Use the order year, month, day. Like this: 1970-03-31</span>{{/content}}
        {{#content "attrs"}} value="March 3 '70"{{/content}}
      {{/embed}}
      {{#embed "patterns.molecules.forms.fields.input" id="n_your_email" type="email" required="true"}}
        {{#content "label" }}Your email <span class="mzp-c-fieldnote">Required</span>{{/content}}
      {{/embed}}
    </fieldset>

    <fieldset class="mzp-c-field-set">
      <h2 class="mzp-c-form-subheading">Message</h2>
      <p>Use the <a href="/patterns/molecules/forms.html#message">message component</a> to add additonal information to the page help with form validation.</p>
      {{#embed "patterns.molecules.forms.fields.input" id="n_username" type="text" required="true" msg="Username must be at least 6 characters."}}
        {{#content "label" }}Username{{/content}}
        {{#content "attrs"}} value="Jim"{{/content}}
      {{/embed}}

      {{#embed "patterns.molecules.forms.fields.input" id="n_date" type="date" required="true" msg="Please pick a date in the future" }}
        {{#content "label" }}Event Date{{/content}}
        {{#content "attrs"}} value="2015-03-31"{{/content}}
      {{/embed}}

      {{#embed "patterns.molecules.forms.fields.choice" id="s-terms5" type="checkbox" is-legal="true" msg="You must agree to our privacy policy before we can add you to the newsletter."}}
        {{#content "label"}}I agree to the <a href="#">privacy policy</a> {{/content}}
      {{/embed}}
    </fieldset>

    <h2 class="mzp-c-form-subheading">Other components</h2>
    <p>Examples of error messages with other components.</p>

    <fieldset class="mzp-c-field-set">
      <legend class="mzp-c-form-subheading">Fieldset</legend>
      {{#embed "patterns.molecules.forms.fields.input" id="fs2" type="text" msg="Message for this field"}}{{/embed}}
      {{#embed "patterns.molecules.forms.fields.input" id="fs2" type="text"}}{{/embed}}
      <div class="mzp-c-field-set-msg">Message for this field set.</div>
      <p class="mzp-c-field-set-info">Details for this field set.</p>
    </fieldset>

    <fieldset class="mzp-c-field-set">
      <legend class="mzp-c-field-label">Choices <span class="mzp-c-fieldnote">(in this case checkboxes)</span></legend>
      <div class="mzp-c-choices">
        {{#embed "patterns.molecules.forms.fields.choice" id="s-check-1" type="checkbox"}}{{#content "label"}}Option 1{{/content}}{{/embed}}
        {{#embed "patterns.molecules.forms.fields.choice" id="s-check-2" type="checkbox"}}{{#content "label"}}Option 2{{/content}}{{/embed}}
      </div>
      <div class="mzp-c-field-set-msg">Message for this group of choices</div>
      <p class="mzp-c-field-set-info">Details for this set of choices.</p>
    </fieldset>

    <fieldset class="mzp-c-field-set">
      {{#embed "patterns.molecules.forms.fields.choice" id="s-terms5" type="checkbox" msg="Message for this single checkbox"}}{{#content "label"}}Single checkbox{{/content}}{{/embed}}
      {{#embed "patterns.molecules.forms.fields.choice" id="s-terms4" type="checkbox" is-legal="true"}}{{#content "label"}}I agree to the <a href="#">privacy policy</a> <span class="mzp-c-fieldnote">You must agree to our privacy policy before we can add you to the newsletter.</span>{{/content}}{{/embed}}
    </fieldset>

    <div class="mzp-c-form-footer">
      <div class="mzp-c-button-container">
        <button type="button" class="mzp-c-button" disabled>Submit</button>
      </div>
    </div>

  </form>
</div>

