---
name: Inline Lists
description: |
  A list of things that spreads across the page horizontally, wrapping to the next line when needed.

  The list should be able to contain a variety of atoms (like buttons and cta links).
order: 2
---

<ol class="mzp-c-inline-list">
  <li>List item</li>
  <li><a href="#">List item</a></li>
  <li><a class="mzp-c-cta-link" href="#">List item that contains a cta link</a></li>
  <li><a class="mzp-c-button mzp-t-md" href="#">List item that contains a button</a></li>
  <li><a href="#">List item</a></li>
  <li><a href="#">List item</a></li>
  <li><a href="#">List item</a></li>
</ol>
