---
title: Color
name: Color
order: 3
labels:
  - inprogress
---

<p>Todo:</p>
<ul class="mzp-u-list-styled">
  <li>Some guidelines about color and how we use it.</li>
  <li>Swatches need better grouping e.g. "Primary/Secondary brand colors", "Interface colors".</li>
</ul>

<ul class="protosite-swatch-gallery">
  {{#each (data "colors")}}
    <li class="protosite-swatch">
      {{> drizzle.swatch }}
    </li>
  {{/each}}
</ul>
