---
title: Color
name: Color
order: 3
labels:
  - inprogress
---

<p>Todo: Some guidelines about color and how we use it. Meanwhile, have some swatches.</p>

{{#each (data "colors")}}
  <h3>{{ @key }}</h3>
  <ul class="protosite-swatch-gallery">
    {{#each this}}
      <li class="protosite-swatch">
        {{> drizzle.swatch }}
      </li>
    {{/each}}
  </ul>
{{/each}}
