---
title: Icon Assets
name: Icon Assets
order: 5
labels:
  - inprogress
---

<p>Todo:</p>
<ul class="mzp-u-list-unstyled">
  <li>add a background color selector for icons (white grey ink black)</li>
  <li>add a icon size preview selector?</li>
  <li>add a copy to clipbord feature</li>
</ul>
<section class="icon-list">
  {{renderIcons (data "icons")}}
</section>

<script>

  document.querySelectorAll(".img-group").forEach( element => {
    element.addEventListener("click", () => {copyImgUrl(element)});
  })

  function copyImgUrl(element){
    const imageLink = element.attributes[1].textContent;
    navigator.clipboard.writeText(imageLink).then(() => {
      console.log("Copied!");
      element.lastElementChild.classList.add('fade');
      setTimeout(() => {
        element.lastElementChild.classList.remove('fade');
      }, 3000);
    }, () => {
      /* clipboard write failed */
      console.log('Copy Failed!');
    });
  };

</script>
