---
title: Icon assets
name: Icon assets
order: 5
labels:
  - inprogress
---

<p>Todo:</p>
<ul class="mzp-u-list-unstyled">
  <li>add a background color selector for icons (white grey ink black)</li>
  <li>add a icon size preview selector?</li>
  <li>add a copy to clipbord feature</li>
</ul>

{{renderIcons (data "icons")}}
