---
name: Icons
labels:
  - inprogress
---

<p>This page lists all the icons in the <a href="https://github.com/mozilla/protocol-assets/tree/master/icons">protocol-assets</a> repository. However, the current set of icons is undergoing some changes and also needs better documentation on their usage.</p>

<p>Icons shown here should be treated as <strong>outdated</strong> and you probably shouldn't use them. Proceed with caution.</p>

<section class="icon-list">
  {{renderIcons (data "icons")}}
</section>

<script>
  document.querySelectorAll('.img-group').forEach( element => {
    element.addEventListener('click', copyImgUrl);
  })

  async function copyImgUrl(event){
    const element = event.currentTarget;
    const imageLink = element.attributes[1].textContent;
    try {
      await navigator.clipboard.writeText(imageLink);
      document.querySelectorAll('.img-group p.fade').forEach( el => {
        el.classList.remove('fade');
      });
      element.lastElementChild.classList.add('fade');
      setTimeout(() => {
        element.lastElementChild.classList.remove('fade');
      }, 3000);
    } catch {
      /* clipboard write failed */
      console.log('Copy Failed!');
    }
  };
</script>
