---
title: Themes
name: Themes
order: 2
---

<p>By default the site will render using the Inter typeface. For a more brand-specific experience some theme classes and mixins are available</p>

<div class="mzp-t-mozilla">
<h2>Mozilla</h2>
<p>The <code>.mzp-t-mozilla</code> class can be applied to the page body and to some organisms to use Zilla Slab for the display font.</p>
<p>You can declare Zilla Slab as the display font explicitly in the CSS using <code>@include font-mozilla;</code></p>
</div>

<div class="mzp-t-firefox">
<h2>Firefox</h2>
<p>The <code>.mzp-t-firefox</code> class can be applied to the page body and to some organisms. It will:</p>
<ul>
  <li>Change the text color to <code>$color-off-black</code>.</li>
  <li>Use Metropolis for the display font.</li>
  <li>Use Metropolis for calls to action.</li>
</ul>
<p>You can declare Metropolis as the display font explicitly in the CSS using <code>@include font-firefox;</code>
</div>
