---
title: Themes
name: Themes
order: 2
---

<p>By default the site will render using the Inter typeface. For a more brand-specific experience some theme classes and mixins are available</p>

<h2>Mozilla</h2>

<p>The `.mzp-t-mozilla` class can be applied to the page body and to some organisms to use Zilla Slab for the display font.</p>
<p>You can declare Zilla Slab as the display font explicitly in the CSS using <code>@include font-mozilla;</code></p>

<h2>Firefox</h2>

<p>The `.mzp-t-firefox` class can be applied to the page body and to some organisms to use Firefox Sharp Sans for the display font.</p>
<p>You can declare Firefox Sharp Sans as the display font explicitly in the CSS using `@include font-firefox`;
<p>These will only work if you have taken other steps to enable Firefox Sharp Sans on your site. If your site is covered by the terms of the lisence please contact the websites team for instructions on how to use it.</p>
