{# @button
#
# parameters:
# class         - string
# label         - string
# link          - URL
# type          - type attribute value (button, submit, reset)
# disabled      - Boolean
#}
{%- if href -%}
<a class="mzp-c-button{% if class %} {{ class }}{% endif %}" href="{{ link }}">{{ label }}</a>
{%- else -%}
<button class="mzp-c-button{% if class %} {{ class }}{% endif %}" type="{% if type %}{{ type }}{% else %}button{% endif %}"{{ " disabled" if disabled }}>{{ label }}</button>
{%- endif -%}
