.mds-main { padding: 20px 4vw; }
@media screen and (min-width: 760px) { .mds-main { padding-left: 24vw; } }

.mds-nav { background: #000; color: #fff; padding: 10px; }
.mds-nav :link, .mds-nav :visited { color: #fff; text-decoration: none; }
.mds-nav :link:hover, .mds-nav :link:focus, .mds-nav :visited:hover, .mds-nav :visited:focus { color: #eee; text-decoration: underline; }
@media screen and (min-width: 760px) { .mds-nav { -webkit-overflow-scrolling: touch; box-sizing: border-box; display: block; height: 100%; left: 0; min-width: 160px; overflow-x: hidden; overflow-y: auto; padding: 20px; position: fixed; top: 0; width: 20vw; z-index: 1; } }
.mds-nav .nav-toggle { overflow: hidden; text-indent: 120%; white-space: nowrap; background: #000 url("../../../../static/img/icon-menu-white.svg") center center no-repeat; -webkit-background-size: 30px auto; background-size: 30px auto; cursor: pointer; display: block; height: 2.2em; overflow: hidden; position: relative; width: 2.2em; }
@media screen and (min-width: 760px) { .mds-nav .nav-toggle { display: none; } }

.mds-nav-header { margin: 0 0 20px; }

.mds-nav-mozlogo { float: right; }
@media screen and (min-width: 760px) { .mds-nav-mozlogo { float: none; } }

.mds-nav-item { margin: 0 0 .25em; }

.js .mds-nav-menu { display: none; }
@media screen and (min-width: 760px) { .js .mds-nav-menu { display: block; } }

.js .mds-nav.is-active .mds-nav-menu { display: block; }

.mds-swatch-gallery { display: flex; flex-wrap: wrap; }
.mds-swatch-gallery .mds-swatch { margin: 0 20px 2em; min-width: 200px; text-align: center; }
.mds-swatch-gallery .mds-swatch-image { height: 150px; margin: 0 auto 1em; width: 150px; }

.mds-specimen { border-radius: 3px; border: 1px solid rgba(0, 0, 0, 0.2); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); padding: 10px 20px; margin: 0 0 1.5em; overflow-x: auto; }

.mds-specimen-preview { padding: 20px 0; }
.mds-specimen-preview + .mds-specimen-code { border-top: 1px solid rgba(0, 0, 0, 0.2); margin: 20px -20px -10px; }

.mds-specimen-code { background: #f8f8f8; padding: 10px 20px; margin: -10px -20px; }

.mds-specimen-font { font-size: 18px; font-size: 1rem; }
@media screen and (min-width: 760px) { .mds-specimen-font { font-size: 24px; font-size: 1.3333333333rem; } }
@media screen and (min-width: 1000px) { .mds-specimen-font { font-size: 36px; font-size: 2rem; } }

#specimen-open-sans { font-family: "Open Sans", X-LocaleSpecific, sans-serif; }

.mds-section { margin: 0 auto 3em; }

.mds-label { font-size: 12px; font-size: 0.6666666667rem; background-color: gray; border-radius: .25em; display: inline-block; line-height: 1; padding: .25em 8px; vertical-align: inherit; border: 1px solid rgba(0, 0, 0, 0.05); }
@media screen and (min-width: 760px) { .mds-label { font-size: 14px; font-size: 0.7777777778rem; } }

.mds-label--inprogress { background-color: yellow; color: #000; }

.mds-label--deprecated { background-color: firebrick; color: #fff; }

.mds-label--approved { background-color: green; color: #fff; }

.mds-typescale .huge { font-size: 48px; font-size: 2.6666666667rem; }
@media screen and (min-width: 760px) { .mds-typescale .huge { font-size: 60px; font-size: 3.3333333333rem; } }
@media screen and (min-width: 1000px) { .mds-typescale .huge { font-size: 72px; font-size: 4rem; } }
.mds-typescale .huge:after { content: ' 48px'; font-weight: normal; }
@media screen and (min-width: 760px) { .mds-typescale .huge:after { content: ' 60px'; } }
@media screen and (min-width: 1000px) { .mds-typescale .huge:after { content: ' 72px'; } }
.mds-typescale .l1 { font-size: 36px; font-size: 2rem; }
@media screen and (min-width: 760px) { .mds-typescale .l1 { font-size: 48px; font-size: 2.6666666667rem; } }
@media screen and (min-width: 1000px) { .mds-typescale .l1 { font-size: 60px; font-size: 3.3333333333rem; } }
.mds-typescale .l1:after { content: ' 36px'; font-weight: normal; }
@media screen and (min-width: 760px) { .mds-typescale .l1:after { content: ' 48px'; } }
@media screen and (min-width: 1000px) { .mds-typescale .l1:after { content: ' 60px'; } }
.mds-typescale .l2 { font-size: 24px; font-size: 1.3333333333rem; }
@media screen and (min-width: 760px) { .mds-typescale .l2 { font-size: 36px; font-size: 2rem; } }
@media screen and (min-width: 1000px) { .mds-typescale .l2 { font-size: 48px; font-size: 2.6666666667rem; } }
.mds-typescale .l2:after { content: ' 24px'; font-weight: normal; }
@media screen and (min-width: 760px) { .mds-typescale .l2:after { content: ' 36px'; } }
@media screen and (min-width: 1000px) { .mds-typescale .l2:after { content: ' 48px'; } }
.mds-typescale .l3 { font-size: 18px; font-size: 1rem; }
@media screen and (min-width: 760px) { .mds-typescale .l3 { font-size: 24px; font-size: 1.3333333333rem; } }
@media screen and (min-width: 1000px) { .mds-typescale .l3 { font-size: 36px; font-size: 2rem; } }
.mds-typescale .l3:after { content: ' 18px'; font-weight: normal; }
@media screen and (min-width: 760px) { .mds-typescale .l3:after { content: ' 24px'; } }
@media screen and (min-width: 1000px) { .mds-typescale .l3:after { content: ' 36px'; } }
.mds-typescale .l4 { font-size: 16px; font-size: 0.8888888889rem; }
@media screen and (min-width: 760px) { .mds-typescale .l4 { font-size: 18px; font-size: 1rem; } }
@media screen and (min-width: 1000px) { .mds-typescale .l4 { font-size: 24px; font-size: 1.3333333333rem; } }
.mds-typescale .l4:after { content: ' 16px'; font-weight: normal; }
@media screen and (min-width: 760px) { .mds-typescale .l4:after { content: ' 18px'; } }
@media screen and (min-width: 1000px) { .mds-typescale .l4:after { content: ' 24px'; } }
.mds-typescale .l5 { font-size: 14px; font-size: 0.7777777778rem; }
@media screen and (min-width: 760px) { .mds-typescale .l5 { font-size: 16px; font-size: 0.8888888889rem; } }
@media screen and (min-width: 1000px) { .mds-typescale .l5 { font-size: 18px; font-size: 1rem; } }
.mds-typescale .l5:after { content: ' 14px'; font-weight: normal; }
@media screen and (min-width: 760px) { .mds-typescale .l5:after { content: ' 16px'; } }
@media screen and (min-width: 1000px) { .mds-typescale .l5:after { content: ' 18px'; } }
.mds-typescale .l6 { font-size: 14px; font-size: 0.7777777778rem; }
@media screen and (min-width: 760px) { .mds-typescale .l6 { font-size: 16px; font-size: 0.8888888889rem; } }
.mds-typescale .l6:after { content: ' 14px'; font-weight: normal; }
@media screen and (min-width: 760px) { .mds-typescale .l6:after { content: ' 16px'; } }
.mds-typescale .small { font-size: 12px; font-size: 0.6666666667rem; }
@media screen and (min-width: 760px) { .mds-typescale .small { font-size: 14px; font-size: 0.7777777778rem; } }
.mds-typescale .small:after { content: ' 12px'; font-weight: normal; }
@media screen and (min-width: 760px) { .mds-typescale .small:after { content: ' 14px'; } }
.mds-typescale .x-small { font-size: 12px; font-size: 0.6666666667rem; }
.mds-typescale .x-small:after { content: ' 12px'; font-weight: normal; }

.mds-item-links li { display: inline; margin-right: 20px; }

.mds-item-links-link { font-size: 12px; font-size: 0.6666666667rem; }
@media screen and (min-width: 760px) { .mds-item-links-link { font-size: 14px; font-size: 0.7777777778rem; } }
.mds-item-links-link svg { fill: currentColor; height: 1em; margin-top: -0.375em; position: relative; vertical-align: middle; width: 1.5em; }

/*# sourceMappingURL=site.css.map */
