// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../includes/lib';

$padding: $layout-xs;

.mzp-c-block {
    margin: 0 auto ($layout-xs * 2) auto;
    max-width: $content-max;
    min-width: $content-xs;
    position: relative;
    padding: $layout-xs;

    @media #{$mq-md} {
        // grid is all start/end based we don't need bidi declarations for RTL support \o/
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "body media";
        grid-gap: $layout-md;
        padding: $layout-md;

        &.mzp-l-block-body-33 {
            grid-template-columns: 2fr 3fr;
        }

        &.mzp-l-block-body-66 {
            grid-template-columns: 3fr 2fr;
        }

       &.mzp-is-inversed {
            grid-template-areas: "media body";
       }

       &.mzp-l-block-body-33.mzp-is-inversed {
            grid-template-columns: 3fr 2fr;
        }

        &.mzp-l-block-body-66.mzp-is-inversed {
            grid-template-columns: 2fr 3fr;
        }
    }

    @media #{$mq-lg} {
        grid-gap: $layout-lg;
        padding: $layout-lg;
    }
}

.mzp-c-block-body {
    grid-area: body;
    position: relative;
    min-width: 0; //because of https://stackoverflow.com/questions/43311943/prevent-content-from-expanding-grid-items

    @media all and (max-width:767px) {
        &:first-child {
            margin-bottom: $layout-xs;
        }

        &:last-child {
            margin-top: $layout-xs;
        }
    }

    @media #{$mq-md} {
        > *:first-child {
            margin-top: 0;
        }

        > *:last-child {
            margin-bottom: 0;
        }
    }

    // alignment
    &.v-start {
        align-self: start;
    }

    &.v-center {
        align-self: center;
    }

    &.v-end {
        align-self: end;
    }

    &.h-start {
        text-align: left;
    }

    &.h-center {
        text-align: center;
    }

    &.h-end {
        text-align: right;
    }
}


.mzp-c-block-media {
    grid-area: media;
    position: relative;
    min-width: 0; // because of https://stackoverflow.com/questions/43311943/prevent-content-from-expanding-grid-items

    img {
        display: block;
    }

    // alignment
    &.v-start {
        align-self: start;
    }

    &.v-center {
        align-self: center;
    }

    &.v-end {
        align-self: end;
    }

    &.h-start {
        justify-self: start;

        img {
            margin: 0 auto 0 0;
        }
    }

    &.h-center {
        justify-self: center;

        img {
            margin: 0 auto;
        }
    }

    &.h-end {
        justify-self: end;

        img {
            margin: 0 0 0 auto;
        }
    }

    // padding
    @media all and (max-width:767px) {
        &.fit-flush {
        margin: $layout-xs * -1;

            &:first-child {
            margin-bottom: 0;
            }

            &:last-child {
            margin-top: 0;
            }
        }

        &.fit-flush-top {
            margin-top: $layout-xs * -1;

            &:last-child {
                margin-top: 0;
            }
        }

        &.fit-flush-side {
            margin-right: $layout-xs * -1;
            margin-left: $layout-xs * -1;
        }

        &.fit-flush-bottom {
            margin-bottom: $layout-xs * -1;

            &:first-child {
            margin-bottom: 0;
            }
        }

        &.fit-pop {
            margin: $layout-xs * 2 * -1;

            &:first-child {
                margin-bottom: 0;
            }

            &:last-child {
                margin-top: 0;
            }
        }

        &.fit-pop-top {
            margin-top: $layout-xs * 2 * -1;

            &:last-child {
                margin-top: 0;
            }
        }

        &.fit-pop-side {
            margin-right: $layout-xs * 2 * -1;
            margin-left: $layout-xs * 2 * -1;
        }

        &.fit-pop-bottom {
            margin-bottom: $layout-xs * 2 * -1;

            &:first-child {
                margin-bottom: 0;
            }
        }
    }

    @media #{$mq-md} {
        &.fit-flush {
            margin: $layout-md * -1;
            margin-left: 0;
        }

        &.fit-flush-top {
            margin-top: $layout-md * -1;
        }

        &.fit-flush-side {
            [dir='ltr'] :not(.mzp-is-inversed) > &,
            [dir='rtl'] .mzp-is-inversed > & {
                margin-right: $layout-md * -1;
            }

            [dir='rtl'] :not(.mzp-is-inversed) > &,
            .mzp-is-inversed & {
                margin-left: $layout-md * -1;
            }
        }

        &.fit-flush-bottom {
            margin-bottom: $layout-md * -1;
        }

        &.fit-pop {
            margin: $layout-md * 2 * -1;
            margin-left: 0;
        }

        &.fit-pop-top {
            margin-top: $layout-md * 2 * -1;
        }

        &.fit-pop-side {
            [dir='ltr'] :not(.mzp-is-inversed) > &,
            [dir='rtl'] .mzp-is-inversed > & {
                margin-right: $layout-md * 2 * -1;
            }

            [dir='rtl'] :not(.mzp-is-inversed) > &,
            [dir='ltr'] .mzp-is-inversed & {
                margin-left: $layout-md * 2 * -1;
            }
        }

        &.fit-pop-bottom {
            margin-bottom: $layout-md * 2 * -1;
        }

        &.grow-cover {
            align-self: stretch;

            img {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            max-width: none;
            max-height: 100%;
            width: auto;

                [dir='rtl'] &,
                .mzp-is-inversed & {
                    left: auto;
                    right: 0;
                }
            }
        }

        &.grow-push {
            align-self: stretch;

            img {
                max-width: none;
            }
        }
    }

    @media #{$mq-lg} {
        &.fit-flush {
            margin: $layout-lg * -1;

            [dir='ltr'] :not(.mzp-is-inversed) > &,
            [dir='rtl'] .mzp-is-inversed > & {
                margin-left: 0;
            }

            [dir='rtl'] :not(.mzp-is-inversed) > &,
            [dir='ltr'] .mzp-is-inversed & {
                margin-right: 0;
            }
        }

        &.fit-flush-top {
            margin-top: $layout-lg * -1;
        }

        &.fit-flush-side {

            [dir='ltr'] :not(.mzp-is-inversed) > &,
            [dir='rtl'] .mzp-is-inversed > & {
                margin-right: $layout-lg * -1;
            }

            [dir='rtl'] :not(.mzp-is-inversed) > &,
            [dir='ltr'] .mzp-is-inversed & {
                margin-left: $layout-lg * -1;
            }
        }

        &.fit-flush-bottom {
            margin-bottom: $layout-lg * -1;
        }

        &.fit-pop {
            margin: $layout-lg * 2 * -1;

            [dir='ltr'] :not(.mzp-is-inversed) > &,
            [dir='rtl'] .mzp-is-inversed > & {
                margin-left: 0;
            }

            [dir='rtl'] :not(.mzp-is-inversed) > &,
            [dir='ltr'] .mzp-is-inversed & {
                margin-right: 0;
            }
        }

        &.fit-pop-top {
            margin-top: $layout-lg * 2 * -1;
        }

        &.fit-pop-side {
            [dir='ltr'] :not(.mzp-is-inversed) > &,
            [dir='rtl'] .mzp-is-inversed > & {
                margin-right: $layout-lg * 2 * -1;
            }

            [dir='rtl'] :not(.mzp-is-inversed) > &,
            [dir='ltr'] .mzp-is-inversed & {
                margin-left: $layout-lg * 2 * -1;
            }
        }

        &.fit-pop-bottom {
            margin-bottom: $layout-lg * 2 * -1;
        }
    }

}
