// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../includes/lib';

.mzp-c-breadcrumb {
    background-color: #f3f3f3;
    margin-bottom: 0;
    padding: $spacing-sm $spacing-md;

    .mzp-c-breadcrumb-item {
        font-weight: bold;
        &:before {
            @include bidi(((content, "\2192", "\2190"),));
            font-weight: normal;
            margin: 0 0.25em;
        }
    }

    .mzp-c-breadcrumb-item, .mzp-c-breadcrumb-title {
        display: inline-block;
        font-weight: 400;

        .mzp-c-breadcrumb-item-link {
            text-decoration: none;
        }
    }
    &.mzp-t-dark {
        background-color: $color-black;
    }
    @media #{$mq-md} {
        padding: $spacing-sm $layout-xl - $spacing-md;
    }

}
