// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../includes/lib';

//.mzp-c-button {
//    @include border-box;
//    @include text-cta;
//    @include transition(background-color 100ms);
//    background-color: $color-blue;
//    border-radius: 3px;
//    border: 0;
//    color: $color-secondary;
//    display: inline-block;
//    font-weight: bold;
//    padding: $padding-sm $padding-lg;
//    text-decoration: none;
//
//    &:hover,
//    &:focus {
//        background-color: $color-blue-dark;
//        color: $color-secondary;
//    }
//}

.mzp-c-button {
    border: 0;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 2px;
    box-sizing: border-box;
    outline: none;
    position: relative;
    background: transparent;
    border: 2px solid black;
    top: 0;
    left: 0;

    // States
    &:hover {
        color: black;
        background: white;
        box-shadow: 4px 4px 0 0 black;
        transition: box-shadow .2s;
    }
    &:focus {
        box-shadow: 0 0 0 4px rgba(0, 96, 223, .2);
        border: 2px solid #0060df;
    }
    &:active {
        box-shadow: 2px 2px 0 0 black;
        transition: box-shadow 0s;
    }

    // Sizes
    &.mzp-c-button-small {
        padding: 4px 16px;
    }
    &.mzp-c-button-medium {
        padding: 8px 16px;
    }
    &.mzp-c-button-large {
        padding: 12px 24px;
        border-radius: 4px;
    }

    // Type
    &.mzp-c-button-primary {
        background: black;
        color: white;
        border: 2px solid black;
        &:hover {
            background: transparent;
            color: black;
        }
    }
    &.mzp-c-button-secondary {
        background: transparent;
        border: 2px solid black;
    }

    // Brand
    .mzp-c-button-shift:hover {
        box-shadow: 4px 4px 0 0 #FE448D, -4px -4px 0 0 #61CCDD;
        transition:box-shadow .2s;
    }

    .mzp-c-button-shift:active {
        box-shadow: 2px 2px 0 0 #FE448D, -2px -2px 0 0 #61CCDD;
        transition:box-shadow 0s;
    }

    // Background
    &.mzp-c-button-light {
      background: transparent;
      border: 2px solid white;
      color: white;
      &:hover {
        background: rgba(255, 255, 255, .2);
        box-shadow: 4px 4px 0 0 rgba(255, 255, 255, .2);
      }
    }

}




// Download
.mzp-c-button-download {
    background: #0060df;
    color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
    border: none;
    z-index: 1;
    padding: 10px 18px;

    // Layers
    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 2px;
    }
    &:before {
        z-index: -1;
        background: #0060df;
    }
    &:after {
        z-index: -2;
        transition: top .1s ease, right .1s ease, bottom .1s ease, left .1s ease;
    }

    // States
    &:hover {
        background: #003EAA;
        color: white;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
        &:before {
          background: #003EAA;
        }
    }
    &:focus {
        border: none;
    }
    &.mzp-c-button-firefox,
    &.mzp-c-button-beta,
    &.mzp-c-button-nightly,
    &.mzp-c-button-devedition,
    &.mzp-c-button-focus {
        &:hover {
            &:after{
                top: 6px;
                left: 6px;
                right: -4px;
                bottom: -4px;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
            }
        }
        &:active {
            &:after {
                top: 4px;
                left: 4px;
                right: -2px;
                bottom: -2px;
            }
        }
        &:focus {
            border: none;
        }
    }

    // Sizes
    &.mzp-c-button-small {
        padding: 6px 18px;
    }
    &.mzp-c-button-medium {
        padding: 10px 18px;
    }
    &.mzp-c-button-large {
        padding: 14px 26px;
        border-radius: 4px;
    }

    // Brand
    &.mzp-c-button-firefox {
        &:hover {
            &:after {
                background: linear-gradient(to top right, #CA0B69, #FF780A, #FFEF31);
                background-size: 400% 400%;
                animation: AnimationName 2s ease infinite;
            }
        }
    }
    &.mzp-c-button-beta {
        &:hover {
            &:after {
                background: linear-gradient(45deg, #00F9F0, #13EF44);
                background-size: 400% 400%;
                animation: AnimationName 2s ease infinite;
            }
        }
    }
    &.mzp-c-button-nightly {
        &:hover {
            &:after {
                background: linear-gradient(45deg, #C45AF2, #00E7FF, #00D6C3);
                background-size: 400% 400%;
                animation: AnimationName 2s ease infinite;
            }
        }
    }
    &.mzp-c-button-devedition {
        &:hover {
            &:after {
                background: linear-gradient(45deg, #007CE6, #00EEFF);
                background-size: 400% 400%;
                animation: AnimationName 2s ease infinite;
            }
        }
    }
    &.mzp-c-button-focus {
        &:hover {
            &:after {
                background: linear-gradient(45deg, #9A2192, #DA1793);
                background-size: 400% 400%;
                animation: AnimationName 2s ease infinite;
            }
        }
    }
}



@keyframes AnimationName {
    0%{background-position: 50% 0%;}
    50%{background-position: 0% 50%;}
    100%{background-position: 50% 0%;}
}
