// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../includes/lib';

/* -------------------------------------------------------------------------- */
// Primary Button

.mzp-c-button {
    @include border-box;
    @include text-cta;
    transition: background-color 100ms, box-shadow 100ms, color 100ms, transform 100ms;
    background-color: $color-black;
    border-radius: 2px;
    border: 2px solid $color-black;
    color: $color-white;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: ($padding-md - 2px) ($padding-xl - 2px); //2px extra padding removed to compensate for 2px border.
    text-decoration: none;

    &:focus,
    &:hover {
        background-color: transparent;
        box-shadow: 4px 4px 0 0 $color-black;
        color: $color-black;
        @include transform(translate(-2px, -2px));
    }

    &:disabled {
        background-color: $color-gray-30;
        border-color: $color-gray-30;
        pointer-events: none;
    }
}

.mzp-c-button.mzp-t-small {
    padding: ($padding-sm - 2px) ($padding-md - 2px);
}

.mzp-c-button.mzp-t-dark  {
    background-color: $color-white;
    border-color: $color-white;
    color: $color-black;

    &:focus,
    &:hover {
        background-color: transparent;
        color: $color-white;
        box-shadow: 4px 4px 0 0 $color-white;
    }

    &:disabled {
        background-color: $color-gray-60;
        border-color: $color-gray-60;
        color: $color-black;
        pointer-events: none;
    }
}

/* -------------------------------------------------------------------------- */
// Secondary Buttons

.mzp-c-button.mzp-t-secondary {
    background-color: transparent;
    color: $color-black;

    &:disabled {
        background-color: transparent;
        border-color: $color-gray-30;
        color: $color-gray-30;
    }
}

.mzp-c-button.mzp-t-secondary.mzp-t-dark  {
    background-color: transparent;
    color: $color-white;

    &:disabled {
        background-color: transparent;
        border-color: $color-gray-60;
        color: $color-gray-60;
    }
}

/* -------------------------------------------------------------------------- */
// Download Buttons

.mzp-c-button.mzp-t-download {
    background-color: $color-blue-60;
    border-color: transparent;
    color: $color-white;

    &:hover {
        background-color: $color-blue-70;
        color: $color-white;
        box-shadow: none;
        @include transform(none);
    }

    &:disabled {
        background-color: $color-gray-30;
        border-color: $color-gray-30;
        pointer-events: none;
    }
}
.mzp-c-button.mzp-t-download.mzp-t-small {
    padding: $padding-sm $padding-md;
}
.mzp-c-button.mzp-t-download.mzp-t-secondary {
    background-color: transparent;
    border-color: $color-blue-60;
    color: $color-blue-60;

    &:hover {
        background-color: $color-blue-70;
        border-color: $color-blue-70;
        color: $color-white;
        box-shadow: none;
        @include transform(none);
    }

    &:disabled {
        background-color: transparent;
        border-color: $color-gray-30;
        color: $color-gray-30;
    }
}

/* -------------------------------------------------------------------------- */
// Download Button Privacy Link

.mzp-c-button-download-privacy-link {
    @include text-body-xs;
    display: block;
    margin-top: $margin-md;

    a:link,
    a:visited {
        color: inherit;
        text-decoration: none;
    }

    a:hover,
    a:active,
    a:focus {
        text-decoration: underline;
    }
}
