// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../includes/lib';

.mzp-c-button {
    @include border-box;
    @include text-cta;
    transition: background-color 100ms, border-color 100ms, color 100ms;
    background-color: $color-black;
    border-radius: 2px;
    border: 2px solid $color-black;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
    color: $color-white;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: $padding-md $padding-lg;
    text-decoration: none;

    &:hover,
    &:focus {
        background-color: $color-white;
        color: $color-black;
    }
}

.mzp-t-dark .mzp-c-button {
    background-color: $color-white;
    border-color: $color-white;
    color: $color-black;

    &:hover,
    &:focus {
        background-color: $color-gray-80;
        color: $color-white;
    }
}
