// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../includes/lib';

$color-link: #0e9ad8;
$color-link-dark: #175a77;

.mzp-c-card {
    max-width: 390px;
    padding: 20px 0;

    &:first-child {
        padding-top: 0;
    }

    &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
    }

    img {
        display: block;
        margin-bottom: 20px;
        opacity: 1;
        transition: opacity 0.3s;
        width: 100%;
    }

    img[data-src] {
        opacity: 0;
        display: none;
    }

    .lazy-image-container {
        background-color: #eee;
        display: block;
        margin-bottom: 20px;

        img {
            margin-bottom: 0;
        }
    }

    .mzp-c-card-title {
        @include text-display-level4;
        color: $color-primary;
        text-decoration: none;
    }

    a:link,
    a:visited {
        text-decoration: none;

        .mzp-c-card-title {
            color: $color-primary;
        }

        &:hover,
        &:focus,
        &:active {
            color: $color-link-dark;

            .mzp-c-card-title {
                color: $color-link-dark;
            }
        }
    }

    .mzp-c-card-cta {
        margin-top: 20px;
    }
}


// CTA link
.mzp-c-cta-link {
    @include text-body-level2;
    border-bottom: 2px solid $color-link;
    color: $color-link;
    display: inline-block;
    font-family: $font-open-sans;
    font-weight: bold;
    max-width: 300px;
    padding: 0 10% 10px 0;
    position: relative;
    text-decoration: none;
    transition: color 100ms ease-in-out;
    width: 80%;

    &:after {
        background: url('/static/img/cta-arrow.svg') 0 0 no-repeat;
        @include background-size(14px, 24px);
        content: '';
        display: block;
        height: 12px;
        position: absolute;
        right: 0;
        bottom: .9em;
        transition: margin-right 100ms ease-in-out;
        width: 14px;
    }

    &:hover,
    &:focus,
    &:active {
        border-color: $color-link-dark;
        color: $color-link-dark;
        text-decoration: none;

        &:after {
            background-position: 0 -12px;
            margin-right: -4px;
        }
    }
}
