// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../includes/lib';

/* -------------------------------------------------------------------------- */
// Base card class

.mzp-c-card {
    @include border-box;
    background: $color-white;
    margin-bottom: $margin-lg;

    // Preserve aspect ratio of images and avoid content jump when loading.
    &.mzp-has-aspect-1-1 .mzp-c-card-media-wrapper {
         @include aspect-ratio(1, 1);
    }

    &.mzp-has-aspect-16-9 .mzp-c-card-media-wrapper {
        @include aspect-ratio(16, 9);
    }

    &.mzp-has-aspect-3-2 .mzp-c-card-media-wrapper {
        @include aspect-ratio(3, 2);
    }

    .mzp-c-card-media-wrapper {
        background-color: $color-gray-20;
        border-radius: 2px;
        overflow: hidden;
        position: relative;
    }

    .mzp-c-card-image,
    .mzp-c-card-video {
        display: block;
        max-width: none;
        width: 100%;
    }

    .mzp-c-card-content {
        @include border-box;
        padding: $padding-sm;
    }

    .mzp-c-card-tag {
        @include open-sans;
        @include text-body-sm;
        color: $color-gray-60;
        font-weight: normal;
        margin-bottom: $margin-xs;
    }

    &.mzp-has-video .mzp-c-card-tag,
    &.mzp-has-audio .mzp-c-card-tag {
        @include bidi((
            (background-position, center left, center right),
            (padding-left, $spacing-xl, padding-right, 0),
        ));
        background-repeat: no-repeat;
        line-height: 1.8;
        min-height: 25px;
    }

    &.mzp-has-video .mzp-c-card-tag {
        background-image: url('#{$image-path}/icons/ui/video.svg');
    }

    &.mzp-has-audio .mzp-c-card-tag {
        background-image: url('#{$image-path}/icons/ui/audio.svg');
    }

    .mzp-c-card-title {
        @include text-display-sm;
        display: inline;
    }

    .mzp-c-card-title,
    .mzp-c-card-cta-text {
        border-bottom: 2px solid transparent;
    }

    .mzp-c-card-desc {
        margin: $margin-xs 0 0;
    }

    .mzp-c-card-cta {
        font-weight: bold;
        margin: $margin-xs 0 0;
    }

    .mzp-c-card-block-link {
        border-radius: 2px;
        display: block;

        &:link,
        &:visited {
            color: $color-black;
            text-decoration: none;

            .mzp-c-card-cta-text {
                color: $color-link;
            }
        }


        &:hover,
        &:active,
        &:focus {
            @include transition(box-shadow .1s ease-in-out);
            box-shadow: 0 0 0 4px $color-gray-20;

            .mzp-c-card-title,
            .mzp-c-card-cta-text  {
                @include transition(border-bottom-color 100ms ease-in-out);
                border-bottom: 2px solid;
            }
        }
    }

    .mzp-c-card-meta {
        @include text-body-xs;
        color: $color-gray-60;
        margin: $margin-lg 0 0;
    }

    @media #{$mq-sm} {
        max-width: 450px;
    }

    @media #{$mq-md} {
        margin-bottom: $margin-xl;
    }
}

/* -------------------------------------------------------------------------- */
// Medium sized card

.mzp-c-card.mzp-c-card-medium {
    @media #{$mq-sm} {
        max-width: 610px;
    }
}

/* -------------------------------------------------------------------------- */
// Card with larger title

.mzp-c-card.mzp-c-card-large {

    .mzp-c-card-title {
        @include text-display-md;
    }

    .mzp-c-card-desc {
        @include text-body-lg;
    }

    @media #{$mq-sm} {
        max-width: 930px;
    }
}

/* -------------------------------------------------------------------------- */
// Card with extra small title and text

.mzp-c-card.mzp-c-card-extra-small {

    .mzp-c-card-tag,
    .mzp-c-card-cta {
        @include text-body-xs;
    }

    .mzp-c-card-title {
        @include text-display-xs;
    }

    .mzp-c-card-desc {
        @include text-body-sm;
    }

    .mzp-c-card-block-link {
        border-radius: 2px;
        height: 100%;
    }

    @media #{$mq-lg} {
        max-width: 300px;
    }
}
