// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../includes/lib';

/* -------------------------------------------------------------------------- */
// Download button component class

.mzp-c-button-download {
    text-align: center;
    margin-bottom: $margin-lg;

    .mzp-c-button-download-privacy-link {
        @include text-body-xs;
        display: block;
        margin-top: $margin-md;

        a:link,
        a:visited {
            color: inherit;
            text-decoration: none;
        }

        a:hover,
        a:active,
        a:focus {
            text-decoration: underline;
        }
    }
}

.mzp-c-button.mzp-t-download {
    @include gradient-vertical($start-color: $color-green-50, $end-color: $color-green-70);
    background-color: $color-green-70;
    border: none;
    color: $color-white;
    padding: ($padding-md + 2px) ($padding-lg + 2px); //2px extra padding to compensate for no border.

    &:hover,
    &:focus {
        @include gradient-vertical($start-color: $color-green-60, $end-color: $color-green-80);
        background-color: $color-green-80;
        color: $color-white;
    }
}

.mzp-c-button.mzp-t-download-secondary {
    background-color: transparent;
    background-image: none;
    color: $color-green-60;
    border: 2px solid $color-green-60;
    box-shadow: none;
    padding: $padding-sm $padding-md;

    &:hover,
    &:focus {
        background-color: $color-green-60;
        color: $color-white;
    }
}
