// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import "../includes/lib";

.mzp-c-notification-bar {
    @include text-body-sm;
    background-color: $color-gray-20;
    border-radius: 4px;
    border: 1px;
    box-shadow: 1px 1px 1px rgba(27,31,35,.1);
    font-weight: normal;
    margin: $layout-xs auto 0;
    text-align: center;
    position: relative;
    padding: $spacing-md $spacing-2xl;

    @media #{$mq-sm} {
        min-width: $content-sm;
        max-width: $content-md;
    }

    p {
        margin: 0 $spacing-md;
        display: inline-block;
    }

    a {
        color: inherit;
        display: inline-block;
        font-size: inherit;
        font-weight: 700;

        &:hover {
            text-decoration: none;
        }
    }

    &:after {
        content: "";
        display: block;
        clear: both;
    }

    &.mzp-is-sticky {
        left: 0;
        margin: 15px;
        position: fixed;
        right: 0;
        z-index: 2;

        @media #{$mq-sm} {
            margin: 15px auto;
        }
    }

    .mzp-c-notification-bar-button {
        @include bidi((
                    (right, 0, auto),
                    (left, auto, 0),
                ));

        @include image-replaced;
        background: url("#{$image-path}/icons/close.svg") center center no-repeat;
        background-size: 20px 20px;
        border: none;
        height: 20px;
        width: 20px;
        position: absolute;
        top: 0;
        margin: 5px;

        &:hover,
        &:focus {
            cursor: pointer;
        }

        @media #{$mq-sm} {
            @include bidi((
                (float, right, left),
                (border-radius, 0 4px 4px 0, 4px 0 0 4px),
                ));
            background-color: $color-gray-40;
            padding: 0;
            margin: 0;
            height: 100%;
            width: 40px;
            float: right;
        }
    }

    &.mzp-t-success {
        background-color: $color-green-30;

        @media #{$mq-sm} {
            .mzp-c-notification-bar-button {
                background-color: $color-green-60;
            }
        }
    }

    &.mzp-t-error {
        background-color: $color-red-40;

        @media #{$mq-sm} {
            .mzp-c-notification-bar-button {
                background-color: $color-red-60;
            }
        }
    }

    &.mzp-t-warning {
        background-color: $color-yellow-20;

        @media #{$mq-sm} {
            .mzp-c-notification-bar-button {
                background-color: $color-yellow-40;
            }
        }
    }

    &.mzp-t-click {
        background-color: $color-blue-50;
        color: $color-white;
        font-weight: 600;

        .mzp-c-notification-bar-button {
            background-image: url("#{$image-path}/icons/close-white.svg");

            @media #{$mq-sm} {
                background-color: $color-blue-70;
            }
        }
    }
}
