// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../includes/lib';


//* -------------------------------------------------------------------------- */
// Basic vertical alignment

.mzp-c-split {
    overflow-x: hidden;
    position: relative;

    // vertical spacing should match mzp-l-content's vertical spacing
    padding: get-theme('v-grid-xs') 0;

    @media #{$mq-md} {
        padding: get-theme('v-grid-md') 0;
    }

    @media #{$mq-xl} {
        padding: get-theme('v-grid-xl') 0;
    }

    &.mzp-has-flush-bg {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.mzp-c-split-container {
    @include clearfix();
    @include border-box;
    margin: 0 auto;
    max-width: $content-max;
    min-width: $content-xs;

    // horizontal spacing should match mzp-l-content's horizontal spacing
    padding: 0 get-theme('h-grid-xs');

    @media #{$mq-md} {
        padding: 0 get-theme('h-grid-md');
    }

    @media #{$mq-xl} {
        padding: 0 get-theme('h-grid-xl');
    }
}


.mzp-c-split-body {
    position: relative;

     > :last-child {
        margin-bottom: 0;

        > :last-child {
            margin-bottom: 0;
        }
    }
}

.mzp-c-split-media {
    position: relative;
}

.mzp-c-split-media-asset {
    display: block;
    max-width: 100%;
}

.mzp-c-split-bg {
    // vertical spacing should match mzp-l-content's vertical spacing
    padding: get-theme('v-grid-xs') 0;

    @media #{$mq-md} {
        padding: get-theme('v-grid-md') 0;
    }

    @media #{$mq-xl} {
        padding: get-theme('v-grid-xl') 0;
    }
}


//* -------------------------------------------------------------------------- */
// Mobile only rules

@media all and (max-width:#{$screen-lg - 1}) {

    .mzp-c-split-body + .mzp-c-split-media,
    .mzp-c-split-media + .mzp-c-split-body {
        margin-top: get-theme('v-grid-xs');
    }

    .mzp-c-split-media {
        max-width: $content-sm;
    }

    .mzp-l-split-center-on-sm-md {
        .mzp-c-split-body,
        .mzp-c-split-media,
        .mzp-c-split-media-asset {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .mzp-l-split-hide-media-on-sm-md {
        .mzp-c-split-body {
            margin-top: 0;
        }

        .mzp-c-split-media {
            display: none;
        }
    }
}


//* -------------------------------------------------------------------------- */
// side by side layout, float based fall back

@media #{$mq-lg} {
    .mzp-c-split-body {
        @include border-box;
        @include bidi(((float, left, right),));
        width: 50%;
        padding: 0 (get-theme('h-grid-lg') / 2);

        // right-third
        .mzp-l-split-body-narrow & {
            width: 33.33%;
        }

        .mzp-l-split-body-wide & {
            width: 66.66%;
        }

        .mzp-l-split-reversed & {
            @include bidi(((float, right, left),));
        }
    }

    .mzp-c-split-media {
        @include border-box;
        @include bidi(((float, right, left),));
        width: 50%;
        padding: 0 (get-theme('h-grid-lg') / 2);

        .mzp-l-split-body-narrow & {
            width: 66.66%;
        }

        .mzp-l-split-body-wide & {
            width: 33.33%;
        }

        .mzp-l-split-reversed & {
            @include bidi(((float, left, right),));
        }
    }

}

@media #{$mq-xl} {
    .mzp-c-split-body {
        padding: 0 (get-theme('h-grid-xl') / 2);
    }

    .mzp-c-split-media {
        padding: 0 (get-theme('h-grid-xl') / 2);
    }
}


//* -------------------------------------------------------------------------- */
// side by side layout, grid based

@supports(display:grid) {
    @media #{$mq-lg} {
        .mzp-c-split-container {
            // grid is all start/end based we don't need bidi declarations for RTL support \o/
            align-items: center;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "body media";
            grid-column-gap: get-theme('h-grid-lg');

            .mzp-l-split-body-narrow & {
                grid-template-columns: 1fr 2fr;
            }

            .mzp-l-split-body-wide & {
                grid-template-columns: 2fr 1fr;
            }

            .mzp-l-split-reversed & {
                grid-template-areas: "media body";
            }

            .mzp-l-split-body-narrow.mzp-l-split-reversed & {
                grid-template-columns: 2fr 1fr;
            }

            .mzp-l-split-body-wide.mzp-l-split-reversed & {
                grid-template-columns: 1fr 2fr;
            }
        }

        .mzp-c-split-body,
        .mzp-c-split-media {
            .mzp-c-split-container & { // extra specificitly to over-ride the styles that make the float fall-back work
                float: none;
                min-width: 0; //because of https://stackoverflow.com/questions/43311943/prevent-content-from-expanding-grid-items
                padding: 0;
                width: auto;
            }
        }

        .mzp-c-split-body {
            grid-area: body;
        }

        .mzp-c-split-media {
            align-self: center;
            grid-area: media;
            justify-self: start;

            .mzp-c-split-media-asset {
                display: block;
            }

            .mzp-l-split-reversed & {
                justify-self: end;
            }
        }
    }

    @media #{$mq-xl} {
        .mzp-c-split-container {
            grid-column-gap: get-theme('h-grid-xl');
        }
    }
}

//* -------------------------------------------------------------------------- */
// constraints on height or width of media

@supports(display:grid) {
    @media #{$mq-lg} {
        .mzp-c-split-media {
            &.mzp-l-split-media-overflow {

                .mzp-c-split-media-asset {
                    max-width: none;
                }
            }

            &.mzp-l-split-media-constrain-height {
                height: 100%;
                justify-self: auto !important; /* stylelint-disable-line declaration-no-important */

                .mzp-c-split-media-asset {
                    @include bidi(((left, 0, right, auto),));
                    bottom: 0;
                    max-height: 100%;
                    max-width: none;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: auto;

                    .mzp-l-split-reversed & {
                        @include bidi((
                            (left, auto, right, 0),
                            (right, 0, left, auto),
                        ));
                    }
                }
            }
        }
    }
}

//* --------------------------------------------------------------------------- */
// vertical spacing for body or media


@supports(display:grid) {
    @media #{$mq-lg} {
        .mzp-l-split-pop-top,
        .mzp-l-split-pop {

            &.mzp-c-split {
                padding-top: get-theme('v-grid-lg') * 2;
            }

            .mzp-c-split-media {
                margin-top: get-theme('v-grid-lg') * -1;
            }

            .mzp-c-split-bg & {
                .mzp-c-split-media {
                    margin-top: get-theme('v-grid-lg') * -2;
                }
            }
        }

        .mzp-l-split-pop-bottom,
        .mzp-l-split-pop {

            &.mzp-c-split {
                padding-bottom: get-theme('v-grid-lg') * 2;
            }

            .mzp-c-split-media {
                margin-bottom: get-theme('v-grid-lg') * -1;
            }

            .mzp-c-split-bg & {
                .mzp-c-split-media {
                    margin-bottom: get-theme('v-grid-lg') * -2;
                }
            }
        }

        .mzp-l-split-media-constrain-height {
            .mzp-l-split-pop-top &,
            .mzp-l-split-pop-bottom & {
                height: calc(100% + #{get-theme('v-grid-lg')});
            }
            .mzp-l-split-pop & {
                height: calc(100% + #{get-theme('v-grid-lg') * 2});

            }

            .mzp-l-split-pop-top .mzp-c-split-bg &,
            .mzp-l-split-pop-bottom .mzp-c-split-bg & {
                height: calc(100% + #{get-theme('v-grid-lg') * 2});
            }

            .mzp-l-split-pop .mzp-c-split-bg  & {
                height: calc(100% + #{get-theme('v-grid-lg') * 4});

            }
        }
    }

    @media #{$mq-xl} {
        .mzp-l-split-pop-top,
        .mzp-l-split-pop {

            &.mzp-c-split {
                padding-top: get-theme('v-grid-xl') * 2;
            }

            .mzp-c-split-media {
                margin-top: get-theme('v-grid-xl') * -1;
            }

            & .mzp-c-split-bg {
                .mzp-c-split-media {
                    margin-top: get-theme('v-grid-xl') * -2;
                }
            }
        }

        .mzp-l-split-pop-bottom,
        .mzp-l-split-pop {

            &.mzp-c-split {
                padding-bottom: get-theme('v-grid-xl') * 2;
            }

            .mzp-c-split-media {
                margin-bottom: get-theme('v-grid-xl') * -1;
            }

            & .mzp-c-split-bg {
                .mzp-c-split-media {
                    margin-bottom: get-theme('v-grid-xl') * -2;
                }
            }
        }

        .mzp-l-split-media-constrain-height {
            .mzp-l-split-pop-top &,
            .mzp-l-split-pop-bottom & {
                height: calc(100% + #{get-theme('v-grid-xl')});
            }
            .mzp-l-split-pop & {
                height: calc(100% + #{get-theme('v-grid-xl') * 2});

            }

            .mzp-l-split-pop-top .mzp-c-split-bg &,
            .mzp-l-split-pop-bottom .mzp-c-split-bg & {
                height: calc(100% + #{get-theme('v-grid-xl') * 2});
            }

            .mzp-l-split-pop .mzp-c-split-bg & {
                height: calc(100% + #{get-theme('v-grid-xl') * 4});

            }
        }
    }
}

//* --------------------------------------------------------------------------- */
// vertical and horizontal aligment for body or media

@media #{$mq-lg} {
    .mzp-c-split {

        // horizontal alignment works with float fallbacks.
        // horizontal alignment does not apply to constrain-height or overflow because it could expand and obscure the text
        // there's an !important in the contrain-height definitions to enforce this
        .mzp-l-split-h-start {
            @include bidi(((text-align, left, right),));
            justify-self: start;
        }

        .mzp-l-split-h-center:not([class*='mzp-l-split-media-']) {
            justify-self: center;
            text-align: center;

            .mzp-c-split-media-asset {
                margin: 0 auto;
            }
        }

        .mzp-l-split-h-end:not([class*='mzp-l-split-media-']) {
            @include bidi(((text-align, right, left),));
            justify-self: end;

            .mzp-c-split-media-asset {
                @include bidi((
                    (margin-left, auto, margin-right, 0),
                    (margin-right, 0, margin-left, 0),
                ));
            }
        }


        // vertical alignment relies on grid so don't work for float fallbacks
        .mzp-l-split-v-start {
            align-self: start;

            &.mzp-l-split-media-constrain-height .mzp-c-split-media-asset {
                bottom: 0;
                top: 0;
                transform: none;
            }
        }

        .mzp-l-split-v-center {
            align-self: center;
        }

        .mzp-l-split-v-end {
            align-self: end;

            &.mzp-l-split-media-constrain-height .mzp-c-split-media-asset {
                top: auto;
                transform: none;
            }
        }
    }
}
