// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@use 'sass:string';
@use '../tokens';

// A helper mixin for applying high-resolution background images (based on http://www.retinajs.com)
// File-names should follow:
//  example.png
//  example-high-res.png
// Usage:
//  @include at2x('/media/img/example.png', 100px, 100px);
//  @include at2x('/media/img/example.jpg', auto, 200px);
//  @include at2x('/media/img/example.avif', 25%);
//  @include at2x('/media/img/example.webp', contain);

@mixin at2x($path, $w: auto, $h: auto) {
    $hr-suffix: '-high-res';

    // Do not set height if `contain` or `cover` is passed as the first param
    @if $w == 'contain' or $w == 'cover' {
        $h: #{''};
    }

    // Set a counter and get the length of the image path.
    $position: -1;
    $strpath: '#{$path}';
    $length: string.length($strpath);

    // Loop through the image path and find the position of
    // the dot to determine the file extension.
    // Subtract from string length to make an end point that
    // is always lower than the start point so the loop always
    // increments (10 is an arbitrary number).
    @for $i from $length through $length - 10 {
        @if $position == -1 {
            $char: string.slice($strpath, $i, $i);
            @if string.index($char, '.') == 1 {
                $position: $i;
            }
        }
    }

    // If we were able to figure out where the extension is,
    // slice the path into a base and an extension. Use that to
    // produce urls for different density environments.
    @if $position != -1 {
        $base: string.slice($strpath, 1, $position - 1);
        $ext: string.slice($strpath, $position + 1, $length);
        $at2x_path: '#{$base}#{$hr-suffix}.#{$ext}'; /* stylelint-disable-line scss/dollar-variable-pattern */

        // Regular image for most screens.
        background-image: url('#{$path}');
        background-size: $w $h;

        // High-res image for high-res screens.
        @media #{tokens.$mq-high-res} {
            background-image: url('#{$at2x_path}');
            background-size: $w $h;
        }
    }

    // If anything went wrong above, just pass the original path right through
    @else {
        background-image: url('#{$path}');
        background-size: $w $h;
    }
}
