// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@use 'sass:math';
@use 'sass:string';
@use '../functions';

// * -------------------------------------------------------------------------- */
//  Function to create an optimized svg url
//  Version: 1.0.6
// https://codepen.io/tigt/post/optimizing-svgs-in-data-uris
// https://codepen.io/jakob-e/pen/doMoML?editors=0100

@function svg-url($svg) {
    //  Add missing namespace
    @if not string.index($svg,xmlns) {
        $svg: functions.str-replace($svg, '<svg', '<svg xmlns="http://www.w3.org/2000/svg"');
    }

    //  Chunk up string in order to avoid
    //  "stack level too deep" error
    $encoded: '';
    $slice: 2000;
    $index: 0;
    $loops: math.ceil(math.div(string.length($svg), $slice));
    @for $i from 1 through $loops {
        $chunk: string.slice($svg, $index, $index + $slice - 1);

        //   Encode
        $chunk: functions.str-replace($chunk, '"', '\'');
        $chunk: functions.str-replace($chunk, '%', '%25');
        $chunk: functions.str-replace($chunk, '#', '%23');
        $chunk: functions.str-replace($chunk, '{', '%7B');
        $chunk: functions.str-replace($chunk, '}', '%7D');
        $chunk: functions.str-replace($chunk, '<', '%3C');
        $chunk: functions.str-replace($chunk, '>', '%3E');

        //    The maybe list
        //    Keep size and compile time down
        //    ... only add on documented fail
        //  $chunk: str-replace($chunk, '&', '%26');
        //  $chunk: str-replace($chunk, '|', '%7C');
        //  $chunk: str-replace($chunk, '[', '%5B');
        //  $chunk: str-replace($chunk, ']', '%5D');
        //  $chunk: str-replace($chunk, '^', '%5E');
        //  $chunk: str-replace($chunk, '`', '%60');
        //  $chunk: str-replace($chunk, ';', '%3B');
        //  $chunk: str-replace($chunk, '?', '%3F');
        //  $chunk: str-replace($chunk, ':', '%3A');
        //  $chunk: str-replace($chunk, '@', '%40');
        //  $chunk: str-replace($chunk, '=', '%3D');

        $encoded: #{$encoded}#{$chunk};
        $index: $index + $slice;
    }

    @return url('data:image/svg+xml,#{$encoded}');
}

//* -------------------------------------------------------------------------- */
// images

// SVGs
// - xmlns attribute must be first
// - fill value is adjusted to match variable, in file it is currentColor
// https://github.com/mozilla/protocol-assets/blob/main/icons/plus.svg
$svg-expand-white: '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#fff" d="M2 8.75h5.25V14h1.5V8.75H14v-1.5H8.75V2h-1.5v5.25H2z"/></svg>';

// https://github.com/mozilla/protocol-assets/blob/main/icons/plus.svg
$svg-expand-black: '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#000" d="M2 8.75h5.25V14h1.5V8.75H14v-1.5H8.75V2h-1.5v5.25H2z"/></svg>';

// https://github.com/mozilla/protocol-assets/blob/main/icons/caret-down.svg
$svg-arrow-down-form: '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="#9595a2" d="M14.64 5.3 8 11.94 1.36 5.3.3 6.36l7.7 7.7 7.7-7.7z"/></svg>';
$svg-arrow-down-link: '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="#0060df" d="M14.64 5.3 8 11.94 1.36 5.3.3 6.36l7.7 7.7 7.7-7.7z"/></svg>';
$svg-arrow-down-link-hover: '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="#0250bb" d="M14.64 5.3 8 11.94 1.36 5.3.3 6.36l7.7 7.7 7.7-7.7z"/></svg>';

// https://github.com/mozilla/protocol-assets/blob/main/icons/download.svg
$svg-download-link-hover: '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><clipPath id="a"><path d="M0 0h16v16H0z"/></clipPath><g fill="#0250bb" clip-path="url(#a)"><path d="M7.25 0v10.21L3.53 6.49 2.47 7.55 8 13.08l5.53-5.53-1.06-1.06-3.72 3.72V0zM16 14.5H0V16h16z"/></g></svg>';

// https://github.com/mozilla/protocol-assets/blob/main/icons/search.svg
$svg-search-form: '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="#9595a2" d="M12 6c0-3.31-2.69-6-6-6S0 2.69 0 6s2.69 6 6 6c1.39 0 2.66-.47 3.68-1.26l5.29 5.29 1.06-1.06-5.29-5.29A5.98 5.98 0 0 0 12 6m-6 4.5c-2.48 0-4.5-2.02-4.5-4.5S3.52 1.5 6 1.5s4.5 2.02 4.5 4.5-2.02 4.5-4.5 4.5"/></svg>';
$svg-search-link: '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="#0060df" d="M12 6c0-3.31-2.69-6-6-6S0 2.69 0 6s2.69 6 6 6c1.39 0 2.66-.47 3.68-1.26l5.29 5.29 1.06-1.06-5.29-5.29A5.98 5.98 0 0 0 12 6m-6 4.5c-2.48 0-4.5-2.02-4.5-4.5S3.52 1.5 6 1.5s4.5 2.02 4.5 4.5-2.02 4.5-4.5 4.5"/></svg>';
$svg-search-link-hover: '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="#0250bb" d="M12 6c0-3.31-2.69-6-6-6S0 2.69 0 6s2.69 6 6 6c1.39 0 2.66-.47 3.68-1.26l5.29 5.29 1.06-1.06-5.29-5.29A5.98 5.98 0 0 0 12 6m-6 4.5c-2.48 0-4.5-2.02-4.5-4.5S3.52 1.5 6 1.5s4.5 2.02 4.5 4.5-2.02 4.5-4.5 4.5"/></svg>';

// converted to url(svg) value
$url-image-expand-white: svg-url($svg-expand-white);
$url-image-expand-black: svg-url($svg-expand-black);
$url-image-arrow-down-form: svg-url($svg-arrow-down-form);
$url-image-arrow-down-link: svg-url($svg-arrow-down-link);
$url-image-arrow-down-link-hover: svg-url($svg-arrow-down-link-hover);
$url-image-download-link-hover: svg-url($svg-download-link-hover);
$url-image-search-form: svg-url($svg-search-form);
$url-image-search-link: svg-url($svg-search-link);
$url-image-search-link-hover: svg-url($svg-search-link-hover);
