// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@use 'sass:math';
@use 'sass:meta';
@use '../functions' as functions;
@use '../tokens' as tokens;

// * -------------------------------------------------------------------------- */
// Font families
@mixin font-base {
    font-family: tokens.$font-stack-base;
}

@mixin font-mozilla-text {
    font-family: tokens.$font-stack-mozilla-text;
}

@mixin font-mozilla-headline {
    font-family: tokens.$font-stack-mozilla-headline;
}

@mixin font-firefox {
    font-family: tokens.$font-stack-firefox;
}

// * -------------------------------------------------------------------------- */
// A mixin to output font-size in rems.
// Declare sizes in pixels for ease and clarity, the mixin does the math.
// Requires: remify() - defined in includes/functions.scss.
// Usage:
//  .foo { @include font-size(24px); }

@mixin font-size($size) {
    // When unit is pixels, pass it through and convert to rem

    @if math.unit($size) == 'px' {
        font-size: functions.remify($size);
    }

    // When unit is not pixels, show an error
    @else {
        @error 'This mixin only accepts sizes in pixels. You declared `font-size(#{$size})`.';
    }
}

// * -------------------------------------------------------------------------- */
// Consistent font sizes. Avoid sizing text arbitrarily and use this
// set of predefined sizes. Sizes adapt at common breakpoints, and
// there's some redundancy at smaller sizes because we don't want things
// getting too tiny.

// Example usage:
//  .title { @include text-heading-xl; }
//  .subtitle { @include text-heading-lg; }
//  .intro { @include text-body-lg; }

@mixin text-heading-2xl {
    font-family: var(--theme-heading-font-family);
    font-size: var(--theme-heading-font-size-2xl);
    font-weight: var(--theme-heading-font-weight);
    line-height: var(--theme-heading-line-height-2xl);
    letter-spacing: var(--theme-heading-letter-spacing);
}

@mixin text-heading-xl {
    font-family: var(--theme-heading-font-family);
    font-size: var(--theme-heading-font-size-xl);
    font-weight: var(--theme-heading-font-weight);
    line-height: var(--theme-heading-line-height-xl);
    letter-spacing: var(--theme-heading-letter-spacing);
}

@mixin text-heading-lg {
    font-family: var(--theme-heading-font-family);
    font-size: var(--theme-heading-font-size-lg);
    font-weight: var(--theme-heading-font-weight);
    line-height: var(--theme-heading-line-height-lg);
    letter-spacing: var(--theme-heading-letter-spacing);
}

@mixin text-heading-md {
    font-family: var(--theme-heading-font-family);
    font-size: var(--theme-heading-font-size-md);
    font-weight: var(--theme-heading-font-weight);
    line-height: var(--theme-heading-line-height-md);
    letter-spacing: var(--theme-heading-letter-spacing);
}

@mixin text-heading-sm {
    font-family: var(--theme-heading-font-family);
    font-size: var(--theme-heading-font-size-sm);
    font-weight: var(--theme-heading-font-weight);
    line-height: var(--theme-heading-line-height-sm);
}

@mixin text-heading-xs {
    font-family: var(--theme-heading-font-family);
    font-size: var(--theme-heading-font-size-xs);
    font-weight: var(--theme-heading-font-weight);
    line-height: var(--theme-heading-line-height-xs);
}

@mixin text-heading-2xs {
    font-family: var(--theme-heading-font-family);
    font-size: var(--theme-heading-font-size-2xs);
    font-weight: var(--theme-heading-font-weight);
    line-height: var(--theme-heading-line-height-2xs);
}

@mixin text-heading-3xs {
    font-family: var(--theme-heading-font-family);
    font-size: var(--theme-heading-font-size-3xs);
    font-weight: var(--theme-heading-font-weight);
    line-height: var(--theme-heading-line-height-3xs);
}

// body copy
@mixin text-body-xl {
    font-family: var(--theme-body-font-family);
    font-size: var(--theme-body-font-size-xl);
    line-height: var(--theme-body-line-height);
}

@mixin text-body-lg {
    font-family: var(--theme-body-font-family);
    font-size: var(--theme-body-font-size-lg);
    line-height: var(--theme-body-line-height);
}

@mixin text-body-md {
    font-family: var(--theme-body-font-family);
    font-size: var(--theme-body-font-size-md);
    line-height: var(--theme-body-line-height);
}

@mixin text-body-sm {
    font-family: var(--theme-body-font-family);
    font-size: var(--theme-body-font-size-sm);
    line-height: var(--theme-body-line-height);
}

@mixin text-body-xs {
    font-family: var(--theme-body-font-family);
    font-size: var(--theme-body-font-size-xs);
    line-height: var(--theme-body-line-height);
}

