---
name: Picto, centered
description: A picto with the image and text centered.
order: 3
links:
    Picto examples: /demos/picto.html
---

<div class="mzp-t-picto-center">
{{#embed "patterns.molecules.picto.picto"}}{{/embed}}
</div>
