---
name: Form Spacing
---

<div class="mzp-l-content mzp-t-narrow">
  <form class="mzp-c-form">
    <header class="mzp-c-form-header">
      <h2 class="mzp-c-form-heading">Form heading</h2>
      <p>A paragraph talking about the content of the form.</p>
    </header>
    {{#embed "patterns.molecules.forms.fields.input" id="fxa-email-field" type="email" info="true" fieldClass="mzp-l-stretch" }}
      {{#content "label"}}Field label{{/content}}
      {{#content "info"}}Info to accompany the input field{{/content}}
    {{/embed}}
    <footer class="mzp-c-form-footer">
      <div class="mzp-c-button-container">
        <button type="submit" class="mzp-c-button mzp-t-primary mzp-t-product" id="fxa-email-form-submit" data-cta-type="fxa-sync" data-cta-text="Register" data-cta-position="primary">
          Button
        </button>
        <p class="mzp-c-button-info">
          Small details to accompany the button
        </p>
      </div>
    </footer>
    </form>
</div>
