// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

// Import all the things!
@use 'sass:color';
@use '../lib' as *;

// forms
// use padding as much as possible, margins don't collapse on form elements

// -------------------------------------------------------------------------- */
// variables

// colors
$form-red: #d70022;
$form-text: $body-text-color-secondary;
$form-inactive: $color-marketing-gray-70;

// fields
$field-border-color: $color-marketing-gray-50;
$field-border-color-hover: $color-link-hover;
$field-border-color-focus: $color-link;
$field-border-color-error: $form-red;
$field-border-color-error-hover: $color-red-80;
$field-border-color-disabled: $color-marketing-gray-30;
$field-border-color-disabled-focus: $color-marketing-gray-80;
$field-border: 2px solid $field-border-color;
$field-min-width: $content-xs - ($layout-xs * 2);
$field-border-radius: $border-radius-sm;
$field-padding: $spacing-sm;
$field-h-spacing: $spacing-md;
$field-v-spacing: $spacing-lg;
$field-focus-ring: 0 0 0 2px rgba($color-blue-40, 0.5);
$field-focus-ring-dark: 0 0 0 2px color.mix($color-blue-40, $color-white);
$field-focus-ring-white: 0 0 0 2px $color-white;
$field-focus-ring-outline: 2px solid color.scale($color-blue-50, $saturation: -15%, $lightness: 70%);
$field-focus-ring-error: 0 0 0 2px rgba($color-red-50, 0.5);

// buttons
$button-border-color-focus: $color-blue-50;
$button-border-color-focus-product: $color-blue-40;

// label
$label-v-spacing: $spacing-sm;

// info
$info-v-spacing: $spacing-md;
$symbol-spacing: calc(1.5em + #{$spacing-sm * 2});

// select
$select-bg: linear-gradient(to bottom, $color-white 0%, $color-white 100%); // must keep gradient to avoid bugs
$select-bg-disabled: linear-gradient(to bottom, $color-marketing-gray-10 0%, $color-marketing-gray-10 100%);

// choices
$choice-height: remify(22px);
$choice-spacing: remify(22px + $spacing-sm);
$choice-fill: $color-link;
$choice-fill-error: $form-red;
$line-height-shim: 0.15em; // two elements with text appear to have more space between them than two block elements with solid edges, this shim is about equal to the distance between the top of the text and the edge of it's containing block

// * -------------------------------------------------------------------------- */
// mixins
// use padding as much as possible, margins don't collapse on form elements

@mixin field-label() {
    display: block;
    font-weight: bold;
    margin: 0;
    padding-bottom: $label-v-spacing;
    @include text-body-sm;
}

@mixin form-info() {
    display: block;
    font-weight: normal;
    margin-bottom: 0;
    @include text-body-sm;
}

@mixin form-input() {
    background-color: $color-white;
    border-radius: $field-border-radius;
    border: $field-border;
    margin: 0 0 $field-v-spacing;
    padding: $field-padding;
    @include border-box;
    @include text-body-md;
    @include font-base;

    & { // needs to come after @includes to over-ride value
        line-height: var(--theme-button-line-height);
    }
}

@mixin form-msg() {
    background-color: $field-border-color-error-hover;
    border-radius: $border-radius-sm;
    box-shadow: $box-shadow-sm;
    color: $color-white;
    display: table; // make it behave like inline-block but still get a new line
    margin: 2px 0 0;
    max-width: 100%;
    padding: $spacing-xs #{$spacing-sm + 2px};
    position: relative;
    @include text-body-xs;
    @include border-box;
}

@mixin form-msg-pointer() {
    @include bidi(((left, 6px, right, auto),));
    border: 7px solid transparent;
    border-bottom: 8px solid $field-border-color-error-hover;
    bottom: 100%;
    content: '';
    height: 0;
    position: absolute;
    width: 0;
    z-index: 1;
}
