// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

// Import all the things!
@use 'sass:color';
@use '../lib' as *;

// forms
// use padding as much as possible, margins don't collapse on form elements

// -------------------------------------------------------------------------- */
// variables

$field-border-radius: $border-radius-sm;
$field-padding: $spacing-sm;
$field-h-spacing: $spacing-md;
$field-v-spacing: $spacing-lg;
$field-min-width: $content-xs - ($layout-xs * 2);

// label
$label-v-spacing: $spacing-sm;

// info
$info-v-spacing: $spacing-md;
$symbol-spacing: calc(1.5em + #{$spacing-sm * 2});

// select
$select-bg: linear-gradient(to bottom, var(--theme-background-color) 0%, var(--theme-background-color) 100%); // must keep gradient to avoid bugs
$select-bg-disabled: linear-gradient(to bottom, var(--theme-background-color-secondary) 0%, var(--theme-background-color-secondary) 100%);

// choices
$choice-height: remify(22px);
$choice-spacing: remify(22px + $spacing-sm);
$choice-fill: var(--theme-link-color);
$choice-fill-error: var(--theme-form-red);
$line-height-shim: 0.15em; // two elements with text appear to have more space between them than two block elements with solid edges, this shim is about equal to the distance between the top of the text and the edge of it's containing block

:root {
    // colors
    --theme-form-red: #d70022;
    --theme-form-text-color: var(--theme-body-text-color-secondary);
    --theme-form-text-color-inactive: #{$color-marketing-gray-70};

    // fields
    --theme-field-border-color: #{$color-marketing-gray-50};
    --theme-field-border-color-hover: var(--theme-link-color-hover);
    --theme-field-border-color-focus: var(--theme-link-color);
    --theme-field-border-color-error: var(--theme-form-red);
    --theme-field-border-color-error-hover: #{$color-red-80};
    --theme-field-border-color-disabled: #{$color-marketing-gray-30};
    --theme-field-border-color-disabled-focus: #{$color-marketing-gray-80};
    --theme-field-border: 2px solid var(--theme-field-border-color);
    --theme-field-focus-ring: 0 0 0 2px #{rgba($color-blue-40, 0.5)};
    --theme-field-focus-ring-dark: 0 0 0 2px #{color.mix($color-blue-40, $color-white)};
    --theme-field-focus-ring-white: 0 0 0 2px #{$color-white};
    --theme-field-focus-ring-outline: 2px solid #{color.scale($color-blue-50, $saturation: -15%, $lightness: 70%)};
    --theme-field-focus-ring-error: 0 0 0 2px #{rgba($color-red-50, 0.5)};

    // buttons
    --theme-button-border-color-focus: #{$color-blue-50};
    --theme-button-border-color-focus-product: #{$color-blue-40};
}

// * -------------------------------------------------------------------------- */
// mixins
// use padding as much as possible, margins don't collapse on form elements

@mixin field-label() {
    display: block;
    font-weight: bold;
    margin: 0;
    padding-bottom: $label-v-spacing;
    @include text-body-sm;
}

@mixin form-info() {
    display: block;
    font-weight: normal;
    margin-bottom: 0;
    @include text-body-sm;
}

@mixin form-input() {
    background-color: var(--theme-background-color);
    border-radius: $field-border-radius;
    box-sizing: border-box;
    border: var(--theme-field-border);
    margin: 0 0 $field-v-spacing;
    padding: $field-padding;
    @include text-body-md;
    @include font-base;

    /* stylelint-disable-next-line no-duplicate-selectors */
    & { // needs to come after @include text-body-md to over-ride value
        line-height: var(--theme-button-line-height);
    }
}

@mixin form-msg() {
    background-color: var(--theme-field-border-color-error-hover);
    border-radius: $border-radius-sm;
    box-shadow: $box-shadow-sm;
    box-sizing: border-box;
    color: var(--theme-body-text-color-inverse);
    display: table; // make it behave like inline-block but still get a new line
    margin: 2px 0 0;
    max-width: 100%;
    padding: $spacing-xs #{$spacing-sm + 2px};
    position: relative;
    @include text-body-xs;
}

@mixin form-msg-pointer() {
    @include bidi(((left, 6px, right, auto),));
    border: 7px solid transparent;
    border-bottom: 8px solid var(--theme-field-border-color-error-hover);
    bottom: 100%;
    content: '';
    height: 0;
    position: absolute;
    width: 0;
    z-index: 1;
}
