// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@use '../includes/tokens';


:root {
    --v-grid-xs: #{tokens.$layout-md};
    --h-grid-xs: #{tokens.$layout-xs};

    // sm is the same as xs
    --v-grid-sm: #{tokens.$layout-md};
    --h-grid-sm: #{tokens.$layout-xs};

    // md
    --v-grid-md: #{tokens.$layout-md};
    --h-grid-md: #{tokens.$layout-lg};

    // lg is the same as medium
    --v-grid-lg: #{tokens.$layout-md};
    --h-grid-lg: #{tokens.$layout-lg};

    // xl
    --v-grid-xl: #{tokens.$layout-xl};
    --h-grid-xl: 80px;
}
