// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@use '../includes/tokens';


:root {
    // spacing
    --theme-spacing-between-block: #{tokens.$layout-md};  // 48px
    --theme-spacing-between-inline: #{tokens.$layout-xs}; // 24px

    @media #{tokens.$mq-md} {
        --theme-spacing-between-inline: #{tokens.$layout-lg};
    }

    @media #{tokens.$mq-xl} {
        --theme-spacing-between-block: #{tokens.$layout-xl}; // 96px
        --theme-spacing-between-inline: 80px;
    }
}
