<div class="mzp-c-menu-list {% if class %}{{ class }}{% endif %} is-summary">
  <h3 class="mzp-c-menu-list-title">Meet the Family</h3>
  <ul class="mzp-c-menu-list-list">
    <li class="mzp-c-menu-list-item"><a href="#">Relay</a></li>
    <li class="mzp-c-menu-list-item"><a href="#">Monitor</a></li>
    <li class="mzp-c-menu-list-item"><a href="#">MDN</a></li>
    <li class="mzp-c-menu-list-item"><a href="#">Slightly longer menu item for testing</a></li>
  </ul>
</div>

<script src="{{ '/protocol/js/protocol-details.js' | path }}"></script>

<script>
  window.Mzp.Details.init('.mzp-c-menu-list-title');
</script>
