---
title: Billboard examples
layout: blank
labels:
  - inprogress
  - prototype
styles:
  - billboard
---

<div class="mzp-l-content">
  <header>
    <h2>Billboard examples</h2>
    <p>Two billboards interspersed with card components.</p>
  </header>

  {{#embed "patterns.organisms.billboard.billboard"}}{{/embed}}

  <div class="mzp-l-card-half">
    {{#embed "patterns.molecules.card.medium-card"}}{{/embed}}
    {{#embed "patterns.molecules.card.medium-card"}}{{/embed}}
  </div>

  {{#embed "patterns.organisms.billboard.billboard" class="mzp-l-billboard-left"}}
    {{#content "content"}}
      <h2 class="mzp-c-billboard-title">A short headline</h2>
      <p class="mzp-c-billboard-desc">A short description with a single sentence.</p>
      <a class="mzp-c-cta-link" href="#">Learn more about us</a>
    {{/content}}
  {{/embed}}
</div>
