---
title: Billboard examples
layout: blank
labels:
  - inprogress
  - prototype
styles:
  - billboard
---

<div class="mzp-l-content">
  <header>
    <h2>Billboard examples</h2>
    <p>Two billboards interspersed with card components.</p>
  </header>
  <div class="mzp-c-billboard mzp-l-billboard-right">
    <a href="#" class="mzp-c-billboard-media-link">
      <img class="mzp-c-billboard-image" src="{{@root.baseurl}}/static/img/billboard/billboard-image.png" alt="">
    </a>
    <div class="mzp-c-billboard-content">
      <div class="mzp-c-billboard-content-inner">
        <h2 class="mzp-c-billboard-title">Example headline with 35 characters</h2>
        <p class="mzp-c-billboard-desc">A description with a maximum of 100 characters. That usually means only one or two sentences.</p>
        <a class="mzp-c-cta-link" href="#">Learn more about us</a>
      </div>
    </div>
  </div>

  <div class="mzp-l-card-half">
    {{#embed "patterns.molecules.card.medium-card"}}{{/embed}}
    {{#embed "patterns.molecules.card.medium-card"}}{{/embed}}
  </div>

  <div class="mzp-c-billboard mzp-l-billboard-left">
    <a href="#" class="mzp-c-billboard-media-link">
      <img class="mzp-c-billboard-image" src="{{@root.baseurl}}/static/img/billboard/billboard-image.png" alt="">
    </a>
    <div class="mzp-c-billboard-content">
      <div class="mzp-c-billboard-content-inner">
        <h2 class="mzp-c-billboard-title">A short headline</h2>
        <p class="mzp-c-billboard-desc">A short description with a single sentence.</p>
        <a class="mzp-c-cta-link" href="#">Learn more about us</a>
      </div>
    </div>
  </div>
</div>
