---
title: Block Examples
layout: blank
styles:
  - block-demo
---

Interactive widget:
- toggle outlines
-> output what classes to add to what elements

<form id="config">
  <fieldset id="config-preset">
    <label>common configs
      <select>
        <option>--</option>
        <option>default</option>
        <option>billboard</option>
        <option>feature</option>
        <option>hero</option>
      </select>
    </label>
  </fieldset>
  <fieldset id="config-block">
    <legend>Block config</legend>
    <fieldset>
      <label><input type="checkbox" id="mzp-l-reversed" value="mzp-l-reversed" name="reversed">Reversed</label>
      <label><input type="checkbox" id="mzp-t-dark" value="mzp-t-dark" name="reversed">Dark</label>
      <label><input type="checkbox" id="mzp-has-bg" value="mzp-has-bg" name="bg">background</label>
    </fieldset>
    <fieldset>
      <label><input type="radio" id="mzp-l-block-body-50"  value="" name="portion" checked>half/half</label>
      <label><input type="radio" id="mzp-l-block-body-33" value="mzp-l-block-body-33" name="portion">Body takes up less space</label>
      <label><input type="radio" id="mzp-l-block-body-66" value="mzp-l-block-body-66" name="portion">Body takes up more space</label>
    </fieldset>
    <fieldset>
      <label><input type="radio" value="" name="pop" checked>none (default)</label>
      <label><input type="radio" id="mzp-l-pop-top" value="mzp-l-pop-top" name="pop">pop-top</label>
      <label><input type="radio" id="mzp-l-pop-bottom" value="mzp-l-pop-bottom" name="pop">pop-bottom</label>
      <label><input type="radio" id="mzp-l-pop" value="mzp-l-pop" name="pop">pop</label>
    </fieldset>
  </fieldset>
  <fieldset id="config-body">
    <legend>Body config</legend>
    <label><input type="checkbox" id="body-mzp-l-v-pad" value="mzp-l-v-pad" name="body-pad">add padding</label>
    <fieldset>
      <button type="button" id="add-text" class="mzp-c-button mzp-t-small mzp-t-secondary">Add text to body</button>
      <button type="button" id="remove-text" class="mzp-c-button mzp-t-small mzp-t-secondary">Remove text from body</button>
    </fieldset>
    <fieldset>
      <legend>horizontal alignment</legend>
      <label><input type="radio" value="" name="body-h-align" checked>none</label>
      <label><input type="radio" id="body-mzp-l-h-start" value="mzp-l-h-start" name="body-h-align">start</label>
      <label><input type="radio" id="body-mzp-l-h-center" value="mzp-l-h-center" name="body-h-align">center</label>
      <label><input type="radio" id="body-mzp-l-h-end" value="mzp-l-h-end" name="body-h-align">end</label>
    </fieldset>
    <fieldset>
      <legend>vertical alignment</legend>
      <label><input type="radio" value="" name="body-v-align" checked>none</label>
      <label><input type="radio" id="body-mzp-l-v-start" value="mzp-l-v-start" name="body-v-align">top</label>
      <label><input type="radio" id="body-mzp-l-v-center" value="mzp-l-v-center" name="body-v-align">center</label>
      <label><input type="radio" id="body-mzp-l-v-end" value="mzp-l-v-end" name="body-v-align">bottom</label>
    </fieldset>
  </fieldset>
  <fieldset id="config-media">
    <legend>Media config</legend>
    <label><input type="checkbox" id="media-mzp-l-v-pad" value="mzp-l-v-pad" name="media-pad">add padding</label>
    <fieldset>
      <button type="button" id="img-small" class="mzp-c-button mzp-t-small mzp-t-secondary">Small image</button>
      <button type="button" id="img-big" class="mzp-c-button mzp-t-small mzp-t-secondary">Big image</button>
      <!-- TODO: toggle media position in source -->
    </fieldset>
    <fieldset>
      <legend>Constrain media:</legend>
      <label><input type="radio" value="" name="constrain" checked>let image get as big as it can</label>
      <label><input type="radio" id="mzp-l-media-constrain-width" value="mzp-l-media-constrain-width" name="constrain">constrain to width of component</label>
      <label><input type="radio" id="mzp-l-media-constrain-height" value="mzp-l-media-constrain-height" name="constrain">constrain to height of component</label>
      <label><input type="checkbox" id="mzp-l-media-constrain" value="mzp-l-media-constrain-mobile" name="mobile">set a max width just for mobile</label>
    </fieldset>
    <fieldset>
      <legend>horizontal alignment</legend>
      <label><input type="radio" value="" name="media-h-align" checked>none</label>
      <label><input type="radio" id="media-mzp-l-h-start" value="mzp-l-h-start" name="media-h-align">start</label>
      <label><input type="radio" id="media-mzp-l-h-center" value="mzp-l-h-center" name="media-h-align">center</label>
      <label><input type="radio" id="media-mzp-l-h-end" value="mzp-l-h-end" name="media-h-align">end</label>
    </fieldset>
    <fieldset>
      <legend>vertical alignment</legend>
      <label><input type="radio" value="" name="media-v-align" checked>none</label>
      <label><input type="radio" id="media-mzp-l-v-start" value="mzp-l-v-start" name="media-v-align">top</label>
      <label><input type="radio" id="media-mzp-l-v-center" value="mzp-l-v-center" name="media-v-align">center</label>
      <label><input type="radio" id="media-mzp-l-v-end" value="mzp-l-v-end" name="media-v-align">bottom</label>
    </fieldset>
  </fieldset>
</form>


<div id="demo-block">
  {{#embed "patterns.organisms.block.block" body_classes="" media_classes="" }}
    {{#content "content"}}
    <h2>Block body heading</h2>
    <p>Block body description. Add logos, buttons, more paragraphs, etc. Whatever the design calls for. </p>
    {{/content}}
  {{/embed}}
</div>

<script>
(function(doc, Mzp) {
  var form = doc.getElementById('config');
  var inputs = doc.querySelectorAll('#config input');
  var preset = doc.querySelector('#config-preset select');
  var block = doc.querySelector('#demo-block .mzp-c-block');
  var blockBody = doc.querySelector('#demo-block .mzp-c-block-body');
  var blockMedia = doc.querySelector('#demo-block .mzp-c-block-media');
  var blockMediaImage = doc.querySelector('#demo-block .mzp-c-block-media-img');
  var addText = doc.getElementById('add-text');
  var removeText = doc.getElementById('remove-text');
  var imageSmall = doc.getElementById('img-small');
  var imageBig = doc.getElementById('img-big');

  // add listener for change
  for (i = 0; i < inputs.length; ++i) {
    inputs[i].addEventListener('change', function() {
      updateClasses();
    })
  }

  // presets
  preset.addEventListener('change', function() {
    var presetValue = preset.value;
    resetClasses();

    switch(presetValue) {
      case 'hero':
        doc.getElementById('body-mzp-l-v-center').checked = true;
        break;
      case 'feature':
        doc.getElementById('mzp-l-block-body-66').checked = true;
        doc.getElementById('body-mzp-l-v-center').checked = true;
        doc.getElementById('mzp-l-media-constrain-width').checked = true;
        break;
      case 'billboard':
        console.log('switch');
        doc.getElementById('mzp-l-reversed').checked = true;
        doc.getElementById('mzp-l-pop').checked = true;
        doc.getElementById('mzp-t-dark').checked = true;
        doc.getElementById('mzp-l-media-constrain-width').checked = true;
        doc.getElementById('body-mzp-l-v-center').checked = true;
        doc.getElementById('body-mzp-l-h-center').checked = true;
        doc.getElementById('media-mzp-l-v-center').checked = true;
        doc.getElementById('media-mzp-l-h-center').checked = true;
        break;
      default:
        console.log('no match');
    }
    updateClasses();
  });

  function resetClasses() {
    form.reset();
  }

  function updateClasses() {
    console.log('change');
    // block
    var blockInput = doc.querySelectorAll('#config-block input');

    var newBlockClass = 'mzp-c-block';
    for (i = 0; i < blockInput.length; ++i) {
      var thisInput = blockInput[i];
      if(thisInput.checked) {
        console.log(thisInput.value);
        newBlockClass += ' ' + thisInput.value;
      }
    }
    block.className = newBlockClass;

    // body
    var bodyInput = doc.querySelectorAll('#config-body input');

    var newBodyClass = 'mzp-c-block-body';
    for (i = 0; i < bodyInput.length; ++i) {
      var thisInput = bodyInput[i];
      if(thisInput.checked) {
        console.log(thisInput.value);
        newBodyClass += ' ' + thisInput.value;
      }
    }
    blockBody.className = newBodyClass;

    // media

    var mediaInput = doc.querySelectorAll('#config-media input');

    var newMediaClass = 'mzp-c-block-media';
    for (i = 0; i < mediaInput.length; ++i) {
      var thisInput = mediaInput[i];
      if(thisInput.checked) {
        console.log(thisInput.value);
        newMediaClass += ' ' + thisInput.value;
      }
    }
    blockMedia.className = newMediaClass;
  }

  // add body text
  addText.addEventListener('click', function() {
    var newP = doc.createElement('p');
    newP.textContent = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nibh mauris, viverra in pulvinar consectetur, feugiat eget lacus. Phasellus vitae nibh enim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris in tellus quis est iaculis vulputate pharetra ullamcorper ante. Nam posuere risus et nulla interdum, quis vehicula arcu tempor. Proin ac lacus est. Duis eget diam posuere, commodo nibh sed, mattis lorem. In in aliquet massa. ';
    blockBody.appendChild(newP);
  });
  removeText.addEventListener('click', function() {
    blockBody.removeChild(blockBody.lastChild);
  });

  // big vs small image
  imageSmall.addEventListener('click', function() {
    console.log('small');
    blockMediaImage.src = '../static/img/block/add-ons.png';
    blockMediaImage.srcset = '../static/img/block/add-ons.png';
  });
  imageBig.addEventListener('click', function() {
    blockMediaImage.src = '../static/img/block/devices.png';
    blockMediaImage.srcset = '../static/img/block/devices-high-res.png 2x';
  });

})(document, window.Mzp);
</script>

<p>set the horizontal alignment when using reversed because the default stays left</p>
<p>in some cases pop-bottom  will need you to set a bottom vertical aligment</p>
<p>cant pop both top and bottom with constrain-height, you can probably get the effect you want with constrain width </p>
<p>body and media pad are top and bottom right now, top OR buttom can be added if needed</p>

<p>test on small screens. You might want to set an aligment on a small screen even if it doensn't look like it needs it at large</p>

<p>bug on blue accounts banner with "mzp-c-block-media mzp-l-pop-top mzp-l-v-end mzp-l-media-constrain-height" when text content excees height of image.<br>
can't use mzp-l-media-constrain-height with v-?<br> need to add mzp-l-h-end to is-reversed in some cases</p>

<p>3 uttility classes, each controls something different, layout, green box, image in green box</p>

<h1>Media constraints</h1>
<div class="demo">

  {{#embed "patterns.organisms.block.block" body_classes="" media_classes="" }}
    {{#content "content"}}
    <h2>default</h2>
    <p>The image will be it's natural height, pushing the container larger.</p>
    <p>In some cases this means the image will overflow the container.</p>
    {{/content}}
  {{/embed}}

  {{#embed "patterns.organisms.block.block" body_classes="" media_classes="mzp-l-media-constrain-height" }}
    {{#content "content"}}
      <h3>mzp-l-media-constrain-height</h3>
      <p>The image will be constrained by the height of the media container, to the maximum of the image height.</p>
    {{/content}}
  {{/embed}}

  {{#embed "patterns.organisms.block.block" body_classes="" media_classes="mzp-l-media-constrain-height" }}
    {{#content "content"}}
      <p>In some cases this means the image will overflow the container.</p>
      <div class="spacer">Spacer</div>
      <div class="spacer">Spacer</div>
    {{/content}}
  {{/embed}}

  {{#embed "patterns.organisms.block.block" body_classes="mzp-l-v-start" media_classes="mzp-l-media-constrain-width" }}
    {{#content "content"}}
      <h3>mzp-l-media-constrain-width</h3>
      <p>By the image will be constrained by the width of the media container.</p>
    {{/content}}
  {{/embed}}

  <h1>Block Layout</h1>

  {{#embed "patterns.organisms.block.block" block_classes="" body_classes=""  }}
    {{#content "content"}}
      <h2>default layout</h2>
      <p>By default the body is 50% of the available space.</p>
    {{/content}}
  {{/embed}}

  {{#embed "patterns.organisms.block.block" block_classes="mzp-l-block-body-33" body_classes=""  }}
    {{#content "content"}}
      <h2>mzp-l-block-body-33</h2>
      <p>The body can be 33%</p>
    {{/content}}
  {{/embed}}

  {{#embed "patterns.organisms.block.block" block_classes="mzp-l-block-body-66" body_classes=""  }}
    {{#content "content"}}
      <h2>mzp-l-block-body-66</h2>
      <p>The body can be 66%</p>
    {{/content}}
  {{/embed}}


  {{#embed "patterns.organisms.block.block" block_classes="mzp-l-reversed" body_classes="" media_classes="" }}
    {{#content "content"}}
      <h2 class="mzp-c-card-feature-title">mzp-l-reversed</h2>
      <p class="mzp-c-card-feature-desc">An inversed block will have the media on the left.</p>
      <p class="mzp-c-card-feature-desc">If you do not contrtain the width or height of the image be sure to set a horizontal aligment for it or it will overlap the text (like this!).</p>
    {{/content}}
  {{/embed}}

  <h1>Pop</h1>

  {{#embed "patterns.organisms.block.block" }}
    {{#content "content"}}
      <h2>default</h2>
      <p>Both the body and media will be inside the block container with no padding between them and the edges.</p>
    {{/content}}
  {{/embed}}

  {{#embed "patterns.organisms.block.block" block_classes="mzp-l-pop-top" }}
    {{#content "content"}}
      <h3 class="mzp-c-billboard-title">mzp-l-pop-top</h3>
      <p class="mzp-c-billboard-desc">Chaning the fit to "pop" will make the media pop out of the block container. It can be set on all sides with <code>mzp-l-pop</code> or on individual sides with <code>mzp-l-pop-top</code>, <code>mzp-l-pop-bottom</code>, or <code>mzp-l-pop-side</code>. The image can only pop out of the container on the top, bottom, and side away from the body text.</p>
    {{/content}}
  {{/embed}}

  {{#embed "patterns.organisms.block.block" block_classes="mzp-l-pop" }}
    {{#content "content"}}
      <h4 class="mzp-c-billboard-title">mzp-l-pop</h4>
    {{/content}}
  {{/embed}}

  {{#embed "patterns.organisms.block.block" block_classes="" media_classes="mzp-l-media-constrain-width" }}
    {{#content "content"}}
      <h3 class="mzp-c-billboard-title">fit with constraint</h3>
      <p>In the examples above the image overflows the container. If you want it to stay inside the container one of the contstraint classes will need to be added.</p>
    {{/content}}
  {{/embed}}

  <h1>Body alignment</h1>

  {{#embed "patterns.organisms.block.block"}}
    {{#content "content"}}
      <h2>default</h2>
      <p>The body is <strong>top</strong> and <strong>left</strong> aligned by default.</p>
    {{/content}}
  {{/embed}}

  {{#embed "patterns.organisms.block.block" body_classes="mzp-l-v-end" }}
    {{#content "content"}}
      <h2>mzp-l-v-end</h2>
      <p>The text can be aligned to the bottom.</p>
    {{/content}}
  {{/embed}}

  {{#embed "patterns.organisms.block.block" body_classes="mzp-l-v-center" }}
    {{#content "content"}}
      <h2>mzp-l-v-center</h2>
      <p>Or vertically centered.</p>
    {{/content}}
  {{/embed}}

  {{#embed "patterns.organisms.block.block" body_classes="mzp-l-h-center" }}
    {{#content "content"}}
      <h2>mzp-l-h-center</h2>
      <p>Or horizontally centered.</p>
    {{/content}}
  {{/embed}}

  {{#embed "patterns.organisms.block.block" body_classes="mzp-l-h-end" }}
    {{#content "content"}}
      <h2>mzp-l-h-end</h2>
      <p>Or horizontally aligned to the other side of the body container.</p>
    {{/content}}
  {{/embed}}

  {{#embed "patterns.organisms.block.block" body_classes="mzp-l-v-end mzp-l-h-end" }}
    {{#content "content"}}
      <h2>Vertical and horizontal aligment can be combined</h2>
      <p>Here is mzp-l-v-end and mzp-l-h-end.</p>
    {{/content}}
  {{/embed}}

  <h1>Media alignment</h1>

  {{#embed "patterns.organisms.block.block" img_src="add-ons.png" }}
    {{#content "content"}}
      <h2>default</h2>
      <p>The media is top aligned by default, on desktop. And center aligned by default on mobile.</p>
      <div class="spacer">Spacer</div>
    {{/content}}
  {{/embed}}

  {{#embed "patterns.organisms.block.block" media_classes="mzp-l-v-end" img_src="add-ons.png" }}
    {{#content "content"}}
      <h2>mzp-l-v-end</h2>
      <p>The media can be aligned to the bottom.</p>
      <div class="spacer">Spacer</div>
    {{/content}}
  {{/embed}}

  {{#embed "patterns.organisms.block.block" media_classes="mzp-l-v-center" img_src="add-ons.png" }}
    {{#content "content"}}
      <h2>v-middle</h2>
      <p>Or vertically centered.</p>
      <div class="spacer">Spacer</div>
    {{/content}}
  {{/embed}}

  {{#embed "patterns.organisms.block.block" media_classes="mzp-l-h-center" img_src="add-ons.png" }}
    {{#content "content"}}
      <h2>mzp-l-h-center</h2>
      <p>Or horizontally centered.</p>
    {{/content}}
  {{/embed}}

  {{#embed "patterns.organisms.block.block" media_classes="mzp-l-h-end" img_src="add-ons.png" }}
    {{#content "content"}}
      <h2>mzp-l-h-end</h2>
      <p>Or horizontally aligned to the other side of the body container.</p>
    {{/content}}
  {{/embed}}

  {{#embed "patterns.organisms.block.block" media_classes="mzp-l-v-end mzp-l-h-end" img_src="add-ons.png" }}
    {{#content "content"}}
      <h2>Vertical and horizontal aligment can be combined</h2>
      <p>Here is mzp-l-v-end and mzp-l-h-end.</p>
      <div class="spacer">Spacer</div>
    {{/content}}
  {{/embed}}


  <h1>Source order &amp; Mobile layout</h1>

  <section class="mzp-c-block">
    <div class="mzp-c-block-container">
      <div class="mzp-c-block-media mzp-l-media-constrain-mobile">
          <img class="mzp-c-block-media-img" src="../static/img/block/devices.png" alt="" srcset="../static/img/block/devices-high-res.png 2x">
      </div>
      <div class="mzp-c-block-body ">
        <h3>There is a `constrain-mobile` class that you probably want to use.</h3>
        <p>It will restrict the size of the media and center it on mobile.</p>
      </div>
    </div>
  </section>


  <section class="mzp-c-block">
    <div class="mzp-c-block-container">
      <div class="mzp-c-block-media">
          <img class="mzp-c-block-media-img" src="../static/img/block/devices.png" alt="" srcset="../static/img/block/devices-high-res.png 2x">
      </div>
      <div class="mzp-c-block-body ">
        <h3>Media can be first in the source order</h3>
        <p>(See above)</p>
      </div>
    </div>
  </section>

  <section class="mzp-c-block">
    <div class="mzp-c-block-container">
      <div class="mzp-c-block-body">
        <h3>Media can be second in the source order</h3>
        <p>(See below)</p>
      </div>
      <div class="mzp-c-block-media">
          <img class="mzp-c-block-media-img" src="../static/img/block/devices.png" alt="" srcset="../static/img/block/devices-high-res.png 2x">
      </div>
    </div>
  </section>

  <section class="mzp-c-block mzp-has-media-hide">
    <div class="mzp-c-block-container">
      <div class="mzp-c-block-media">
          <img class="mzp-c-block-media-img" src="../static/img/block/devices.png" alt="" srcset="../static/img/block/devices-high-res.png 2x">
      </div>
      <div class="mzp-c-block-body ">
        <h3>Hide media only on mobile with `mzp-has-media-hide`.</h3>
        <p>Test</p>
      </div>
    </div>
  </section>
</div>
