---
title: Call Out (compact)
layout: blank
styles:
  - call-out
---

<header class="mzp-l-content">
  <h1>Call Out (compact)</h1>
  <p>Content variations using the compact Call Out component.</p>
</header>

<div class="mzp-t-firefox">

  {{#embed "patterns.organisms.call-out.call-out-compact" class="mzp-t-firefox"}}
    {{#content "content"}}
      <h2 class="mzp-c-call-out-title">A headline with 30 characters</h2>
    {{/content}}
  {{/embed}}

  {{#embed "patterns.organisms.call-out.call-out-compact" class="mzp-t-firefox"}}
    {{#content "content"}}
      <h2 class="mzp-c-call-out-title">A headline with 30 characters</h2>
      <p class="mzp-c-call-out-desc">A description with a maximum of 140 characters and <a href="#">a link</a>. That means we usually only have room for one or two sentences. Like this.</p>
    {{/content}}
  {{/embed}}

  {{#embed "patterns.organisms.call-out.call-out-compact" class="mzp-t-product-firefox mzp-t-firefox"}}
    {{#content "content"}}
      <h2 class="mzp-c-call-out-title">A headline with 30 characters</h2>
    {{/content}}
  {{/embed}}

  {{#embed "patterns.organisms.call-out.call-out-compact" class="mzp-t-product-firefox mzp-t-firefox"}}
    {{#content "content"}}
      <h2 class="mzp-c-call-out-title">A headline with 30 characters</h2>
      <p class="mzp-c-call-out-desc">A description with a maximum of 140 characters and <a href="#">a link</a>. That means we usually only have room for one or two sentences. Like this.</p>
    {{/content}}
  {{/embed}}

  {{#embed "patterns.organisms.call-out.call-out-compact" class="mzp-t-firefox mzp-t-dark"}}
    {{#content "content"}}
      <h2 class="mzp-c-call-out-title">A headline with 30 characters</h2>
    {{/content}}
  {{/embed}}

  {{#embed "patterns.organisms.call-out.call-out-compact" class="mzp-t-firefox mzp-t-dark"}}
    {{#content "content"}}
      <h2 class="mzp-c-call-out-title">A headline with 30 characters</h2>
      <p class="mzp-c-call-out-desc">A description with a maximum of 140 characters and <a href="#">a link</a>. That means we usually only have room for one or two sentences. Like this.</p>
    {{/content}}
  {{/embed}}

  {{#embed "patterns.organisms.call-out.call-out-compact" class="mzp-t-product-nightly mzp-t-firefox mzp-t-dark"}}
    {{#content "content"}}
      <h2 class="mzp-c-call-out-title">A headline with 30 characters</h2>
    {{/content}}
  {{/embed}}

  {{#embed "patterns.organisms.call-out.call-out-compact" class="mzp-t-product-nightly mzp-t-firefox mzp-t-dark"}}
    {{#content "content"}}
      <h2 class="mzp-c-call-out-title">A headline with 30 characters</h2>
      <p class="mzp-c-call-out-desc">A description with a maximum of 140 characters and <a href="#">a link</a>. That means we usually only have room for one or two sentences. Like this.</p>
    {{/content}}
  {{/embed}}
</div>
