---
title: Call Out
layout: blank
styles:
  - call-out
---

<header class="mzp-l-content">
  <h1>Call Out</h1>
  <p>Content variations using the Call Out component.</p>
</header>

{{#embed "patterns.organisms.call-out.call-out" class="mzp-t-firefox"}}
  {{#content "content"}}
    <h2 class="mzp-c-call-out-title">A headline with 30 characters</h2>
    {{#embed "patterns.molecules.download-button.download-button"}}{{/embed}}
  {{/content}}
{{/embed}}

{{#embed "patterns.organisms.call-out.call-out" class="mzp-t-firefox"}}
  {{#content "content"}}
    <h2 class="mzp-c-call-out-title">A headline with 30 characters</h2>
    <p class="mzp-c-call-out-desc">A description with a maximum of 140 characters and <a href="#">a link</a>. That means we usually only have room for one or two sentences. Like this.</p>
  {{/content}}
{{/embed}}

{{#embed "patterns.organisms.call-out.call-out" class="mzp-t-firefox"}}
  {{#content "content"}}
    <h2 class="mzp-c-call-out-title">A headline with 30 characters</h2>
    <p class="mzp-c-call-out-desc">A description with a maximum of 140 characters and <a href="#">a link</a>. That means we usually only have room for one or two sentences. Like this.</p>
    {{#embed "patterns.molecules.download-button.download-button"}}{{/embed}}
  {{/content}}
{{/embed}}

{{#embed "patterns.organisms.call-out.call-out" class="mzp-t-product-firefox mzp-t-firefox"}}
  {{#content "content"}}
    <h2 class="mzp-c-call-out-title">A headline with 30 characters</h2>
    {{#embed "patterns.molecules.download-button.download-button"}}{{/embed}}
  {{/content}}
{{/embed}}

{{#embed "patterns.organisms.call-out.call-out" class="mzp-t-product-firefox mzp-t-firefox"}}
  {{#content "content"}}
    <h2 class="mzp-c-call-out-title">A headline with 30 characters</h2>
    <p class="mzp-c-call-out-desc">A description with a maximum of 140 characters and <a href="#">a link</a>. That means we usually only have room for one or two sentences. Like this.</p>
  {{/content}}
{{/embed}}

{{#embed "patterns.organisms.call-out.call-out" class="mzp-t-product-firefox mzp-t-firefox"}}
  {{#content "content"}}
    <h2 class="mzp-c-call-out-title">A headline with 30 characters</h2>
    <p class="mzp-c-call-out-desc">A description with a maximum of 140 characters and <a href="#">a link</a>. That means we usually only have room for one or two sentences. Like this.</p>
    {{#embed "patterns.molecules.download-button.download-button"}}{{/embed}}
  {{/content}}
{{/embed}}

{{#embed "patterns.organisms.call-out.call-out" class="mzp-t-firefox mzp-t-dark"}}
  {{#content "content"}}
    <h2 class="mzp-c-call-out-title">A headline with 30 characters</h2>
    {{#embed "patterns.molecules.download-button.download-button"}}{{/embed}}
  {{/content}}
{{/embed}}

{{#embed "patterns.organisms.call-out.call-out" class="mzp-t-firefox mzp-t-dark"}}
  {{#content "content"}}
    <h2 class="mzp-c-call-out-title">A headline with 30 characters</h2>
    <p class="mzp-c-call-out-desc">A description with a maximum of 140 characters. That means we usually only have room for one or two sentences. Like this.</p>
  {{/content}}
{{/embed}}

{{#embed "patterns.organisms.call-out.call-out" class="mzp-t-firefox mzp-t-dark"}}
  {{#content "content"}}
    <h2 class="mzp-c-call-out-title">A headline with 30 characters</h2>
    <p class="mzp-c-call-out-desc">A description with a maximum of 140 characters. That means we usually only have room for one or two sentences. Like this.</p>
    {{#embed "patterns.molecules.download-button.download-button"}}{{/embed}}
  {{/content}}
{{/embed}}

{{#embed "patterns.organisms.call-out.call-out" class="mzp-t-product-developer mzp-t-firefox mzp-t-dark"}}
  {{#content "content"}}
    <h2 class="mzp-c-call-out-title">A headline with 30 characters</h2>
    {{#embed "patterns.molecules.download-button.download-button"}}{{/embed}}
  {{/content}}
{{/embed}}

{{#embed "patterns.organisms.call-out.call-out" class="mzp-t-product-developer mzp-t-firefox mzp-t-dark"}}
  {{#content "content"}}
    <h2 class="mzp-c-call-out-title">A headline with 30 characters</h2>
    <p class="mzp-c-call-out-desc">A description with a maximum of 140 characters and <a href="#">a link</a>. That means we usually only have room for one or two sentences. Like this.</p>
  {{/content}}
{{/embed}}

{{#embed "patterns.organisms.call-out.call-out" class="mzp-t-product-developer mzp-t-firefox mzp-t-dark"}}
  {{#content "content"}}
    <h2 class="mzp-c-call-out-title">A headline with 30 characters</h2>
    <p class="mzp-c-call-out-desc">A description with a maximum of 140 characters and <a href="#">a link</a>. That means we usually only have room for one or two sentences. Like this.</p>
    {{#embed "patterns.molecules.download-button.download-button"}}{{/embed}}
  {{/content}}
{{/embed}}
