---
title: Pitco Card Layout Demo
layout: blank
styles:
  - card
---

<div class="mzp-l-content">
  <header>
    <h1>Picto Card Layout Demo</h1>
  </header>
</div>

<div class="mzp-l-card-third mzp-l-content">
  {{#embed "patterns.molecules.picto-card.picto-card"}}{{/embed}}
  {{#embed "patterns.molecules.picto-card.picto-card"}}{{/embed}}
  {{#embed "patterns.molecules.picto-card.picto-card"}}{{/embed}}
</div>

<div class="mzp-t-dark">
  <div class="mzp-l-card-third mzp-l-content">
    {{#embed "patterns.molecules.picto-card.picto-card"}}{{/embed}}
    {{#embed "patterns.molecules.picto-card.picto-card"}}{{/embed}}
    {{#embed "patterns.molecules.picto-card.picto-card"}}{{/embed}}
  </div>
</div>

<div class="mzp-l-card-half mzp-l-content">
  {{#embed "patterns.molecules.picto-card.picto-card-compact"}}{{/embed}}
  {{#embed "patterns.molecules.picto-card.picto-card-compact"}}{{/embed}}
</div>

<div class="mzp-t-dark">
  <div class="mzp-l-card-half mzp-l-content">
    {{#embed "patterns.molecules.picto-card.picto-card-compact"}}{{/embed}}
    {{#embed "patterns.molecules.picto-card.picto-card-compact"}}{{/embed}}
  </div>
</div>
