---
title: Card Layout
layout: blank
labels:
  - inprogress
styles:
  - card
---

<div class="mzp-l-content">
  <header>
    <h1>Card Layout Demo</h1>
  </header>
</div>

<div class="mzp-l-content">
  <header>
    <h2>6 Card Layout</h2>
    <ul class="mzp-u-list-styled">
      <li>On small screens cards stack vertically and span full container width.</li>
      <li>On medium sized screens cards span half width.</li>
      <li>On large screens cards span 1 third width.</li>
    </ul>
  </header>

  <div class="mzp-l-card-third">
    {{#embed "patterns.molecules.card.small-card" class="mzp-has-aspect-3-2"}}{{/embed}}
    {{#embed "patterns.molecules.card.small-card" class="mzp-has-aspect-1-1"}}{{/embed}}
    {{#embed "patterns.molecules.card.small-card" class="mzp-has-aspect-3-2"}}{{/embed}}
    {{#embed "patterns.molecules.card.small-card" class="mzp-has-aspect-3-2"}}{{/embed}}
    {{#embed "patterns.molecules.card.small-card" class="mzp-has-aspect-3-2"}}{{/embed}}
    {{#embed "patterns.molecules.card.small-card" class="mzp-has-aspect-3-2"}}{{/embed}}
  </div>
</div>

<div class="mzp-l-content">
  <header>
    <h2>5 Card Hero Layout</h2>
    <ul class="mzp-u-list-styled">
      <li>On small screens cards stack vertically and span full container width.</li>
      <li>On medium sized screens the 1st card spans full width, and the remaining 4 cards span half widths.</li>
      <li>On large screens the 1st card spans 2 thirds, and the remaining cards span 1 third.</li>
    </ul>
  </header>

  <div class="mzp-l-card-hero">
    {{#embed "patterns.molecules.card.large-card"}}{{/embed}}
    {{#embed "patterns.molecules.card.small-card" class="mzp-has-aspect-1-1"}}{{/embed}}
    {{#embed "patterns.molecules.card.small-card" class="mzp-has-aspect-3-2"}}{{/embed}}
    {{#embed "patterns.molecules.card.small-card" class="mzp-has-aspect-3-2"}}{{/embed}}
    {{#embed "patterns.molecules.card.small-card" class="mzp-has-aspect-3-2"}}{{/embed}}
  </div>
</div>

<div class="mzp-l-content">
  <header>
    <h2>4 Card Layout</h2>
    <ul class="mzp-u-list-styled">
      <li>On small screens cards stack vertically and span full container width.</li>
      <li>On medium sized screens cards span half width.</li>
      <li>On large screens cards span quarter widths.</li>
    </ul>
  </header>

  <div class="mzp-l-card-quarter">
    {{#embed "patterns.molecules.card.extra-small-card"}}{{/embed}}
    {{#embed "patterns.molecules.card.extra-small-card"}}{{/embed}}
    {{#embed "patterns.molecules.card.extra-small-card"}}{{/embed}}
    {{#embed "patterns.molecules.card.extra-small-card"}}{{/embed}}
  </div>
</div>

<div class="mzp-l-content">
  <header>
    <h2>2 Card Layout</h2>
    <ul class="mzp-u-list-styled">
      <li>On small screens cards stack vertically and span full container width.</li>
      <li>On medium to large sized screens cards span half width.</li>
    </ul>
  </header>

  <div class="mzp-l-card-half">
    {{#embed "patterns.molecules.card.medium-card"}}{{/embed}}
    {{#embed "patterns.molecules.card.medium-card"}}{{/embed}}
  </div>
</div>



