---
title: Visualization of content containers
layout: blank
styles:
  - content-container
---

<div class="mzp-l-content mzp-t-content-sm display">
  <p class="label"><code>.mzp-t-content-sm</code> <code>max-width: 432px</code></p>
</div>

<div class="mzp-l-content mzp-t-content-md display">
  <p class="label"><code>.mzp-t-content-md</code> <code>max-width: 688px</code></p>
</div>

<div class="mzp-l-content mzp-t-content-lg display">
  <p class="label"><code>.mzp-t-content-lg</code> <code>max-width: 928px</code></p>
</div>

<div class="mzp-l-content mzp-t-content-xl display">
  <p class="label"><code>.mzp-t-content-xl</code> <code>max-width: 1152px</code></p>
</div>

<div class="mzp-l-content display">
  <p class="label">default <code>max-width: 1440px</code></p>
</div>
