---
title: Grid
notes: This is demo of the grid system.
layout: blank
labels:
  - inprogress
  - prototype
styles:
  - grid
overflow: true
---

<div class="mzp-u-overflow-hidden">
  <div class="mzp-l-content">

    <h1>Grid</h1>
    {{#embed "patterns.atoms.grid.grid"}}{{/embed}}

    <h2>Two Column</h2>
    {{#embed "patterns.atoms.grid.two-column"}}{{/embed}}
    <h4>Positioning</h4>
    {{#embed "patterns.atoms.grid.two-column-position"}}{{/embed}}
    <h4>Overflow</h4>
    {{#embed "patterns.atoms.grid.two-column-overflow"}}{{/embed}}

    <h2>Three Column</h2>
    {{#embed "patterns.atoms.grid.three-column"}}{{/embed}}
    <h4>Positioning</h4>
    {{#embed "patterns.atoms.grid.three-column-position"}}{{/embed}}
    <h4>Overflow</h4>
    {{#embed "patterns.atoms.grid.three-column-overflow"}}{{/embed}}

    <h2>Four Column</h2>
    {{#embed "patterns.atoms.grid.four-column"}}{{/embed}}
    <h4>Positioning</h4>
    {{#embed "patterns.atoms.grid.four-column-position"}}{{/embed}}
    <h4>Overflow</h4>
    {{#embed "patterns.atoms.grid.four-column-overflow"}}{{/embed}}

  </div>
</div>
