---
title: Page Hero examples
layout: blank
styles:
  - hero
---


{{#embed "patterns.organisms.hero.hero"}}
  {{#content "content"}}
    <h1 class="mzp-c-hero-title">A Basic Page Hero</h1>

    <div class="mzp-c-hero-desc">
      <p>A description with approximately 140 characters. That means we usually only have room for one or two sentences. This is what that looks like.</p>
    </div>

    <p class="mzp-c-hero-cta">
      <a class="mzp-c-button" href="#">Call to action</a>
    </p>
  {{/content}}
{{/embed}}

<hr>

{{#embed "patterns.organisms.hero.hero" image="true"}}
  {{#content "content"}}
    <h1 class="mzp-c-hero-title">A Page Hero with Image</h1>

    <div class="mzp-c-hero-desc">
      <p>A description with approximately 140 characters. That means we usually only have room for one or two sentences. This is what that looks like.</p>
    </div>

    <p class="mzp-c-hero-cta">
      <a class="mzp-c-button" href="#">Call to action</a>
    </p>
  {{/content}}
{{/embed}}

<hr>

{{#embed "patterns.organisms.hero.hero" image="true" class="mzp-l-reverse"}}
  {{#content "content"}}
    <h1 class="mzp-c-hero-title">A Page Hero with Image, Reverse Aligned</h1>

    <div class="mzp-c-hero-desc">
      <p>A description with approximately 140 characters. That means we usually only have room for one or two sentences. This is what that looks like.</p>
    </div>

    <p class="mzp-c-hero-cta">
      <a class="mzp-c-button" href="#">Call to action</a>
    </p>
  {{/content}}
{{/embed}}

<hr>

{{#embed "patterns.organisms.hero.hero" image="true" class="mzp-t-firefox mzp-t-product-firefox"}}
  {{#content "content"}}
    <h1 class="mzp-c-hero-title">A Firefox Branded Hero with Image</h1>

    <div class="mzp-c-hero-desc">
      <p class="mzp-c-hero-tagline">This one also has a tagline.</p>
    </div>

    <div class="mzp-c-hero-cta">
      {{#embed "patterns.molecules.download-button.download-button"}}{{/embed}}
    </div>
  {{/content}}

  {{#content "hero-image"}}
    <div class="mzp-c-hero-image">
      <img src="{{@root.baseurl}}/static/img/hero/hero-devices.png" alt="">
    </div>
  {{/content}}
{{/embed}}

<section class="section-next">
  <div class="mzp-l-card-third mzp-l-content">
    {{#embed "patterns.molecules.picto-card.picto-card"}}{{/embed}}
    {{#embed "patterns.molecules.picto-card.picto-card"}}{{/embed}}
    {{#embed "patterns.molecules.picto-card.picto-card"}}{{/embed}}
  </div>
</section>

<hr>

{{#embed "patterns.organisms.hero.hero" class="mzp-t-firefox mzp-t-product-developer"}}
  {{#content "content"}}
    <h1 class="mzp-c-hero-title">Branded Hero<br> No Image</h1>

    <div class="mzp-c-hero-desc">
      <p>Plus a longer description, just to see what it looks like. This has about 280 characters, twice the recommended length. Lorem ipsum dolor sit amet, ea harum scribentur pri, id sed equidem inimicus dignissim. Ut mea agam ullamcorper. Labore quaestio cum ad, velit probatus deterru.</p>
    </div>

    <div class="mzp-c-hero-cta">
      {{#embed "patterns.molecules.download-button.download-button"}}
        {{#content "content"}}
        <a href="#" class="mzp-c-button mzp-t-product">
          Download Firefox Developer Edition
        </a>
        {{/content}}
      {{/embed}}
    </div>
  {{/content}}
{{/embed}}

<section class="section-next">
  <div class="mzp-l-card-third mzp-l-content">
    {{#embed "patterns.molecules.picto-card.picto-card"}}{{/embed}}
    {{#embed "patterns.molecules.picto-card.picto-card"}}{{/embed}}
    {{#embed "patterns.molecules.picto-card.picto-card"}}{{/embed}}
  </div>
</section>

<hr>

{{#embed "patterns.organisms.hero.hero" image="true"}}
  {{#content "content"}}
    <h1 class="mzp-c-hero-title">No description.<br> No call to action.<br> Just a title and an image.</h1>
  {{/content}}
{{/embed}}

<hr>

{{#embed "patterns.organisms.hero.hero" class="mzp-t-dark"}}
  {{#content "content"}}
    <h1 class="mzp-c-hero-title">A Dark Page Hero</h1>

    <div class="mzp-c-hero-desc">
      <p>A description with approximately 140 characters. That means we usually only have room for one or two sentences. This is what that looks like.</p>
    </div>

    <p class="mzp-c-hero-cta">
      <a class="mzp-c-button mzp-t-dark" href="#">Call to action</a>
    </p>
  {{/content}}
{{/embed}}

<hr>

{{#embed "patterns.organisms.hero.hero" image="true" class="mzp-t-dark mzp-t-firefox mzp-t-product-nightly mzp-l-reverse"}}
  {{#content "content"}}
    <h1 class="mzp-c-hero-title">Branded Dark Hero with Image, Reversed</h1>

    <div class="mzp-c-hero-desc">
      <p>A description with approximately 140 characters. That means we usually only have room for one or two sentences. This is what that looks like.</p>
    </div>

    <div class="mzp-c-hero-cta">
      {{#embed "patterns.molecules.download-button.download-button"}}
        {{#content "content"}}
        <a href="#" class="mzp-c-button mzp-t-product">
          Download Firefox Nightly
        </a>
        {{/content}}
      {{/embed}}
    </div>
  {{/content}}

  {{#content "hero-image"}}
  <div class="mzp-c-hero-image">
    <img src="{{@root.baseurl}}/static/img/hero/hero-devices.png" alt="">
  </div>
  {{/content}}
{{/embed}}

<section class="section-next mzp-t-dark mzp-t-firefox">
  <div class="mzp-l-card-third mzp-l-content">
    {{#embed "patterns.molecules.picto-card.picto-card"}}{{/embed}}
    {{#embed "patterns.molecules.picto-card.picto-card"}}{{/embed}}
    {{#embed "patterns.molecules.picto-card.picto-card"}}{{/embed}}
  </div>
</section>
