---
title: Demos
notes: |
  A collection of mockups, demonstrations, proofs-of-concept or
  anything else that might not be production-ready.
---

<script src="../../assets/docs/js/docs.js"></script>

  <article class="protosite-pattern">

<header class="protosite-pattern-head">
<h1 id="design-principles" class="protosite-pattern-title">
Demos
</h1>

<div class="protosite-pattern-desc">
<p>These are the guiding principles that inform our design decisions.
The components, pages, and websites we create should be:</p>

</div>
</header>


<div class="protosite-pattern-editor">

  <ul class="mzp-u-list-styled">
    {{#each (pages "demos" ignore="index")}}
      <li>
        <a href="{{@root.baseurl}}/{{url}}">{{data.title}}</a>
      </li>
    {{/each}}
  </ul>

</div>
<div class="protosite-pattern-illustration">
<img src="../../static/img/protosite/resources@2x.png" width="300" height="300" alt="">
</div>

</article>
