---
title: Link Styles
notes: Demonstrating different link styles that are hard to show without special CSS tricks.
styles:
  - link-styles
---

<p>This page shows visual examples of the different link states.
  This is purely for looks, not intended to serve as a usable code example.
  See the <a href="{{@root.baseurl}}/patterns/atoms/links.html">Links atom</a>
  for more detail.</p>

<ul>
  <li><p><span class="link">Unvisited link</span></p></li>
  <li><p><span class="link-hover">Unvisited link, hover</span></p></li>
  <li><p><span class="link-active">Unvisited link, active</span></p></li>
  <li><p><span class="visited">Visited link</span></p></li>
  <li><p><span class="visited-hover">Visited link, hover</span></p></li>
  <li><p><span class="visited-active">Visited link, active</span></p></li>
</ul>

<p>This is a longer paragraph of text, made up of <a href="http://generator.lorem-ipsum.info/">numerous and varied words</a>.
  Some of these words act as hyperlinks to connect this page to <a href="https://developer.mozilla.org/docs/Web/HTML/Element/a">other pages or resources</a>.
  The humble link is the very lynchpin of the <a href="http://info.cern.ch/">World Wide Web</a>. Links make the web <a href="https://i.imgur.com/glHwVi8.gif">what it is</a>.
  A <a href="https://facebook.com">web without links</a> wouldn’t really be <a href="https://i.imgur.com/SQYbMTF.gif">a web at all</a>.
  Seriously, <a href="https://html5zombo.com">links are the best</a>. Try one today!</p>
