---
title: Logos
layout: blank
styles:
  - logo
---

<header class="mzp-l-content">
  <h1>Logos &amp; Wordmarks</h1>
</header>

<div class="mzp-l-content">
  <h2>Sizes</h2>
  <table class="demo-logos">
    <tr>
      <td><code>xl</code></td>
      <td>{{#embed "patterns.atoms.logo.logo" size="xl" product="firefox" label="Firefox Browser"}}{{/embed}}</td>
      <td>{{#embed "patterns.atoms.logo.wordmark" size="xl" product="firefox" label="Firefox Browser"}}{{/embed}}</td>
    </tr>
    <tr>
      <td><code>lg</code></td>
      <td>{{#embed "patterns.atoms.logo.logo" size="lg" product="firefox" label="Firefox Browser"}}{{/embed}}</td>
      <td>{{#embed "patterns.atoms.logo.wordmark" size="lg" product="firefox" label="Firefox Browser"}}{{/embed}}</td>
    </tr>
    <tr>
      <td><code>md</code></td>
      <td>{{#embed "patterns.atoms.logo.logo" size="md" product="firefox" label="Firefox Browser"}}{{/embed}}</td>
      <td>{{#embed "patterns.atoms.logo.wordmark" size="md" product="firefox" label="Firefox Browser"}}{{/embed}}</td>
    </tr>
    <tr>
      <td><code>sm</code></td>
      <td>{{#embed "patterns.atoms.logo.logo" size="sm" product="firefox" label="Firefox Browser"}}{{/embed}}</td>
      <td>{{#embed "patterns.atoms.logo.wordmark" size="sm" product="firefox" label="Firefox Browser"}}{{/embed}}</td>
    </tr>
    <tr>
      <td><code>xs</code></td>
      <td>{{#embed "patterns.atoms.logo.logo" size="xs" product="firefox" label="Firefox Browser"}}{{/embed}}</td>
      <td>{{#embed "patterns.atoms.logo.wordmark" size="xs" product="firefox" label="Firefox Browser"}}{{/embed}}</td>
    </tr>
  </table>
</div>
<div class="mzp-l-content">
  <h2>Products</h2>
  <table class="demo-logos">
    <tr>
      <td><code>firefox</code></td>
      <td>{{#embed "patterns.atoms.logo.logo" size="lg" product="firefox" label="Firefox Browser"}}{{/embed}}</td>
      <td>{{#embed "patterns.atoms.logo.wordmark" size="lg" product="firefox" label="Firefox Browser"}}{{/embed}}</td>
      <td class="mzp-t-dark">{{#embed "patterns.atoms.logo.wordmark" size="lg" product="firefox" label="Firefox Browser"}}{{/embed}}</td>
    </tr>
    <tr>
      <td><code>beta</code></td>
      <td>{{#embed "patterns.atoms.logo.logo" size="lg" product="beta" label="Firefox Browser Beta"}}{{/embed}}</td>
      <td>{{#embed "patterns.atoms.logo.wordmark" size="lg" product="beta" label="Firefox Browser Beta"}}{{/embed}}</td>
      <td class="mzp-t-dark">{{#embed "patterns.atoms.logo.wordmark" size="lg" product="beta" label="Firefox Browser Beta"}}{{/embed}}</td>
    </tr>
    <tr>
      <td><code>developer</code></td>
      <td>{{#embed "patterns.atoms.logo.logo" size="lg" product="developer" label="Firefox Browser Developer"}}{{/embed}}</td>
      <td>{{#embed "patterns.atoms.logo.wordmark" size="lg" product="developer" label="Firefox Browser Developer"}}{{/embed}}</td>
      <td class="mzp-t-dark">{{#embed "patterns.atoms.logo.wordmark" size="lg" product="developer" label="Firefox Browser Developer"}}{{/embed}}</td>
    </tr>
    <tr>
      <td><code>nightly</code></td>
      <td>{{#embed "patterns.atoms.logo.logo" size="lg" product="nightly" label="Firefox Browser Nightly"}}{{/embed}}</td>
      <td>{{#embed "patterns.atoms.logo.wordmark" size="lg" product="nightly" label="Firefox Browser Nightly"}}{{/embed}}</td>
      <td class="mzp-t-dark">{{#embed "patterns.atoms.logo.wordmark" size="lg" product="nightly" label="Firefox Browser Nightly"}}{{/embed}}</td>
    </tr>
    <tr>
      <td><code>focus</code></td>
      <td>{{#embed "patterns.atoms.logo.logo" size="lg" product="focus" label="Firefox Browser Focus"}}{{/embed}}</td>
      <td>{{#embed "patterns.atoms.logo.wordmark" size="lg" product="focus" label="Firefox Browser Focus"}}{{/embed}}</td>
      <td class="mzp-t-dark">{{#embed "patterns.atoms.logo.wordmark" size="lg" product="focus" label="Firefox Browser Focus"}}{{/embed}}</td>
    </tr>
    <tr>
      <td><code>family</code></td>
      <td>{{#embed "patterns.atoms.logo.logo" size="lg" product="family" label="Firefox"}}{{/embed}}</td>
      <td>{{#embed "patterns.atoms.logo.wordmark" size="lg" product="family" label="Firefox"}}{{/embed}}</td>
      <td class="mzp-t-dark">{{#embed "patterns.atoms.logo.wordmark" size="lg" product="family" label="Firefox"}}{{/embed}}</td>
    </tr>
    <tr>
      <td><code>lockwise</code></td>
      <td>{{#embed "patterns.atoms.logo.logo" size="lg" product="lockwise" label="Firefox Lockwise"}}{{/embed}}</td>
      <td>{{#embed "patterns.atoms.logo.wordmark" size="lg" product="lockwise" label="Firefox Lockwise"}}{{/embed}}</td>
      <td class="mzp-t-dark">{{#embed "patterns.atoms.logo.wordmark" size="lg" product="lockwise" label="Firefox Lockwise"}}{{/embed}}</td>
    </tr>
    <tr>
      <td><code>monitor</code></td>
      <td>{{#embed "patterns.atoms.logo.logo" size="lg" product="monitor" label="Firefox Monitor"}}{{/embed}}</td>
      <td>{{#embed "patterns.atoms.logo.wordmark" size="lg" product="monitor" label="Firefox Monitor"}}{{/embed}}</td>
      <td class="mzp-t-dark">{{#embed "patterns.atoms.logo.wordmark" size="lg" product="monitor" label="Firefox Monitor"}}{{/embed}}</td>
    </tr>

    <tr>
      <td><code>mozilla</code></td>
      <td>{{#embed "patterns.atoms.logo.logo" size="lg" product="mozilla" label="Mozilla"}}{{/embed}}</td>
      <td>{{#embed "patterns.atoms.logo.wordmark" size="lg" product="mozilla" label="Mozilla"}}{{/embed}}</td>
      <td class="mzp-t-dark">{{#embed "patterns.atoms.logo.wordmark" size="lg" product="mozilla" label="Mozilla"}}{{/embed}}</td>
    </tr>
    <tr>
      <td><code>vpn</code></td>
      <td>{{#embed "patterns.atoms.logo.logo" size="lg" product="vpn" label="Mozilla VPN"}}{{/embed}}</td>
      <td>{{#embed "patterns.atoms.logo.wordmark" size="lg" product="vpn" label="Mozilla VPN"}}{{/embed}}</td>
      <td class="mzp-t-dark">{{#embed "patterns.atoms.logo.wordmark" size="lg" product="vpn" label="Mozilla VPN"}}{{/embed}}</td>
    </tr>
    <tr>
      <td><code>pocket</code></td>
      <td>{{#embed "patterns.atoms.logo.logo" size="lg" product="pocket" label="Pocket"}}{{/embed}}</td>
      <td>{{#embed "patterns.atoms.logo.wordmark" size="lg" product="pocket" label="Pocket"}}{{/embed}}</td>
      <td class="mzp-t-dark">{{#embed "patterns.atoms.logo.wordmark" size="lg" product="pocket" label="Pocket"}}{{/embed}}</td>
    </tr>
  </table>
</div>
