---
title: Navigation
layout: blank
styles:
  - navigation
---

{{#embed "patterns.organisms.navigation.navigation"}}
  {{#content "menu"}}
    {{#embed "patterns.molecules.menu.menu"}}
      {{#content "content"}}
        <li class="mzp-c-menu-category mzp-has-drop-down">
          <a class="mzp-c-menu-title" href="#">Firefox</a>
          <div class="mzp-c-menu-panel mzp-has-card">
            <div class="mzp-c-menu-panel-content">
              <ul>
                <li>
                  {{#embed "patterns.molecules.menu.menu-item" icon="true" class="mzp-t-illustration-desktop"}}
                    {{#content "title"}}Firefox Desktop Browser{{/content}}
                    {{#content "link"}}https://www.mozilla.org/firefox/{{/content}}
                    {{#content "list"}}
                      <ul class="mzp-c-menu-item-list">
                        <li><a href="https://www.mozilla.org/firefox/new/">Download</a></li>
                        <li><a href="https://www.mozilla.org/firefox/">What’s New</a></li>
                        <li><a href="https://addons.mozilla.org/firefox/">Add-ons</a></li>
                        <li><a href="https://support.mozilla.org/products/firefox">Support</a></li>
                        <li><a href="https://www.mozilla.org/privacy/firefox/">Privacy</a></li>
                      </ul>
                    {{/content}}
                  {{/embed}}
                </li>
                <li>
                  {{#embed "patterns.molecules.menu.menu-item" icon="true" class="mzp-t-illustration-mobile"}}
                    {{#content "title"}}Firefox Mobile Browser{{/content}}
                    {{#content "link"}}https://www.mozilla.org/firefox/mobile/{{/content}}
                    {{#content "list"}}
                      <ul class="mzp-c-menu-item-list">
                        <li><a href="https://www.mozilla.org/firefox/new/">Download</a></li>
                        <li><a href="https://www.mozilla.org/firefox/mobile/">Firefox Focus</a></li>
                        <li><a href="https://www.mozilla.org/firefox/mobile/">What’s New</a></li>
                        <li><a href="https://addons.mozilla.org/android/">Android Add-ons</a></li>
                        <li><a href="https://support.mozilla.org/products/ios">iOS Support</a></li>
                        <li><a href="https://support.mozilla.org/products/android">Android Support</a></li>
                      </ul>
                    {{/content}}
                  {{/embed}}
                </li>
              </ul>
              <ul>
                <li>
                  {{#embed "patterns.molecules.menu.menu-item" icon="true" class="mzp-t-illustration-pocket"}}
                    {{#content "title"}}Pocket by Firefox{{/content}}
                    {{#content "link"}}https://getpocket.com{{/content}}
                    {{#content "list"}}{{/content}}
                  {{/embed}}
                </li>
                <li>
                  {{#embed "patterns.molecules.menu.menu-item" icon="true" class="mzp-t-illustration-accounts"}}
                    {{#content "title"}}Firefox Accounts{{/content}}
                    {{#content "link"}}https://www.mozilla.org/firefox/accounts/features/{{/content}}
                    {{#content "list"}}{{/content}}
                  {{/embed}}
                </li>
                <li>
                  {{#embed "patterns.molecules.menu.menu-item" icon="true" class="mzp-t-illustration-enterprise"}}
                    {{#content "title"}}Firefox Enterprise{{/content}}
                    {{#content "link"}}https://www.mozilla.org/firefox/enterprise/{{/content}}
                    {{#content "list"}}{{/content}}
                  {{/embed}}
                </li>
                <li>
                  {{#embed "patterns.molecules.menu.menu-item" icon="true" class="mzp-t-illustration-tv"}}
                    {{#content "title"}}Firefox for Fire TV{{/content}}
                    {{#content "link"}}https://www.amazon.com/Mozilla-Firefox-for-Fire-TV/dp/B078B5YMPD{{/content}}
                    {{#content "list"}}{{/content}}
                  {{/embed}}
                </li>
              </ul>
            </div>
            <div class="mzp-c-menu-panel-card">
              {{#embed "patterns.molecules.card.small-card" class="mzp-c-card-extra-small has-aspect-3-2" image="/static/img/navigation/pocket.png" link="https://getpocket.com"}}
                {{#content "content"}}
                  <h2 class="mzp-c-card-title">Pocket by Firefox</h2>
                  <p class="mzp-c-card-desc">This is a short description with only a single sentence and no more.</p>
                {{/content}}
              {{/embed}}
            </div>
          </div>
        </li>
        <li class="mzp-c-menu-category mzp-has-drop-down">
          <a class="mzp-c-menu-title" href="#">Innovations</a>
          <div class="mzp-c-menu-panel mzp-has-card">
            <div class="mzp-c-menu-panel-content">
              <ul>
                <li>
                  {{#embed "patterns.molecules.menu.menu-item"}}
                    {{#content "title"}}Common Voice{{/content}}
                    {{#content "link"}}https://voice.mozilla.org/{{/content}}
                    {{#content "list"}}{{/content}}
                  {{/embed}}
                </li>
                <li>
                  {{#embed "patterns.molecules.menu.menu-item"}}
                    {{#content "title"}}Gaming{{/content}}
                    {{#content "link"}}https://games.mozilla.org/{{/content}}
                    {{#content "list"}}{{/content}}
                  {{/embed}}
                </li>
              </ul>
              <ul>
                <li>
                  {{#embed "patterns.molecules.menu.menu-item"}}
                    {{#content "title"}}Mixed Reality{{/content}}
                    {{#content "link"}}https://mixedreality.mozilla.org/{{/content}}
                    {{#content "list"}}{{/content}}
                  {{/embed}}
                </li>
                <li>
                  {{#embed "patterns.molecules.menu.menu-item"}}
                    {{#content "title"}}Internet of Things{{/content}}
                    {{#content "link"}}https://iot.mozilla.org/{{/content}}
                    {{#content "list"}}{{/content}}
                  {{/embed}}
                </li>
              </ul>
            </div>
            <div class="mzp-c-menu-panel-card">
              {{#embed "patterns.molecules.card.small-card" class="mzp-c-card-extra-small has-aspect-3-2" image="/static/img/navigation/firefox-reality.png" link="https://mixedreality.mozilla.org/"}}
                {{#content "content"}}
                  <h2 class="mzp-c-card-title">Reality Browser</h2>
                  <p class="mzp-c-card-desc">This is a short description with only a single sentence and no more.</p>
                {{/content}}
              {{/embed}}
            </div>
          </div>
        </li>
        <li class="mzp-c-menu-category mzp-has-drop-down">
          <a class="mzp-c-menu-title" href="#">Developer</a>
          <div class="mzp-c-menu-panel mzp-has-card">
            <div class="mzp-c-menu-panel-content">
              <ul>
                <li>
                  {{#embed "patterns.molecules.menu.menu-item" icon="true" class="mzp-t-product-developer"}}
                    {{#content "title"}}Developer Edition{{/content}}
                    {{#content "link"}}https://www.mozilla.org/firefox/developer/{{/content}}
                    {{#content "list"}}{{/content}}
                  {{/embed}}
                </li>
                <li>
                  {{#embed "patterns.molecules.menu.menu-item" icon="true" class="mzp-t-product-beta"}}
                    {{#content "title"}}Firefox Beta{{/content}}
                    {{#content "link"}}https://www.mozilla.org/firefox/channel/desktop/#beta{{/content}}
                    {{#content "list"}}{{/content}}
                  {{/embed}}
                </li>
                <li>
                  {{#embed "patterns.molecules.menu.menu-item" icon="true" class="mzp-t-product-nightly"}}
                    {{#content "title"}}Firefox Nightly{{/content}}
                    {{#content "link"}}https://www.mozilla.org/firefox/channel/desktop/#nightly{{/content}}
                    {{#content "list"}}{{/content}}
                  {{/embed}}
                </li>
              </ul>
              <ul>
                <li>
                  {{#embed "patterns.molecules.menu.menu-item"}}
                    {{#content "title"}}Developer Innovations{{/content}}
                    {{#content "link"}}https://www.mozilla.org/developer/{{/content}}
                    {{#content "list"}}
                      <ul class="mzp-c-menu-item-list">
                        <li><a href="https://research.mozilla.org/webassembly/">Web Assembly</a></li>
                        <li><a href="https://research.mozilla.org/rust/">Rust</a></li>
                        <li><a href="https://games.mozilla.org/">Gaming</a></li>
                        <li><a href="https://mixedreality.mozilla.org/">Mixed Reality</a></li>
                      </ul>
                    {{/content}}
                  {{/embed}}
                </li>
                <li>
                  {{#embed "patterns.molecules.menu.menu-item"}}
                    {{#content "title"}}Resources{{/content}}
                    {{#content "link"}}https://developer.mozilla.org/{{/content}}
                    {{#content "list"}}
                      <ul class="mzp-c-menu-item-list">
                        <li><a href="https://developer.mozilla.org/">Documentation (MDN)</a></li>
                        <li><a href="https://developer.mozilla.org/docs/Tools">Firefox: Dev Tools</a></li>
                        <li><a href="https://developer.mozilla.org/docs/Tools">Firefox Playground</a></li>
                        <li><a href="https://www.mozilla.org/developer/css-grid/">CSS Grid</a></li>
                        <li><a href="https://hacks.mozilla.org/">Developer Blog</a></li>
                      </ul>
                    {{/content}}
                  {{/embed}}
                </li>
              </ul>
            </div>
            <div class="mzp-c-menu-panel-card">
              {{#embed "patterns.molecules.card.small-card" class="mzp-c-card-extra-small has-aspect-3-2" image="/static/img/navigation/developer-edition.png" link="https://www.mozilla.org/firefox/developer/"}}
                {{#content "content"}}
                  <h2 class="mzp-c-card-title">Firefox Developer Edition</h2>
                  <p class="mzp-c-card-desc">This is a short description with only a single sentence and no more.</p>
                {{/content}}
              {{/embed}}
            </div>
          </div>
        </li>
        <li class="mzp-c-menu-category mzp-has-drop-down">
          <a class="mzp-c-menu-title" href="#">About</a>
          <div class="mzp-c-menu-panel mzp-has-card">
            <div class="mzp-c-menu-panel-content">
              <ul>
                <li>
                  {{#embed "patterns.molecules.menu.menu-item"}}
                    {{#content "title"}}Mozilla{{/content}}
                    {{#content "link"}}https://www.mozilla.org/about/{{/content}}
                    {{#content "list"}}
                      <ul class="mzp-c-menu-item-list">
                        <li><a href="https://www.mozilla.org/about/">About Mozilla</a></li>
                        <li><a href="https://www.mozilla.org/about/leadership/">Leadership</a></li>
                        <li><a href="https://www.mozilla.org/foundation/">Mozilla Foundation</a></li>
                        <li><a href="https://blog.mozilla.org/press/">Press Center</a></li>
                        <li><a href="https://www.mozilla.org/mission/">Mozilla Mission</a></li>
                        <li><a href="https://www.mozilla.org/contact/">Contact</a></li>
                      </ul>
                    {{/content}}
                  {{/embed}}
                </li>
                <li>
                  {{#embed "patterns.molecules.menu.menu-item"}}
                    {{#content "title"}}Careers{{/content}}
                    {{#content "link"}}https://careers.mozilla.org/{{/content}}
                    {{#content "list"}}{{/content}}
                  {{/embed}}
                </li>
              </ul>
              <ul>
                <li>
                  {{#embed "patterns.molecules.menu.menu-item"}}
                    {{#content "title"}}Get involved{{/content}}
                    {{#content "link"}}https://www.mozilla.org/contribute/{{/content}}
                    {{#content "list"}}
                      <ul class="mzp-c-menu-item-list">
                        <li><a href="https://www.mozilla.org/contribute/events/">Events</a></li>
                        <li><a href="https://donate.mozilla.org/">Donate</a></li>
                      </ul>
                    {{/content}}
                  {{/embed}}
                </li>
              </ul>
            </div>
            <div class="mzp-c-menu-panel-card">
              {{#embed "patterns.molecules.card.small-card" class="mzp-c-card-extra-small has-aspect-3-2"}}
                {{#content "content"}}
                  <h2 class="mzp-c-card-title">Card Title</h2>
                  <p class="mzp-c-card-desc">This is a short description with only a single sentence and no more.</p>
                {{/content}}
              {{/embed}}
            </div>
          </div>
        </li>
      {{/content}}
    {{/embed}}
  {{/content}}
{{/embed}}

<header class="protosite-demo-header">
  <div class="mzp-l-content">
    <h1>Navigation demo</h1>
  </div>
</header>

<script src="{{@root.baseurl}}/assets/protocol/protocol/js/protocol-menu.js"></script>
<script src="{{@root.baseurl}}/assets/protocol/protocol/js/protocol-navigation.js"></script>
