---
title: Newsletter form
layout: blank
styles:
  - newsletter
---

<div class="mzp-l-content">

  {{#embed "patterns.organisms.newsletter.newsletter"}}{{/embed}}

  <hr>

  <p>With errors.</p>

  <div class="mzp-qa-newsletter-errors">
    {{#embed "patterns.organisms.newsletter.newsletter" errors="true"}}
      {{#content "errors"}}
        <ul class="mzp-u-list-styled">
          <li>Please enter a valid email address.</li>
          <li>You must agree to the privacy notice.</li>
        </ul>
      {{/content}}
    {{/embed}}
  </div>
  <hr>

  <p>Successful subscription.</p>

  <div class="mzp-qa-newsletter-success">
  {{#embed "patterns.organisms.newsletter.newsletter"}}{{/embed}}
  </div>

</div>
