---
title: Section Heading
layout: blank
styles:
  - card
  - section-heading
---

<h2 class="mzp-c-section-heading mzp-has-zap-1">Heading with <strong>zap</strong></h2>
<div class="mzp-l-content">
  {{#embed "patterns.molecules.feature-card.feature-card" class="mzp-l-card-feature-left-half"}}
    {{#content "content"}}
      <h3 class="mzp-c-card-feature-title">Etiam et finibus leo</h3>
      <p class="mzp-c-card-feature-desc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id pharetra mauris, at cursus lorem. Quisque in nisl ullamcorper, iaculis enim non, scelerisque felis. Donec lobortis turpis tellus, posuere congue ante condimentum a.
      </p>
    {{/content}}
  {{/embed}}

  {{#embed "patterns.molecules.feature-card.feature-card" class="mzp-l-card-feature-right-half"}}
    {{#content "content"}}
      <h3 class="mzp-c-card-feature-title">Integer eget est malesuada</h3>
      <p class="mzp-c-card-feature-desc">
        Donec at metus risus. Vivamus ut urna mauris. Quisque tincidunt pellentesque mauris, non porta mauris fermentum quis. Maecenas eget vehicula diam.
      </p>
    {{/content}}
  {{/embed}}
</div>

<div class="mzp-l-content mzp-t-dark">
  <h2 class="mzp-c-section-heading mzp-has-zap-4"><strong>Section</strong> Heading</h2>
  {{#embed "patterns.molecules.feature-card.feature-card" class="mzp-l-card-feature-left-half"}}
    {{#content "content"}}
      <h3 class="mzp-c-card-feature-title">Etiam et finibus leo</h3>
      <p class="mzp-c-card-feature-desc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id pharetra mauris, at cursus lorem. Quisque in nisl ullamcorper, iaculis enim non, scelerisque felis. Donec lobortis turpis tellus, posuere congue ante condimentum a.
      </p>
    {{/content}}
  {{/embed}}
</div>

<div class="mzp-l-content">
  <h2 class="mzp-c-section-heading mzp-has-zap-1">Heading with <strong>zap</strong></h2>
  {{#embed "patterns.molecules.feature-card.feature-card" class="mzp-l-card-feature-left-half"}}
    {{#content "content"}}
      <h3 class="mzp-c-card-feature-title">Etiam et finibus leo</h3>
      <p class="mzp-c-card-feature-desc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id pharetra mauris, at cursus lorem. Quisque in nisl ullamcorper, iaculis enim non, scelerisque felis. Donec lobortis turpis tellus, posuere congue ante condimentum a.
      </p>
    {{/content}}
  {{/embed}}

  {{#embed "patterns.molecules.feature-card.feature-card" class="mzp-l-card-feature-right-half"}}
    {{#content "content"}}
      <h3 class="mzp-c-card-feature-title">Integer eget est malesuada</h3>
      <p class="mzp-c-card-feature-desc">
        Donec at metus risus. Vivamus ut urna mauris. Quisque tincidunt pellentesque mauris, non porta mauris fermentum quis. Maecenas eget vehicula diam.
      </p>
    {{/content}}
  {{/embed}}

  <h2 class="mzp-c-section-heading mzp-has-zap-1">Heading with <strong>zap</strong></h2>
  <div class="mzp-l-card-third">
    {{#embed "patterns.molecules.picto-card.picto-card"}}{{/embed}}
    {{#embed "patterns.molecules.picto-card.picto-card"}}{{/embed}}
    {{#embed "patterns.molecules.picto-card.picto-card"}}{{/embed}}
  </div>
</div>

<div style="background-color: #f9f9fb;">
  <h2 class="mzp-c-section-heading mzp-has-zap-4"><strong>Section</strong> Heading</h2>
  <div class="mzp-l-content">
    {{#embed "patterns.molecules.feature-card.feature-card" class="mzp-l-card-feature-left-half"}}
      {{#content "content"}}
        <h3 class="mzp-c-card-feature-title">Etiam et finibus leo</h3>
        <p class="mzp-c-card-feature-desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id pharetra mauris, at cursus lorem. Quisque in nisl ullamcorper, iaculis enim non, scelerisque felis. Donec lobortis turpis tellus, posuere congue ante condimentum a.
        </p>
      {{/content}}
    {{/embed}}
  </div>

</div>
