---
title: Split Examples
layout: blank
styles:
  - split
---

{{#embed "patterns.organisms.split.split" body_classes="" media_classes="mzp-l-split-media-overflow" }}
  {{#content "content"}}
    <h1>Heading</h1>
    <p>Some fake text so you can see how it looks. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae finibus elit. Maecenas maximus sodales finibus. In at eros sit amet eros placerat vestibulum sed et nisl.</p>
    <p>
      <a class="mzp-c-button" href="#">Call to action</a>
    </p>
  {{/content}}
{{/embed}}

{{#embed "patterns.organisms.split.split" block_classes="mzp-l-split-body-wide" body_classes="" media_classes="" }}
  {{#content "content"}}
    <p>{{#embed "patterns.atoms.logo.wordmark" size="sm" product="mozilla" label="Mozilla"}}{{/embed}}</p>
    <h1 class="mzp-u-title-md">Small Heading</h1>
    <p>Some fake text so you can see how it looks. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae finibus elit. Maecenas maximus sodales finibus. In at eros sit amet eros placerat vestibulum sed et nisl.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae finibus elit. Maecenas maximus sodales finibus. In at eros sit amet eros placerat vestibulum sed et nisl.</p>
  {{/content}}
{{/embed}}

{{#embed "patterns.organisms.split.split" block_classes="mzp-l-split-reversed mzp-l-split-center-on-sm-md" body_classes="mzp-l-split-v-start" media_classes="" }}
  {{#content "content"}}
    <h2 class="mzp-u-title-md">Small Heading</h2>
    <p>Some fake text so you can see how it looks. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae finibus elit. Maecenas maximus sodales finibus. In at eros sit amet eros placerat vestibulum sed et nisl.</p>
    <p>
      <a class="mzp-c-button" href="#">Call to action</a>
    </p>
    <h2 class="mzp-u-title-md">Small Heading</h2>
    <p>Some fake text so you can see how it looks. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae finibus elit. Maecenas maximus sodales finibus. In at eros sit amet eros placerat vestibulum sed et nisl.</p>
    <p>
      <a class="mzp-c-button" href="#">Call to action</a>
    </p>
  {{/content}}
{{/embed}}


{{#embed "patterns.organisms.split.split" block_classes="mzp-t-content-md" }}
  {{#content "content"}}
    <h1>Heading</h1>
    <p>Some fake text so you can see how it looks. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae finibus elit. Maecenas maximus sodales finibus. In at eros sit amet eros placerat vestibulum sed et nisl.</p>
    <p>
      <a class="mzp-c-button" href="#">Call to action</a>
    </p>
  {{/content}}
{{/embed}}


{{#embed "patterns.organisms.split.split" block_classes="mzp-t-content-lg" }}
  {{#content "content"}}
    <h1>Heading</h1>
    <p>Some fake text so you can see how it looks. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae finibus elit. Maecenas maximus sodales finibus. In at eros sit amet eros placerat vestibulum sed et nisl.</p>
    <p>
      <a class="mzp-c-button" href="#">Call to action</a>
    </p>
  {{/content}}
{{/embed}}


{{#embed "patterns.organisms.split.split" block_classes="mzp-t-content-xl" }}
  {{#content "content"}}
    <h1>Heading</h1>
    <p>Some fake text so you can see how it looks. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae finibus elit. Maecenas maximus sodales finibus. In at eros sit amet eros placerat vestibulum sed et nisl.</p>
    <p>
      <a class="mzp-c-button" href="#">Call to action</a>
    </p>
  {{/content}}
{{/embed}}


{{#embed "patterns.organisms.split.split" has_bg="mzp-t-dark" media_classes="mzp-l-split-media-constrain-height" }}
  {{#content "content"}}
    <h2>{{#embed "patterns.atoms.logo.logo" size="md" product="firefox" label="Firefox Browser"}}{{/embed}}</h2>
    <h3>Your life is your business. Not ours.</h3>
    <p class="mzp-u-title-sm">Firefox fights for you.</p>
    <p>
      <a class="mzp-c-button mzp-t-product" href="#">Download Firefox</a>
    </p>
  {{/content}}
{{/embed}}

{{#embed "patterns.organisms.split.split" block_classes="mzp-l-split-pop-bottom" has_bg="mzp-t-dark mzp-t-background-alt" media_classes="mzp-l-split-v-end"}}
  {{#content "content"}}
    <div>{{#embed "patterns.atoms.logo.wordmark" size="md" product="lockwise" label="Firefox Lockwise"}}{{/embed}}</div>
    <h3>Remember your passwords in Lockwise</h3>
    <p>No more getting locked out of apps and websites. Lockbox secures all the passwords you’ve saved in Firefox and gives you easy access across all your iOS devices.</p>
    <p><a href="#" class="mzp-c-cta-link">Get the lockwise app</a></p>
  {{/content}}
{{/embed}}

{{#embed "patterns.organisms.split.split" block_classes="mzp-l-split-hide-media-on-sm-md" body_classes="mzp-l-split-h-end" img_src="image.png" }}
  {{#content "content"}}
    <h2 class="mzp-u-title-md">One log-in. Power and privacy everywhere.</h2>
    <p><a href="#" class="mzp-c-cta-link">Create a Firefox Account</a></p>
  {{/content}}
{{/embed}}


<div class="mzp-c-split mzp-l-split-reversed mzp-l-split-pop-top">
  <div class="mzp-c-split-bg mzp-t-dark" style="background-color:#0a84ff;">
    <div class="mzp-c-split-container">
      <div class="mzp-c-split-media mzp-l-split-media-overflow">
        <img class="mzp-c-split-media-asset" src="https://www.mozilla.org/media/img/firefox/whatsnew_63/wnp63-content-blocking.31a5c46e7f2a.png" alt="" height="374" width="649" style="background:transparent;">
      </div>
      <div class="mzp-c-split-body">
        <h2 class="mzp-u-title-md">One log-in. Power and privacy everywhere.</h2>
        <p><a href="#" class="mzp-c-cta-link">Create a Firefox Account</a></p>
      </div>
    </div>
  </div>
</div>


<section class="mzp-c-split mzp-t-split-nospace">
  <div class="mzp-c-split-bg mzp-t-dark" style="background-color:#2b1141;">
    <div class="mzp-c-split-container">
      <div class="mzp-c-split-media">
        <img class="mzp-c-split-media-asset" src="https://www.mozilla.org/media/img/firefox/privacy/book/privacy-callouts.e7d87ff2178f.png" alt="" style="background:transparent;">
      </div>
      <div class="mzp-c-split-body">
        <h3>Fake News & Filter Bubbles:</h3>

        <p>News recommendations are convenient and, let's be honest, many of us prefer to read content that is in line with our opinion. But what if that content isn’t accurate? Or what if we lose sight of the big picture because we are only exposed to a small part of it – how can we form our own opinion?</p>

        <h3>How much control do we really have? And how much do we willingly give away?</h3>

        <p>Many of us feel that we have little control over their security, privacy and the quality of the information we see online. Maybe that's how you feel, too. Yes, there is room for improvement – but all too often we are rather lazy and use only a fraction of the tools available to us. Or we rely on convenient all-in-one solutions, putting a huge amount of personal data in the hands of a single company without hesitation. Why? Because we don’t want to give it more thought than absolutely necessary. Or maybe also because we simply don’t know how many alternatives we actually have.</p>
      </div>
    </div>
  </div>
</section>

<section class="mzp-c-split mzp-l-split-reversed mzp-t-split-nospace">
  <div class="mzp-c-split-bg" style="background-color:#ffffcc;">
    <div class="mzp-c-split-container">
      <div class="mzp-c-split-media">
        <img class="mzp-c-split-media-asset" src="https://www.mozilla.org/media/img/firefox/privacy/book/privacy-book-arrow-on-face.23a7f964cd1e.png" alt="" style="background:transparent;">
      </div>
      <div class="mzp-c-split-body">
        <h3>Data breaches & fake profiles:</h3>

        <p>Even when organizations are careful with user data, it’s possible that email addresses, passwords and even more sensitive data could get exposed in a data breach. Or, sometimes, we may even unintentionally reveal more than we should or want to about ourselves. Unfortunately, scammers only need a few personal details in order to create fake profiles, which may cast a bad light on the person/people affected for a long time.</p>

        <h3>The web never forgets:</h3>

        <p>According to the GDPR, you can ask for your data to be handed over to you or have it deleted; however, sites might not comply with this request and neither may those who don't offer their services out of Europe.</p>
      </div>
    </div>
  </div>
</section>

<section class="mzp-c-split mzp-t-split-nospace">
  <div class="mzp-c-split-bg mzp-t-dark" style="background-color:#4e1a69;">
    <div class="mzp-c-split-container">
      <div class="mzp-c-split-media">
        <img class="mzp-c-split-media-asset" src="https://www.mozilla.org/media/img/firefox/privacy/book/privacy-target.db6667a8f2e1.png" alt="" style="background:transparent;">
      </div>
      <div class="mzp-c-split-body">
        <h3>Trackers everywhere:</h3>

        <p>Trackers, cookies? You've most likely heard about them before. Trackers are tiny elements on websites that observe and record your behavior in order to pass it on to the page owner(s) or third parties. Some of them even track you across numerous websites.</p>

        <p>Tracking cookies are supposed to tell website owners and advertisers about your browsing behavior and what you’re interested in. It is then used to personalize your web experience. Oftentimes that means that you see customized ads, matched to your interests. Ultimately, the cookies put together a lot of information about you and store it in a profile. That may sound convenient but, unfortunately, these profiles aren’t necessarily accurate. In the best case, that means that you get less relevant ads. In the worst case, the information you see on some websites doesn’t fit your needs and expectations. Also, be aware that your profile can influence, for example, the prices at which products and services are offered to you.</p>
      </div>
    </div>
  </div>
</section>
