---
title: Split Outlines
layout: blank
styles:
  - split
---


<div class="demo">

  <section class="mzp-l-content">
  <div class="mzp-c-emphasis-box">
    <h1 class="mzp-u-title-lg">Layout Visualization</h1>
    <p>In this demo background colours have been applied to the different parts of the component to show how they work together.</p>
    <p>Looking to configure something specific? Skip to that section:</p>
    <ul class="mzp-u-list-styled">
      <li><a href="#layout">Layout options</a></li>
      <li><a href="#body-align">Body positioning</a></li>
      <li><a href="#media-sizing">Media sizing</a></li>
      <li><a href="#media-align">Media positioning</a></li>
      <li><a href="#bg">Background colors</a></li>
      <li><a href="#mobile">Mobile layout &amp; source order</a></li>
    </ul>
  </div>
</section>


  {{#embed "patterns.organisms.split.split"}}
    {{#content "content"}}
      <h2>Default</h2>
      <p>This is the default layout.</p>
      <p>The media is constrained to the width of its container.</p>
      <p>Text is vertically and horizontally centered.</p>
    {{/content}}
  {{/embed}}

  <h2 id="layout">Layout options</h2>

  {{#embed "patterns.organisms.split.split" block_classes="" body_classes="" media_classes="" }}
    {{#content "content"}}
      <h2>default</h2>
      <p>By default the body is 50% of the available space.</p>
    {{/content}}
  {{/embed}}

  {{#embed "patterns.organisms.split.split" block_classes="mzp-l-split-body-narrow" body_classes="" media_classes="" }}
    {{#content "content"}}
      <h2>mzp-l-split-body-narrow</h2>
      <p>The body can be 33%</p>
    {{/content}}
  {{/embed}}

  {{#embed "patterns.organisms.split.split" block_classes="mzp-l-split-body-wide" body_classes="" media_classes="" }}
    {{#content "content"}}
      <h2>mzp-l-split-body-wide</h2>
      <p>The body can be 66%</p>
    {{/content}}
  {{/embed}}


  {{#embed "patterns.organisms.split.split" block_classes="mzp-l-split-reversed" body_classes="" media_classes="mzp-l-split-media-overflow" }}
    {{#content "content"}}
      <h2 class="mzp-c-card-feature-title">mzp-l-split-reversed</h2>
      <p class="mzp-c-card-feature-desc">A reversed block will have the media on the left.</p>
    {{/content}}
  {{/embed}}

  <h3 id="body-align">Body positioning</h3>

  {{#embed "patterns.organisms.split.split"}}
    {{#content "content"}}
      <h2>default</h2>
      <p>The body is vertically centered and horizontally left aligned by default.</p>
    {{/content}}
  {{/embed}}

  {{#embed "patterns.organisms.split.split" body_classes="mzp-l-split-v-end" media_classes="mzp-l-split-media-overflow" }}
    {{#content "content"}}
      <h2>mzp-l-split-v-end</h2>
      <p>The text can be aligned to the bottom.</p>
    {{/content}}
  {{/embed}}

  {{#embed "patterns.organisms.split.split" body_classes="mzp-l-split-v-start" media_classes="mzp-l-split-media-overflow" }}
    {{#content "content"}}
      <h2>mzp-l-split-v-top</h2>
      <p>Or top.</p>
    {{/content}}
  {{/embed}}

  {{#embed "patterns.organisms.split.split" body_classes="mzp-l-split-h-end" media_classes="mzp-l-split-media-overflow" }}
    {{#content "content"}}
      <h2>mzp-l-split-h-end</h2>
      <p>Horizontal alignment can also be set. This is aligned to the other side of the body container.</p>
    {{/content}}
  {{/embed}}

  {{#embed "patterns.organisms.split.split" body_classes="mzp-l-split-h-center mzp-l-split-v-start" media_classes="mzp-l-split-media-overflow" }}
    {{#content "content"}}
      <h2>mzp-l-split-h-center</h2>
      <p>Vertical alignment can be combined with horizontal alignment. For example, this is vertically aligned to the top and horizontally centered.</p>
    {{/content}}
  {{/embed}}

  <h2 id="media-sizing">Media sizing</h2>

  {{#embed "patterns.organisms.split.split"  }}
    {{#content "content"}}
      <h3>Media constrained by width and height</h3>
      <p>By default the media will be constrained by the width and height of the container.</p>
    {{/content}}
  {{/embed}}

  {{#embed "patterns.organisms.split.split" body_classes="" media_classes="mzp-l-split-media-constrain-height" }}
    {{#content "content"}}
      <h3>mzp-l-split-media-constrain-height</h3>
      <p>The media and instead be constrained by the height of the media container, to the maximum of the media height.</p>
    {{/content}}
  {{/embed}}

  {{#embed "patterns.organisms.split.split" body_classes="" media_classes="mzp-l-split-media-constrain-height" }}
    {{#content "content"}}
      <p>In some cases this means the media will overflow the container if it is a wide media next to tall text.</p>
      <div class="spacer">Spacer</div>
      <div class="spacer">Spacer</div>
    {{/content}}
  {{/embed}}

  {{#embed "patterns.organisms.split.split" body_classes="" media_classes="mzp-l-split-media-overflow" }}
    {{#content "content"}}
    <h3>mzp-l-split-media-overflow</h3>
    <p>Or the media can be it's natural height, pushing the container larger.</p>
    <p>With wide media this means the media will overflow the container.</p>
    {{/content}}
  {{/embed}}

  <h3 id="media-align">Media positioning</h3>

  {{#embed "patterns.organisms.split.split" img_src="add-ons.png" media_classes="" }}
    {{#content "content"}}
      <h2>default</h2>
      <p>Media is vertically centered by default.</p>
      <div class="spacer">Spacer</div>
    {{/content}}
  {{/embed}}

  {{#embed "patterns.organisms.split.split" media_classes="mzp-l-split-v-end" img_src="add-ons.png" }}
    {{#content "content"}}
      <h2>mzp-l-split-v-end</h2>
      <p>The media can also be aligned to the bottom.</p>
      <div class="spacer">Spacer</div>
    {{/content}}
  {{/embed}}

  {{#embed "patterns.organisms.split.split" media_classes="mzp-l-split-v-start" img_src="add-ons.png" }}
    {{#content "content"}}
      <h2>v-start</h2>
      <p>Or top.</p>
      <div class="spacer">Spacer</div>
    {{/content}}
  {{/embed}}

  {{#embed "patterns.organisms.split.split" media_classes="mzp-l-split-h-center" img_src="add-ons.png" }}
    {{#content "content"}}
      <h2>mzp-l-split-h-center</h2>
      <p>If `mzp-l-media constrain-width` or `mzp-l-split-media-overflow` are not set, the media can also be horizontally aligned.</p>
      <p>Horizontally centered.</p>
    {{/content}}
  {{/embed}}

  {{#embed "patterns.organisms.split.split" media_classes="mzp-l-split-h-end" img_src="add-ons.png" }}
    {{#content "content"}}
      <h2>mzp-l-split-h-end</h2>
      <p>Or horizontally aligned to the other side of the body container.</p>
    {{/content}}
  {{/embed}}

  {{#embed "patterns.organisms.split.split" media_classes="mzp-l-split-v-end mzp-l-split-h-end" img_src="add-ons.png" }}
    {{#content "content"}}
      <h2>Vertical and horizontal aligment can be combined</h2>
      <p>Here is mzp-l-split-v-end and mzp-l-split-h-end.</p>
      <div class="spacer">Spacer</div>
    {{/content}}
  {{/embed}}

  <h2 id="pop">Media Pop</h2>

  {{#embed "patterns.organisms.split.split" }}
    {{#content "content"}}
      <h2>default</h2>
      <p>Both the body and media will be inside the block container with no padding between them and the edges.</p>
    {{/content}}
  {{/embed}}

  {{#embed "patterns.organisms.split.split" block_classes="mzp-l-split-pop" }}
    {{#content "content"}}
      <h3>mzp-l-split-pop</h3>
      <p class="mzp-c-billboard-desc">Adding a "pop" will make the media pop out of the container. It can be set on both the top and bottom with <code>mzp-l-split-pop</code> or just the top or bottom.</p>
    {{/content}}
  {{/embed}}

  {{#embed "patterns.organisms.split.split" block_classes="mzp-l-split-pop-top" }}
    {{#content "content"}}
      <h4>mzp-l-split-pop-top</h4>
    {{/content}}
  {{/embed}}

  {{#embed "patterns.organisms.split.split" block_classes="mzp-l-split-pop" media_classes="mzp-l-split-media-overflow" }}
    {{#content "content"}}
      <p>Popping the media makes it more likely to overflow when `mzp-l-split-media-overflow` or `mzp-l-split-media-constrain-height` are set.</p>
    {{/content}}
  {{/embed}}

  <h2 id="bg">Background colours</h2>

  {{#embed "patterns.organisms.split.split" has_bg="mzp-t-dark" media_classes="mzp-l-split-media-overflow" }}
    {{#content "content"}}
      <h2>Dark theme</h2>
      <p>Spooky.</p>
    {{/content}}
  {{/embed}}

  {{#embed "patterns.organisms.split.split" has_bg="mzp-t-dark mzp-t-background-alt" media_classes="mzp-l-split-h-center" img_src="add-ons.png" }}
    {{#content "content"}}
      <h2>Dark Alt theme</h2>
      <p>Nice.</p>
    {{/content}}
  {{/embed}}

  {{#embed "patterns.organisms.split.split" has_bg="mzp-t-background-alt" media_classes="mzp-l-split-media-constrain-height" block_classes="mzp-l-split-pop" }}
    {{#content "content"}}
      <h2>Light alt theme</h2>
      <p>With mzp-l-split-pop</p>
    {{/content}}
  {{/embed}}

  <h2 id="mobile">Mobile layout &amp; source order</h2>

  <section class="mzp-c-split">
    <div class="mzp-c-split-container">
      <div class="mzp-c-split-media">
          <img class="mzp-c-split-media-asset mzp-l-split-media-overflow" src="../static/img/split/devices.png" alt="" srcset="../static/img/split/devices-high-res.png 2x">
      </div>
      <div class="mzp-c-split-body">
        <h3>Mobile defaults</h3>
        <p>By default on mobile everything is left aligned and the media is given a max width.</p>
        <p>The media will appear above or below the text based on its order in the source code.</p>
      </div>
    </div>
  </section>

  <section class="mzp-c-split mzp-l-split-center-on-sm-md">
    <div class="mzp-c-split-container">
      <div class="mzp-c-split-body">
        <h3>Centered, media second in source</h3>
        <p>You can centre the content on mobile only with `mzp-l-split-center-on-sm-md`.</p>
      </div>
      <div class="mzp-c-split-media">
          <img class="mzp-c-split-media-asset mzp-l-split-media-overflow" src="../static/img/split/devices.png" alt="" srcset="../static/img/split/devices-high-res.png 2x">
      </div>
    </div>
  </section>

  <section class="mzp-c-split mzp-l-split-hide-media-on-sm-md">
    <div class="mzp-c-split-container">
      <div class="mzp-c-split-media">
          <img class="mzp-c-split-media-asset mzp-l-split-media-overflow" src="../static/img/split/devices.png" alt="" srcset="../static/img/split/devices-high-res.png 2x">
      </div>
      <div class="mzp-c-split-body ">
        <h3>Don't want the media?</h3>
        <p>Hide media only on mobile with `mzp-l-split-hide-media-on-sm-md`.</p>
      </div>
    </div>
  </section>
</div>
