---
title: Type Scale
notes: This is an example demo.
layout: blank
labels:
  - inprogress
  - prototype
styles:
  - type-scale
---

<section class="section">
  <div class="content">

    <h1>{{title}}</h1>

    <p>We define a limited set of proportional font sizes: 12px, 14px, 16px, 18px, 24px, 36px, 48px, 60px, and 72px.</p>

    <h1 class="huge">Size Huge</h1>
    <h1 class="l1">Size Level One</h1>
    <h2 class="l2">Size Level Two</h2>
    <h3 class="l3">Size Level Three</h3>
    <h4 class="l4">Size Level Four</h4>
    <h5 class="l5">Size Level Five</h5>
    <h6 class="l6">Size Level Six</h6>
    <div class="small">Size Small</div>
    <div class="x-small">Size X-Small</div>

  </div>
</section>

<section class="section">
  <div class="content">

    <h1>(L1) Lorem ipsum dolor sit amet</h1>
    <p class="l3">(L3) Ea vero theophrastus pri, no mucius habemus pro, nominati iracundia intellegat nec ad. No tota debet accusata nam, nam no quando eirmod luptatum.</p>

    <h2>(L2) Lorem ipsum dolor sit amet</h2>
    <p class="l4">(L4) Ea vero theophrastus pri, no mucius habemus pro, nominati iracundia intellegat nec ad. No tota debet accusata nam, nam no quando eirmod luptatum.</p>

    <h3>(L3) Lorem ipsum dolor sit amet</h3>
    <p class="l5">(L5) Ea vero theophrastus pri, no mucius habemus pro, nominati iracundia intellegat nec ad. No tota debet accusata nam, nam no quando eirmod luptatum.</p>

    <br><br>
    <hr>
    <br><br>

    <h1>(L1) Lorem ipsum dolor sit amet</h1>
    <p class="l2">(L2) Ea vero theophrastus pri, no mucius habemus pro, nominati iracundia intellegat nec ad. No tota debet accusata nam, nam no quando eirmod luptatum.</p>

    <h2>(L2) Lorem ipsum dolor sit amet</h2>
    <p class="l3">(L3) Ea vero theophrastus pri, no mucius habemus pro, nominati iracundia intellegat nec ad. No tota debet accusata nam, nam no quando eirmod luptatum.</p>

    <h3>(L3) Lorem ipsum dolor sit amet</h3>
    <p class="l4">(L4) Ea vero theophrastus pri, no mucius habemus pro, nominati iracundia intellegat nec ad. No tota debet accusata nam, nam no quando eirmod luptatum.</p>

    <br><br>
    <hr>
    <br><br>

    <h1>Om klas slisxil kontainer gda</h1>
    <p>Edinju informacias sol da, delat lesis smutju da tri, knig mozxuo vipolnil dla mi. Om sol vrem slovio slisxil. Celoju ruszem na ili, zubis aspektis so tof, telo perv navestib es sam. Es brat polnil zavoduf ili. Ku mne vernujm potrebijm, da edat jazikas dev. Znat okno gvorijt oni iz, sol letoju priatelica ja.</p>

    <h2>Bi vse esxte idijte</h2>
    <p>Zvezd mlodju robijt bi ona, te gde ostaj kontainer. Oliv delat razumju tot bo, gda ja znajm ozeros. Ocxis novuo iz gda. Email piatdes pisanie mai vi, vi tri mesto svadba kazahzem, tof grud polnju bu. Ti dopis probudijm des, hcejm telefonijm te tut, sos bi azia idijm.</p>

    <h3>Dost probudijm so dla</h3>
    <p>Des ti cielis imenijt. Es oni ogen naidil cxitanie, to vasx kofe voprosil eda. Es otec padali vecxer dom, din ku zxizn dengis muzxis. Gde ja kupit dusxijm svekrsestra, mai iz smisl pitasx malostis. Varenie ubities om tak, dva es riba problem, obuv prosijm polozxij bu kak. Tof te padali gramatik, ti hce zxiznuf pomocit bistruo, pesok studentis ku den.</p>

    <h4>Ku cxitat ovocxju bezopasostif dom</h4>
    <p>Nigda zxenuf polakzem so tot, bez grod nams politikju ne. Eda li sestra laskajut. Sestra kuharju kamenis dev ja, te zubis kudrju lednek vse. Mensx slavju navestib li dev, ona bu znajm sidili informacias.</p>

  </div>
</section>
