---
title: Type Styles
notes: This is demo of Protocol type styles.
layout: blank
labels:
  - inprogress
  - prototype
styles:
  - type-scale
---

<section class="section">
  <div class="mzp-l-content">

    <h1>{{title}}</h1>
    <p>This page demonstrates the range and scale of type styles in Protocol.</p>

    <p class="label">Display Huge</p>
    <h1 class="scale-sample-huge">Jived fox nymph grabs quick waltz.</h1>

    <p class="label">Display One</p>
    <h1 class="scale-sample-l1">Sphinx of black quartz, judge my vow!</h1>

    <p class="label">Display Two</p>
    <h2 class="scale-sample-l2">The five boxing wizards jump quickly.</h2>

    <p class="label">Display Three</p>
    <h3 class="scale-sample-l3">How vexingly quick daft zebras jump!</h3>

    <p class="label">Display Four</p>
    <h4 class="scale-sample-l4">Pack my box with five dozen liquor jugs.</h4>

    <p class="label">Body One</p>
    <p class="scale-sample-l5">When zombies arrive, quickly fax judge Pat.</p>

    <p class="label">Body Two</p>
    <p class="scale-sample-l6">My ex pub quiz crowd gave joyful thanks.</p>

    <p class="label">Small</p>
    <p class="scale-sample-small">Amazingly few discotheques provide jukeboxes.</p>

    <p class="label">Extra Small</p>
    <p class="scale-sample-x-small">Quizzical twins proved my hijack-bug fix.</p>
  </div>
</section>

<hr>

<section class="section">
  <div class="mzp-l-content">
    <p class="label">Headings paired with paragraphs one step smaller.</p>

    <h1 class="scale-sample-l1">L1. Lorem ipsum dolor sit amet</h1>
    <p class="scale-sample-l2">L2. Ea vero theophrastus pri, no mucius habemus pro, nominati iracundia intellegat nec ad. No tota debet accusata nam, nam no quando eirmod luptatum.</p>

    <h2 class="scale-sample-l2">L2. Lorem ipsum dolor sit amet</h2>
    <p class="scale-sample-l3">L3. Ea vero theophrastus pri, no mucius habemus pro, nominati iracundia intellegat nec ad. No tota debet accusata nam, nam no quando eirmod luptatum.</p>

    <h3 class="scale-sample-l3">L3. Lorem ipsum dolor sit amet</h3>
    <p class="scale-sample-l4">L4. Ea vero theophrastus pri, no mucius habemus pro, nominati iracundia intellegat nec ad. No tota debet accusata nam, nam no quando eirmod luptatum.</p>

    <p class="label">Headings paired with paragraphs two steps smaller.</p>

    <h1 class="scale-sample-l1">L1. Lorem ipsum dolor sit amet</h1>
    <p class="scale-sample-l3">L3. Ea vero theophrastus pri, no mucius habemus pro, nominati iracundia intellegat nec ad. No tota debet accusata nam, nam no quando eirmod luptatum.</p>

    <h2 class="scale-sample-l2">L2. Lorem ipsum dolor sit amet</h2>
    <p class="scale-sample-l4">L4. Ea vero theophrastus pri, no mucius habemus pro, nominati iracundia intellegat nec ad. No tota debet accusata nam, nam no quando eirmod luptatum.</p>

    <h3 class="scale-sample-l3">L3. Lorem ipsum dolor sit amet</h3>
    <p class="scale-sample-l5">L5. Ea vero theophrastus pri, no mucius habemus pro, nominati iracundia intellegat nec ad. No tota debet accusata nam, nam no quando eirmod luptatum.</p>
  </div>
</section>

<hr>

<article class="section moz-manifesto">
  <div class="mzp-l-content">

      <h1><span class="highlight">The Mozilla Manifesto</span></h1>

      <div class="intro">
        <p>The Internet is becoming an increasingly important part of our lives.</p>
        <p>The Mozilla project is a global community of people who believe that openness, innovation, and opportunity are key to the continued health of the Internet. We have worked together since 1998 to ensure that the Internet is developed in a way that benefits everyone. We are best known for creating the Mozilla Firefox web browser.</p>
      </div>

      <p>The Mozilla project uses a community-based approach to create world-class open source software and to develop new types of collaborative activities. We create communities of people involved in making the Internet experience better for all of us.</p>

      <p>As a result of these efforts, we have distilled a set of principles that we believe are critical for the Internet to continue to benefit the public good as well as commercial aspects of life. We set out these principles below.</p>

      <p>The goals for the Manifesto are to:</p>

      <ol class="mzp-u-list-styled">
        <li>articulate a vision for the Internet that Mozilla participants want the Mozilla Foundation to pursue; </li>
        <li>speak to people whether or not they have a technical background;</li>
        <li>make Mozilla contributors proud of what we're doing and motivate us to continue; and</li>
        <li>provide a framework for other people to advance this vision of the Internet.</li>
      </ol>

      <p>These principles will not come to life on their own. People are needed to make the Internet open and participatory - people acting as individuals, working together in groups, and leading others. The Mozilla Foundation is committed to advancing the principles set out in the Mozilla Manifesto. We invite others to join us and make the Internet an ever better place for everyone.</p>

      <h2>Principles</h2>
      <ol class="mzp-u-list-styled">
        <li>The Internet is an integral part of modern life—a key component in education, communication, collaboration, business, entertainment and society as a whole. </li>
        <li>The Internet is a global public resource that must remain open and accessible.</li>
        <li>The Internet must enrich the lives of individual human beings.</li>
        <li>Individuals’ security and privacy on the Internet are fundamental and must not be treated as optional.</li>
        <li>Individuals must have the ability to shape the Internet and their own experiences on the Internet.</li>
        <li>The effectiveness of the Internet as a public resource depends upon interoperability (protocols, data formats, content), innovation and decentralized participation worldwide.</li>
        <li>Free and open source software promotes the development of the Internet as a public resource.</li>
        <li>Transparent community-based processes promote participation, accountability and trust.</li>
        <li>Commercial involvement in the development of the Internet brings many benefits; a balance between commercial profit and public benefit is critical.</li>
        <li>Magnifying the public benefit aspects of the Internet is an important goal, worthy of time, attention and commitment.</li>
      </ol>

      <h2>Advancing the Mozilla Manifesto</h2>
      <p>There are many different ways of advancing the principles of the Mozilla Manifesto. We welcome a broad range of activities, and anticipate the same creativity that Mozilla participants have shown in other areas of the project. For individuals not deeply involved in the Mozilla project, one basic and very effective way to support the Manifesto is to use Mozilla Firefox and other products that embody the principles of the Manifesto.</p>

      <h3>Mozilla Foundation Pledge</h3>
      <p>The Mozilla Foundation pledges to support the Mozilla Manifesto in its activities. Specifically, we will:</p>
      <ul class="mzp-u-list-styled">
        <li>build and enable open-source technologies and communities that support the Manifesto’s principles;</li>
        <li>build and deliver great consumer products that support the Manifesto’s principles;</li>
        <li>use the Mozilla assets (intellectual property such as copyrights and trademarks, infrastructure, funds, and reputation) to keep the Internet an open platform;</li>
        <li>promote models for creating economic value for the public benefit; and</li>
        <li>promote the Mozilla Manifesto principles in public discourse and within the Internet industry.</li>
      </ul>

      <p>Some Foundation activities—currently the creation, delivery and promotion of consumer products—are conducted primarily through the Mozilla Foundation’s wholly owned subsidiary, the Mozilla Corporation.</p>

      <h3>Invitation</h3>
      <p>The Mozilla Foundation invites all others who support the principles of the Mozilla Manifesto to join with us, and to find new ways to make this vision of the Internet a reality.</p>

  </div>
</section>
