---
title: Zap Styles
notes: All 18 zap styles
---

<h2 class="mzp-has-zap-1"><strong>one</strong></h2>
<h2 class="mzp-has-zap-2"><strong>two</strong></h2>
<h2 class="mzp-has-zap-3"><strong>three</strong></h2>
<h2 class="mzp-has-zap-4"><strong>four</strong></h2>
<h2 class="mzp-has-zap-5"><strong>five</strong></h2>
<h2 class="mzp-has-zap-6"><strong>six</strong></h2>
<h2 class="mzp-has-zap-7"><strong>seven</strong></h2>
<h2 class="mzp-has-zap-8"><strong>eight</strong></h2>
<h2 class="mzp-has-zap-9"><strong>nine</strong></h2>
<h2 class="mzp-has-zap-10"><strong>ten</strong></h2>
<h2 class="mzp-has-zap-11"><strong>eleven</strong></h2>
<h2 class="mzp-has-zap-12"><strong>twelve</strong></h2>
<h2 class="mzp-has-zap-13"><strong>thirteen</strong></h2>
<h2 class="mzp-has-zap-14"><strong>fourteen</strong></h2>
<h2 class="mzp-has-zap-15"><strong>fifteen</strong></h2>
<h2 class="mzp-has-zap-16"><strong>sixteen</strong></h2>
<h2 class="mzp-has-zap-17"><strong>seventeen</strong></h2>
<h2 class="mzp-has-zap-18"><strong>eighteen</strong></h2>
