// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@use '../../includes/lib' as *;

html {
    font-size: 100%;
    background: $color-white;
}

body {
    background: $background-color;
    color: $body-text-color;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    @include text-body-md;

    @supports (--css: variable) {
        background: var(--background-color);
        color: var(--body-text-color);
    }
}

// A few places use a class to hide elements. We should try to avoid that.
.hidden {
    @include hidden;
}
