// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@use '../../includes/lib' as *;

// Rely on source order for the stateful style overrides
// 1. Visited
// 2. Hover
// 3. Active
// 4. Focus


a {
    color: var(--link-color);
    text-decoration: underline;

    &:visited {
        color: var(--link-color-visited);
    }

    &:hover, &:active, &:focus {
        color: var(--link-color-hover);
        text-decoration: none;
    }

    &:active {
        background-color: rgba(0, 0, 0, 0.05);
    }
}

// any descendant link will inherit dark theming (replace light-links mixin)
// this might belong in root file? site-wide dark theme class
.mzp-t-dark {
    --link-color: var(--link-color-inverse);
    --link-color-hover: var(--link-color-hover-inverse);
    --link-color-visited: var(--link-color-visited-inverse);
    --link-color-visited-hover: var(--link-color-visited-hover-inverse);
}

// any descendant link will inherit white theming (replace white-links mixin)
// link-specific theme class
.mzp-t-white-links {
    --link-color: #{$color-white};
    --link-color-hover: #{$color-white};
    --link-color-visited: #{$color-white};
    --link-color-visited-hover: #{$color-white};
}

// apply directly to link
.mzp-c-cta-link {
    font-family: var(--button-font-family);
    font-weight: bold;
}
