// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@use '../../includes/lib' as *;

// Rely on source order for the stateful style overrides
// 1. Visited
// 2. Hover
// 3. Active
// 4. Focus

a {
    color: $link-color;
    text-decoration: underline;

    &:visited {
        color: $link-color-visited;
    }

    &:hover,
    &:active {
        color: $link-color-hover;
        text-decoration: none;
    }

    &:active {
        background-color: rgb(0, 0, 0, 0.05);
    }

    @supports (--css: variables) {
        color: var(--link-color);

        &:visited {
            color: var(--link-color-visited);
        }

        &:hover,
        &:active {
            color: var(--link-color-hover);
        }
    }
}

.mzp-t-dark {
    @include light-links;
}

.mzp-c-cta-link {
    font-family: $button-font-family;
    font-weight: bold;

    @supports (--css: variables) {
        font-family: var(--button-font-family);
    }
}
