// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@use '../../includes/lib' as *;

// Rely on source order for the stateful style overrides
// 1. Visited
// 2. Hover
// 3. Active
// 4. Focus

a {
    color: $link-color;
    text-decoration: underline;

    // where is used to decrease specificity to avoid conflicts with button styles
    &:where(:visited) {
        color: $link-color-visited;
    }

    &:hover,
    &:active {
        color: $link-color-hover;
        text-decoration: none;
    }

    &:active {
        background-color: rgb(0, 0, 0, 0.05);
    }

    @supports (--css: variables) {
        color: var(--link-color);

        &:where(:visited) {
            color: var(--link-color-visited);
        }

        &:hover,
        &:active {
            color: var(--link-color-hover);
        }
    }
}

.mzp-t-dark {
    @include light-links;
}

.mzp-c-cta-link {
    font-family: var(--theme-button-font-family);
    font-weight: bold;

    &.mzp-t-xs {
        @include text-body-sm;
    }

    &.mzp-t-sm {
        @include text-body-md;
    }

    &.mzp-t-md {
        @include text-body-lg;
    }

    &.mzp-t-lg {
        @include text-heading-xs;
    }

    &.mzp-t-xl {
        @include text-heading-sm;
    }

    &.mzp-t-2xl {
        @include text-heading-lg;
    }

    // Icon support
    &-icon-start,
    &-icon-end {
        align-items: center;
        display: inline-flex;
        font-size: 1em;
        line-height: 1;
        height: 1em;
        justify-content: center;
        width: auto;
        vertical-align: text-top;
        border-top: 0.15em solid transparent;
        box-sizing: border-box;

        img,
        svg {
            height: 100%;
            width: auto;
        }
    }

    &-icon-start {
        @include bidi(((margin-right, 0.5ch, 0), (margin-left, 0, 0.5ch),));
    }

    &-icon-end {
        @include bidi(((margin-left, 0.5ch, 0), (margin-right, 0, 0.5ch),));
    }

}
