// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@use '../../includes/lib' as *;

a {
    color: var(--link-color);
    text-decoration: underline;

    &:where(:hover, :focus, :active) {
        color: var(--link-color-hover);
        text-decoration: none;
    }

    &:where(:active) {
        background-color: rgba(0, 0, 0, 0.05);
    }

    &:where(:visited) {
        --link-color: var(--link-color-visited);
        --link-color-hover: var(--link-color-visited-hover);
    }
}

.mzp-t-dark {
    --link-color: var(--link-color-inverse);
    --link-color-hover: var(--link-color-hover-inverse);
    --link-color-visited: var(--link-color-visited-inverse);
    --link-color-visited-hover:var(--link-color-visited-hover-inverse);
}

.mzp-t-white-links {
    --link-color: $color-white;
    --link-color-hover: $color-white;
    --link-color-visited: $color-white;
    --link-color-visited-hover: $color-white;
}

.mzp-c-cta-link {
    font-family: var(--button-font-family);
    font-weight: bold;
}
