// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@use '../../includes/lib' as *;

// We most frequently use lists for semantic structure and don't actually
// want to display them as lists. It's simpler to reset lists globally
// and only display them as lists in text when needed with the .mzp-u-list-styled class.
ul,
ol {
    list-style: none;
}

ul.mzp-u-list-styled {
    list-style: disc;
    margin-inline-start: $layout-sm;

    li {
        margin-bottom: 0.25em;
    }

    ul {
        list-style: circle;
        margin-bottom: 0;
        margin-inline-start: $layout-xs;
    }

    ol {
        list-style: decimal;
        margin-bottom: 0;
        margin-inline-start: $layout-xs;
    }
}

ol.mzp-u-list-styled {
    list-style: decimal;
    margin-inline-start: $layout-sm;

    li {
        margin-bottom: 0.25em;
    }

    ol {
        list-style: lower-alpha;
        margin-bottom: 0;
        margin-inline-start: $layout-xs;
    }

    ul {
        list-style: disc;
        margin-bottom: 0;
        margin-inline-start: $layout-xs;
    }
}

dl.mzp-u-list-styled {
    dt {
        font-weight: bold;
        margin-bottom: 0;
    }

    dd {
        margin-bottom: 0.25em;
        margin-inline-start: $layout-xs;
    }

    ul,
    ol {
        margin-bottom: 0;
        margin-inline-start: $layout-xs;
    }

    ul {
        list-style: circle;
    }
}

/* !important required to trump specificity and print stylesheet overrides */
.mzp-u-list-unstyled {
    list-style: none !important; /* stylelint-disable-line declaration-no-important */
    margin-inline: 0 !important; /* stylelint-disable-line declaration-no-important */

    ul,
    ol {
        list-style: none !important; /* stylelint-disable-line declaration-no-important */
        margin-inline: 0 !important; /* stylelint-disable-line declaration-no-important */
    }
}
