// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@use '../../includes/lib' as *;

// Base styles for heading elements

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $title-font-family;
    color: $title-text-color;
    font-weight: bold;
    margin: 0 0 0.5em;

    .mzp-t-dark & {
        color: $title-text-color-inverse;
    }

    @supports (--css: variables) {
        font-family: var(--title-font-family);
        font-variant-ligatures: var(--title-font-ligatures);
        font-weight: var(--title-font-weight);
        letter-spacing: var(--title-letter-spacing);
        color: var(--title-text-color);

        .mzp-t-dark & {
            color: var(--title-text-color-inverse);
        }
    }
}

// Type scale mixins can be found in includes/mixins/_typography.scss
// Sizes are defined in includes/_themes.scss
h1 {
    @include text-title-lg;
}

h2 {
    @include text-title-md;
}

h3 {
    @include text-title-sm;
}

h4 {
    @include text-title-xs;
}

h5 {
    @include text-title-2xs;
}

h6 {
    @include text-title-3xs;
}
