// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@use '../../includes/lib' as *;

// Base styles for heading elements

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--theme-heading-text-color);
    font-family: var(--theme-heading-font-family);
    font-variant-ligatures: var(--theme-heading-font-ligatures);
    letter-spacing: var(--theme-heading-letter-spacing);
    text-wrap: balance;
    margin: 0 0 0.5em;

    .mzp-t-dark & {
        color: var(--theme-heading-text-color-inverse);
    }
}

// Type scale mixins can be found in includes/mixins/_typography.scss
// Sizes are defined in includes/_themes.scss
h1 {
    @include text-heading-lg;
}

h2 {
    @include text-heading-md;
}

h3 {
    @include text-heading-sm;
}

h4 {
    @include text-heading-xs;
}

h5 {
    @include text-heading-2xs;
}

h6 {
    @include text-heading-3xs;
}
