---
name: Color
doclayout: true
foundation: true
description: |
  Mozilla colors are bold, vibrant and attractive. They enhance the experience by providing visual clues and by bringing attention to primary actions.
---


<table class="protosite-pattern-table">
  <tr>
    <th scope="col"></th>
    <th scope="col"><strong>Name</strong></th>
    <th scope="col"><strong>Value</strong></th>
  </tr>
  {{#each (data "colors")}}
    <tr>
      <td><svg class="protosite-swatch-image" width="32px" height="32px">
        <rect fill="{{ value }}" width="100%" height="100%" rx="32" ry="32"/>
      </svg></td>
      <td>{{ token }}</td>
      <td>{{ value }}</td>
    </tr>
  {{/each}}
</table>
