---
name: Tokens
order: 4
doclayout: true
foundation: true
description: |
  A complete list of Protocol tokens and their values. The source code for all tokens can be <a href="https://github.com/mozilla/protocol-tokens">found here</a>.
---

<table class="protosite-pattern-table">
  <tr>
    <th scope="col"></th>
    <th scope="col">Name</th>
    <th scope="col">Value</th>
  </tr>
  {{#each (data "index")}}
    <tr>
      <td><div class="protosite-token protosite-{{toSlug token}}"></div></td>
      <td>{{ token }}</td>
      <td>{{ value }}</td>
    </tr>
  {{/each}}
</table>
