<form class="protosite-bidi-controls">
  <fieldset>
    <label>LTR: <input class="protosite-bidi-toggle" type="radio" value="ltr" name="protosite-{{id}}-preview" checked /></label>
    <label>RTL: <input class="protosite-bidi-toggle" type="radio" value="rtl" name="protosite-{{id}}-preview" /></label>
  </fieldset>
</form>

