<footer class="mzp-c-footer">
  <div class="mzp-l-content">
    <nav class="mzp-c-footer-primary">
      <div class="mzp-c-footer-primary-logo"><a href="https://www.mozilla.org/">Mozilla</a></div>

    </nav>

    <nav class="mzp-c-footer-secondary">
      <div class="mzp-c-footer-legal">
        <ul>
          <li><a rel="nofollow" href="https://www.mozilla.org/privacy/websites/">Website Privacy Notice</a></li>
          <li><a rel="nofollow" href="https://www.mozilla.org/privacy/websites/#cookies">Cookies</a></li>
          <li><a rel="nofollow" href="https://www.mozilla.org/about/legal/">Legal</a></li>
        </ul>
        <p class="mzp-c-footer-license">
          Portions of this content are ©1998–2018 by individual mozilla.org
          contributors. Content available under a
          <a
           rel="license" href="https://www.mozilla.org/foundation/licensing/website-content/">Creative Commons license</a>.
        </p>
      </div>

    </nav>
  </div>
</footer>
