{{!-- Hero partial --}}

<header class="protosite-hero">
  <div class="mzp-l-content">
    <div class="protosite-hero-one">
      <h4>pro · to · col</h4>
      <p>
        <i>noun:</i> the official procedure or system of rules governing
      </p>
      <a class="mzp-c-button mzp-c-button-light" href="{{@root.baseurl}}/about">Learn More</a>
    </div>
    <div class="protosite-hero-two">
        <div transform="translate(349 221)">

          <div id="protosite-brick2" class="protosite-brick">
            <svg viewbox="0 0 88 120" xmlns="http://www.w3.org/2000/svg">
              <path fill="#FFF" d="M0 30L44 0l44 30v60l-44 30L0 90z"/>
              <path d="M61.567 32H63c0 8.6-8.727 15-19 15s-19-6.4-19-15h1.433H25v-8c0-3.099 1.133-5.912 3.063-8.242L6.909 30.036 44 56l37.09-25.964-21.153-14.278C61.867 18.088 63 20.9 63 24v8h-1.433zm-2.686 1.393C55.363 36.86 49.94 39 44 39c-5.94 0-11.363-2.14-14.88-5.607C30.052 38.81 36.36 43 44 43c7.64 0 13.947-4.19 14.88-9.607zm-22.798-23.05C38.51 9.477 41.198 9 44 9c2.802 0 5.49.476 7.917 1.344L44 5l-7.917 5.344zM84 33.858L46 61v52.65L84 88V33.857zM42 113.65V61L4 33.857V88l38 25.65zM0 30L44 0l44 30v60l-44 30L0 90V30zm44 5c8.284 0 15-4.925 15-11s-6.716-11-15-11c-8.284 0-15 4.925-15 11s6.716 11 15 11z" id="Combined-Shape" fill="#000"/>
            </svg>
          </div>

          <div id="protosite-brick3" class="protosite-brick">
            <svg viewbox="0 0 88 120" xmlns="http://www.w3.org/2000/svg">
              <path fill="#FFF" d="M0 30L44 0l44 30v60l-44 30L0 90z"/>
              <path d="M61.567 32H63c0 8.6-8.727 15-19 15s-19-6.4-19-15h1.433H25v-8c0-3.099 1.133-5.912 3.063-8.242L6.909 30.036 44 56l37.09-25.964-21.153-14.278C61.867 18.088 63 20.9 63 24v8h-1.433zm-2.686 1.393C55.363 36.86 49.94 39 44 39c-5.94 0-11.363-2.14-14.88-5.607C30.052 38.81 36.36 43 44 43c7.64 0 13.947-4.19 14.88-9.607zm-22.798-23.05C38.51 9.477 41.198 9 44 9c2.802 0 5.49.476 7.917 1.344L44 5l-7.917 5.344zM84 33.858L46 61v52.65L84 88V33.857zM42 113.65V61L4 33.857V88l38 25.65zM0 30L44 0l44 30v60l-44 30L0 90V30zm44 5c8.284 0 15-4.925 15-11s-6.716-11-15-11c-8.284 0-15 4.925-15 11s6.716 11 15 11z" id="Combined-Shape" fill="#000"/>
            </svg>
          </div>

          <div id="protosite-brick4" class="protosite-brick">
            <svg viewbox="0 0 88 120" xmlns="http://www.w3.org/2000/svg">
              <path fill="#FFF" d="M0 30L44 0l44 30v60l-44 30L0 90z"/>
              <path d="M61.567 32H63c0 8.6-8.727 15-19 15s-19-6.4-19-15h1.433H25v-8c0-3.099 1.133-5.912 3.063-8.242L6.909 30.036 44 56l37.09-25.964-21.153-14.278C61.867 18.088 63 20.9 63 24v8h-1.433zm-2.686 1.393C55.363 36.86 49.94 39 44 39c-5.94 0-11.363-2.14-14.88-5.607C30.052 38.81 36.36 43 44 43c7.64 0 13.947-4.19 14.88-9.607zm-22.798-23.05C38.51 9.477 41.198 9 44 9c2.802 0 5.49.476 7.917 1.344L44 5l-7.917 5.344zM84 33.858L46 61v52.65L84 88V33.857zM42 113.65V61L4 33.857V88l38 25.65zM0 30L44 0l44 30v60l-44 30L0 90V30zm44 5c8.284 0 15-4.925 15-11s-6.716-11-15-11c-8.284 0-15 4.925-15 11s6.716 11 15 11z" id="Combined-Shape" fill="#000"/>
            </svg>
          </div>

          <div id="protosite-brick5" class="protosite-brick">
            <svg viewbox="0 0 88 120" xmlns="http://www.w3.org/2000/svg">
              <path fill="#FFF" d="M0 30L44 0l44 30v60l-44 30L0 90z"/>
              <path d="M61.567 32H63c0 8.6-8.727 15-19 15s-19-6.4-19-15h1.433H25v-8c0-3.099 1.133-5.912 3.063-8.242L6.909 30.036 44 56l37.09-25.964-21.153-14.278C61.867 18.088 63 20.9 63 24v8h-1.433zm-2.686 1.393C55.363 36.86 49.94 39 44 39c-5.94 0-11.363-2.14-14.88-5.607C30.052 38.81 36.36 43 44 43c7.64 0 13.947-4.19 14.88-9.607zm-22.798-23.05C38.51 9.477 41.198 9 44 9c2.802 0 5.49.476 7.917 1.344L44 5l-7.917 5.344zM84 33.858L46 61v52.65L84 88V33.857zM42 113.65V61L4 33.857V88l38 25.65zM0 30L44 0l44 30v60l-44 30L0 90V30zm44 5c8.284 0 15-4.925 15-11s-6.716-11-15-11c-8.284 0-15 4.925-15 11s6.716 11 15 11z" id="Combined-Shape" fill="#000"/>
            </svg>
          </div>

          <div id="protosite-brick6" class="protosite-brick">
            <svg viewbox="0 0 88 120" xmlns="http://www.w3.org/2000/svg">
              <path fill="#FFF" d="M0 30L44 0l44 30v60l-44 30L0 90z"/>
              <path d="M61.567 32H63c0 8.6-8.727 15-19 15s-19-6.4-19-15h1.433H25v-8c0-3.099 1.133-5.912 3.063-8.242L6.909 30.036 44 56l37.09-25.964-21.153-14.278C61.867 18.088 63 20.9 63 24v8h-1.433zm-2.686 1.393C55.363 36.86 49.94 39 44 39c-5.94 0-11.363-2.14-14.88-5.607C30.052 38.81 36.36 43 44 43c7.64 0 13.947-4.19 14.88-9.607zm-22.798-23.05C38.51 9.477 41.198 9 44 9c2.802 0 5.49.476 7.917 1.344L44 5l-7.917 5.344zM84 33.858L46 61v52.65L84 88V33.857zM42 113.65V61L4 33.857V88l38 25.65zM0 30L44 0l44 30v60l-44 30L0 90V30zm44 5c8.284 0 15-4.925 15-11s-6.716-11-15-11c-8.284 0-15 4.925-15 11s6.716 11 15 11z" id="Combined-Shape" fill="#000"/>
            </svg>
          </div>

          <div id="protosite-brick7" class="protosite-brick">
            <svg viewbox="0 0 88 120" xmlns="http://www.w3.org/2000/svg">
              <path fill="#FFF" d="M0 30L44 0l44 30v60l-44 30L0 90z"/>
              <path d="M61.567 32H63c0 8.6-8.727 15-19 15s-19-6.4-19-15h1.433H25v-8c0-3.099 1.133-5.912 3.063-8.242L6.909 30.036 44 56l37.09-25.964-21.153-14.278C61.867 18.088 63 20.9 63 24v8h-1.433zm-2.686 1.393C55.363 36.86 49.94 39 44 39c-5.94 0-11.363-2.14-14.88-5.607C30.052 38.81 36.36 43 44 43c7.64 0 13.947-4.19 14.88-9.607zm-22.798-23.05C38.51 9.477 41.198 9 44 9c2.802 0 5.49.476 7.917 1.344L44 5l-7.917 5.344zM84 33.858L46 61v52.65L84 88V33.857zM42 113.65V61L4 33.857V88l38 25.65zM0 30L44 0l44 30v60l-44 30L0 90V30zm44 5c8.284 0 15-4.925 15-11s-6.716-11-15-11c-8.284 0-15 4.925-15 11s6.716 11 15 11z" id="Combined-Shape" fill="#000"/>
            </svg>
          </div>

          <div id="protosite-brick8" class="protosite-brick">
            <svg viewbox="0 0 88 120" xmlns="http://www.w3.org/2000/svg">
              <path fill="#FFF" d="M0 30L44 0l44 30v60l-44 30L0 90z"/>
              <path d="M61.567 32H63c0 8.6-8.727 15-19 15s-19-6.4-19-15h1.433H25v-8c0-3.099 1.133-5.912 3.063-8.242L6.909 30.036 44 56l37.09-25.964-21.153-14.278C61.867 18.088 63 20.9 63 24v8h-1.433zm-2.686 1.393C55.363 36.86 49.94 39 44 39c-5.94 0-11.363-2.14-14.88-5.607C30.052 38.81 36.36 43 44 43c7.64 0 13.947-4.19 14.88-9.607zm-22.798-23.05C38.51 9.477 41.198 9 44 9c2.802 0 5.49.476 7.917 1.344L44 5l-7.917 5.344zM84 33.858L46 61v52.65L84 88V33.857zM42 113.65V61L4 33.857V88l38 25.65zM0 30L44 0l44 30v60l-44 30L0 90V30zm44 5c8.284 0 15-4.925 15-11s-6.716-11-15-11c-8.284 0-15 4.925-15 11s6.716 11 15 11z" id="Combined-Shape" fill="#000"/>
            </svg>
          </div>

          <div id="protosite-brick9" class="protosite-brick">
            <svg viewbox="0 0 88 120" xmlns="http://www.w3.org/2000/svg">
              <path fill="#FFF" d="M0 30L44 0l44 30v60l-44 30L0 90z"/>
              <path d="M61.567 32H63c0 8.6-8.727 15-19 15s-19-6.4-19-15h1.433H25v-8c0-3.099 1.133-5.912 3.063-8.242L6.909 30.036 44 56l37.09-25.964-21.153-14.278C61.867 18.088 63 20.9 63 24v8h-1.433zm-2.686 1.393C55.363 36.86 49.94 39 44 39c-5.94 0-11.363-2.14-14.88-5.607C30.052 38.81 36.36 43 44 43c7.64 0 13.947-4.19 14.88-9.607zm-22.798-23.05C38.51 9.477 41.198 9 44 9c2.802 0 5.49.476 7.917 1.344L44 5l-7.917 5.344zM84 33.858L46 61v52.65L84 88V33.857zM42 113.65V61L4 33.857V88l38 25.65zM0 30L44 0l44 30v60l-44 30L0 90V30zm44 5c8.284 0 15-4.925 15-11s-6.716-11-15-11c-8.284 0-15 4.925-15 11s6.716 11 15 11z" id="Combined-Shape" fill="#000"/>
            </svg>
          </div>

          <div id="protosite-brick10" class="protosite-brick">
            <svg viewbox="0 0 88 120" xmlns="http://www.w3.org/2000/svg">
              <path fill="#FFF" d="M0 30L44 0l44 30v60l-44 30L0 90z"/>
              <path d="M61.567 32H63c0 8.6-8.727 15-19 15s-19-6.4-19-15h1.433H25v-8c0-3.099 1.133-5.912 3.063-8.242L6.909 30.036 44 56l37.09-25.964-21.153-14.278C61.867 18.088 63 20.9 63 24v8h-1.433zm-2.686 1.393C55.363 36.86 49.94 39 44 39c-5.94 0-11.363-2.14-14.88-5.607C30.052 38.81 36.36 43 44 43c7.64 0 13.947-4.19 14.88-9.607zm-22.798-23.05C38.51 9.477 41.198 9 44 9c2.802 0 5.49.476 7.917 1.344L44 5l-7.917 5.344zM84 33.858L46 61v52.65L84 88V33.857zM42 113.65V61L4 33.857V88l38 25.65zM0 30L44 0l44 30v60l-44 30L0 90V30zm44 5c8.284 0 15-4.925 15-11s-6.716-11-15-11c-8.284 0-15 4.925-15 11s6.716 11 15 11z" id="Combined-Shape" fill="#000"/>
            </svg>
          </div>

          <div id="protosite-brick11" class="protosite-brick">
            <svg viewbox="0 0 88 120" xmlns="http://www.w3.org/2000/svg">
              <path fill="#FFF" d="M0 30L44 0l44 30v60l-44 30L0 90z"/>
              <path d="M61.567 32H63c0 8.6-8.727 15-19 15s-19-6.4-19-15h1.433H25v-8c0-3.099 1.133-5.912 3.063-8.242L6.909 30.036 44 56l37.09-25.964-21.153-14.278C61.867 18.088 63 20.9 63 24v8h-1.433zm-2.686 1.393C55.363 36.86 49.94 39 44 39c-5.94 0-11.363-2.14-14.88-5.607C30.052 38.81 36.36 43 44 43c7.64 0 13.947-4.19 14.88-9.607zm-22.798-23.05C38.51 9.477 41.198 9 44 9c2.802 0 5.49.476 7.917 1.344L44 5l-7.917 5.344zM84 33.858L46 61v52.65L84 88V33.857zM42 113.65V61L4 33.857V88l38 25.65zM0 30L44 0l44 30v60l-44 30L0 90V30zm44 5c8.284 0 15-4.925 15-11s-6.716-11-15-11c-8.284 0-15 4.925-15 11s6.716 11 15 11z" id="Combined-Shape" fill="#000"/>
            </svg>
          </div>

          <div id="protosite-brick12" class="protosite-brick">
            <svg viewbox="0 0 88 120" xmlns="http://www.w3.org/2000/svg">
              <path fill="#FFF" d="M0 30L44 0l44 30v60l-44 30L0 90z"/>
              <path d="M61.567 32H63c0 8.6-8.727 15-19 15s-19-6.4-19-15h1.433H25v-8c0-3.099 1.133-5.912 3.063-8.242L6.909 30.036 44 56l37.09-25.964-21.153-14.278C61.867 18.088 63 20.9 63 24v8h-1.433zm-2.686 1.393C55.363 36.86 49.94 39 44 39c-5.94 0-11.363-2.14-14.88-5.607C30.052 38.81 36.36 43 44 43c7.64 0 13.947-4.19 14.88-9.607zm-22.798-23.05C38.51 9.477 41.198 9 44 9c2.802 0 5.49.476 7.917 1.344L44 5l-7.917 5.344zM84 33.858L46 61v52.65L84 88V33.857zM42 113.65V61L4 33.857V88l38 25.65zM0 30L44 0l44 30v60l-44 30L0 90V30zm44 5c8.284 0 15-4.925 15-11s-6.716-11-15-11c-8.284 0-15 4.925-15 11s6.716 11 15 11z" id="Combined-Shape" fill="#000"/>
            </svg>
          </div>

          <div id="protosite-brick13" class="protosite-brick">
            <svg viewbox="0 0 88 120" xmlns="http://www.w3.org/2000/svg">
              <path fill="#FFF" d="M0 30L44 0l44 30v60l-44 30L0 90z"/>
              <path d="M61.567 32H63c0 8.6-8.727 15-19 15s-19-6.4-19-15h1.433H25v-8c0-3.099 1.133-5.912 3.063-8.242L6.909 30.036 44 56l37.09-25.964-21.153-14.278C61.867 18.088 63 20.9 63 24v8h-1.433zm-2.686 1.393C55.363 36.86 49.94 39 44 39c-5.94 0-11.363-2.14-14.88-5.607C30.052 38.81 36.36 43 44 43c7.64 0 13.947-4.19 14.88-9.607zm-22.798-23.05C38.51 9.477 41.198 9 44 9c2.802 0 5.49.476 7.917 1.344L44 5l-7.917 5.344zM84 33.858L46 61v52.65L84 88V33.857zM42 113.65V61L4 33.857V88l38 25.65zM0 30L44 0l44 30v60l-44 30L0 90V30zm44 5c8.284 0 15-4.925 15-11s-6.716-11-15-11c-8.284 0-15 4.925-15 11s6.716 11 15 11z" id="Combined-Shape" fill="#000"/>
            </svg>
          </div>

          <div id="protosite-brick14" class="protosite-brick">
            <svg viewbox="0 0 88 120" xmlns="http://www.w3.org/2000/svg">
              <path fill="#FFF" d="M0 30L44 0l44 30v60l-44 30L0 90z"/>
              <path d="M61.567 32H63c0 8.6-8.727 15-19 15s-19-6.4-19-15h1.433H25v-8c0-3.099 1.133-5.912 3.063-8.242L6.909 30.036 44 56l37.09-25.964-21.153-14.278C61.867 18.088 63 20.9 63 24v8h-1.433zm-2.686 1.393C55.363 36.86 49.94 39 44 39c-5.94 0-11.363-2.14-14.88-5.607C30.052 38.81 36.36 43 44 43c7.64 0 13.947-4.19 14.88-9.607zm-22.798-23.05C38.51 9.477 41.198 9 44 9c2.802 0 5.49.476 7.917 1.344L44 5l-7.917 5.344zM84 33.858L46 61v52.65L84 88V33.857zM42 113.65V61L4 33.857V88l38 25.65zM0 30L44 0l44 30v60l-44 30L0 90V30zm44 5c8.284 0 15-4.925 15-11s-6.716-11-15-11c-8.284 0-15 4.925-15 11s6.716 11 15 11z" id="Combined-Shape" fill="#000"/>
            </svg>
          </div>

          <div id="protosite-brick15" class="protosite-brick">
            <svg viewbox="0 0 88 120" xmlns="http://www.w3.org/2000/svg">
              <path fill="#FFF" d="M0 30L44 0l44 30v60l-44 30L0 90z"/>
              <path d="M61.567 32H63c0 8.6-8.727 15-19 15s-19-6.4-19-15h1.433H25v-8c0-3.099 1.133-5.912 3.063-8.242L6.909 30.036 44 56l37.09-25.964-21.153-14.278C61.867 18.088 63 20.9 63 24v8h-1.433zm-2.686 1.393C55.363 36.86 49.94 39 44 39c-5.94 0-11.363-2.14-14.88-5.607C30.052 38.81 36.36 43 44 43c7.64 0 13.947-4.19 14.88-9.607zm-22.798-23.05C38.51 9.477 41.198 9 44 9c2.802 0 5.49.476 7.917 1.344L44 5l-7.917 5.344zM84 33.858L46 61v52.65L84 88V33.857zM42 113.65V61L4 33.857V88l38 25.65zM0 30L44 0l44 30v60l-44 30L0 90V30zm44 5c8.284 0 15-4.925 15-11s-6.716-11-15-11c-8.284 0-15 4.925-15 11s6.716 11 15 11z" id="Combined-Shape" fill="#000"/>
            </svg>
          </div>

          <div id="protosite-brick16" class="protosite-brick">
            <svg viewbox="0 0 88 120" xmlns="http://www.w3.org/2000/svg">
              <path fill="#FFF" d="M0 30L44 0l44 30v60l-44 30L0 90z"/>
              <path d="M61.567 32H63c0 8.6-8.727 15-19 15s-19-6.4-19-15h1.433H25v-8c0-3.099 1.133-5.912 3.063-8.242L6.909 30.036 44 56l37.09-25.964-21.153-14.278C61.867 18.088 63 20.9 63 24v8h-1.433zm-2.686 1.393C55.363 36.86 49.94 39 44 39c-5.94 0-11.363-2.14-14.88-5.607C30.052 38.81 36.36 43 44 43c7.64 0 13.947-4.19 14.88-9.607zm-22.798-23.05C38.51 9.477 41.198 9 44 9c2.802 0 5.49.476 7.917 1.344L44 5l-7.917 5.344zM84 33.858L46 61v52.65L84 88V33.857zM42 113.65V61L4 33.857V88l38 25.65zM0 30L44 0l44 30v60l-44 30L0 90V30zm44 5c8.284 0 15-4.925 15-11s-6.716-11-15-11c-8.284 0-15 4.925-15 11s6.716 11 15 11z" id="Combined-Shape" fill="#000"/>
            </svg>
          </div>

          <div id="protosite-brick17" class="protosite-brick">
            <svg viewbox="0 0 88 120" xmlns="http://www.w3.org/2000/svg">
              <path fill="#FFF" d="M0 30L44 0l44 30v60l-44 30L0 90z"/>
              <path d="M61.567 32H63c0 8.6-8.727 15-19 15s-19-6.4-19-15h1.433H25v-8c0-3.099 1.133-5.912 3.063-8.242L6.909 30.036 44 56l37.09-25.964-21.153-14.278C61.867 18.088 63 20.9 63 24v8h-1.433zm-2.686 1.393C55.363 36.86 49.94 39 44 39c-5.94 0-11.363-2.14-14.88-5.607C30.052 38.81 36.36 43 44 43c7.64 0 13.947-4.19 14.88-9.607zm-22.798-23.05C38.51 9.477 41.198 9 44 9c2.802 0 5.49.476 7.917 1.344L44 5l-7.917 5.344zM84 33.858L46 61v52.65L84 88V33.857zM42 113.65V61L4 33.857V88l38 25.65zM0 30L44 0l44 30v60l-44 30L0 90V30zm44 5c8.284 0 15-4.925 15-11s-6.716-11-15-11c-8.284 0-15 4.925-15 11s6.716 11 15 11z" id="Combined-Shape" fill="#000"/>
            </svg>
          </div>

          <div id="protosite-brick18" class="protosite-brick">
            <svg viewbox="0 0 88 120" xmlns="http://www.w3.org/2000/svg">
              <path fill="#FFF" d="M0 30L44 0l44 30v60l-44 30L0 90z"/>
              <path d="M61.567 32H63c0 8.6-8.727 15-19 15s-19-6.4-19-15h1.433H25v-8c0-3.099 1.133-5.912 3.063-8.242L6.909 30.036 44 56l37.09-25.964-21.153-14.278C61.867 18.088 63 20.9 63 24v8h-1.433zm-2.686 1.393C55.363 36.86 49.94 39 44 39c-5.94 0-11.363-2.14-14.88-5.607C30.052 38.81 36.36 43 44 43c7.64 0 13.947-4.19 14.88-9.607zm-22.798-23.05C38.51 9.477 41.198 9 44 9c2.802 0 5.49.476 7.917 1.344L44 5l-7.917 5.344zM84 33.858L46 61v52.65L84 88V33.857zM42 113.65V61L4 33.857V88l38 25.65zM0 30L44 0l44 30v60l-44 30L0 90V30zm44 5c8.284 0 15-4.925 15-11s-6.716-11-15-11c-8.284 0-15 4.925-15 11s6.716 11 15 11z" id="Combined-Shape" fill="#000"/>
            </svg>
          </div>

          <div id="protosite-brick19" class="protosite-brick">
            <svg viewbox="0 0 88 120" xmlns="http://www.w3.org/2000/svg">
              <path fill="#FFF" d="M0 30L44 0l44 30v60l-44 30L0 90z"/>
              <path d="M61.567 32H63c0 8.6-8.727 15-19 15s-19-6.4-19-15h1.433H25v-8c0-3.099 1.133-5.912 3.063-8.242L6.909 30.036 44 56l37.09-25.964-21.153-14.278C61.867 18.088 63 20.9 63 24v8h-1.433zm-2.686 1.393C55.363 36.86 49.94 39 44 39c-5.94 0-11.363-2.14-14.88-5.607C30.052 38.81 36.36 43 44 43c7.64 0 13.947-4.19 14.88-9.607zm-22.798-23.05C38.51 9.477 41.198 9 44 9c2.802 0 5.49.476 7.917 1.344L44 5l-7.917 5.344zM84 33.858L46 61v52.65L84 88V33.857zM42 113.65V61L4 33.857V88l38 25.65zM0 30L44 0l44 30v60l-44 30L0 90V30zm44 5c8.284 0 15-4.925 15-11s-6.716-11-15-11c-8.284 0-15 4.925-15 11s6.716 11 15 11z" id="Combined-Shape" fill="#000"/>
            </svg>
          </div>

          <div id="protosite-brick20" class="protosite-brick">
            <svg viewbox="0 0 88 120" xmlns="http://www.w3.org/2000/svg">
              <path fill="#FFF" d="M0 30L44 0l44 30v60l-44 30L0 90z"/>
              <path d="M61.567 32H63c0 8.6-8.727 15-19 15s-19-6.4-19-15h1.433H25v-8c0-3.099 1.133-5.912 3.063-8.242L6.909 30.036 44 56l37.09-25.964-21.153-14.278C61.867 18.088 63 20.9 63 24v8h-1.433zm-2.686 1.393C55.363 36.86 49.94 39 44 39c-5.94 0-11.363-2.14-14.88-5.607C30.052 38.81 36.36 43 44 43c7.64 0 13.947-4.19 14.88-9.607zm-22.798-23.05C38.51 9.477 41.198 9 44 9c2.802 0 5.49.476 7.917 1.344L44 5l-7.917 5.344zM84 33.858L46 61v52.65L84 88V33.857zM42 113.65V61L4 33.857V88l38 25.65zM0 30L44 0l44 30v60l-44 30L0 90V30zm44 5c8.284 0 15-4.925 15-11s-6.716-11-15-11c-8.284 0-15 4.925-15 11s6.716 11 15 11z" id="Combined-Shape" fill="#000"/>
            </svg>
          </div>

          <div id="protosite-brick21" class="protosite-brick">
            <svg viewbox="0 0 88 120" xmlns="http://www.w3.org/2000/svg">
              <path fill="#FFF" d="M0 30L44 0l44 30v60l-44 30L0 90z"/>
              <path d="M61.567 32H63c0 8.6-8.727 15-19 15s-19-6.4-19-15h1.433H25v-8c0-3.099 1.133-5.912 3.063-8.242L6.909 30.036 44 56l37.09-25.964-21.153-14.278C61.867 18.088 63 20.9 63 24v8h-1.433zm-2.686 1.393C55.363 36.86 49.94 39 44 39c-5.94 0-11.363-2.14-14.88-5.607C30.052 38.81 36.36 43 44 43c7.64 0 13.947-4.19 14.88-9.607zm-22.798-23.05C38.51 9.477 41.198 9 44 9c2.802 0 5.49.476 7.917 1.344L44 5l-7.917 5.344zM84 33.858L46 61v52.65L84 88V33.857zM42 113.65V61L4 33.857V88l38 25.65zM0 30L44 0l44 30v60l-44 30L0 90V30zm44 5c8.284 0 15-4.925 15-11s-6.716-11-15-11c-8.284 0-15 4.925-15 11s6.716 11 15 11z" id="Combined-Shape" fill="#000"/>
            </svg>
          </div>


        </div>
      <script>
      //Make the DIV element draggagle:
      dragElement(document.getElementById(("protosite-brick1")));
      dragElement(document.getElementById(("protosite-brick2")));
      dragElement(document.getElementById(("protosite-brick3")));
      dragElement(document.getElementById(("protosite-brick4")));
      dragElement(document.getElementById(("protosite-brick5")));
      dragElement(document.getElementById(("protosite-brick6")));

      function dragElement(elmnt) {
        var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
        if (document.getElementById(elmnt.id)) {
          /* if present, the header is where you move the DIV from:*/
          document.getElementById(elmnt.id).onmousedown = dragMouseDown;
        } else {
          /* otherwise, move the DIV from anywhere inside the DIV:*/
          elmnt.onmousedown = dragMouseDown;
        }

        function dragMouseDown(e) {
          e = e || window.event;
          // get the mouse cursor position at startup:
          pos3 = e.clientX;
          pos4 = e.clientY;
          document.onmouseup = closeDragElement;
          // call a function whenever the cursor moves:
          document.onmousemove = elementDrag;
        }

        function elementDrag(e) {
          e = e || window.event;
          // calculate the new cursor position:
          pos1 = pos3 - e.clientX;
          pos2 = pos4 - e.clientY;
          pos3 = e.clientX;
          pos4 = e.clientY;
          // set the element's new position:
          elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
          elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
        }

        function closeDragElement() {
          /* stop moving when mouse button is released:*/
          document.onmouseup = null;
          document.onmousemove = null;
        }
      }
      </script>
    </div>
  </div>
</header>
