{{!-- Nav item partial --}}
{{#*inline "nav-item"}}
  <a href="{{@root.baseurl}}/{{url}}">
    {{label}}
  </a>
{{/inline}}

<aside class="mzp-l-sidebar">
  <nav class="mzp-c-sidemenu">
    <section class="mzp-c-sidemenu-main" id="sidebar-menu" aria-expanded="false">
    {{!-- Components Patterns --}}
    {{#if (collections "components")}}
      <h4 class="mzp-c-sidemenu-title"><a href="#">Components</a></h4>
      <ul>
        {{#each (collections "components" sortby="order")}}
          <li>
            {{> nav-item label=name}}
          </li>
        {{/each}}
      </ul>
    {{/if}}

    {{!-- Molecule Patterns --}}
    {{#if (collections "molecules")}}
      <h4 class="mzp-c-sidemenu-title"><a href="#">Molecules</a></h4>
      <ul>
        {{#each (collections "molecules" sortby="order")}}
          <li>
            {{> nav-item label=name}}
          </li>
        {{/each}}
      </ul>
    {{/if}}

    {{!-- Organism Patterns --}}
    {{#if (collections "organisms")}}
      <h4 class="mzp-c-sidemenu-title"><a href="#">Organism</a></h4>
      <ul>
        {{#each (collections "organisms" sortby="order")}}
          <li>
            {{> nav-item label=name}}
          </li>
        {{/each}}
      </ul>
    {{/if}}

    {{!-- Template Patterns --}}
    {{#if (collections "templates")}}
      <h4 class="mzp-c-sidemenu-title"><a href="#">Templates</a></h4>
      <ul>
        {{#each (collections "templates" sortby="order")}}
          <li>
            {{> nav-item label=name}}
          </li>
        {{/each}}
      </ul>
    {{/if}}

    {{!-- Other Pages --}}
      <h4 class="mzp-c-sidemenu-title"><a href="#">Other Stuff</a></h4>
      <ul>
        <li>
          {{#with (page "docs/index")}}
            {{> nav-item label=data.title}}
          {{/with}}
        </li>
        <li>
          {{#with (page "demos/index")}}
            {{> nav-item label=data.title}}
          {{/with}}
        </li>
      </ul>
    </section>
  </nav>
</aside>
