<figure>
  <svg class="protosite-swatch-image" width="100px" height="100px">
    <rect fill="{{ value }}" width="100%" height="100%" stroke="#000" stroke-opacity=".1" stroke-width="3" rx="5" ry="5"/>
  </svg>
  <figcaption>
    <h4 class="protosite-swatch-name">{{ name }}</h4>
    <ul class="protosite-swatch-values">
      <li><code class="language-css">{{ value }}</code></li>
      {{#if token}}<li><code class="language-scss">{{ token }}</code></li>{{/if}}
    </ul>
  </figcaption>
</figure>
