---
name: List Elements
description: |
  We most frequently use lists for semantic structure and don’t actually want to display them as lists. It’s simpler to reset lists globally and only display them as lists in text when needed with the `.mzp-u-list-styled` class.
links:
  "MDN <ul>": https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ul
  "MDN <ol>": https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ol
order: 3
---

<ol class="mzp-u-list-styled">
  <li>List item</li>
  <li>List item
    <ol class="mzp-u-list-styled">
      <li>Nested list</li>
    </ol>
  </li>
</ol>

<ul class="mzp-u-list-styled">
  <li>List item</li>
  <li>List item
    <ul class="mzp-u-list-styled">
      <li>Nested list</li>
    </ul>
  </li>
</ul>
