---
name: Download Button
description: Download button component with privacy policy link.
order: 1
---

<div class="mzp-c-button-download-container">
  {{#block "content"}}
  <a href="#" class="mzp-c-button mzp-t-product {{#if class}}{{class}}{{/if}}">
    Download Firefox
  </a>
  {{/block}}
  {{#block "privacy-link"}}
  <small class="mzp-c-button-download-privacy-link">
    <a href="https://www.mozilla.org/privacy/firefox/">Firefox Privacy Notice</a>
  </small>
  {{/block}}
</div>
