---
name: Download Button
description: Download button component with privacy policy link.
order: 1
---

<div class="mzp-c-button-download">
  {{#block "content"}}
  <a href="#" class="mzp-c-button {{#if class}}{{class}}{{else}}mzp-t-download{{/if}}">
    Download Firefox
  </a>
  {{/block}}
  {{#block "privacy-link"}}
  <small class="mzp-c-button-download-privacy-link">
    <a href="https://www.mozilla.org/privacy/firefox/">Firefox Privacy Notice</a>
  </small>
  {{/block}}
</div>
