{% render '@wordmark', { product: 'family', label: 'Firefox' }  %}
{% render '@wordmark', { product: 'firefox', label: 'Firefox Browser' }  %}
{% render '@wordmark', { product: 'beta', label: 'Firefox Beta' }  %}
{% render '@wordmark', { product: 'developer', label: 'Firefox Developer Edition' }  %}
{% render '@wordmark', { product: 'nightly', label: 'Firefox Nightly' }  %}
{% render '@wordmark', { product: 'focus', label: 'Firefox Focus' }  %}
{% render '@wordmark', { product: 'klar', label: 'Firefox Klar' }  %}
{% render '@wordmark', { product: 'lockwise', label: 'Firefox Lockwise' }  %}
{% render '@wordmark', { product: 'monitor', label: 'Firefox Monitor' }  %}
{% render '@wordmark', { product: 'relay', label: 'Firefox Relay' }  %}
{% render '@wordmark', { product: 'mozilla', label: 'Mozilla' }  %}
{% render '@wordmark', { product: 'vpn', label: 'Mozilla VPN' }  %}
{% render '@wordmark', { product: 'pocket', label: 'Pocket' }  %}
