---
name: Section Heading
description: |
  Use section headings help organize your page content into sections.

  Section headings get more space around them than a plain [heading element](/patterns/atoms/typographic.html#heading-elements).
order: 1
tips: |
  - usually first thing inside a `mzp-l-content`
  - works well with [zap](/demos/zap.html)
links:
    Demo: /demos/section-heading.html
---

<h2 class="mzp-c-section-heading">Heading</h2>

<h2 class="mzp-c-section-heading mzp-has-zap-1">Heading with <strong>zap</strong></h2>
