---
name: Article
description: |
  A long-form body of text. This is typically multiple paragraphs, often with subheadings, and should be the primary content on the page. See [the article demo page](/demos/article.html) for a more realistic example in context.
---

<article class="mzp-c-article">
  <h1 class="mzp-c-article-title">We’re building a better Internet</h1>

  <p>Our mission is to ensure the Internet is a global public resource, open and accessible to all. An Internet that truly puts people first, where individuals can shape their own experience and are empowered, safe and independent.</p>

  <p>At Mozilla, we’re a global community of technologists, thinkers and builders working together to keep the Internet alive and accessible, so people worldwide can be informed contributors and creators of the Web. We believe this act of human collaboration across an open platform is essential to individual growth and our collective future.</p>
</article>

