// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

// This file imports all Protocol components, compiled to protocol-components.css
// You probably shouldn't use this, and should instead compile Protocol
// yourself and only import the components you need. But this makes all
// components available if you don't have the ability to compile Protocol
// from source.

// Default media paths can be overwritten globally.
// $image-path: '../img' !default;

@use 'components/article';
@use 'components/billboard';
@use 'components/button';
@use 'components/breadcrumb';
@use 'components/callout';
@use 'components/emphasis-box';
@use 'components/feature-card';
@use 'components/forms/button-container';
@use 'components/forms/choice';
@use 'components/forms/field';
@use 'components/forms/form';
@use 'components/forms/msg';
@use 'components/forms/set';
@use 'components/forms/status';
@use 'components/inline-list';
@use 'components/logos/logo';
@use 'components/logos/wordmark';
@use 'components/menu-list';
@use 'components/modal';
@use 'components/newsletter-form';
@use 'components/notification-bar';
@use 'components/picto';
@use 'components/picto-card';
@use 'components/section-heading';
@use 'components/sidebar-menu';
@use 'components/split';
@use 'components/sticky-promo';
@use 'components/video';
@use 'components/zap';
@use 'templates/card-layout';
@use 'templates/main-with-sidebar';
@use 'templates/multi-column';

// logos
@use 'components/logos/logo-product-firefox';
@use 'components/logos/logo-product-beta';
@use 'components/logos/logo-product-developer';
@use 'components/logos/logo-product-nightly';
@use 'components/logos/logo-product-focus';

@use 'components/logos/logo-product-family';
@use 'components/logos/logo-product-lockwise';
@use 'components/logos/logo-product-monitor';
@use 'components/logos/logo-product-relay';

@use 'components/logos/logo-product-mozilla';
@use 'components/logos/logo-product-vpn';
@use 'components/logos/logo-product-pocket';

// wordmarks

@use 'components/logos/wordmark-product-firefox';
@use 'components/logos/wordmark-product-beta';
@use 'components/logos/wordmark-product-developer';
@use 'components/logos/wordmark-product-nightly';
@use 'components/logos/wordmark-product-focus';

@use 'components/logos/wordmark-product-family';
@use 'components/logos/wordmark-product-lockwise';
@use 'components/logos/wordmark-product-monitor';
@use 'components/logos/wordmark-product-relay';

@use 'components/logos/wordmark-product-mozilla';
@use 'components/logos/wordmark-product-vpn';
@use 'components/logos/wordmark-product-pocket';
