// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

// This example file sets up a basic Protocol site, with general styles
// and components that occur on every page such as the navigation and
// footer. You can customize this file for your project, importing only
// the fonts, includes, and global components you actually need.
// Individual style sheets can import additional components as needed.

// Inter is our general-purpose font for body text in both Firefox and
// Mozilla brands.
@use 'includes/fonts/inter';

// Zilla Slab is used with the Mozilla brand. Remove this import if
// your site uses the Firefox brand exclusively.
@use 'includes/fonts/zilla-slab';

// Metropolis is used with the Firefox brand. Uncomment this import if
// your site uses the Firefox brand.
// @import 'includes/fonts/metropolis';

// Base elements - general HTML elements
@use 'base/elements';

// Base utilities
@use 'base/utilities/backgrounds';
@use 'base/utilities/titles';

// Base includes - animations
@use 'base/includes';

// Global components
@use 'components/card';
@use 'components/footer';
@use 'components/language-switcher';
@use 'components/menu';
@use 'components/menu-item';
@use 'components/navigation';
