// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.


// Demo colors
$color-text-secondary:  #484848;
$color-text-tertiary:   #666;

$color-offblack:        #323232;

$color-button-light:    #fff;
$color-button-dark:     #00539f;
$color-button-green:    #16da00;
$color-button-orange:   #f26c23;
$color-button-blue:     #0a84ff;
$color-button-red:      #c13832;
