// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.


// Text colors
$color-text-primary:    #000;
$color-text-secondary:  #484848;
$color-text-tertiary:   #666;

// Brand colors
$color-brand-neonblue:      #0ff;
$color-brand-lemonyellow:   #fff44f;
$color-brand-warmred:       #ff4f5e;
$color-brand-neongreen:     #54ffbd;
$color-brand-darkpurple:    #6e008b;
$color-brand-darkgreen:     #005e5e;
$color-brand-darkblue:      #00458b;
$color-brand-darkgray:      #959595;
$color-brand-lightgray:     #e7e5e2;

// UI colors
$color-link-blue:       #00a7e0;
$color-link:            $color-link-blue; // standard links (blue)
$color-offblack:        #323232;

// Button colors
$color-button-light:    #fff;
$color-button-dark:     #00539f;
$color-button-green:    #16da00;
$color-button-orange:   #f26c23;
$color-button-blue:     #0a84ff;
$color-button-red:      #c13832;
