// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.


$h-grid-xs: 40px;
$h-grid-sm: 64px;
$h-grid-md: 64px;
$h-grid-lg: 64px;
$h-grid-xl: 80px;
