<section class="mzp-c-hero{% if image %} mzp-has-image{% endif %}{% if class %} {{ class}}{% endif %}">
  <div class="mzp-l-content{% if content_class %} {{ content_class }}{% endif %}">
    <div class="mzp-c-hero-body">
      <h1 class="mzp-c-hero-title">{{ title }}</h1>

    {%- if tagline %}
      <p class="mzp-c-hero-tagline">{{ tagline }}</p>
    {% endif -%}

    {%- if desc %}
      <div class="mzp-c-hero-desc">
        <p>{{ desc }}</p>
      </div>
    {% endif -%}

    {%- if cta %}
      <p class="mzp-c-hero-cta">
        {% render '@button', { label: cta, href: cta_link, class: cta_class } %}
      </p>
    {% endif -%}
    </div>
  </div>

{%- if image %}
  <div class="mzp-c-hero-image">
    <img src="{{ image | default('/img/image-16-9.jpg') | path }}" alt="">
  </div>
{% endif -%}
</section>
