<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="{{ path '/css/docs/preview.css' }}">
    <title>Preview Layout</title>
</head>
<body>
    <div class="site-preview">

    {{{ yield }}}

    </div>
</body>
</html>
