// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@use '../includes/lib' as *;

.mzp-c-article {
    width: $content-md;
    max-width: 100%;

    @media #{$mq-md} {
        // Float left when sidebar is on the left
        .mzp-l-sidebar-left .mzp-l-main & {
            float: inline-start;
        }

        // Float right when sidebar is on the right
        .mzp-l-sidebar-right .mzp-l-main & {
            float: inline-end;
        }
    }
}

.mzp-c-article-title {
    @include text-heading-lg;
}

.mzp-c-article-intro {
    @include text-body-lg;
}
