// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@use '../includes/lib' as *;

.mzp-c-breadcrumb {
    background-color: var(--background-color-secondary);
    padding: $spacing-md 0;

    .mzp-c-breadcrumb-list {
        margin: 0 auto;
        max-width: $content-max;
        padding: 0 var(--h-gris-xs);

        @media #{$mq-md} {
            padding: 0 var(--h-grid-md);
        }

        @media #{$mq-xl} {
            padding: 0 var(--h-grid-xl);
        }
    }

    .mzp-c-breadcrumb-item {
        display: inline-block;
        padding: $spacing-sm 0;

        &:last-child {
            font-weight: bold;
        }

        + .mzp-c-breadcrumb-item {
            &::before {
                @include bidi(((content, '\2192', '\2190'),));
                font-weight: normal;
                margin: 0 0.25em;
            }
        }

        a {
            &:link,
            &:visited {
                text-decoration: underline;
            }

            &:hover,
            &:active,
            &:focus {
                text-decoration: none;
            }
        }
    }

    &.mzp-t-dark {
        background-color: var(--background-color-secondary-inverse);
    }
}
