// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@use '../includes/lib' as *;
@use '../includes/forms';

@mixin default-states {
    &:focus {
        border-color: forms.$button-border-color-focus;
        box-shadow: forms.$field-focus-ring;
        outline-offset: 1px;
    }

    &:hover {
        background-color: $color-marketing-gray-20;
        border-color: $color-black;
        box-shadow: none;
        color: $color-black;
    }

    &:active {
        background-color: $color-marketing-gray-20;
        border-color: $color-marketing-gray-70;
        color: $color-black;
    }
}

@mixin default-states-dark {
    &:focus {
        outline-offset: 1px;
        border-color: forms.$button-border-color-focus;
        box-shadow: forms.$field-focus-ring-dark;
        outline: forms.$field-focus-ring-outline;
    }

    &:hover {
        background-color: $color-dark-gray-60;
        border-color: $color-white;
        box-shadow: none;
        color: $color-white;
    }

    &:active {
        background-color: $color-dark-gray-60;
        border-color: $color-light-gray-50;
        color: $color-white;
    }
}

@mixin product-states {
    &:focus {
        border-color: forms.$button-border-color-focus;
        box-shadow: forms.$field-focus-ring;
        outline-offset: 1px;
    }

    &:hover {
        background-color: $color-blue-60;
        border-color: transparent;
        box-shadow: none;
        color: $color-white;
    }

    &:active {
        background-color: $color-blue-80;
        border-color: transparent;
        color: $color-white;
    }
}

// * -------------------------------------------------------------------------- */
// Button shape and size

.mzp-c-button {
    @include border-box;
    @include font-size(16px);
    @include transition(background-color 100ms, box-shadow 100ms, color 100ms);
    border-radius: $border-radius-sm;
    border: 2px solid transparent;
    cursor: pointer;
    display: inline-block;
    font-family: $button-font-family;
    font-weight: bold;
    line-height: $body-line-height;
    padding: 6px $spacing-lg;
    text-align: center;
    text-decoration: none !important;  /* stylelint-disable-line declaration-no-important */

    &::-moz-focus-inner {
        border: 0;
    }

    &:hover {
        box-shadow: none;
    }

    &:disabled {
        opacity: 0.6;
        pointer-events: none;
    }

    @supports (--css: variables) {
        font-family: var(--button-font-family);
        line-height: var(--body-line-height);
    }
}

// Sizes

.mzp-c-button.mzp-t-sm {
    @include font-size(12px);
    border-radius: $border-radius-xs;
    padding: 1px $spacing-md;
}

.mzp-c-button.mzp-t-small, // backwards compatability
.mzp-c-button.mzp-t-md {
    @include font-size(14px);
    padding: $spacing-xs $spacing-lg;
}

.mzp-c-button.mzp-t-lg {
    @include font-size(16px);
    padding: 6px $spacing-lg;
}

.mzp-c-button.mzp-t-xl {
    @include font-size(16px);
    padding: 10px $spacing-lg;
}

// * -------------------------------------------------------------------------- */
// Button colors

.mzp-c-button { /* stylelint-disable-line no-duplicate-selectors */
    // * ---------------------------------------------------------------------- */
    // Primary
    background-color: $color-black;
    border: 2px solid $color-black;
    color: $color-white;

    @include default-states;

    // dark
    &.mzp-t-dark {
        background-color: $color-white;
        border-color: $color-white;
        color: $color-black;

        @include default-states-dark;
    }



    // * ---------------------------------------------------------------------- */
    // Secondary

    &.mzp-t-secondary {
        background-color: transparent;
        border-color: $color-black;
        color: $color-black;

        @include default-states;

        // dark
        &.mzp-t-dark {
            background-color: transparent;
            border-color: $color-white;
            color: $color-white;

            @include default-states-dark;
        }
    }

    // * ---------------------------------------------------------------------- */
    // Product

    &.mzp-t-product {
        background-color: $color-blue-50;
        border-color: transparent;
        color: $color-white;

        @include product-states;

        // dark is the same as light

        // secondary
        &.mzp-t-secondary {
            background-color: transparent;
            border-color: $color-blue-50;
            color: $color-blue-50;

            @include product-states;

            // dark
            &.mzp-t-dark {
                background-color: rgba($color-white, 0.3);
                border-color: transparent;
                color: $color-white;

                @include product-states;
            }
        }


        // * -------------------------------------------------------------------------- */
        // Neutral Buttons
        &.mzp-t-neutral {
            background-color: transparent;
            border-color: $color-marketing-gray-30;
            color: $color-marketing-gray-70;

            &:focus {
                border-color: forms.$button-border-color-focus;
            }

            &:hover {
                background-color: $color-marketing-gray-20;
                border-color: $color-marketing-gray-40;
                color: $color-marketing-gray-70;
            }

            &:active {
                background-color: $color-marketing-gray-20;
                border-color: $color-marketing-gray-50;
                color: $color-marketing-gray-70;
            }

            // dark
            &.mzp-t-dark {
                background-color: rgba($color-white, 0.1);
                border-color: rgba($color-white, 0.6);
                color: $color-white;

                &:focus {
                    border-color: forms.$button-border-color-focus;
                }

                &:hover {
                    background-color: rgba($color-white, 0.2);
                    border-color: rgba($color-white, 0.6);
                    color: $color-white;
                }

                &:active {
                    background-color: rgba($color-white, 0.2);
                    border-color: rgba($color-white, 0.4);
                    color: $color-white;
                }
            }

        }
    }
}

// * -------------------------------------------------------------------------- */
// Download Button

.mzp-c-button-download-container {
    text-align: center;
    margin-bottom: forms.$field-v-spacing;
    display: inline-block;
}

.mzp-c-button-download-privacy-link {
    @include text-body-xs;
    display: block;
    margin-top: forms.$info-v-spacing;

    a {
        color: inherit;
        text-decoration: none;

        &:hover,
        &:active,
        &:focus {
            text-decoration: underline;
        }
    }
}

// * -------------------------------------------------------------------------- */
// Icon

.mzp-c-button-icon-start,
.mzp-c-button-icon-end {
    display: inline-block;
    font-size: 1em;
    height: 1em;
    line-height: 1em;
    vertical-align: baseline;
    width: 1em;

    img,
    svg {
        height: 100%;
        margin-bottom: -0.15em;
        width: 100%;
    }
}

.mzp-c-button-icon-start {
    @include bidi(((margin-right, 0.5ch, 0), (margin-left, 0, 0.5ch),));
}

.mzp-c-button-icon-end {
    @include bidi(((margin-left, 0.5ch, 0), (margin-right, 0, 0.5ch),));
}
