// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@use '../includes/lib' as *;
@use '../includes/forms';


// * -------------------------------------------------------------------------- */
// Button shape and size

.mzp-c-button {
    @include border-box;
    @include font-size(16px);
    @include transition(background-color 100ms, border-color 100ms, color 100ms);
    border: 2px solid transparent;
    cursor: pointer;
    display: inline-block;
    font-family: var(--button-font-family);
    font-weight: bold;
    line-height: $body-line-height;
    padding: $spacing-sm $spacing-md;
    text-align: center;
    text-decoration: none !important;  /* stylelint-disable-line declaration-no-important */

    &::-moz-focus-inner {
        border: 0;
    }

    &:hover {
        box-shadow: none;
    }

    &:focus {
        border-color: forms.$button-border-color-focus;
        box-shadow: forms.$field-focus-ring;
        outline-offset: 1px;
    }

    &:disabled {
        opacity: 0.6;
        pointer-events: none;
    }

    @supports (--css: variables) {
        font-family: var(--button-font-family);
        line-height: var(--token-body-line-height);
    }
}

// Sizes

.mzp-c-button.mzp-t-sm {
    @include font-size(12px);
    padding: 1px $spacing-sm;
}

.mzp-c-button.mzp-t-small, // backwards compatability
.mzp-c-button.mzp-t-md {
    @include font-size(14px);
    padding: $spacing-xs $spacing-sm;
}

.mzp-c-button.mzp-t-lg {
    @include font-size(16px);
    padding: $spacing-sm $spacing-md;
}

.mzp-c-button.mzp-t-xl {
    @include font-size(16px);
    padding: 10px $spacing-lg;
}

// * -------------------------------------------------------------------------- */
// Button colors

.mzp-c-button { /* stylelint-disable-line no-duplicate-selectors */
    // * ---------------------------------------------------------------------- */
    // Primary
    background-color: $color-moz-black;
    border: 2px solid $color-black;
    color: $color-white;

    &:hover,
    &:active {
        background-color: $color-white;
        border-color: $color-black;
        color: $color-black;
    }

    // dark
    &.mzp-t-dark {
        background-color: $color-white;
        border-color: $color-white;
        color: $color-black;

        &:hover,
        &:active {
            background-color: $color-moz-black;
            border-color: $color-white;
            color: $color-white;
        }
    }

    // * ---------------------------------------------------------------------- */
    // Secondary

    &.mzp-t-secondary {
        background-color: transparent;
        border-color: $color-black;
        color: $color-black;

        &:hover,
        &:active {
            background-color: $color-moz-black;
            border-color: $color-black;
            color: $color-white;
        }

        // dark
        &.mzp-t-dark {
            background-color: transparent;
            border-color: $color-white;
            color: $color-white;

            &:hover,
            &:active {
                background-color: $color-white;
                border-color: $color-white;
                color: $color-black;
            }
        }
    }

    // * ---------------------------------------------------------------------- */
    // Product

    &.mzp-t-product {
        &,
        &.mzp-t-dark {
            background-color: $color-blue-50;
            border-color: $color-blue-50;
            color: $color-white;

            &:hover,
            &:active {
                background-color: $color-white;
                border-color: $color-blue-50;
                color: $color-blue-50;
            }
        }

        // secondary
        &.mzp-t-secondary {
            &,
            &.mzp-t-dark {
                background-color: $color-white;
                border-color: $color-blue-50;
                color: $color-blue-50;

                &:hover,
                &:active {
                    background-color: $color-blue-50;
                    color: $color-white;
                }
            }
        }
    }

    // * -------------------------------------------------------------------------- */
    // Neutral Buttons
    &.mzp-t-neutral {
        background-color: transparent;
        border-color: $color-marketing-gray-30;
        color: $color-marketing-gray-70;

        &:hover,
        &:active {
            background-color: $color-marketing-gray-20;
            border-color: $color-marketing-gray-40;
            color: $color-marketing-gray-70;
        }

        // dark
        &.mzp-t-dark {
            background-color: rgba($color-white, 0.1);
            border-color: rgba($color-white, 0.6);
            color: $color-white;

            &:hover,
            &:active {
                background-color: rgba($color-white, 0.2);
                border-color: rgba($color-white, 0.6);
                color: $color-white;
            }
        }
    }
}


// * -------------------------------------------------------------------------- */
// Download Button

.mzp-c-button-download-container {
    text-align: center;
    margin-bottom: forms.$field-v-spacing;
    display: inline-block;
}

.mzp-c-button-download-privacy-link {
    @include text-body-xs;
    display: block;
    margin-top: forms.$info-v-spacing;

    a {
        color: inherit;
        text-decoration: none;

        &:hover,
        &:active,
        &:focus {
            text-decoration: underline;
        }
    }
}

// * -------------------------------------------------------------------------- */
// Icon

.mzp-c-button-icon-start,
.mzp-c-button-icon-end {
    display: inline-block;
    font-size: 1em;
    height: 1em;
    line-height: 1em;
    vertical-align: baseline;
    width: 1em;

    img,
    svg {
        height: 100%;
        margin-bottom: -0.15em;
        width: 100%;
    }
}

.mzp-c-button-icon-start {
    @include bidi(((margin-right, 0.5ch, 0), (margin-left, 0, 0.5ch),));
}

.mzp-c-button-icon-end {
    @include bidi(((margin-left, 0.5ch, 0), (margin-right, 0, 0.5ch),));
}
