// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@use 'sass:math';
@use '../includes/lib' as *;

// * -------------------------------------------------------------------------- */
// Footer section styles

.mzp-c-footer {
    @include font-base;
    @include white-links;
    background: $color-black;
    clear: both;
    color: $color-white;
    margin: 0;
    padding-top: $spacing-lg;
    width: 100%;

    a:link,
    a:visited {
        font-weight: normal;
        text-decoration: underline;

        &:hover,
        &:focus,
        &:active {
            text-decoration: none;
        }
    }
}

// * -------------------------------------------------------------------------- */
// Footer primary section, contains logo and sections with links

.mzp-c-footer-primary {
    @include text-body-md;
    @include border-box;
    @include clearfix;
    margin: 0 auto $spacing-2xl;

    @media #{$mq-lg} {
        margin-bottom: $spacing-xl;
    }
}

// * -------------------------------------------------------------------------- */
// Footer Mozilla logo

.mzp-c-footer-primary-logo {
    margin-bottom: $spacing-xl;

    a {
        background: url('#{$image-path}/logos/mozilla/logo-lockup-hor-white.svg') no-repeat;
        @include background-size(134px, 32px);
        @include image-replaced;
        display: inline-block;
        height: 32px;
        width: 134px;
    }
}

// * -------------------------------------------------------------------------- */
// Footer section containing list and heading

.mzp-c-footer-sections {
    @include clearfix;
    border-bottom: 1px solid $color-marketing-gray-80;
    padding-bottom: $layout-lg;

    @media #{$mq-sm} {
        padding-bottom: $layout-sm;
    }

    @media #{$mq-xl} {
        padding-bottom: $layout-md;
    }
}

.mzp-c-footer-section {
    @include clearfix;
    margin-bottom: $spacing-sm;

    a:link,
    a:visited {
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
            text-decoration: underline;
        }
    }

    @media (min-width: #{$screen-sm}) and (max-width: #{$screen-lg - 1px}) {
        @include bidi(((float, left, right),));
        @include grid-half;

        &:nth-child(odd) {
            @include bidi(((clear, left, right),));
            @include bidi(((padding, 0 ($layout-md * 0.5) 0 0, 0 0 0 ($layout-md * 0.5)),));
        }

        &:nth-child(even) {
            @include bidi(((padding, 0 0 0 ($layout-md * 0.5), 0 ($layout-md * 0.5) 0 0),));
        }
    }
}

@media #{$mq-lg} {
    .mzp-c-footer-section {
        @include bidi(((float, left, right),));
        padding: 0 ($layout-md * 0.5);

        &:first-child {
            @include bidi(((padding, 0 ($layout-md * 0.5) 0 0, 0 0 0 ($layout-md * 0.5)),));
        }

        &:last-child {
            @include bidi(((padding, 0 0 0 ($layout-md * 0.5), 0 ($layout-md * 0.5) 0 0),));
        }
    }

    @for $cols from 2 through 6 {
        $width: math.div(100%, $cols); // each width is the total width divided by number of columns
        $gutter: math.div($layout-md, $cols); // each gutter is the base gutter divided by number of columns

        // http://lea.verou.me/2011/01/styling-children-based-on-their-number-with-css3/
        .mzp-c-footer-section:first-child:nth-last-child(n+#{$cols}),
        .mzp-c-footer-section:first-child:nth-last-child(n+#{$cols}) ~ .mzp-c-footer-section:nth-child(1n-1) {
            width: calc($width - ($layout-md - $gutter));
        }
    }
}

.mzp-c-footer-heading {
    &,
    & button {
        @include text-body-md;
        @include bidi(((text-align, left, right),));
        background-color: transparent;
        border-bottom: 1px solid $color-marketing-gray-80;
        border: 0;
        color: inherit;
        margin-bottom: 0;
        padding: $spacing-md 0;
        position: relative;
        width: 100%;
    }

    &.is-summary {
        padding: 0;
        border-bottom: 0;

        button:focus {
            outline: 1px dotted #fff;
        }

        button::before {
            background: $url-image-expand-white top left no-repeat;

            @include background-size(24px, 24px);
            @include bidi(((right, 8px, left, auto),));
            @include transition(transform 100ms ease-in-out);
            content: '';
            height: 24px;
            margin-top: -12px;
            position: absolute;
            top: 50%;
            width: 24px;
        }

        button[aria-expanded='true']::before {
            @include transform(rotate(45deg));
        }
    }

    a:link,
    a:visited {
        font-weight: bold;
    }

    @media #{$mq-md} {
        border-bottom: 0;
        padding: $spacing-sm 0;
    }
}

.mzp-c-footer-list {
    margin-bottom: $spacing-xl;

    li {
        list-style-type: none;
        padding: $spacing-xs 0;

        &:first-child {
            margin-top: $spacing-sm;

            @media #{$mq-md} {
                margin-top: 0;
            }
        }
    }

    &.is-closed[aria-hidden='true'] {
        display: none;
    }
}

// * -------------------------------------------------------------------------- */
// Footer secondary contains langauge selector, social icons, legal, and lisence

.mzp-c-footer-secondary {
    @include text-body-xs;
    position: relative;
}

// * -------------------------------------------------------------------------- */
// Footer language selector

.mzp-c-footer-language {
    @include clearfix;
    margin-bottom: $spacing-lg;

    @media #{$mq-md} {
        @include bidi(((float, right, left),));
    }
}

// * -------------------------------------------------------------------------- */
// Footer social icon links

.mzp-c-footer-links-social {
    margin-bottom: $spacing-2xl;

    li {
        @include bidi(((margin, 0 $spacing-md 0 0, 0 0 0 $spacing-md),));
        display: inline-block;
        vertical-align: bottom;

        a {
            @include image-replaced;
            background-repeat: no-repeat;
            border-bottom: 1px solid transparent;
            display: block;
            height: 16px;
            width: 16px;

            &.twitter {
                background-image: url('#{$image-path}/icons/social/twitter/white.svg');
            }

            &.instagram {
                background-image: url('#{$image-path}/icons/social/instagram/white.svg');
            }

            &.youtube {
                background-image: url('#{$image-path}/icons/social/youtube/white.svg');
            }

            &:hover,
            &:focus {
                border-bottom-color: $color-white;
            }
        }
    }

    @media #{$mq-md} {
        @include bidi(((right, 0, left, auto),));
        @include bidi(((text-align, right, left),));
        bottom: 0;
        margin-bottom: 0;
        max-width: 33%; // don't over lap with legal links
        position: absolute;

        li {
            @include bidi((
                (padding, 0 0 $spacing-md $spacing-lg, 0 $spacing-lg $spacing-md 0),
                (margin, 0 , 0),
            ));
        }
    }
}

// * -------------------------------------------------------------------------- */
// Footer license and terms

.mzp-c-footer-legal {
    li {
        @include bidi(((padding, 0 $spacing-lg $spacing-md 0, 0 0 $spacing-md $spacing-lg),));
        display: inline-block;

        &:last-child {
            @include bidi(((padding-right, 0, padding-left, 0),));
        }
    }
}

// * -------------------------------------------------------------------------- */
// Footer license

.mzp-c-footer-license {
    margin-bottom: $spacing-xl;

    @media #{$mq-md} {
        max-width: 66%; // don't over lap with social links
    }
}

// * -------------------------------------------------------------------------- */
// Footer license

.mzp-c-footer-terms {
    @media #{$mq-md} {
        max-width: 66%; // don't over lap with social links
    }
}
