// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@use '../includes/lib' as *;

.mzp-c-inline-list {
    margin-top: $layout-md;
    margin-bottom: 0;
    margin-inline: ($layout-md * -1) 0;

    li {
        display: inline-block;
        margin-bottom: $layout-xs;
        margin-inline-start: $layout-md;
        white-space: nowrap;

        &:last-child {
            // last item gets the bottom margin we want the entire list to have
            margin-bottom: $layout-md;
        }
    }
}
