// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@use '../includes/lib' as *;

.mzp-c-language-switcher {
    color: inherit;
    font-weight: bold;

    label,
    .mzp-c-language-switcher-link {
        display: inline-block;
        font-size: var(--theme-body-font-size-sm); // just want smaller text size, so don't use full mixin
        @include bidi(((margin, 0 $spacing-lg $spacing-sm 0, 0 0 $spacing-sm $spacing-lg),));
    }

    // hide the <label> visually should a language link be shown instead.
    .mzp-c-language-switcher-link + label {
        @include visually-hidden;
    }

    select {
        min-width: 0;
        font-size: var(--theme-body-font-size-xs); // just want smaller text size, so don't use full mixin
    }

    button {
        margin-top: $spacing-sm;
        font-size: var(--theme-body-font-size-sm); // just want smaller text size, so don't use full mixin
    }

    // form submit button is shown when JS is not enabled.
    .js & button {
        display: none;
    }
}
