// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@use '../includes/lib' as *;

html.mzp-is-noscroll {
    overflow: hidden;
    height: 100%;

    body {
        height: 100%;
        overflow: hidden;
    }

    .mzp-c-modal {
        position: absolute;
    }

    @media #{$mq-md} {
        height: auto;

        body {
            height: auto;
        }

        .mzp-c-modal {
            position: fixed;
        }
    }
}

.mzp-c-modal {
    animation: mzp-a-fade-in 300ms ease-in 0ms 1 normal both; /* stylelint-disable-line no-unknown-animations */
    background: $color-black;
    background: rgb(0, 0, 0, 0.85);
    bottom: 0;
    height: 101%;
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999999;
}

.mzp-c-modal-window {
    padding: $spacing-lg;
}

.mzp-c-modal-inner {
    @include clearfix;
    background: rgb(0, 0, 0, 0.9);
    max-width: 1200px;
    padding: $spacing-xl;
    position: relative;

    & > header {
        @include bidi(((padding-right, $spacing-xl * 2, padding-left, 0),));

        h2 {
            @include text-heading-xs;
            @include font-base;
            color: #fff;
        }
    }

    @media #{$mq-lg} {
        margin: $spacing-lg auto ($spacing-xl * 2);
    }
}

.mzp-c-modal-close {
    position: absolute;
    top: 9px;
    z-index: 99;
    @include bidi(((right, $spacing-sm, left, auto),));

    .mzp-c-modal-button-close {
        @include image-replaced;
        background: transparent url('#{$image-path}/icons/close-white.svg') center center / 20px 20px no-repeat;
        border: none;
        height: 42px;
        min-width: 0;
        padding: 0;
        width: 42px;
        cursor: pointer;

        &:hover,
        &:focus {
            transition: transform 0.1s ease-in-out;
            transform: scale(1.1);
        }

        &:focus {
            outline: 1px dotted var(--theme-body-text-color-inverse);
        }
    }
}

.mzp-c-modal-overlay-contents {
    background: transparent;
    margin: 0 auto;
    padding-top: $spacing-lg;
    color: var(--theme-body-text-color-inverse);
    @include text-body-lg;
    @include light-links;
}

// Modifier for showing full content width media, such as images or video.
.mzp-has-media .mzp-c-modal-overlay-contents {
    img,
    video {
        display: block;
        width: 100%;
        margin-bottom: $spacing-xl;
    }
}

// Utility class for hiding content that is to be used in the modal.
.js .mzp-u-modal-content {
    display: none;
}

.js .mzp-c-modal-inner .mzp-u-modal-content {
    display: block;
}
