// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@use '../includes/lib' as *;

// Form
.mzp-c-newsletter-form {
    input[type='email'],
    select {
        width: 100%;
    }

    .mzp-c-form-submit {
        text-align: center;
    }

    .mzp-c-button {
        margin-bottom: $spacing-sm;
        width: 100%;
    }

    .mzp-c-button + .mzp-c-fieldnote {
        @include text-body-xs;
    }

    .mzp-c-form-errors {
        li {
            display: list-item;

            &.hidden {
                @include hidden;
            }
        }
    }
}

.mzp-c-newsletter-title {
    @include text-heading-md;
    margin-bottom: 0.25em;
}

.mzp-c-newsletter-image {
    margin-bottom: $spacing-lg;
    text-align: center;
}

// hide details for JS users
// (displayed when email field is focused)
.js .mzp-c-newsletter-details {
    @include hidden;
}

// Form wrapper with image
.mzp-c-newsletter {
    margin: 0 auto;
    max-width: $content-sm;
    padding: $spacing-lg 0;

    // No top padding when it's at the top of a container
    .mzp-l-content > &:first-child {
        padding-top: 0;
    }

    // No bottom padding when it's at the bottom of a container
    .mzp-l-content > &:last-child {
        padding-bottom: 0;
    }

    @media #{$mq-md} {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: var(--theme-spacing-between-inline);
        max-width: $content-xl;
        padding: $layout-md;

        .mzp-c-newsletter-image {
            grid-column: 1;
        }

        .mzp-c-newsletter-form,
        .mzp-c-newsletter-thanks {
            grid-column: 2;
            padding-top: $layout-md;
        }
    }
}
