// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@use '../includes/lib' as *;

.mzp-c-notification-bar {
    background-color: $color-marketing-gray-20;
    border-radius: $border-radius-sm;
    border: 1px;
    box-sizing: border-box;
    box-shadow: $box-shadow-md;
    color: var(--theme-body-text-color);
    font-weight: normal;
    margin: $layout-xs $spacing-md 0;
    padding: $spacing-md $spacing-2xl;
    position: relative;
    text-align: center;
    @include clearfix;
    @include text-body-sm;

    @media #{$mq-sm} {
        margin: $layout-xs auto 0;
        max-width: $content-md;
    }

    p {
        display: inline-block;
        margin: 0 auto;
    }

    a {
        color: inherit;
        display: inline-block;
        font-size: inherit;
        font-weight: 700;

        &:hover,
        &:active,
        &:focus {
            color: inherit;
            text-decoration: none;
        }

        &.mzp-c-notification-bar-cta {
            margin: 0 $spacing-sm;
        }
    }


    &.mzp-is-sticky {
        left: $spacing-md;
        margin: $spacing-md 0;
        position: fixed;
        right: $spacing-md;
        z-index: 2;

        @media #{$mq-sm} {
            margin: $spacing-md auto;
        }
    }

    .mzp-c-notification-bar-button {
        @include image-replaced;
        background: url('#{$image-path}/icons/close.svg') center center/18px 18px no-repeat;
        border: 0;
        float: inline-end;
        height: 20px;
        margin: $spacing-sm;
        padding: 0;
        position: absolute;
        top: 0;
        width: 20px;
        @include bidi((
            (left, auto, 0),
        ));

        &:hover {
            cursor: pointer;
        }

        &:focus {
            border: 1px solid;
        }

        @media #{$mq-sm} {
            background-color: $color-marketing-gray-40;
            padding: 0;
            margin: 0;
            height: 100%;
            width: 40px;
            float: inline-end;
            @include bidi((
                (border-radius, 0 $border-radius-sm $border-radius-sm 0, $border-radius-sm 0 0 $border-radius-sm),
            ));

            &:hover,
            &:focus {
                background-color: $color-marketing-gray-50;
                border: 0;
            }
        }
    }

    &.mzp-t-success {
        background-color: var(--theme-color-success-bg);

        @media #{$mq-sm} {
            .mzp-c-notification-bar-button {
                background-color: var(--theme-color-success-hover);

                &:hover,
                &:focus {
                    background-color: var(--theme-color-success-active);
                }
            }
        }
    }

    &.mzp-t-error {
        background-color: var(--theme-color-error-bg);

        @media #{$mq-sm} {
            .mzp-c-notification-bar-button {
                background-color: var(--theme-color-error-hover);

                &:hover,
                &:focus {
                    background-color: var(--theme-color-error-active);
                }
            }
        }
    }

    &.mzp-t-warning {
        background-color: var(--theme-color-warning-bg);

        @media #{$mq-sm} {
            .mzp-c-notification-bar-button {
                background-color: var(--theme-color-warning-hover);

                &:hover,
                &:focus {
                    background-color: var(--theme-color-warning-active);
                }
            }
        }
    }

    &.mzp-t-click {
        background-color: var(--theme-color-info);
        color: var(--theme-body-text-color-inverse);
        font-weight: 600;

        .mzp-c-notification-bar-button {
            background-image: url('#{$image-path}/icons/close-white.svg');

            @media #{$mq-sm} {
                background-color: var(--theme-color-info-hover);

                &:hover,
                &:focus {
                    background-color: var(--theme-color-info-active);
                }
            }
        }
    }
}
