// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@use '../includes/lib' as *;

// --------------------------------------------------------------------------
// section heading

.mzp-c-section-heading {
    margin: 0 auto;
    padding: var(--theme-spacing-between-block) var(--theme-spacing-between-inline);
    max-width: $content-lg;
    text-align: center;
    @include text-heading-md;

    // rely on l-content for padding if nested
    .mzp-l-content & {
        padding-left: 0;
        padding-right: 0;

        &:first-child {
            padding-top: 0;
        }
    }

    &.mzp-t-section-heading-nospace {
        padding-top: 0;
        padding-bottom: 0;
    }
}
