// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@use '../includes/lib' as *;

// --------------------------------------------------------------------------
// section heading

.mzp-c-section-heading {
    @include text-title-md;
    margin: 0 auto;
    padding: var(--h-grid-xs) $layout-xs;
    max-width: $content-lg;
    text-align: center;

    @media #{$mq-md} {
        padding: var(--h-grid-md) var(--v-grid-md);
    }

    @media #{$mq-xl} {
        padding: var(--h-grid-xl) var(--v-grid-xl);
    }

    // rely on l-content for padding if nested
    .mzp-l-content & {
        padding-left: 0;
        padding-right: 0;

        &:first-child {
            padding-top: 0;
        }
    }
}
