// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@use '../includes/lib' as *;

// Sidebar menu

.mzp-c-sidemenu {
    background-color: $color-marketing-gray-20;
    padding: $spacing-sm $spacing-lg;
    margin: 0 -#{$spacing-lg} $layout-sm;
    @include text-body-md;
}

.mzp-c-sidemenu-summary {
    display: none;

    ul {
        margin: 0;
    }

    li {
        @include bidi((
            (margin-right, $spacing-xs, margin-left, 0),
        ));
        color: $color-marketing-gray-80;
        display: inline-block;

        &::after {
            @include bidi((
                (margin-left, $spacing-xs, margin-right, 0),
                (transform, none, translateY(3px) rotate(180deg)),
            ));
            content: '\25B8'; // right pointing triangle
            display: inline-block;
        }

        &:last-child::after {
            content: '';
            margin: 0;
        }

        &.mzp-is-current {
            color: $color-black;
        }
    }
}

.mzp-c-sidemenu-main {
    ul {
        margin: 0;
    }

    li {
        margin-bottom: 0.25em;
    }

    a {
        border-radius: $border-radius-xs;
        display: block;
        padding: 0.35em $spacing-lg;
        text-decoration: none;
        transition: background-color 100ms ease-in;

        &:hover,
        &:focus,
        &:active {
            background-color: rgb(0, 0, 0, 0.05);
            text-decoration: underline;
        }
    }

    .mzp-is-current a {
        font-weight: bold;
        background-color: $color-marketing-gray-20;
    }
}

.mzp-c-sidemenu-label {
    position: relative;
    @include bidi((
        (padding-right, $spacing-lg, padding-left, 0),
    ));
    @include text-body-sm;
    @include font-base;

    &::after {
        @include bidi((
            (right, 0, left, auto),
        ));
        @include transform(rotate(90deg));
        color: $color-marketing-gray-80;
        content: none;
        font-size: 1.5em;
        position: absolute;
        top: 0;
    }
}

.mzp-c-sidemenu-title {
    line-height: 1.5;
    margin-bottom: 0.25em;
    @include text-body-lg;
    @include font-base;

    a {
        padding: 0.35em $spacing-md;
    }
}

.js {
    .mzp-c-sidemenu-summary {
        display: block;
        padding: $spacing-sm $spacing-lg;
        margin: -#{$spacing-sm} -#{$spacing-lg};
    }

    .mzp-c-sidemenu-main {
        display: none;
    }

    .mzp-c-sidemenu-label::after {
        content: '\25B8'; // right pointing triangle
    }

    .mzp-is-active {
        .mzp-c-sidemenu-label::after {
            transform: rotate(-90deg);
        }

        .mzp-c-sidemenu-main {
            display: block;
            margin: $spacing-md -#{$spacing-md} 0;
            @include text-body-md;
        }
    }
}

@media #{$mq-md} {
    .js {
        .mzp-c-sidemenu-summary {
            display: none;
        }

        .mzp-c-sidemenu-main {
            display: block;
        }

        .mzp-is-active .mzp-c-sidemenu-main {
            margin: 0;
        }

        .mzp-c-sidemenu {
            background-color: transparent;
            padding: 0;
            margin: 0;
            @include text-body-md;
        }
    }
}
