// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@use '../includes/lib' as *;

// * -------------------------------------------------------------------------- */
// Basic vertical alignment

.mzp-c-split {
    overflow-x: hidden;
    position: relative;
    padding: var(--theme-spacing-between-block) 0;

    @media #{$mq-md} {
        &.mzp-t-split-nospace {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

.mzp-c-split-container {
    @include clearfix;
    margin: 0 auto;
    max-width: $content-max;
    padding: 0 var(--theme-spacing-between-inline);

    .mzp-t-content-md & {
        max-width: $content-md;
    }

    .mzp-t-content-lg & {
        max-width: $content-lg;
    }

    .mzp-t-content-xl & {
        max-width: $content-xl;
    }
}

.mzp-c-split-body {
    position: relative;

    > :last-child {
        margin-bottom: 0;

        > :last-child {
            margin-bottom: 0;
        }
    }
}

.mzp-c-split-media {
    position: relative;
}

.mzp-c-split-media-asset {
    display: block;
    max-width: 100%;
}

.mzp-c-split-bg {
    padding: var(--theme-spacing-between-block) 0;
}

// * -------------------------------------------------------------------------- */
// Mobile only rules

@media all and (max-width: #{$screen-md - 1}) {
    .mzp-c-split-body + .mzp-c-split-media,
    .mzp-c-split-media + .mzp-c-split-body {
        margin-top: var(--theme-spacing-between-block);
    }

    .mzp-l-split-center-on-sm-md {
        .mzp-c-split-body,
        .mzp-c-split-media,
        .mzp-c-split-media-asset {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .mzp-l-split-hide-media-on-sm-md {
        .mzp-c-split-body {
            margin-top: 0;
        }

        .mzp-c-split-media {
            display: none;
        }
    }
}

// Issue 779 - Remove default mobile padding on nospace split component
@media screen and (max-width: $screen-md) {
    .mzp-t-split-nospace {
        padding-top: 0;
        padding-bottom: 0;
    }
}

// * -------------------------------------------------------------------------- */
// side by side layout

@media #{$mq-md} {
    .mzp-c-split-container {
        align-items: center;
        display: grid;
        column-gap: var(--theme-spacing-between-inline);
        grid-template-areas: 'body media';
        grid-template-columns: 1fr 1fr;

        .mzp-l-split-reversed & {
            grid-template-areas: 'media body';
        }
    }

    .mzp-c-split-body,
    .mzp-c-split-media {
        .mzp-c-split-container & {
            min-width: 0; // because of https://stackoverflow.com/questions/43311943/prevent-content-from-expanding-grid-items
        }
    }

    .mzp-c-split-body {
        grid-area: body;
    }

    .mzp-c-split-media {
        grid-area: media;
        place-self: center start;

        .mzp-c-split-media-asset {
            display: block;
        }

        .mzp-l-split-reversed & {
            justify-self: end;
        }
    }
}

@media #{$mq-lg} {
    .mzp-c-split-container {
        .mzp-l-split-body-narrow & {
            grid-template-columns: 1fr 2fr;
        }

        .mzp-l-split-body-wide & {
            grid-template-columns: 2fr 1fr;
        }

        .mzp-l-split-body-narrow.mzp-l-split-reversed & {
            grid-template-columns: 2fr 1fr;
        }

        .mzp-l-split-body-wide.mzp-l-split-reversed & {
            grid-template-columns: 1fr 2fr;
        }
    }
}

// * --------------------------------------------------------------------------- */
// vertical and horizontal alignment for body or media

@media #{$mq-md} {
    .mzp-c-split {
        .mzp-l-split-h-start {
            justify-self: start;
            text-align: start;
        }

        .mzp-l-split-h-center {
            justify-self: center;
            text-align: center;

            .mzp-c-split-media-asset {
                margin: 0 auto;
            }
        }

        .mzp-l-split-h-end {
            justify-self: end;
            text-align: end;
        }

        .mzp-l-split-v-start {
            align-self: start;
        }

        .mzp-l-split-v-center {
            align-self: center;
        }

        .mzp-l-split-v-end {
            align-self: end;
        }
    }
}
