// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../../includes/lib';

:link {
    color: $color-link;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }

    &:active {
        background-color: rgba(0, 0, 0, .05);
    }
}

:visited {
    color: $color-link-visited;

    &:hover {
        color: $color-link-visited-hover;
    }
}

.mzp-t-dark {
    @include light-links;
}

.mzp-c-cta-link {
    font-weight: bold;

    &:link,
    &:visited {
        border-bottom: 2px solid;
        color: $color-link;
        text-decoration: none;
    }

    &:hover,
    &:active,
    &:focus {
        @include transition(border-bottom-color 100ms ease-in-out);
        border-bottom-color: transparent;
    }

    .mzp-t-dark & {
        &:link,
        &:visited {
            color: $color-white;
            text-decoration: none;
        }
    }
}
