// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../../includes/lib';

:link {
    color: $color-link;
    text-decoration: underline;

    &:hover {
        color: $color-link-hover;
    }

    &:active {
        background-color: rgba(0, 0, 0, .05);
    }
}

:visited {
    color: $color-link-visited;

    &:hover {
        color: $color-link-visited-hover;
    }
}
