// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../../includes/lib';


blockquote {
    @include bidi((
        (border-left, 5px solid $color-gray-20, border-right, 0),
        ));
    @include text-display-md;
    margin: $spacing-md auto;
    padding: $spacing-sm $spacing-lg;
    font-weight: bold;

    & > :last-child {
        margin-bottom: 0;
    }

    .mzp-t-firefox &,
    &.mzp-t-firefox {
        @include font-firefox;
        color: $color-off-black;
    }

    &.mzp-t-mozilla,
    .mzp-t-mozilla & {
        @include font-mozilla;
    }
}
