// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../../includes/lib';


// This wrapper element sets the content width
.mzp-l-content {
    @include clearfix;
    margin: 0 auto;
    max-width: $content-max;
    min-width: $content-xs - ($layout-xs * 2);
    padding: $layout-xs;
    position: relative;

    @media #{$mq-md} {
        padding: $layout-xs $h-grid-md;
    }

    @media #{$mq-xl} {
        padding: $layout-xs ($layout-lg * 2);
    }

    &.mzp-t-content-sm {
        max-width: $content-sm;
    }

    &.mzp-t-content-md {
        max-width: $content-md;
    }

    &.mzp-t-content-lg {
        max-width: $content-lg;
    }

    &.mzp-t-content-xl {
        max-width: $content-xl;
    }
}

hr {
    border: 0 solid $color-marketing-gray-20;
    border-top-width: 4px;
    margin: 1.25em 0;
}
