// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../../includes/lib';

// This wrapper element sets the content width
.mzp-l-content {
    @include border-box;
    @include clearfix;
    margin: 0 auto;
    max-width: $content-max;
    min-width: $content-xs;
    padding: $layout-xs;
    position: relative;

    @media #{$mq-md} {
        padding: $layout-xs $layout-lg;
    }

    @media #{$mq-lg} {
        padding: $layout-xs $layout-xl;
    }
}

.mzp-s-content {
    @include border-box;
    @include clearfix;
    margin: 0 auto;
    max-width: $content-max;
    min-width: $content-xs;
    padding: $layout-xs;
    position: relative;

    @media #{$mq-md} {
        max-width: $content-md;
        min-width: $content-xs;
        padding: $layout-xs $layout-lg;
    }

    @media #{$mq-lg} {
        max-width: $content-lg;
        min-width: $content-xs;
        padding: $layout-xs $layout-xl;
    }
}

hr {
    border: 0 solid $color-gray-20;
    border-top-width: 4px;
    margin: 1.25em 0;
}
