// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../../includes/lib';

// This wrapper element sets the content width
.mzp-l-content {
    @include border-box;
    @include clearfix;
    margin: 0 auto;
    max-width: $content-xl;
    min-width: $content-xs;
    padding: $spacing-lg;
    position: relative;
}
