<section class="mzp-l-content mzp-l-columns mzp-t-columns-two">
  <div>
    <h3>Column One</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem
      molestiae reprehenderit aspernatur eveniet, vel facere placeat vitae
      repellat adipisci? Culpa officiis id amet quia ut iste, numquam placeat
      rem eius.</p>
  </div>

  <div>
    <h3>Column Two</h3>
    <p>Eu sumo praesent mei, ancillae molestie et ius. Et labores dolorum vix,
      in deleniti menandri interesset eam. Singulis comprehensam ad qui, ei ius
      ludus explicari conceptam.</p>
  </div>
</section>
