<div class="mzp-c-field">
  <label class="mzp-c-field-label" for="{{ id }}">{{#block "label"}}Label{{/block}}</label>
  <select class="mzp-c-field-control" name="select" id="{{ id }}" {{#if multiple}}multiple{{/if}} {{#if required}}required aria-required="true"{{/if}}>
    {{#block "options"}}
      <option>Option 1</option>
      <option>Option 2</option>
      <option>Option 3</option>
    {{/block}}
  </select>
  {{#if msg}}<div class="mzp-c-field-msg">{{ msg }}</div>{{/if}}
  {{#if info}}<p class="mzp-c-field-info">{{#block "info"}}{{/block}}</p>{{/if}}
</div>
