<div class="mzp-c-navigation {% if is_sticky %}mzp-is-sticky{% endif %}">
  <div class="mzp-c-navigation-l-content">
    <div class="mzp-c-navigation-container">
      <button
        class="mzp-c-navigation-menu-button"
        type="button"
        aria-controls="navigation-demo"
      >
        {%if label %}{{ label }}{% else %}Menu{% endif %}
      </button>

      {% if is_firefox %}
        <div class="mzp-t-firefox">
          <div class="mzp-c-navigation-logo">
              <a href="https://www.mozilla.org/en-US/firefox/">Firefox</a>
          </div>
        </div>
      {% else %}
        <div class="mzp-c-navigation-logo">
          <a href="https://www.mozilla.org/">Mozilla</a>
        </div>
      {% endif %}

      <div class="mzp-c-navigation-items" id="navigation-demo">
        <div class="mzp-c-navigation-menu">
          <!-- todo: create menu component and render here -->
          <nav class="mzp-c-menu mzp-is-basic">
            <ul class="mzp-c-menu-category-list">
              <li class="mzp-c-menu-category">
                <a class="mzp-c-menu-title" href="https://www.mozilla.org/">Sample Link</a>
              </li>
              <li class="mzp-c-menu-category mzp-has-drop-down mzp-js-expandable">
                <a class="mzp-c-menu-title" href="#" aria-haspopup="true"
                  aria-controls="mzp-c-menu-panel-example">Sample Link with Popup</a>
                <div class="mzp-c-menu-panel mzp-has-card" id="mzp-c-menu-panel-example">
                  <div class="mzp-c-menu-panel-container">
                    <button
                      class="mzp-c-menu-button-close"
                      type="button"
                      aria-controls="mzp-c-menu-panel-example"
                    >
                      Close Firefox menu
                    </button>
                    <div class="mzp-c-menu-panel-content">
                      <ul>
                        <li>
                          <section class="mzp-c-menu-item  ">
                            <div class="mzp-c-menu-item-head">
                              <h4 class="mzp-c-menu-item-title">A headline with 30 characters</h4>
                              <p class="mzp-c-menu-item-desc">
                                This is a short description
                                with only a single sentence
                                and no more.
                              </p>
                            </div>
                            <ul class="mzp-c-menu-item-list">
                              <li>
                                <a href="#">Secondary link</a>
                              </li>
                              <li>
                                <a href="#">Secondary link</a>
                              </li>
                              <li>
                                <a href="#">Secondary link</a>
                              </li>
                              <li>
                                <a href="#">Secondary link</a>
                              </li>
                              <li>
                                <a href="#">Secondary link</a>
                              </li>
                              <li>
                                <a href="#">Secondary link</a>
                              </li>
                            </ul>
                          </section>
                        </li>
                        <li>
                          <section class="mzp-c-menu-item  ">
                            <div class="mzp-c-menu-item-head">
                              <h4 class="mzp-c-menu-item-title">A headline with 30 characters</h4>
                              <p class="mzp-c-menu-item-desc">
                                This is a short description
                                with only a single sentence
                                and no more.
                              </p>
                            </div>
                            <ul class="mzp-c-menu-item-list">
                              <li>
                                <a href="#">Secondary link</a>
                              </li>
                              <li>
                                <a href="#">Secondary link</a>
                              </li>
                              <li>
                                <a href="#">Secondary link</a>
                              </li>
                              <li>
                                <a href="#">Secondary link</a>
                              </li>
                              <li>
                                <a href="#">Secondary link</a>
                              </li>
                              <li>
                                <a href="#">Secondary link</a>
                              </li>
                            </ul>
                          </section>
                        </li>
                      </ul>
                      <ul>
                        <li>
                          <section class="mzp-c-menu-item  ">
                            <div class="mzp-c-menu-item-head">
                              <h4 class="mzp-c-menu-item-title">A headline with 30 characters</h4>
                              <p class="mzp-c-menu-item-desc">
                                This is a short description
                                with only a single sentence
                                and no more.
                              </p>
                            </div>
                          </section>
                        </li>
                        <li>
                          <section class="mzp-c-menu-item  ">
                            <div class="mzp-c-menu-item-head">
                              <h4 class="mzp-c-menu-item-title">A headline with 30 characters</h4>
                              <p class="mzp-c-menu-item-desc">
                                This is a short description
                                with only a single sentence
                                and no more.
                              </p>
                            </div>
                          </section>
                        </li>
                        <li>
                          <section class="mzp-c-menu-item  ">
                            <div class="mzp-c-menu-item-head">
                              <h4 class="mzp-c-menu-item-title">A headline with 30 characters</h4>
                              <p class="mzp-c-menu-item-desc">
                                This is a short description
                                with only a single sentence
                                and no more.
                              </p>
                            </div>
                          </section>
                        </li>
                      </ul>
                    </div>
                    <div class="mzp-c-menu-panel-card">
                      <section class="mzp-c-card mzp-c-card-extra-small has-aspect-3-2">
                        <a class="mzp-c-card-block-link" href="#">
                          <div class="mzp-c-card-media-wrapper">
                            <img class="mzp-c-card-image" src="{{ image | default('/img/image-3-2.jpg') | path }}" alt="">
                          </div>
                          <div class="mzp-c-card-content">
                            <div class="mzp-c-card-tag">Card tag</div>
                            <h2 class="mzp-c-card-title">Headline that goes onto a second or third line</h2>
                            <p class="mzp-c-card-meta">6 hours ago</p>
                          </div>
                        </a>
                      </section>

                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </nav>
          <!-- end todo -->
        </div>
        <div class="mzp-c-navigation-download">
          {% render '@download-button--secondary', { show_both: False } %}
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{{ '/protocol/js/protocol-menu.js' | path }}"></script>
<script src="{{ '/protocol/js/protocol-navigation.js' | path }}"></script>

<script>
  Mzp.Menu.init({
    onMenuOpen: function () {
      console.log('Menu opened');
    },
    onMenuClose: function () {
      console.log('Menu closed');
    },
    onMenuButtonClose: function () {
      console.log(
        'Menu close button clicked');
    }
  });

  Mzp.Navigation.init()
</script>

{% block content %}
  <!-- demo content to show nav behavior on scroll -->
  <main class="mzp-l-content">
    <section>
      <h1>Demo content to show scroll behaviour</h1>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, unde. Illum accusantium molestiae inventore ex molestias consequuntur?</p>
      <p>Exercitationem id aut maxime distinctio autem! Iste incidunt fuga voluptate amet. Officiis unde ex deleniti ad velit optio qui accusantium, id suscipit eius nemo exercitationem quae enim consequatur. Quas vitae, amet rem beatae sequi porro.</p>
      <p>Numquam esse, minima ullam architecto vel ipsa voluptatum unde ut odit aliquam corporis et deleniti earum a maxime dicta sapiente iste consequatur iusto delectus voluptas veniam nam alias.</p>
      <p>Nesciunt harum iure delectus eveniet consequuntur quod, beatae cupiditate soluta eos, temporibus minus quas, ducimus nulla asperiores provident voluptas repudiandae!</p>
    </section>
    <section>
      <h2>Demo content to show scroll behaviour</h2>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, unde. Illum accusantium molestiae inventore ex molestias consequuntur?</p>
      <p>Exercitationem id aut maxime distinctio autem! Iste incidunt fuga voluptate amet. Officiis unde ex deleniti ad velit optio qui accusantium, id suscipit eius nemo exercitationem quae enim consequatur. Quas vitae, amet rem beatae sequi porro.</p>
      <p>Numquam esse, minima ullam architecto vel ipsa voluptatum unde ut odit aliquam corporis et deleniti earum a maxime dicta sapiente iste consequatur iusto delectus voluptas veniam nam alias.</p>
      <p>Nesciunt harum iure delectus eveniet consequuntur quod, beatae cupiditate soluta eos, temporibus minus quas, ducimus nulla asperiores provident voluptas repudiandae!</p>
    </section>
    <section>
      <h3>Demo content to show scroll behaviour</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, unde. Illum accusantium molestiae inventore ex molestias consequuntur?</p>
      <p>Exercitationem id aut maxime distinctio autem! Iste incidunt fuga voluptate amet. Officiis unde ex deleniti ad velit optio qui accusantium, id suscipit eius nemo exercitationem quae enim consequatur. Quas vitae, amet rem beatae sequi porro.</p>
      <p>Numquam esse, minima ullam architecto vel ipsa voluptatum unde ut odit aliquam corporis et deleniti earum a maxime dicta sapiente iste consequatur iusto delectus voluptas veniam nam alias.</p>
      <p>Nesciunt harum iure delectus eveniet consequuntur quod, beatae cupiditate soluta eos, temporibus minus quas, ducimus nulla asperiores provident voluptas repudiandae!</p>
    </section>
    <section>
      <h4>Demo content to show scroll behaviour</h4>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, unde. Illum accusantium molestiae inventore ex molestias consequuntur?</p>
      <p>Exercitationem id aut maxime distinctio autem! Iste incidunt fuga voluptate amet. Officiis unde ex deleniti ad velit optio qui accusantium, id suscipit eius nemo exercitationem quae enim consequatur. Quas vitae, amet rem beatae sequi porro.</p>
      <p>Numquam esse, minima ullam architecto vel ipsa voluptatum unde ut odit aliquam corporis et deleniti earum a maxime dicta sapiente iste consequatur iusto delectus voluptas veniam nam alias.</p>
      <p>Nesciunt harum iure delectus eveniet consequuntur quod, beatae cupiditate soluta eos, temporibus minus quas, ducimus nulla asperiores provident voluptas repudiandae!</p>
    </section>
  </main>
{% endblock %}
