<ol class="mzp-u-list-styled">
  <li>Ordered list item</li>
  <li>Ordered list item
    <ol class="mzp-u-list-styled">
      <li>Nested ordered list</li>
    </ol>
  </li>
</ol>

<ul class="mzp-u-list-styled">
  <li>Unordered list item</li>
  <li>Unordered list item
    <ul class="mzp-u-list-styled">
      <li>Nested unordered list</li>
    </ul>
  </li>
</ul>

<dl class="mzp-u-list-styled">
  <dt>Definition term</dt>
  <dd>Definition text</dd>
  <dt>Definition term</dt>
  <dd>Definition text
    <ul class="mzp-u-list-styled">
      <li>Nested list</li>
    </ul>
  </dd>
  <dt>Definition term</dt>
  <dd>Definition text</dd>
  <dd>Definition text</dd>
</dl>
