---
name: Themes
order: 2
description: |
  Theme the Split by wrapping an element with the class `mzp-c-split-bg` around the inner container.
tips: |
  - Use any of the standard background theme classes: `mzp-t-background-alt`, `mzp-t-dark`, or both together `mzp-t-dark mzp-t-background-alt`, or apply a custom background color in your own CSS.
  - To make the background flush with content above or below the Split, add the class `mzp-has-flush-bg`. Note that images can't "pop out" of a flush background.
---

{{#embed "patterns.organisms.split.split" has_bg="mzp-t-dark"}}
  {{#content "content"}}
    <h1 class="mzp-u-title-md">A Headline With 30 Characters</h1>
    <p>A description with a maximum of 140 characters and <a href="#">a link</a>. That means we usually only have room for one or two sentences. Like this.</p>
    <p>
      <a class="mzp-c-button mzp-t-dark" href="#">Call to action</a>
    </p>
  {{/content}}
{{/embed}}
