---
name: Four Column Grid
order: 7
---


<div class="mzp-l-grid">
    <div class="protosite-l-grid-1-4">1</div>
    <div class="protosite-l-grid-1-4">2</div>
    <div class="protosite-l-grid-1-4">3</div>
    <div class="protosite-l-grid-1-4">4</div>
</div>

<div class="mzp-l-grid">
    <div class="protosite-l-grid-3-4">1</div>
    <div class="protosite-l-grid-1-4">2</div>
</div>

<div class="mzp-l-grid">
    <div class="protosite-l-grid-1-4">1</div>
    <div class="protosite-l-grid-3-4">2</div>
</div>

<div class="mzp-l-grid">
    <div class="protosite-l-grid-1-4">1</div>
    <div class="protosite-l-grid-2-4">2</div>
    <div class="protosite-l-grid-1-4">3</div>
</div>

<div class="mzp-l-grid">
    <div class="protosite-l-grid-1-2">1</div>
    <div class="protosite-l-grid-1-4">2</div>
    <div class="protosite-l-grid-1-4">3</div>
</div>
