---
name: Grid
order: 1
description: |
  The `mzp-l-grid` class will resize all child divs in to evenly spaced columns
links:
    Grid Demo: /demos/grid.html
templates: true;
---

<div class="mzp-l-grid">
  <div>1</div>
</div>

<div class="mzp-l-grid">
  <div class="mzp-l-grid-1-2">1</div>
  <div class="mzp-l-grid-1-2">2</div>
</div>

<div class="mzp-l-grid">
  <div class="mzp-l-grid-1-3">1</div>
  <div class="mzp-l-grid-1-3">2</div>
  <div class="mzp-l-grid-1-3">3</div>
</div>

<div class="mzp-l-grid">
  <div class="mzp-l-grid-1-4">1</div>
  <div class="mzp-l-grid-1-4">2</div>
  <div class="mzp-l-grid-1-4">3</div>
  <div class="mzp-l-grid-1-4">4</div>
</div>

<div class="mzp-l-grid">
  <div class="mzp-l-grid-1-6">1</div>
  <div class="mzp-l-grid-1-6">2</div>
  <div class="mzp-l-grid-1-6">3</div>
  <div class="mzp-l-grid-1-6">4</div>
  <div class="mzp-l-grid-1-6">5</div>
  <div class="mzp-l-grid-1-6">6</div>
</div>

<div class="mzp-l-grid">
  <div class="mzp-l-grid-1-8">1</div>
  <div class="mzp-l-grid-1-8">2</div>
  <div class="mzp-l-grid-1-8">3</div>
  <div class="mzp-l-grid-1-8">4</div>
  <div class="mzp-l-grid-1-8">5</div>
  <div class="mzp-l-grid-1-8">6</div>
  <div class="mzp-l-grid-1-8">7</div>
  <div class="mzp-l-grid-1-8">8</div>
</div>
