---
name: Home
title: Mozilla Protocol
order: 0
bodyclass: home
---

<section class="protosite-hero">
  <div class="protosite-hero-body">
    <h1>Protocol Design System</h1>

    <div>
      <p>Protocol is a design system for Mozilla branded websites. It establishes a common design language, provides reusable coded components, and outlines high level guidelines for content and accessibility.</p>
    </div>

    <a href="#" class="mzp-c-button ">
      Get Started
    </a>

    <a href="https://github.com/mozilla/protocol" target="_blank" class="mzp-c-button mzp-t-secondary">
      View on Github
    </a>
  </div>

  <div class="protosite-hero-image">
    <img src="../../../static/img/protosite/hero@2x.png" alt="">
  </div>
</section>
