---
name: Home
title: Mozilla Protocol
order: 0
---

<div class="mzp-c-article">
  <div class="mzp-c-article-intro">
    <p>Protocol is a design system for Mozilla branded websites. It establishes a common design language, provides reusable coded components, and outlines high level guidelines for content and accessibility.</p>
  </div>

  <p>When design systems are effectively employed, the benefits are exponential:</p>

  <ul class="mzp-u-list-styled">
    <li>Improved User Experience: Scaled, consistent design patterns and content practices provide users with a familiar experience that allows for less time spent on re-learning interactions, finding pages that serve user needs, and abandoning pages that don’t.</li>
    <li>Efficiency: With a library of design components ready to employ and clear guidelines for creators, we spend more time on creation that serves our users and less time on “reinventing the wheel”.</li>
    <li>Clarity: With clearly documented guidelines and governance for design and content creation, we spend less time negotiating the guidelines to create clarity for ourselves and more time creating designs and content that clearly serves our users.</li>
  </ul>

  <p>This project was launched in the Spring of 2018 and is still very much a work in progress. <a href="https://github.com/mozilla/protocol">Follow along on Github</a>.</p>
</div>
