---
name: Home
title: Mozilla Protocol
order: 0
---

<div class="mzp-c-article">
  <div class="mzp-c-article-intro">
    <p>Protocol is a design system for Mozilla and Firefox websites. It establishes a common design language, provides reusable coded components, and outlines high level guidelines for content and accessibility.</p>

    <p>Protocol is still in an <strong>early stage of development</strong> and likely to change a lot in the near future. If you’re interested in using Protocol on your project, let us know and we can help you. You can find us in #design-systems on Mozilla’s Slack (for Mozillians) or <a href="https://github.com/mozilla/protocol/issues">file an issue on GitHub</a>.</p>
  </div>

  <p>When design systems are effectively employed, the benefits are manifold:</p>

  <ul class="mzp-u-list-styled">
    <li>Improved User Experience: Scaled, consistent design patterns and content practices provide users with a familiar experience that allows for less time spent on re-learning interactions, finding pages that serve user needs, and abandoning pages that don’t.</li>
    <li>Efficiency: With a library of design components ready to employ and clear guidelines for creators, we spend more time on creation that serves our users and less time on “reinventing the wheel”.</li>
    <li>Clarity: With clearly documented guidelines and governance for design and content creation, we spend less time negotiating the guidelines to create clarity for ourselves and more time creating designs and content that clearly serves our users.</li>
  </ul>

  <p><a href="https://github.com/mozilla/protocol">Follow along on GitHub</a>.</p>
</div>
