---
name: Home
title: Mozilla Protocol
order: 0
---

<p>
  We're developing a cohesive modular design system for Mozilla
  websites. This system will evolve and expand as we define more
  pieces of it, but we gotta start somewhere.
</p>
