---
name: Home
title: Mozilla Protocol
order: 0
---

<div class="mzp-c-article">
  <div class="mzp-c-article-intro">
    <p>Protocol is a design system for Mozilla and Firefox websites. It establishes a common design language, provides reusable coded components, and outlines high level guidelines for content and accessibility.</p>

    <p>Protocol is still an evolving project. Currently it’s used primarily by the Mozilla Marketing Websites team as the front-end for <a href="https://www.mozilla.org">www.mozilla.org</a>. The long term goal is to provide a robust, unified design system that anyone at Mozilla can use to build an on-brand website.</p>

    <p>If you’re interested in using Protocol on your project, let us know and we can help you. You can find us in #protocol-design-system on Mozilla’s Slack (for Mozillians) or in #protocol-design-system on <a href="https://chat.mozilla.org/">Matrix</a> (open to the public). Also feel free to <a href="https://github.com/mozilla/protocol/issues">file an issue on GitHub</a>.</p>

    <p><a href="https://github.com/mozilla/protocol">Follow along on GitHub</a>.</p>
  </div>

  <p>Benefits of a design system:</p>

  <ul class="mzp-u-list-styled">
    <li>Improved User Experience: Scaled, consistent design patterns and content practices provide users with a familiar experience that allows for less time spent on re-learning interactions, finding pages that serve user needs, and abandoning pages that don’t.</li>
    <li>Efficiency: With a library of design components ready to employ and clear guidelines for creators, we spend more time on creation that serves our users and less time on “reinventing the wheel”.</li>
    <li>Clarity: With clearly documented guidelines and governance for design and content creation, we spend less time negotiating the guidelines to create clarity for ourselves and more time creating designs and content that clearly serves our users.</li>
  </ul>
</div>
