---
name: Home
title: Mozilla Design System
order: 0
---

<p>
  We're developing a cohesive modular design system for Mozilla
  websites. This system will evolve and expand as we define more
  pieces of it, but we gotta start somewhere.
</p>

<img src="{{@root.baseurl}}/static/img/construction-sm.gif" alt="">
