// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@use '../../includes/lib' as *;

// Theme classes for background colors

.mzp-t-background-secondary {
    background-color: $background-color-secondary;

    @supports (--css: variables) {
        background-color: var(--background-color-secondary);
    }
}

.mzp-t-background-tertiary {
    background-color: $background-color-tertiary;

    @supports (--css: variables) {
        background-color: var(--background-color-tertiary);
    }
}

.mzp-t-dark {
    background-color: $background-color-inverse;
    color: $body-text-color-inverse;

    @supports (--css: variables) {
        background-color: var(--background-color-inverse);
        color: var(--token-body-text-color-inverse);
    }
}

.mzp-t-dark.mzp-t-background-secondary,
.mzp-t-dark .mzp-t-background-secondary {
    background-color: $background-color-secondary-inverse;

    @supports (--css: variables) {
        background-color: var(--background-color-secondary-inverse);
    }
}

.mzp-t-dark.mzp-t-background-tertiary,
.mzp-t-dark .mzp-t-background-tertiary {
    background-color: $background-color-tertiary-inverse;

    @supports (--css: variables) {
        background-color: var(--background-color-tertiary-inverse);
    }
}
