// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@use '../../includes/lib' as *;
@use '../../includes/tokens' as tokens;
@use '../../base/elements/tables' as *;

.mzp-u-rich-text {
    h2 {
        margin-bottom: $layout-xs;
        margin-top: $layout-sm;
    }

    h3 {
        margin-bottom: $layout-xs;
        margin-top: $layout-sm;
    }

    h4 {
        margin-bottom: $layout-xs;
        margin-top: $layout-xs;
        @include text-body-lg;
    }

    @media #{$mq-md} {
        h2 {
            margin-bottom: $layout-sm;
            margin-top: $layout-md;
        }

        h3 {
            margin-top: $layout-md;
        }

        h4 {
            margin-top: $layout-sm;
        }
    }

    @media #{$mq-xl} {
        h2 {
            margin-bottom: $layout-md;
            margin-top: $layout-lg;
        }

        h3 {
            margin-top: $layout-lg;
        }

        h4 {
            margin-top: $layout-md;
        }
    }

    ul {
        list-style-type: disc;
        @include bidi(((margin-left, $layout-sm, margin-right, 0),));

        ul {
            list-style-type: circle;
        }
    }

    ol {
        list-style-type: decimal;
        @include bidi(((margin-left, $layout-sm, margin-right, 0),));

        ol {
            list-style-type: lower-roman;
        }
    }

    li {
        margin-bottom: 0.25em;

        ul, ol {
            @include bidi(((margin-left, $layout-xs, margin-right, 0),));
        }
    }

    dt {
        font-weight: bold;
        margin-bottom: 0;
    }

    dd {
        margin-bottom: 0.25em;
        @include bidi(((margin-left, $layout-xs, margin-right, 0),));
    }

    pre {
        background-color: tokens.$color-light-gray-20;
        margin-bottom: 1.25em;
        overflow-x: auto;
        padding: $spacing-md;
    }

    table {
        @extend %data-table;
    }
}
