// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@use '../../includes/lib' as *;

// Utility classes for title styles.
// These classes are purely presentational. Don't use them if you don't have to.

.mzp-u-heading-2xl {
    @include text-heading-2xl;
}

.mzp-u-heading-xl {
    @include text-heading-xl;
}

.mzp-u-heading-lg {
    @include text-heading-lg;
}

.mzp-u-heading-md {
    @include text-heading-md;
}

.mzp-u-heading-sm {
    @include text-heading-sm;
}

.mzp-u-heading-xs {
    @include text-heading-xs;
}

.mzp-u-heading-2xs {
    @include text-heading-2xs;
}

.mzp-u-heading-3xs {
    @include text-heading-3xs;
}

// Utility class for centered text.
.mzp-u-centered {
    text-align: center;
}
