// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

// Content Sizes
$width-content-xs: 300px;
$width-content-sm: 460px;
$width-content-md: 740px;
$width-content-lg: 980px;
$width-content-xl: 1380px;
$width-content-max: 1420px;

// Screen Sizes
$screen-xs: 320px !default;
$screen-sm: 480px !default;
$screen-md: 760px !default;
$screen-lg: 1000px !default;
$screen-xl: 1400px !default;
