---
name: Emphasis Box
description: A emphasis box
order: 2
notes: |
    - This is intended to be used in addition to a card or some other block element

---

<section class="mzp-c-emphasis-box" >
  {{#block "content"}}
    <h3>This is a standard Emphasis Box</h3>
    <p>This is some filler content. Cats are the best, every cat.</p>
  {{/block}}
</section>
