---
name: Menu
description: An expandable menu used in the [Navigation](/patterns/organisms/navigation.html) organism, consisting of [Menu Items](/patterns/molecules/menu.html#menu-item) and an optional [Card](/patterns/molecules/card.html#extra-small-card) molecule.
order: 1
notes: |
  - On wide viewports a menu's content is displayed when hovering or focusing on a menu link.
  - On small viewports a menu's content is expanded/collapsed when clicking on a menu link.
  - Menu content should consist of two lists of one or more [Menu Items](/patterns/molecules/menu.html#menu-item).
  - An Extra Small Card can also be included inside a menu using the `mzp-has-card` class. Cards are only visible on wide viewports.
  - A menu can also feature regular links that do not expand on hover/click by omitting the `mzp-has-drop-down` and  `mzp-js-expandable` classes.
  - A menu with a state class of `mzp-is-basic` is accessible without JavaScript. This state class gets replaced with `mzp-is-enhanced` when JS is executed.
  - A menu can be initialized using `Mzp.Menu.init(options)`, where `options` is an Object with the following properties.
    - `onMenuOpen` [Function] callback when a menu is opened (optional).
    - `onMenuClose` [Function] callback when a menu is closed (optional).
    - `onMenuButtonClose` [Function] callback when a menu close button is clicked (optional).
links:
    Navigation Demo: /demos/navigation.html
---

<nav class="mzp-c-menu mzp-is-basic">
  <ul class="mzp-c-menu-category-list">
    {{#block "content"}}
      <li class="mzp-c-menu-category">
          <a class="mzp-c-menu-title" href="https://www.mozilla.org/">Sample Link</a>
      </li>
      <li class="mzp-c-menu-category mzp-has-drop-down mzp-js-expandable">
        <a class="mzp-c-menu-title" href="#" aria-haspopup="true" aria-controls="mzp-c-menu-panel-example">Firefox</a>
        <div class="mzp-c-menu-panel mzp-has-card" id="mzp-c-menu-panel-example">
          <div class="mzp-c-menu-panel-container">
            <button class="mzp-c-menu-button-close" type="button" aria-controls="mzp-c-menu-panel-example">Close Firefox menu</button>
            <div class="mzp-c-menu-panel-content">
              <ul>
                <li>
                  {{#embed "patterns.molecules.menu.menu-item"}}{{/embed}}
                </li>
                <li>
                  {{#embed "patterns.molecules.menu.menu-item"}}{{/embed}}
                </li>
              </ul>
              <ul>
                <li>
                  {{#embed "patterns.molecules.menu.menu-item"}}
                    {{#content "list"}}{{/content}}
                  {{/embed}}
                </li>
                <li>
                  {{#embed "patterns.molecules.menu.menu-item"}}
                    {{#content "list"}}{{/content}}
                  {{/embed}}
                </li>
                <li>
                  {{#embed "patterns.molecules.menu.menu-item"}}
                    {{#content "list"}}{{/content}}
                  {{/embed}}
                </li>
              </ul>
            </div>
            <div class="mzp-c-menu-panel-card">
              {{#embed "patterns.molecules.card.extra-small-card"}}{{/embed}}
            </div>
          </div>
        </div>
      </li>
    {{/block}}
  </ul>
</nav>

<script src="{{@root.baseurl}}/assets/protocol/protocol/js/protocol-menu.js"></script>

<script>
  Mzp.Menu.init({
      onMenuOpen: function() {
          console.log('Menu opened');
      },
      onMenuClose: function() {
          console.log('Menu closed');
      },
      onMenuButtonClose: function() {
          console.log('Menu close button clicked');
      }
  });
</script>
