---
name: Basic card
notes: A card with image, headline, description, and link.
labels:
    - prototype
tips: |
    - A handy dandy tip.
    - And another.
nonos: |
    - Don't do the bad thing.
---

<div class="card">
  <a class="card-image" href="#">
    <img src="{{@root.baseurl}}/static/img/card-image.jpg" alt="">
    <h3 class="card-title">Card Title</h3>
  </a>

  <div class="card-desc">
    <p class="card-copy">Lorem ipsum dolor sit amet, pri illum munere mollis at, amet senserit te vix, sint porro mei eu.</p>
  </div>

  <p class="card-cta"><a class="cta-link" href="#">Learn more</a></p>
</div>
