---
name: Extra Small Card
description: An extra small card with image, headline, description, and link.
order: 4
notes: |
    - The card in this example has a slightly longer title and no description.
    - Optional card meta data is also displayed to show the time an article was published.
    - Extra small sized cards should contain images with either 16:9, 3:2 aspect ratios.
    - Recommended image width is 450px width (low-res), 900px (high-res).
      - high-res examples: 16:9 = 900 x 506, 3:2 = 900 x 600, 1:1 = 900 x 900
    - Headlines should be a maximum of 40 characters, and descriptions a maximum of 140 characters.
links:
    Card Layout Class: /patterns/templates/card-layout.html
    Card Layout Demo: /demos/card-layout.html
---

{{#embed "patterns.molecules.card.small-card" class="mzp-c-card-extra-small has-aspect-3-2"}}
  {{#content "content"}}
    <div class="mzp-c-card-tag">Card tag</div>
    <h2 class="mzp-c-card-title">Headline that goes onto a second or third line</h2>
    <p class="mzp-c-card-meta">6 hours ago</p>
  {{/content}}
{{/embed}}
