---
name: Picto Card
description: A card with a pictographic icon, headline, and description.
order: 5
notes: |
    - This card type should be arranged in groups of two or three using the `.mzp-l-card-half` and `.mzp-l-card-third` layout classes.
    - Icons are presentational so should be applied as CSS background images via a `.mzp-c-card-picto-content::before` pseudo class.
    - Headlines should be a maximum of 30 characters, and descriptions a maximum of 60 characters.
    - A .`mzp-t-dark` theme color is supported for use on different color backgrounds.
    - Icon size is 56px x 56px.
links:
    Card Layout Class: /patterns/templates/card-layout.html
    Picto Card Layout Demo: /demos/card-picto-layout.html
---

<section class="mzp-c-card-picto {{#if class}}{{class}}{{/if}}">
  <div class="mzp-c-card-picto-content">
  {{#block "content"}}
    <h2 class="mzp-c-card-picto-title">A headline with 30 characters</h2>
    <p class="mzp-c-card-picto-desc">A short description with a maximum of about 60 characters.</p>
  {{/block}}
  </div>
</section>
