// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.


// Default media paths can be overwritten globally.
$font-path: '../fonts' !default;
$image-path: '../img' !default;

@import 'components/article';
@import 'components/billboard';
@import 'components/button';
@import 'components/call-out';
@import 'components/emphasis-box';
@import 'components/feature-card';
@import 'components/forms/button-container';
@import 'components/forms/choice';
@import 'components/forms/field';
@import 'components/forms/form';
@import 'components/forms/set';
@import 'components/hero';
@import 'components/inline-list';
@import 'components/modal';
@import 'components/menu-list';
@import 'components/newsletter-form';
@import 'components/notification-bar';
@import 'components/picto-card';
@import 'components/sidebar-menu';
@import 'components/zap';
@import 'templates/card-layout';
@import 'templates/main-with-sidebar';
