---
name: Atoms
order: 0
doclayout: true
description: |
  The foundational building blocks that comprise all our user interfaces.
---

<ul class="mzp-u-list-styled">
    <li>
      <a href="{{@root.baseurl}}/patterns/atoms/buttons.html">Buttons</a>
    </li>
    <li>
      <a href="{{@root.baseurl}}/patterns/atoms/forms.html">Forms</a>
    </li>
    <li>
      <a href="{{@root.baseurl}}/patterns/atoms/links.html">Links</a>
    </li>
    <li>
      <a href="{{@root.baseurl}}/patterns/atoms/typographic.html">Text</a>
    </li>
</ul>
