---
name: Breadcrumb
description: A type of navigation menu used to provide a list of links based on current page within the site heirarchy, allowing users to visit previous pages from the current page. Current implementation is to use this component as a header.
order: 1
notes: |
    - Current implementation was designed for only one child item. Additional items have not been tested.
    - Use the `.mzp-t-dark` options to use dark mode.
    - Use a `<ol>` to use semantic HTML and structure.
---

<ol class="mzp-c-breadcrumb">
  <li class="mzp-c-breadcrumb-title">
    <a class="mzp-c-breadcrumb-item-link" href="#">Parent page</a>
  </li>
  <li class="mzp-c-breadcrumb-item">
    <a class="mzp-c-breadcrumb-item-link" href="#">Child page longer title a little bit longer now</a>
  </li>
</ol>


