// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@use '../tokens';

%firefox-theme {
    // fonts
    --token-body-font-family: #{tokens.$font-stack-base};
    --token-body-font-ligatures: none;
    --token-button-font-family: #{tokens.$font-stack-firefox};
    --token-heading-font-family: #{tokens.$font-stack-firefox};
    --token-heading-font-ligatures: none;
    --token-heading-font-weight: 600;
    --token-heading-letter-spacing: 0;

    // colors
    --background-color-tertiary-inverse: #{tokens.$color-ink-20};
    --background-color-tertiary: #{tokens.$color-marketing-gray-20};
    --background-color-secondary-inverse: #{tokens.$color-ink-50};
    --background-color-secondary: #{tokens.$color-light-gray-10};
    --background-color-inverse: #{tokens.$color-ink-80};
    --background-color: #{tokens.$color-white};
    --body-text-color-secondary-inverse: #{tokens.$color-marketing-gray-30};
    --body-text-color-secondary: #{tokens.$color-marketing-gray-70};
    --body-text-color-inverse: #{tokens.$color-white};
    --body-text-color: #{tokens.$color-marketing-gray-80};
    --link-color-hover-inverse: #{tokens.$color-blue-05};
    --link-color-hover: #{tokens.$color-link-hover};
    --link-color-inverse: #{tokens.$color-blue-10};
    --link-color-visited-inverse: #{tokens.$color-violet-10};
    --link-color-visited: #{tokens.$color-link-visited};
    --link-color: #{tokens.$color-link};
    --heading-text-color-inverse: #{tokens.$color-white};
    --heading-text-color: #{tokens.$color-marketing-gray-99};
}

%firefox-type-scale {
    // typescale
    --token-heading-font-size-plus-3: 4rem;
    --token-heading-line-height-plus-3: 1.125;
    --token-heading-font-size-plus-2: 3.5rem;
    --token-heading-line-height-plus-2: 1.143;
    --token-heading-font-size-plus-1: 3rem;
    --token-heading-line-height-plus-1: 1.166;
    --token-heading-font-size: 2.5rem;
    --token-heading-line-height: 1.1;
    --token-heading-font-size-minus-1: 2rem;
    --token-heading-line-height-minus-1: 1.125;
    --token-heading-font-size-minus-2: 1.5rem;
    --token-heading-line-height-minus-2: 1.166;
    --token-heading-font-size-minus-3: 1.25rem;
    --token-heading-line-height-minus-3: 1.2;
    --token-heading-font-size-minus-4: 1rem;
    --token-heading-line-height-minus-4: 1.25;
    --token-body-font-size-plus-2: 1.313rem;
    --token-body-font-size-plus-1: 1.125rem;
    --token-body-font-size: 1rem;
    --token-body-font-size-minus-1: 0.875rem;
    --token-body-font-size-minus-2: 0.75rem;
    --token-body-line-height: 1.5;
    --token-button-line-height: 1.25;
}

%firefox-type-scale-condensed {
    --token-heading-font-size-plus-3: 2rem;
    --token-heading-line-height-plus-3: 1.125;
    --token-heading-font-size-plus-2: 1.5rem;
    --token-heading-line-height-plus-2: 1.166;
    --token-heading-font-size-plus-1: 1.313rem;
    --token-heading-line-height-plus-1: 1.2;
    --token-heading-font-size: 1.125rem;
    --token-heading-line-height: 1.2;
    --token-heading-font-size-minus-1: 1rem;
    --token-heading-line-height-minus-1: 1.25;
    --token-heading-font-size-minus-2: 0.875rem;
    --token-heading-line-height-minus-2: 1.25;
    --token-heading-font-size-minus-3: 0.875rem;
    --token-heading-line-height-minus-3: 1.25;
    --token-heading-font-size-minus-4: 0.875rem;
    --token-heading-line-height-minus-4: 1.25;
    --token-body-font-size-plus-2: 1.125rem;
    --token-body-font-size-plus-1: 1rem;
    --token-body-font-size: 0.875rem;
    --token-body-font-size-minus-1: 0.8rem;
    --token-body-font-size-minus-2: 0.688rem;
    --token-body-line-height: 1.5;
    --token-button-line-height: 1.25;
}
