// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

// This file contains all the theme variables for both the Firefox and Mozilla
// themes. Mixins and functions can draw from these variable maps, swapping to
// a different map based on the value of the global $brand-theme variable.

@use 'mozilla';
@use 'firefox';
@use '../tokens';
@use '../config';
@forward '../themes-sass';

:root {
    --v-grid-xs: #{tokens.$layout-md};
    --h-grid-xs: #{tokens.$layout-xs};

    // sm is the same as xs
    --v-grid-sm: #{tokens.$layout-md};
    --h-grid-sm: #{tokens.$layout-xs};

    // md
    --v-grid-md: #{tokens.$layout-md};
    --h-grid-md: #{tokens.$layout-lg};

    // lg is the same as medium
    --v-grid-lg: #{tokens.$layout-md};
    --h-grid-lg: #{tokens.$layout-lg};

    // xl
    --v-grid-xl: #{tokens.$layout-xl};
    --h-grid-xl: 80px;

    @if config.$brand-theme == 'mozilla' {
        @extend %mozilla-theme;
        @extend %mozilla-type-scale;

        @if config.$type-scale == 'condensed' {
            @extend %mozilla-type-scale-condensed;
        }
    } @else if config.$brand-theme == 'firefox' {
        @extend %firefox-theme;
        @extend %firefox-type-scale;

        @if config.$type-scale == 'condensed' {
            @extend %firefox-type-scale-condensed;
        }
    }

    --theme-title-font-family: var(--token-title-font-family);
    --theme-title-line-height-2xl: var(--token-title-2xl-line-height);
    --theme-title-line-height-xl: var(--token-title-xl-line-height);
    --theme-title-line-height-lg: var(--token-title-lg-line-height);
    --theme-title-line-height-md: var(--token-title-md-line-height);
    --theme-title-line-height-sm: var(--token-title-sm-line-height);
    --theme-title-line-height-xs: var(--token-title-xs-line-height);
    --theme-title-line-height-2xs: var(--token-title-2xs-line-height);
    --theme-title-line-height-3xs: var(--token-title-3xs-line-height);
    --theme-title-font-size-2xl: var(--token-title-2xl-size);
    --theme-title-font-size-xl: var(--token-title-xl-size);
    --theme-title-font-size-lg: var(--token-title-lg-size);
    --theme-title-font-size-md: var(--token-title-md-size);
    --theme-title-font-size-sm: var(--token-title-sm-size);
    --theme-title-font-size-xs: var(--token-title-xs-size);
    --theme-title-font-size-2xs: var(--token-title-2xs-size);
    --theme-title-font-size-3xs: var(--token-title-3xs-size);

    --theme-body-font-family: var(--token-body-font-family);
    --theme-body-line-height-2xl: var(--token-body-2xl-line-height);
    --theme-body-line-height-xl: var(--token-body-xl-line-height);
    --theme-body-line-height-lg: var(--token-body-lg-line-height);
    --theme-body-line-height-md: var(--token-body-md-line-height);
    --theme-body-line-height-sm: var(--token-body-sm-line-height);
    --theme-body-line-height-xs: var(--token-body-xs-line-height);
    --theme-body-line-height-2xs: var(--token-body-2xs-line-height);
    --theme-body-font-size-2xl: var(--token-body-2xl-size);
    --theme-body-font-size-xl: var(--token-body-xl-size);
    --theme-body-font-size-lg: var(--token-body-lg-size);
    --theme-body-font-size-md: var(--token-body-md-size);
    --theme-body-font-size-sm: var(--token-body-sm-size);
    --theme-body-font-size-xs: var(--token-body-xs-size);
    --theme-body-font-size-2xs: var(--token-body-2xs-size);
}
