// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@use 'sass:meta';
@use '../tokens';

%mozilla-theme {
    // fonts
    --body-font-family: #{tokens.$font-stack-mozilla-text};
    --button-font-family: #{tokens.$font-stack-mozilla-text};
    --title-font-family: #{tokens.$font-stack-mozilla-headline};
    --title-font-ligatures: none;
    --body-font-ligatures: none;
    --title-font-weight: 600;
    --title-letter-spacing: -0.01em;

    // colors
    --background-color-tertiary-inverse: #{tokens.$color-dark-gray-40};
    --background-color-tertiary: #{tokens.$color-light-gray-30};
    --background-color-secondary-inverse: #{tokens.$color-dark-gray-60};
    --background-color-secondary: #{tokens.$color-light-gray-10};
    --background-color-inverse: #{tokens.$color-black};
    --background-color: #{tokens.$color-white};
    --body-text-color-secondary-inverse: #{tokens.$color-light-gray-30};
    --body-text-color-secondary: #{tokens.$color-dark-gray-90};
    --body-text-color-inverse: #{tokens.$color-white};
    --body-text-color: #{tokens.$color-black};
    --link-color-hover-inverse: #{tokens.$color-blue-05};
    --link-color-hover: #{tokens.$color-link-hover};
    --link-color-inverse: #{tokens.$color-blue-10};
    --link-color-visited-hover-inverse: #{tokens.$color-violet-05};
    --link-color-visited-hover: #{tokens.$color-link-visited-hover};
    --link-color-visited-inverse: #{tokens.$color-violet-10};
    --link-color-visited: #{tokens.$color-link-visited};
    --link-color: #{tokens.$color-link};
    --title-text-color-inverse: #{tokens.$color-white};
    --title-text-color: #{tokens.$color-black};
}

%mozilla-type-scale {
    // type scale
    --title-2xl-size: 4.75rem;
    --title-2xl-line-height: 1.1;
    --title-xl-size: 4.125rem;
    --title-xl-line-height: 1.1;
    --title-lg-size: 3.5rem;
    --title-lg-line-height: 1.1;
    --title-md-size: 3rem;
    --title-md-line-height: 1.1;
    --title-sm-size: 2.375rem;
    --title-sm-line-height: 1.1;
    --title-xs-size: 1.75rem;
    --title-xs-line-height: 1.1;
    --title-2xs-size: 1.5rem;
    --title-2xs-line-height: 1.1;
    --title-3xs-size: 1.125rem;
    --title-3xs-line-height: 1.1;
    --body-xl-size: 1.313rem;
    --body-lg-size: 1.125rem;
    --body-md-size: 1rem;
    --body-sm-size: 0.875rem;
    --body-xs-size: 0.75rem;
    --body-line-height: 1.2;
}

%mozilla-type-scale-condensed {
    --title-2xl-size: 2.125rem;
    --title-2xl-line-height: 1;
    --title-xl-size: 1.625rem;
    --title-xl-line-height: 1;
    --title-lg-size: 1.375rem;
    --title-lg-line-height: 1;
    --title-md-size: 1.25rem;
    --title-md-line-height: 1;
    --title-sm-size: 1.125rem;
    --title-sm-line-height: 1;
    --title-xs-size: 1rem;
    --title-xs-line-height: 1;
    --title-2xs-size: 0.875rem;
    --title-2xs-line-height: 1;
    --title-3xs-size: 0.875rem;
    --title-3xs-line-height: 1;
    --body-xl-size: 1.125rem;
    --body-lg-size: 1rem;
    --body-md-size: 0.875rem;
    --body-sm-size: 0.75rem;
    --body-xs-size: 0.688rem;
    --body-line-height: 1.2;
}
