// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@use 'sass:meta';
@use '../tokens';

%mozilla-theme {
    // fonts
    --token-body-font-family: #{tokens.$font-stack-mozilla-text};
    --token-body-font-ligatures: none;
    --token-button-font-family: #{tokens.$font-stack-mozilla-text};
    --token-heading-font-family: #{tokens.$font-stack-mozilla-headline};
    --token-heading-font-ligatures: none;
    --token-heading-font-weight: 600;
    --token-heading-letter-spacing: -0.01em;

    // colors
    --background-color-tertiary-inverse: #{tokens.$color-dark-gray-40};
    --background-color-tertiary: #{tokens.$color-light-gray-30};
    --background-color-secondary-inverse: #{tokens.$color-dark-gray-60};
    --background-color-secondary: #{tokens.$color-light-gray-10};
    --background-color-inverse: #{tokens.$color-black};
    --background-color: #{tokens.$color-white};
    --body-text-color-secondary-inverse: #{tokens.$color-light-gray-30};
    --body-text-color-secondary: #{tokens.$color-dark-gray-90};
    --body-text-color-inverse: #{tokens.$color-white};
    --body-text-color: #{tokens.$color-black};
    --link-color-hover-inverse: #{tokens.$color-blue-05};
    --link-color-hover: #{tokens.$color-link-hover};
    --link-color-inverse: #{tokens.$color-blue-10};
    --link-color-visited-inverse: #{tokens.$color-violet-10};
    --link-color-visited: #{tokens.$color-link-visited};
    --link-color: #{tokens.$color-link};
    --heading-text-color-inverse: #{tokens.$color-white};
    --heading-text-color: #{tokens.$color-black};
}

%mozilla-type-scale {
    // type scale
    --token-heading-font-size-plus-3: 4.75rem;
    --token-heading-line-height-plus-3: 0.9;
    --token-heading-font-size-plus-2: 4.125rem;
    --token-heading-line-height-plus-2: 0.9;
    --token-heading-font-size-plus-1: 3.5rem;
    --token-heading-line-height-plus-1: 1.1;
    --token-heading-font-size: 3rem;
    --token-heading-line-height: 1.1;
    --token-heading-font-size-minus-1: 2.375rem;
    --token-heading-line-height-minus-1: 1.1;
    --token-heading-font-size-minus-2: 1.75rem;
    --token-heading-line-height-minus-2: 1.1;
    --token-heading-font-size-minus-3: 1.5rem;
    --token-heading-line-height-minus-3: 1.25;
    --token-heading-font-size-minus-4: 1.125rem;
    --token-heading-line-height-minus-4: 1.25;
    --token-body-font-size-plus-2: 1.313rem;
    --token-body-font-size-plus-1: 1.125rem;
    --token-body-font-size: 1rem;
    --token-body-font-size-minus-1: 0.875rem;
    --token-body-font-size-minus-2: 0.75rem;
    --token-body-line-height: 1.25;
    --token-button-line-height: 1.25;
}

%mozilla-type-scale-condensed {
    --token-heading-font-size-plus-3: 2.125rem;
    --token-heading-line-height-plus-3: 1.1;
    --token-heading-font-size-plus-2: 1.625rem;
    --token-heading-line-height-plus-2: 1.1;
    --token-heading-font-size-plus-1: 1.375rem;
    --token-heading-line-height-plus-1: 1.1;
    --token-heading-font-size: 1.25rem;
    --token-heading-line-height: 1.1;
    --token-heading-font-size-minus-1: 1.125rem;
    --token-heading-line-height-minus-1: 1.25;
    --token-heading-font-size-minus-2: 1rem;
    --token-heading-line-height-minus-2: 1.25;
    --token-heading-font-size-minus-3: 0.875rem;
    --token-heading-line-height-minus-3: 1.25;
    --token-heading-font-size-minus-4: 0.875rem;
    --token-heading-line-height-minus-4: 1.25;
    --token-body-font-size-plus-2: 1.125rem;
    --token-body-font-size-plus-1: 1rem;
    --token-body-font-size: 0.875rem;
    --token-body-font-size-minus-1: 0.75rem;
    --token-body-font-size-minus-2: 0.688rem;
    --token-body-line-height: 1.25;
    --token-button-line-height: 1.25;
}
