@use '../../../../assets/sass/protocol/includes/mixins/typography';
@use '../../../../node_modules/@mozilla-protocol/tokens/dist';

// Color swatches
.docs-swatch-gallery {
    margin: 0 0 dist.$spacing-lg;

    .docs-swatch {
        margin: 0 0 1.5em;

        .docs-swatch-values {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                list-style: none;
                margin: 0 0 0.15em;
                padding: 0;
            }
        }
    }

    .docs-palette-title {
        @include typography.text-title-md;
        clear: both;
        margin: 0 0 1em;
    }

    .docs-swatch-image {
        display: block;
        height: 64px;
        margin: 0 auto 0.5em;
        width: 100%;
    }

    .docs-swatch-name {
        @include typography.font-base;
        @include typography.text-body-lg;
        margin: 0 0 0.25em;
    }

    @media #{dist.$mq-md} {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: dist.$layout-xs;
    }

    @media #{dist.$mq-lg} {
        grid-template-columns: repeat(5, 1fr);
    }
}
