@use '/assets/sass/protocol/includes/lib' as *;

// Color swatches
.docs-swatch-gallery {
    margin: 0 0 $spacing-lg;

    .docs-swatch {
        margin: 0 0 1.5em;

        .docs-swatch-values {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                list-style: none;
                margin: 0 0 0.15em;
                padding: 0;
            }
        }
    }

    .docs-palette-title {
        @include text-heading-md;
        clear: both;
        margin: 0 0 1em;
    }

    .docs-swatch-image {
        display: block;
        height: 64px;
        margin: 0 auto 0.5em;
        width: 100%;
    }

    .docs-swatch-name {
        margin: 0 0 0.25em;
        @include font-base;
        @include text-body-lg;

    }

    @media #{$mq-md} {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: $layout-xs;
    }

    @media #{$mq-lg} {
        grid-template-columns: repeat(5, 1fr);
    }
}
