@use '/assets/sass/protocol/includes/lib' as *;

/* stylelint-disable selector-class-pattern */

.Document-title {
    @include text-title-lg;
    font-family: var(--token-title-font-family);
    color: $title-text-color;

    @supports (--css: variables) {
        font-family: var(--token-title-font-family);
        color: var(--token-title-text-color);
    }
}
