@use '/assets/sass/protocol/includes/lib' as *;

/* stylelint-disable selector-class-pattern */
[dir='ltr'] .Navigation-panel {
    border-right-color: #000;
}

.Navigation-backButton {
    padding: 0;
    border: 0;
    color: var(--fractal-color-header-content);
}
