@use '/assets/sass/protocol/includes/lib' as *;

/* stylelint-disable selector-class-pattern */

.Pen {
    background-color: var(--fractal-color-background-offset);
}

.Pen-header {
    display: block;
    max-height: none;

    @media #{$mq-md} {
        display: flex;
    }
}

.Pen-title {
    @include text-heading-xs;
    color: var(--theme-heading-text-color);
    margin-bottom: 0.5em;

    @media #{$mq-md} {
        margin-bottom: 0;
    }
}

.Pen-previewLink {
    &:link,
    &:visited,
    &:hover,
    &:active {
        color: var(--theme-heading-text-color);
    }

    svg {
        fill: currentColor;
        vertical-align: bottom;
    }
}

.Pen-previewButton {
    color: var(--theme-link-color);
    font-weight: bold;
    @include bidi(((margin-left, $spacing-lg, margin-right, $spacing-lg),));
    @include text-body-sm;

    &:hover,
    &:active {
        color: var(--theme-link-color-hover);
    }
}

.Pen-utils {
    display: flex;
    margin-inline-start: auto;
    min-width: 20vw;
}

.Pen-bidi-controls {
    padding: 0 $spacing-md;

    label {
        display: inline-block;
        padding: 0 $spacing-xs;
    }

    abbr {
        text-decoration: none;
    }

    @media #{$mq-md} {
        padding: 0 $spacing-md;
    }
}
