.Pen {
    background-color: $color-marketing-gray-10;
}

.Pen-header {
    display: block;
    max-height: none;

    @media #{$mq-md} {
        display: flex;
    }
}

.Pen-title {
    @include text-title-xs;
    color: get-theme('title-text-color');
    font-family: get-theme('title-font-family');
    margin-bottom: .5em;

    @media #{$mq-md} {
        margin-bottom: 0;
    }
}

.Pen-previewLink {
    &:link,
    &:visited,
    &:hover,
    &:active {
        color: get-theme('title-text-color');
    }

    svg {
        fill: currentColor;
        vertical-align: bottom;
    }
}

.Pen-previewButton {
    @include bidi(((margin-left, $spacing-lg, margin-right, $spacing-lg),));
    @include text-body-sm;
    color: get-theme('link-color');
    font-family: get-theme('body-font-family');
    font-weight: bold;

    &:hover,
    &:active {
        color: get-theme('link-color-hover');
    }
}

.Pen-utils {
    display: flex;
    margin-inline-start: auto;
    min-width: 20vw;
}

.Pen-bidi-controls {
    label {
        display: inline-block;
        padding: 0 $spacing-xs;
    }

    abbr {
        text-decoration: none;
    }

    @media #{$mq-md} {
        padding: 0 $spacing-md;
    }
}
