@use '../../../../assets/sass/protocol/includes/lib' as *;

/* stylelint-disable selector-class-pattern */

.Preview {
    background-color: transparent;
}

.Preview-iframe,
.Preview-resizer {
    background-color: $color-light-gray-20;
}
