@use '/assets/sass/protocol/includes/lib' as *;

/* stylelint-disable-next-line selector-class-pattern */
.Search-input {
    color: white;
    border: none;
    background-color: $color-dark-gray-50;
}
