@use '../../../../node_modules/@mozilla-protocol/tokens/dist';

/* stylelint-disable-next-line selector-class-pattern */
.Search-input {
    color: white;
    border: none;
    background-color: dist.$color-dark-gray-50;
}
