.docs-token-border {
    background: gray;
    border: 1px solid rgb(0, 0, 0 / 0.1);
    height: 3rem;
    margin: 0.5rem 0;
    width: 100%;
}

.docs-token-shadow {
    background: white;
    height: 3rem;
    margin: 0.5rem 0;
    width: 100%;
}

.docs-token-space {
    background: gray;
    margin: 0.5rem 0;
    width: 100%;
}

.docs-tokens-table {
    .col-token {
        width: 25%;
    }

    .col-value {
        width: 60%;
    }

    tbody th {
        font-weight: normal;
    }
}
