@use '/assets/sass/protocol/includes/lib' as *;

/* stylelint-disable selector-class-pattern */
.Tree {
    white-space: normal;
}

.Tree-header {
    padding-left: 1.25rem;
}

.Tree-title {
    color: var(--fractal-color-header-content);
    letter-spacing: normal;
    @include text-body-md;
}

.Tree-collectionLabel {
    color: var(--fractal-color-header-content);
    padding-top: 0.15em;
    padding-bottom: 0.15em;

    span::before {
        width: 0.5rem;
        top: 0.4rem;
    }

    &:hover {
        color: var(--fractal-color-header-content);
        background-color: var(--fractal-color-nav-item-hover);
    }

    &::before {
        background-image: url('../img/icon-navigation-opened.svg');
        opacity: 0.9;
        top: 0.6em;
    }
}

[dir='ltr'] {
    .Tree-depth-1 .Tree-entityLink,
    .Tree-depth-2 .Tree-collectionLabel {
        padding-left: 1.25rem;
    }

    .Tree-depth-2 .Tree-entityLink {
        padding-left: 1.75rem;
    }

    .Tree-depth-3 .Tree-collectionLabel {
        padding-left: 1.75rem;

        &::before {
            left: 0.75rem;
        }
    }

    .Tree-depth-3 .Tree-entityLink {
        padding-left: 2.5rem;
    }

    .Tree-collection.is-closed .Tree-collectionLabel::before {
        background-image: url('../img/icon-navigation-closed-ltr.svg');
    }
}

[dir='rtl'] .Tree-collection.is-closed .Tree-collectionLabel::before {
    background-image: url('../img/icon-navigation-closed-rtl.svg');
}

.Tree-depth-2,
.Tree-depth-3 {
    > h4 {
        font-weight: bold;
    }
}

.Tree-item {
    @include text-body-sm;

    .Tree-entityLink {
        color: var(--fractal-color-header-content);
        padding-top: 0.25em;
        padding-bottom: 0.25em;

        &:hover {
            color: var(--fractal-color-header-content);
            background-color: var(--fractal-color-nav-item-hover);
        }
    }

    &.is-current {
        background-color: var(--fractal-color-nav-item-active);
    }
}

.Tree-aside {
    color: var(--fractal-color-header-content);
}

.Tree-collapse {
    color: var(--fractal-color-header-content);
}
