@use 'sass:map';
@use '/assets/sass/protocol/includes/lib' as *;

.docs-specimen {
    border-radius: $border-radius-sm;
    border: 1px solid var(--fractal-color-border-light);
    padding: $spacing-md;
    margin: $spacing-lg 0;
    overflow-x: auto;
}

.docs-specimen-font {
    @include text-heading-md;
}

#specimen-mozilla-headline {
    @include font-mozilla-headline;
}

#specimen-mozilla-text {
    @include font-mozilla-text;
}

#specimen-metropolis {
    @include font-firefox;
}

#specimen-inter {
    @include font-base;
}

.docs-scale-sample {
    display: block;
    margin: 0 0 0.25em;
}

.docs-scale-sample-heading-2xl {
    @include text-heading-2xl;
    font-family: var(--theme-heading-font-family);
    font-weight: bold;
}

.docs-scale-sample-heading-xl {
    @include text-heading-xl;
    font-family: var(--theme-heading-font-family);
    font-weight: bold;
}

.docs-scale-sample-heading-lg {
    @include text-heading-lg;
    font-family: var(--theme-heading-font-family);
    font-weight: bold;
}

.docs-scale-sample-heading-md {
    @include text-heading-md;
    font-family: var(--theme-heading-font-family);
    font-weight: bold;
}

.docs-scale-sample-heading-sm {
    @include text-heading-sm;
    font-family: var(--theme-heading-font-family);
    font-weight: bold;
}

.docs-scale-sample-heading-xs {
    @include text-heading-xs;
    font-family: var(--theme-heading-font-family);
    font-weight: bold;
}

.docs-scale-sample-heading-2xs {
    @include text-heading-2xs;
    font-family: var(--theme-heading-font-family);
    font-weight: bold;
}

.docs-scale-sample-heading-3xs {
    @include text-heading-3xs;
    font-family: var(--theme-heading-font-family);
    font-weight: bold;
}

.docs-scale-sample-body-xl {
    @include text-body-xl;
}

.docs-scale-sample-body-lg {
    @include text-body-lg;
}

.docs-scale-sample-body-md {
    @include text-body-md;
}

.docs-scale-sample-body-sm {
    @include text-body-sm;
}

.docs-scale-sample-body-xs {
    @include text-body-xs;
}

#specimen-type-scale-condensed {
    .docs-scale-sample-heading-2xl {
        font-size: 24px;
        line-height: 1.166;

        @media #{$mq-md} {
            font-size: 32px;
            line-height: 1.125;
        }
    }

    .docs-scale-sample-heading-xl {
        font-size: 21px;
        line-height: 1.2;

        @media #{$mq-md} {
            font-size: 24px;
            line-height: 1.166;
        }
    }

    .docs-scale-sample-heading-lg {
        font-size: 18px;
        line-height: 1.2;

        @media #{$mq-md} {
            font-size: 21px;
        }
    }

    .docs-scale-sample-heading-md {
        font-size: 16px;
        line-height: 1.25;

        @media #{$mq-md} {
            font-size: 18px;
            line-height: 1.2;
        }
    }

    .docs-scale-sample-heading-sm {
        font-size: 14px;
        line-height: 1.25;

        @media #{$mq-md} {
            font-size: 16px;
        }
    }

    .docs-scale-sample-heading-xs {
        font-size: 14px;
        line-height: 1.25;
    }

    .docs-scale-sample-heading-2xs {
        font-size: 14px;
        line-height: 1.25;
    }

    .docs-scale-sample-heading-3xs {
        font-size: 14px;
        line-height: 1.25;
    }

    .docs-scale-sample-body-xl {
        font-size: 16px;
        line-height: 1.5;

        @media #{$mq-md} {
            font-size: 18px;
        }
    }

    .docs-scale-sample-body-lg {
        font-size: 14px;
        line-height: 1.5;

        @media #{$mq-md} {
            font-size: 16px;
        }
    }

    .docs-scale-sample-body-md {
        font-size: 12px;
        line-height: 1.5;

        @media #{$mq-md} {
            font-size: 14px;
        }
    }

    .docs-scale-sample-body-sm {
        font-size: 11px;
        line-height: 1.5;

        @media #{$mq-md} {
            font-size: 12px;
        }
    }

    .docs-scale-sample-body-xs {
        font-size: 11px;
        line-height: 1.5;
    }
}
