// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

// * -------------------------------------------------------------------------- */
// Brand theme

// Protocol supports two distinct brands - Firefox and Mozilla
// The brand themes draw from different sets of variables to
// apply different styling to some elements based on which brand
// you're representing on the page.

// This sets Mozilla as the default brand out of the box. You can
// override this variable in other style sheets by setting a different
// value *before* the lib file import.

// Accepted values:
//      'firefox'
//      'mozilla'

$brand-theme: 'mozilla' !default;

// * -------------------------------------------------------------------------- */
// Type scale

// Protocol uses a modular type scale with a range of predefined
// font sizes (to avoid sizing text willy nilly). Scale sizes are
// defined as part of the brand theme.

// There are two different scales available: a standard scale with
// large headings, appropriate for general websites (like marketing
// sites, blogs, etc) and a condensed scale with smaller sizes more
// suitable for web applications.

// You can override this variable in other style sheets by setting a
// different value *before* the lib file import.

// Accepted values:
//     'standard'
//     'condensed'

$type-scale: 'standard' !default;

// Import all the things!
@import './node_modules/@mozilla-protocol/tokens/dist/index';
@import 'functions';
@import 'themes';
@import 'mixins';
