// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

/* stylelint-disable declaration-block-no-duplicate-properties */

@use 'sass:math';
@import
    'mixins/at2x',
    'mixins/gradients',
    'mixins/grid',
    'mixins/images',
    'mixins/bidi',
    'mixins/zap',
    'mixins/typography';

// Clear floats
@mixin clearfix {
    zoom: 1;

    &::after {
        clear: both;
        content: '';
        display: block;
        height: 0;
        visibility: hidden;
    }
}

// Mixins for CSS3 properties that still need prefixes in some browsers.
@mixin transition($transition...) {
    transition: $transition;
    transition: $transition;
}

@mixin transform($transform...) {
    transform: $transform;
    transform: $transform;
}

@mixin transform-origin($transform-origin...) {
    transform-origin: $transform-origin;
    transform-origin: $transform-origin;
}

@mixin transform-style($transform-style...) {
    transform-style: $transform-style;
    transform-style: $transform-style;
}

// Extra mixins for fine-tuned transitions
@mixin transition-property($transition-property...) {
    transition-property: $transition-property;
    transition-property: $transition-property;
}

@mixin transition-duration($transition-duration...) {
    transition-duration: $transition-duration;
    transition-duration: $transition-duration;
}

@mixin transition-timing-function($transition-timing-function...) {
    transition-timing-function: $transition-timing-function;
    transition-timing-function: $transition-timing-function;
}

@mixin transition-delay($transition-delay...) {
    transition-delay: $transition-delay;
    transition-delay: $transition-delay;
}

@mixin animation($parameters...) {
    animation: $parameters;
    animation: $parameters;
}

@mixin border-box {
    box-sizing: border-box;
    box-sizing: border-box;
    box-sizing: border-box;
}

@mixin flexbox {
    display: box;
    display: box;
    display: flexbox;
    display: flex;
    display: flex;
}

@mixin flex($values: auto) {
    -webkit-box-flex: $values;
    -moz-box-flex: $values;
    flex: $values;
    flex: $values;
}

@mixin flex-direction($value: column) {
    -webkit-box-direction: $value;
    flex-direction: $value;
}

@mixin flex-wrap($value: wrap) {
    flex-wrap: $value;
    flex-wrap: $value;
}

@mixin align-items($align: stretch) {
    -webkit-box-align: $align;
    align-items: $align;
}

@mixin justify-content($justify: flex-start) {
    -webkit-box-pack: $justify;
    justify-content: $justify;
}

@mixin background-size($sizes...) {
    background-size: $sizes;
    background-size: $sizes;
}

@mixin box-decoration-break($value: slice) {
    box-decoration-break: $value;
    box-decoration-break: $value;
}

@mixin appearance($value) {
    appearance: $value;
    appearance: $value;
    appearance: $value;
}

// Hide an element visually, but not from screen readers
@mixin visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;

    /* !important required to ensure element is hidden when mixin is applied */
    position: absolute !important; /* stylelint-disable-line declaration-no-important */
    width: 1px;
}

// Hide an element completely, including from screen readers
@mixin hidden {
    display: none;
}

// Inline block hack for pages that still need to support old IE.
@mixin inline-block {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

// not the most up to date method, but works in IE7
@mixin image-replaced {
    direction: ltr;
    overflow: hidden;
    text-align: left;
    text-indent: -9999px;
    white-space: nowrap;
}

// Flip an element horizontally for RTL locales such as Arabic and Hebrew.
// Usually applied to pseudo-elements with a background-image, not for text.
@mixin flip-horizontally {
    @include transform(scale(-1, 1));
}

// Adds a right-pointing arrow after
@mixin trailing-arrow {
    &::after {
        content: '\00A0\25B8'; // space+triangle
        white-space: nowrap;
    }
}

// Adds a left-pointing arrow before
@mixin leading-arrow {
    &::before {
        content: '\25B8\00A0'; // triangle+space
        white-space: nowrap;

        @include transform(rotate(180deg));
    }
}

// Multiple columns
@mixin multi-column($width: auto, $count: auto, $gap: normal) {
    column-width: $width;
    column-width: $width;
    column-width: $width;
    column-count: $count;
    column-count: $count;
    column-count: $count;
    column-gap: $gap;
    column-gap: $gap;
    column-gap: $gap;
}

@mixin multi-column-clear {
    @include multi-column(auto, auto, normal);
}

@mixin multi-column-avoid-break {
    page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    break-inside: avoid;
}

// Preserve aspect ratio to prevent content jumping when media loads.
// Apply to a direct parent element of an image or video.
@mixin aspect-ratio($width, $height, $width-wrapper: 100%) {
    padding-bottom: math.div($height, $width) * $width-wrapper;
    position: relative;

    img,
    video,
    iframe,
    object,
    embed {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
}

// Light color links for dark backgrounds.
@mixin light-links {
    a:link {
        color: get-theme('link-color-inverse');
    }

    a:visited {
        color: get-theme('link-color-visited-inverse');
    }

    a:hover,
    a:focus,
    a:active {
        color: get-theme('link-color-hover-inverse');
    }

    a:visited:hover,
    a:visited:focus,
    a:visited:active {
        color: get-theme('link-color-visited-hover-inverse');
    }
}

// White color links for dark backgrounds, when link colors are undesirable.
@mixin white-links {
    a:link,
    a:visited {
        color: $color-white;

        &:hover,
        &:focus,
        &:active {
            color: $color-white;
        }
    }
}

// Mixins for CSS grid legacy prefixed properties
// https://bugzilla.mozilla.org/show_bug.cgi?id=1398482
@mixin grid-gap($value: inherit) {
    grid-gap: $value;
    gap: $value;
}

@mixin grid-row-gap($value: inherit) {
    grid-row-gap: $value;
    row-gap: $value;
}

@mixin grid-column-gap($value: inherit) {
    grid-column-gap: $value;
    column-gap: $value;
}
