// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

// Default theme variables for legacy browsers (IE 11 etc)
// These are used directly by components as Sass variables.

@use 'tokens';

// Spacing
$v-grid-xs: tokens.$layout-md;
$h-grid-xs: tokens.$layout-xs;
$v-grid-sm: tokens.$layout-md;
$h-grid-sm: tokens.$layout-xs;
$v-grid-md: tokens.$layout-md;
$h-grid-md: tokens.$layout-lg;
$v-grid-lg: tokens.$layout-md;
$h-grid-lg: tokens.$layout-lg;
$v-grid-xl: tokens.$layout-xl;
$h-grid-xl: 80px;
