// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

// Default theme variables for legacy browsers (IE 11 etc)
// These are used directly by components as Sass variables.

@use 'tokens';

// Spacing
$v-grid-xs: tokens.$layout-md;
$h-grid-xs: tokens.$layout-xs;
$v-grid-sm: tokens.$layout-md;
$h-grid-sm: tokens.$layout-xs;
$v-grid-md: tokens.$layout-md;
$h-grid-md: tokens.$layout-lg;
$v-grid-lg: tokens.$layout-md;
$h-grid-lg: tokens.$layout-lg;
$v-grid-xl: tokens.$layout-xl;
$h-grid-xl: 80px;

// Colors
$background-color-tertiary-inverse: tokens.$color-dark-gray-40;
$background-color-tertiary: tokens.$color-light-gray-30;
$background-color-secondary-inverse: tokens.$color-dark-gray-60;
$background-color-secondary: tokens.$color-light-gray-10;
$background-color-inverse: tokens.$color-black;
$background-color: tokens.$color-white;
$body-text-color-secondary-inverse: tokens.$color-light-gray-30;
$body-text-color-secondary: tokens.$color-dark-gray-90;
$body-text-color-inverse: tokens.$color-white;
$body-text-color: tokens.$color-black;
$link-color-hover-inverse: tokens.$color-blue-05;
$link-color-hover: tokens.$color-link-hover;
$link-color-inverse: tokens.$color-blue-10;
$link-color-visited-inverse: tokens.$color-violet-10;
$link-color-visited: tokens.$color-link-visited;
$link-color: tokens.$color-link;
$title-text-color-inverse: tokens.$color-white;
$title-text-color: tokens.$color-black;
