// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@use '../../../../node_modules/@mozilla-protocol/tokens/dist';
@use 'functions';
@use 'config';
@use 'sass:map';

// This file contains all the theme variables for both the Firefox and Mozilla
//  Mixins and functions can draw from these variable maps, swapping to
// a different map based on the value of the global $brand-theme variable.

// * -------------------------------------------------------------------------- */
// Vertical and Horizontal Spacing

$theme-spacing: (
    // xs
    v-grid-xs: dist.$layout-md,
    h-grid-xs: dist.$layout-xs,
    // sm is the same as xs
    v-grid-sm: dist.$layout-md,
    h-grid-sm: dist.$layout-xs,
    // md
    v-grid-md: dist.$layout-md,
    h-grid-md: dist.$layout-lg,
    // lg is the same as md
    v-grid-lg: dist.$layout-md,
    h-grid-lg: dist.$layout-lg,
    // xl
    v-grid-xl: dist.$layout-xl,
    h-grid-xl: 80px,
);

// * -------------------------------------------------------------------------- */
// Fonts

$theme-fonts-firefox: (
    body-font-family: dist.$font-stack-base,
    button-font-family: dist.$font-stack-firefox,
    title-font-family: dist.$font-stack-firefox,
);
$theme-fonts-mozilla: (
    body-font-family: dist.$font-stack-base,
    button-font-family: dist.$font-stack-base,
    title-font-family: dist.$font-stack-mozilla,
);

// * -------------------------------------------------------------------------- */
// Colors

$theme-colors-firefox: (
    background-color-tertiary-inverse: dist.$color-ink-20,
    background-color-tertiary: dist.$color-marketing-gray-20,
    background-color-secondary-inverse: dist.$color-ink-50,
    background-color-secondary: dist.$color-light-gray-10,
    background-color-inverse: dist.$color-ink-80,
    background-color: dist.$color-white,
    body-text-color-secondary-inverse: dist.$color-marketing-gray-30,
    body-text-color-secondary: dist.$color-marketing-gray-70,
    body-text-color-inverse: dist.$color-white,
    body-text-color: dist.$color-marketing-gray-80,
    link-color-hover-inverse: dist.$color-blue-05,
    link-color-hover: dist.$color-link-hover,
    link-color-inverse: dist.$color-blue-10,
    link-color-visited-hover-inverse: dist.$color-violet-05,
    link-color-visited-hover: dist.$color-link-hover,
    link-color-visited-inverse: dist.$color-violet-10,
    link-color-visited: dist.$color-link-visited,
    link-color: dist.$color-link,
    title-text-color-inverse: dist.$color-white,
    title-text-color: dist.$color-marketing-gray-99,
);
$theme-colors-mozilla: (
    background-color-tertiary-inverse: dist.$color-dark-gray-40,
    background-color-tertiary: dist.$color-light-gray-30,
    background-color-secondary-inverse: dist.$color-dark-gray-60,
    background-color-secondary: dist.$color-light-gray-10,
    background-color-inverse: dist.$color-black,
    background-color: dist.$color-white,
    body-text-color-secondary-inverse: dist.$color-light-gray-30,
    body-text-color-secondary: dist.$color-dark-gray-90,
    body-text-color-inverse: dist.$color-white,
    body-text-color: dist.$color-black,
    link-color-hover-inverse: dist.$color-blue-05,
    link-color-hover: dist.$color-link-hover,
    link-color-inverse: dist.$color-blue-10,
    link-color-visited-hover-inverse: dist.$color-violet-05,
    link-color-visited-hover: dist.$color-link-hover,
    link-color-visited-inverse: dist.$color-violet-10,
    link-color-visited: dist.$color-link-visited,
    link-color: dist.$color-link,
    title-text-color-inverse: dist.$color-white,
    title-text-color: dist.$color-black,
);

// * -------------------------------------------------------------------------- */
// Type scale

// These values are used by the type-scale() function
// defined in includes/functions/_typography.scss

// Avoid referencing these values directly; Use the function.

$theme-type-scale-firefox: (
    title-2xl-size: 64px,
    title-2xl-line-height: 1.125,
    title-xl-size: 56px,
    title-xl-line-height: 1.143,
    title-lg-size: 48px,
    title-lg-line-height: 1.166,
    title-md-size: 40px,
    title-md-line-height: 1.1,
    title-sm-size: 32px,
    title-sm-line-height: 1.125,
    title-xs-size: 24px,
    title-xs-line-height: 1.166,
    title-2xs-size: 20px,
    title-2xs-line-height: 1.2,
    title-3xs-size: 16px,
    title-3xs-line-height: 1.25,
    body-xl-size: 21px,
    body-lg-size: 18px,
    body-md-size: 16px,
    body-sm-size: 14px,
    body-xs-size: 12px,
    body-line-height: 1.5,
);
$theme-type-scale-mozilla: (
    title-2xl-size: 76px,
    title-2xl-line-height: 1,
    title-xl-size: 66px,
    title-xl-line-height: 1,
    title-lg-size: 56px,
    title-lg-line-height: 1,
    title-md-size: 48px,
    title-md-line-height: 1,
    title-sm-size: 38px,
    title-sm-line-height: 1.05,
    title-xs-size: 28px,
    title-xs-line-height: 1.07,
    title-2xs-size: 24px,
    title-2xs-line-height: 1.08,
    title-3xs-size: 18px,
    title-3xs-line-height: 1.11,
    body-xl-size: 21px,
    body-lg-size: 18px,
    body-md-size: 16px,
    body-sm-size: 14px,
    body-xs-size: 12px,
    body-line-height: 1.5,
);

// * -------------------------------------------------------------------------- */
// Condensed Type scale

// This smaller scale is primarily intended for web apps.
// Use the standard type scale for marketing sites.

// The type-scale() function draws from this map to output
// different sizing based on the $type-scale variable.

// Avoid referencing these values directly.

$theme-type-scale-condensed-firefox: (
    title-2xl-size: 32px,
    title-2xl-line-height: 1.125,
    title-xl-size: 24px,
    title-xl-line-height: 1.166,
    title-lg-size: 21px,
    title-lg-line-height: 1.2,
    title-md-size: 18px,
    title-md-line-height: 1.2,
    title-sm-size: 16px,
    title-sm-line-height: 1.25,
    title-xs-size: 14px,
    title-xs-line-height: 1.25,
    title-2xs-size: 14px,
    title-2xs-line-height: 1.25,
    title-3xs-size: 14px,
    title-3xs-line-height: 1.25,
    body-xl-size: 18px,
    body-lg-size: 16px,
    body-md-size: 14px,
    body-sm-size: 12px,
    body-xs-size: 11px,
    body-line-height: 1.5,
);
$theme-type-scale-condensed-mozilla: (
    title-2xl-size: 34px,
    title-2xl-line-height: 1,
    title-xl-size: 26px,
    title-xl-line-height: 1,
    title-lg-size: 22px,
    title-lg-line-height: 1,
    title-md-size: 20px,
    title-md-line-height: 1,
    title-sm-size: 18px,
    title-sm-line-height: 1,
    title-xs-size: 16px,
    title-xs-line-height: 1,
    title-2xs-size: 14px,
    title-2xs-line-height: 1,
    title-3xs-size: 14px,
    title-3xs-line-height: 1,
    body-xl-size: 18px,
    body-lg-size: 16px,
    body-md-size: 14px,
    body-sm-size: 12px,
    body-xs-size: 11px,
    body-line-height: 1.5,
);

@function type-scale($scale) {
    // Default to Firefox brand scale
    $scale-map: $theme-type-scale-firefox;

    // Firefox condensed
    @if config.$type-scale == 'condensed' {
        $scale-map: $theme-type-scale-condensed-firefox;
    }

    // Switch to Mozilla brand scale
    @if config.$brand-theme == 'mozilla' {
        $scale-map: $theme-type-scale-mozilla;
    }

    // Mozilla condensed
    @if config.$brand-theme == 'mozilla' and config.$type-scale == 'condensed' {
        $scale-map: $theme-type-scale-condensed-mozilla;
    }

    @if not map.has-key($scale-map, $scale) {
        @error '`#{$scale}` is not a valid type scale variable name. ' + 'Valid variable names: #{map.keys($scale-map)}';
    }

    @return map.get($scale-map, $scale);
}

// Collect the maps for easier reference, so you don't have to refer to a specific submap.
// Usage:
//    map-get(lib.$theme-firefox, 'background-color-secondary');

$theme-firefox: functions.map-collect($theme-spacing, $theme-fonts-firefox, $theme-colors-firefox, $theme-type-scale-firefox);
$theme-mozilla: functions.map-collect($theme-spacing, $theme-fonts-mozilla, $theme-colors-mozilla, $theme-type-scale-mozilla);

// this can just be "get" and will import with theme- so we have theme-get and theme-type-scale
@function get-theme($var) {
    // Default to Firefox theme
    $theme-map: $theme-firefox;

    // Switch to Mozilla theme
    @if config.$brand-theme == 'mozilla' {
        $theme-map: $theme-mozilla;
    }

    @if not map.has-key($theme-map, $var) {
        @error '`#{$var}` is not a valid theme variable. ' + 'Valid theme variable names: #{map.keys($theme-map)}';
    }

    @return map.get($theme-map, $var);
}
