---
name: Call Out (compact)
order: 2
description: A more compact version of a call out section, with smaller copy and a horizontal layout.
notes: |
    - For RTL languages, the content and call-to-action will swap positions.
    - Product icons can be displayed using an additional theme class:
      - `mzp-t-product-firefox`
      - `mzp-t-product-beta`
      - `mzp-t-product-developer`
      - `mzp-t-product-nightly`
      - `mzp-t-product-focus`
      - `mzp-t-product-mozilla`
      - `mzp-t-product-vpn`
      - `mzp-t-product-pocket`
links:
    Compact Call Out Demo: /demos/call-out-compact.html
---

<section class="mzp-c-call-out-compact {{#if class}}{{class}}{{/if}}">
  <div class="mzp-l-content">
    <div class="mzp-c-call-out-content">
      <div class="mzp-c-call-out-container">
      {{#block "content"}}
        <h2 class="mzp-c-call-out-title">A headline with 30 characters</h2>
        <p class="mzp-c-call-out-desc">A description with a maximum of 140 characters and <a href="#">a link</a>. That means we usually only have room for one or two sentences. Like this.</p>
      {{/block}}
      </div>
    </div>
    <div class="mzp-c-call-out-cta">
      <div class="mzp-c-call-out-cta-container">
      {{#block "cta"}}
        {{#embed "patterns.molecules.download-button.download-button"}}{{/embed}}
      {{/block}}
      </div>
    </div>
  </div>
</section>
