// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

/* -------------------------------------------------------------------------- */
// Block demo

@import '../protocol/includes/lib';
@import '../docs/protocol';
@import '../docs/protocol-extra';

#config {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: $layout-md;
    grid-row-gap: $layout-md;

    fieldset fieldset {
        margin-bottom: $layout-sm;
    }

    legend {
        @include font-size(16px);
    }
}

#config-preset {
    grid-column-start: 1;
    grid-column-end: 4;
}

.demo {
    .mzp-c-block,
    .mzp-c-block-container,
    .mzp-c-block-media,
    .mzp-c-block-body {

        &:before {
            content: attr(class);
            background-color: #fff;
            color: #000;
            display: block;
            font-family: monospace;
            font-size: 12px;
            left: 0;
            padding: 0 2px;
            position: absolute;
            top: 0;
            z-index: 1;
        }
    }

    .mzp-c-block-container {
        &:before {
            top: 1em;
        }
    }

    .mzp-c-block {
    outline: 1px solid red;
    }

    .mzp-c-block-container {
        background-color: rgba(0, 0, 255, 0.1);
    }

    .mzp-c-block-media {
        background-color: rgba(0, 255, 0, 0.1);
    }

    .mzp-c-block-body {
        background-color: rgba(255, 0, 0, 0.1);
    }
}

.spacer {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    height: 200px;
    margin: 20px;
}

#demo-block .mzp-has-bg .mzp-c-block-container {
    background-color: $color-yellow-20;
}
