// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

/* -------------------------------------------------------------------------- */
// Card layout demo

@import '../protocol/includes/lib';
@import '../docs/protocol';
@import '../docs/protocol-extra';

