// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

/* -------------------------------------------------------------------------- */
// Hero demo

@import '../protocol/includes/lib';
@import '../docs/protocol';
@import '../docs/protocol-extra';


.section-next {
    background: $color-marketing-gray-20;

    &.mzp-t-dark {
        color: #fff;
        background-color: $color-marketing-gray-80;
    }

    h2 {
        @include text-title-md;
    }

    .mzp-c-card-picto .mzp-c-card-picto-content::before{
        background-color: $color-marketing-gray-40;
    }

}


hr {
    margin: $layout-xl 0 0;
}
