// Type scale demo

@import '../protocol/includes/lib';
@import '../protocol/protocol';

body {
    background: repeating-linear-gradient(transparent, transparent 3px, rgba(0, 255, 255, .2) 4px, transparent 4px, transparent 7px, rgba(0, 255, 255, .4) 8px);
}

hr {
    margin: 40px auto;
    max-width: $width-max-content - (160px);
}

.scale-sample-huge { @include text-display-huge; }
.scale-sample-l1 { @include text-display-level1; }
.scale-sample-l2 { @include text-display-level2; }
.scale-sample-l3 { @include text-display-level3; }
.scale-sample-l4 { @include text-display-level4; }
.scale-sample-l5 { @include text-body-level1; }
.scale-sample-l6 { @include text-body-level2; }
.scale-sample-small { @include text-small; }
.scale-sample-x-small { @include text-extra-small; }

.label {
    @include text-small;
    color: $color-text-secondary;
    margin: 1em 0 .5em;
}

#specimen-type-scale {
    .scale-sample {
        margin: 0;
    }

    .scale-sample:after {
        @include open-sans;
        @include text-small;
        color: $color-text-tertiary;
        font-weight: normal;
        margin-left: 10px;
    }

    .scale-sample-huge:after {
        content: '(48px/52px)';

        @media #{$mq-tablet} {
            content: '(60px/64px)';
        }

        @media #{$mq-desktop} {
            content: '(72px/72px)';
        }
    }

    .scale-sample-l1:after {
        content: '(36px/40px)';

        @media #{$mq-tablet} {
            content: '(48px/52px)';
        }

        @media #{$mq-desktop} {
            content: '(60px/64px)';
        }
    }

    .scale-sample-l2:after {
        content: '(24px/28px)';

        @media #{$mq-tablet} {
            content: '(36px/40px)';
        }

        @media #{$mq-desktop} {
            content: '(48px/52px)';
        }
    }

    .scale-sample-l3:after {
        content: '(18px/24px)';

        @media #{$mq-tablet} {
            content: '(24px/28px)';
        }

        @media #{$mq-desktop} {
            content: '(36px/40px)';
        }
    }

    .scale-sample-l4:after {
        content: '(18px/24px)';

        @media #{$mq-desktop} {
            content: '(24px/28px)';
        }
    }

    .scale-sample-l5:after {
        content: '(18px/24px)';
    }

    .scale-sample-l6:after {
        content: '(16px/24px)';
    }

    .scale-sample-small:after {
        content: '(14px/18px)';
    }

    .scale-sample-x-small:after {
        content: '(12px/16px)';
    }
}

.moz-manifesto {
    .intro {
        @include text-body-level1;
    }

    h2 {
        @include text-display-level3;
    }

    h3 {
        @include text-display-level4;
    }

}
