// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

/* -------------------------------------------------------------------------- */
// Typescale demo

@import '../protocol/includes/lib';
@import '../docs/protocol';
@import '../docs/protocol-extra';

body {
    background: repeating-linear-gradient(transparent, transparent 3px, rgba(0, 255, 255, .2) 4px, transparent 4px, transparent 7px, rgba(0, 255, 255, .4) 8px);
}

hr {
    margin: 40px auto;
    max-width: $content-max - (160px);
}

.scale-sample-display-xxl { @include text-display-xxl; }
.scale-sample-display-xl { @include text-display-xl; }
.scale-sample-display-lg { @include text-display-lg; }
.scale-sample-display-md { @include text-display-md; }
.scale-sample-display-sm { @include text-display-sm; }
.scale-sample-display-xs { @include text-display-xs; }
.scale-sample-display-xxs { @include text-display-xxs; }
.scale-sample-body-lg { @include text-body-lg; }
.scale-sample-body-md { @include text-body-md; }
.scale-sample-body-sm { @include text-body-sm; }
.scale-sample-body-xs { @include text-body-xs; }
.scale-sample-cta { @include text-cta; }

.label {
    @include text-body-sm;
    color: $color-gray-90;
    margin: 1em 0 .5em;
}


#specimen-type-scale {
    .scale-sample {
        margin: 0 0 .25em;
    }

    .scale-sample:after {
        @include open-sans;
        @include text-body-sm;
        color: $color-gray-90;
        font-weight: normal;
        margin-left: 10px;
    }

    .scale-sample-display-xxl:after {
        content: '(60px/64px)';

        @media #{$mq-md} {
            content: '(72px/72px)';
        }
    }

    .scale-sample-display-xl:after {
        content: '(48px/52px)';

        @media #{$mq-md} {
            content: '(60px/64px)';
        }
    }

    .scale-sample-display-lg:after {
        content: '(36px/40px)';

        @media #{$mq-md} {
            content: '(48px/52px)';
        }
    }

    .scale-sample-display-md:after {
        content: '(24px/28px)';

        @media #{$mq-md} {
            content: '(36px/40px)';
        }
    }

    .scale-sample-display-sm:after {
        content: '(21px/24px)';

        @media #{$mq-md} {
            content: '(24px/28px)';
        }
    }

    .scale-sample-display-xs:after {
        content: '(18px/24px)';
    }

    .scale-sample-display-xxs:after {
        content: '(14px/18px)';
    }

    .scale-sample-body-lg:after {
        content: '(18px/28px)';
    }

    .scale-sample-body-md:after {
        content: '(16px/24px)';
    }

    .scale-sample-body-sm:after {
        content: '(14px/18px)';
    }

    .scale-sample-body-xs:after {
        content: '(12px/16px)';
    }

    .scale-sample-cta:after {
        content: '(16px/18px)';
    }
}

