---
name: Picto Card (compact)
description: A more compact version of a Picto Card with a horizontally aligned icon.
order: 6
notes: |
    - Horizontally aligned icon allows for a larger title and slightly longer description (max 100 characters).
links:
    Card Layout Class: /patterns/templates/card-layout.html
    Picto Card Layout Demo: /demos/card-picto-layout.html
---

{{#embed "patterns.molecules.picto-card.picto-card" class="mzp-c-card-picto-compact"}}
  {{#content "content"}}
    <h2 class="mzp-c-card-picto-title">A headline with 30 characters</h2>
    <p class="mzp-c-card-picto-desc">A description with a maximum of 100 characters. That usually means only one or two sentences.</p>
  {{/content}}
{{/embed}}
