// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@use '/assets/sass/protocol/includes/lib' with ($font-path: '/protocol/fonts');

@use '/assets/sass/protocol/includes/fonts/inter';
@use '/assets/sass/protocol/includes/fonts/metropolis';
@use '/assets/sass/protocol/includes/fonts/mozilla-headline';
@use '/assets/sass/protocol/includes/fonts/mozilla-text';
@use '/assets/sass/protocol/root';

// Settings
@use 'settings/settings';

// Base
@use 'base/typography';

// Helpers
@use 'helpers/text';

// Components
@use 'components/browser';
@use 'components/document';
@use 'components/frame';
@use 'components/header';
@use 'components/meta';
@use 'components/navigation';
@use 'components/pen';
@use 'components/preview';
@use 'components/prose';
@use 'components/search';
@use 'components/status';
@use 'components/tree';
@use 'components/type-specimen';

// Custom components for the docs
@use 'components/grid-list';
@use 'components/color';
@use 'components/icon';
@use 'components/tokens';

// change namespace to avoid numeric-only namespace, which isn't allowed
@use 'components/404' as styles-404;
