---
name: Call to action link
description: |
  A call to action link that can be used in number of different components, such as a `billboard` or `card`.
order: 2
---


<a class="mzp-c-cta-link" href="https://example.com">Learn more about us</a>
