<div class="mzp-c-choices">
  {% render '@choice', { type: 'checkbox', name: 'checkbox', id: 'checkbox-1', value: '1', label: 'Option 1' } %}
  {% render '@choice', { type: 'checkbox', name: 'checkbox', id: 'checkbox-2', value: '2', label: 'Option 2' } %}
</div>

<div class="mzp-c-choices mzp-l-choices-inline">
  {% render '@choice', { type: 'radio', name: 'radio', id: 'radio-1', value: '1', label: 'Option 1' } %}
  {% render '@choice', { type: 'radio', name: 'radio', id: 'radio-2', value: '2', label: 'Option 2' } %}
</div>
