---
name: Compact button
description: |
  A compact version of the basic button style.
tips: |
  - Use compact buttons in areas where vertical space is tight, such as in the Navigation organism.
---

<button class="mzp-c-button mzp-c-button-compact {{class}}">
{{#block "content"}}
  Call to Action
{{/block}}
</button>

<a href="#" class="mzp-c-button mzp-c-button-compact {{class}}">
{{#block "content"}}
  Call to Action
{{/block}}
</a>
