---
name: Basic button, dark theme
description: |
  Light colored buttons for dark backgrounds.
---

<div class="mzp-t-dark">
  <button class="mzp-c-button">
  {{#block "content"}}
    Call to Action
  {{/block}}
  </button>

  <a href="#" class="mzp-c-button">
  {{#block "content"}}
    Call to Action
  {{/block}}
  </a>
</div>
