---
name: Disabled
order: 10
description: |
  This is an example of a disabled button. The disabled property is added on submit to prevents people from submitting their information twice by mistake while submitting a form.
tips: |
  - Forms should include enabled buttons by default and notifications should be used to alert users when trying to submit a form without filling out all required fields.
---

<button class="mzp-c-button" disabled>
{{#block "content"}}
  Submit
{{/block}}
</button>
