---
name: Download
order: 5
description: |
  Use this theme style for downloading Firefox and other products.
---

<button class="mzp-c-button mzp-t-download">
{{#block "content"}}
  Download Firefox
{{/block}}
</button>

<a href="#" class="mzp-c-button mzp-t-download">
{{#block "content"}}
  Download Firefox
{{/block}}
</a>

<br/>
<br/>

<button class="mzp-c-button mzp-t-download mzp-t-small">
{{#block "content"}}
  Download Firefox
{{/block}}
</button>

<a href="#" class="mzp-c-button mzp-t-download mzp-t-small">
{{#block "content"}}
  Download Firefox
{{/block}}
</a>
