---
name: Download (Secondary)
order: 6
description: |
  A product download button theme. This button is used when the download CTA is not the main action a person should take on a page.
  An example of this can be seen in the [Navigation](/patterns/organisms/navigation.html) organism.
tips: |
  - Use this theme for Firefox downloads CTA's.
---

<button class="mzp-c-button mzp-t-download mzp-t-secondary">
{{#block "content"}}
  Download Firefox
{{/block}}
</button>

<a href="#" class="mzp-c-button mzp-t-download mzp-t-secondary">
{{#block "content"}}
  Download Firefox
{{/block}}
</a>

<br/>
<br/>

<button class="mzp-c-button mzp-t-download mzp-t-secondary mzp-t-small">
{{#block "content"}}
  Download Firefox
{{/block}}
</button>

<a href="#" class="mzp-c-button mzp-t-download mzp-t-secondary mzp-t-small">
{{#block "content"}}
  Download Firefox
{{/block}}
</a>
