---
name: Download button
description: |
  A product download button theme.
tips: |
  - Use this theme for Firefox downloads CTA's.
---

<button class="mzp-c-button mzp-t-download">
{{#block "content"}}
  Call to Action
{{/block}}
</button>

<a href="#" class="mzp-c-button mzp-t-download">
{{#block "content"}}
  Call to Action
{{/block}}
</a>
