---
name: Download
order: 3
description: |
  A product download button theme, with additional secondary variation.
tips: |
  - Use this theme style for Firefox download buttons.
---

<button class="mzp-c-button mzp-t-download">
{{#block "content"}}
  Download
{{/block}}
</button>

<a href="#" class="mzp-c-button mzp-t-download">
{{#block "content"}}
  Download
{{/block}}
</a>

<br/>
<br/>

<button class="mzp-c-button mzp-t-download mzp-t-small">
{{#block "content"}}
  Download
{{/block}}
</button>

<a href="#" class="mzp-c-button mzp-t-download mzp-t-small">
{{#block "content"}}
  Download
{{/block}}
</a>
