---
name: Neutral (Dark)
order: 8
description: |
    This is a neutral button with the dark theme.
---

<button class="mzp-c-button mzp-t-neutral mzp-t-dark">
{{#block "content"}}
  Call to Action
{{/block}}
</button>
