---
name: Overview
order: 1
description: |
  The button class `mzp-c-button` can be a applied to a `button` element, an `input type="button"` or an `a` element.

  Button size and color themes can be combined as needed.

tips: |
  - Avoid using button styling for ordinary links that simply lead to another page. Buttons should typically trigger some specific action. Buttons do things; links go places.
  - That said, sometimes the action **is** to visit another page. A strong call to action might be a link styled as a button. Use them wisely.
---

<button class="mzp-c-button mzp-t-md">
{{#block "content"}}
  Button
{{/block}}
</button>

<a href="#" class="mzp-c-button mzp-t-secondary mzp-t-md">
{{#block "content"}}
  Button
{{/block}}
</a>

<button class="mzp-c-button mzp-t-product mzp-t-lg">
{{#block "content"}}
  Button
{{/block}}
</button>

<a href="#" class="mzp-c-button mzp-t-product mzp-t-secondary mzp-t-lg">
{{#block "content"}}
  Button
{{/block}}
</a>

<button class="mzp-c-button mzp-t-neutral">
{{#block "content"}}
  Button
{{/block}}
</button>
