---
name: Primary (Dark)
order: 2.5
description: |
  This is a primary button displayed on a dark background. Add the class `mzp-t-dark` to change the button color from dark to light.
---

<button class="mzp-c-button mzp-t-dark">
{{#block "content"}}
  Call to Action
{{/block}}
</button>
