---
name: Primary
order: 2
description: |
  This is a primary button. It represents the primary action someone should take when they land on any given page. Primary buttons have a solid background color, and should be reserved for only one action per page.
---

<button class="mzp-c-button">
{{#block "content"}}
  Call to Action
{{/block}}
</button>
