---
name: Product (Secondary)
order: 6
description: |
  This secondary button theme should be used when the CTA is not the main action a person should take on a page.
  An example of this can be seen in the [Navigation](/patterns/organisms/navigation.html) organism.
tips: |
  - Use this button theme for product related actions, such as downloading Firefox or signing up for a Firefox Account.
---

<button class="mzp-c-button mzp-t-product mzp-t-secondary">
{{#block "content"}}
  Call to Action
{{/block}}
</button>
