---
name: Product
order: 5
description: |
  Use this theme style for product related actions, such as downloading Firefox or signing up for a Firefox Account.
---

<button class="mzp-c-button mzp-t-product">
{{#block "content"}}
  Download Firefox
{{/block}}
</button>
