---
name: Secondary
order: 3
description: |
  This is a secondary button with a hollow, transparent background. This button should be used for any additional actions someone can take on any given page that is different from the primary action.
---

<button class="mzp-c-button mzp-t-secondary">
{{#block "content"}}
  Call to Action
{{/block}}
</button>
