---
name: Sizes
order: 9
description: |
  Buttons can be 4 different sizes, if no size is declared they will be the large size.
---


<button class="mzp-c-button mzp-t-sm">
{{#block "content"}}
  Small Button
{{/block}}
</button>

<button class="mzp-c-button mzp-t-md">
{{#block "content"}}
  Medium Button
{{/block}}
</button>

<button class="mzp-c-button mzp-t-lg">
{{#block "content"}}
  Large Button
{{/block}}
</button>

<button class="mzp-c-button mzp-t-xl">
{{#block "content"}}
  Extra Large Button
{{/block}}
</button>
