---
name: Details / summary elements
description: Native details and summary support.
order: 1
notes: |
    - Includes polyfill for older browsers
    - Use with headings to convey hierarchy if appropriate.
---

<section>
  <details>
    <summary>
      <h3>Summary</h3>
    </summary>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi accumsan neque ipsum. Nunc ligula eros, elementum sit amet blandit eu, egestas at justo.</p>
  </details>
  <details>
    <summary>
      <h3>Heading</h3>
    </summary>
    <p>Proin in dapibus nulla. Nam vitae est vitae tellus mollis eleifend in eu erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean feugiat ante porttitor purus elementum, eget vestibulum ex volutpat. Sed gravida convallis rutrum. Quisque pharetra eros eget malesuada vulputate.</p>
    <h4>Sub Heading</h4>
    <p>Cras maximus interdum interdum. Maecenas vitae ligula et eros porta feugiat. Nullam facilisis odio non ante varius tempor ut ac turpis.</p>
  </details>
</section>
