---
name: Component
description: Add `.mzp-c-details` to a section to collapse contents in to their headings.
order: 2
notes: |
    - Assumes all content following a heading is intended to be hidden.
    - Only collapses headings highest in the hierarchy.
---


<section class="mzp-c-details">
  <h3>Summary</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi accumsan neque ipsum. Nunc ligula eros, elementum sit amet blandit eu, egestas at justo.</p>
  <h3>Heading</h3>
  <p>Proin in dapibus nulla. Nam vitae est vitae tellus mollis eleifend in eu erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean feugiat ante porttitor purus elementum, eget vestibulum ex volutpat. Sed gravida convallis rutrum. Quisque pharetra eros eget malesuada vulputate.</p>
  <h4>Sub Heading</h4>
  <p>Cras maximus interdum interdum. Maecenas vitae ligula et eros porta feugiat. Nullam facilisis odio non ante varius tempor ut ac turpis.</p>
</section>

<script src="{{@root.baseurl}}/assets/protocol/protocol/js/protocol-details.js"></script>
