---
name: Header
description: A standard header with a headline and description.
order: 3
notes: |
    - Utility classes can be applied to change the background color and text color.
    - Background color runs full width of the page, and content has a max width of 608px;
    - Headline should be a maximum of 30 characters, and description a maximum of 100 characters.
---

<header class="mzp-c-header">
  <div class="mzp-c-header-content">
    <h2 class="mzp-c-header-title">A headline with 30 characters</h2>
    <p class="mzp-c-header-desc">A description with a maximum of 100 characters. That usually means only one or two sentences.</p>
  </div>
</header>
