---
name: Button Container
description: |
  The `.mzp-c-button-container` class can be used around a group of buttons. It applies a flexbox context and the default form spacing. Modifier classes can then be added to change the layout.
order: 6
links:
  Alignment options: /demos/forms/button-alignment.html
notes: |
  - Buttons are stacked, centered, and full-width on small screens (though with a max-width of 300px).
  - On larger screens, buttons are inline and aligned with the text direction (left in LTR languages, right in RTL languages)
  - Modifier classes for more layout options ([See the demo](/demos/forms/button-alignment.html)):
    - `mzp-l-align-end` aligns buttons opposite to the text (right in LTR languages, left in RTL languages).
    - `mzp-l-align-center` aligns buttons in the center.
    - `mzp-l-stretch` makes buttons fill the width of the container. Multiple buttons will be stacked and full-width in smaller viewports, and appear inline and stretched in larger viewports ([See the demo](/demos/forms/button-alignment.html)). This option is best suited to narrow forms.
  - Although the examples here show two buttons, most forms will have only one.
  - The `mzp-c-button-info` element adds a brief note in small text, typically for some kind of disclaimer or contextual information about the form being submitted. It usually appears below/after the buttons but in some cases could appear above/before.
---
<form class="mzp-c-form">
  <div class="mzp-c-button-container">
    {{#embed "patterns.atoms.buttons.primary" }}{{#content "content"}}Primary{{/content}}{{/embed}}
    {{#embed "patterns.atoms.buttons.secondary" }}{{#content "content"}}Secondary{{/content}}{{/embed}}
    <p class="mzp-c-button-info">More information.</p>
  </div>
</form>
