---
name: Custom Checkboxes and Radio Buttons
description: These are available with special code that needs to be precisely used. The code is the same for checkboxes or radio buttons, the display changes based on the type on the input.
order: 1
links:
  Formatting and layout options: /demos/forms/choices.html
notes: |
    - use `mzp-c-choice-control` for both checkboxes and radio buttons
    - the input must be before the label in source order
---

<form class="mzp-c-form">
    <div class="mzp-c-choices">
      {{#embed "patterns.molecules.forms.fields.choice" id="s-check-1" type="checkbox"}}{{#content "label"}}Checkbox{{/content}}{{/embed}}
      {{#embed "patterns.molecules.forms.fields.choice" id="s-radio-1" type="radio"}}{{#content "label"}}Radio Button{{/content}}{{/embed}}
    </div>
  </fieldset>
</form>
