---
name: Message
description: |
  More useful for supplementary error messages, not things that would need to display before user interaction.

  Error messages should be short and simple. They should indicate what the user needs to do to resolve the error, not simply state that an error occurred. Bad example: “Invalid e-mail.” Good example: “Provide a complete e-mail address, like ‘yourname@example.com’.”
order: 10
notes: |
  - add the error class to any parent element
  - connect the form field and the message with `aria-describedby`
  - add `role=tooltip` to the message
links:
  Form validation demo: /demos/forms/validation.html
  Acessable error messages: https://www.levelaccess.com/how-to-provide-accessible-error-identification/
---

<form class="mzp-c-form mzp-is-error">
  {{#embed "patterns.molecules.forms.fields.input" id="s_event_date" type="text" required="true" msg="Must be in the format 2015-03-14." }}
    {{#content "label" }}Date{{/content}}
    {{#content "attrs"}} value="March 3 '15"{{/content}}
  {{/embed}}
</form>
