---
name: Errors
description: Display a summary list of form errors at the top of the form. Indicate individual field errors with the `mzp-is-error` class on the field’s parent element.
tips: |
  - Error messages should be short and simple. They should indicate what the user needs to do to resolve the error, not simply state that an error occurred. Bad example: “Invalid e-mail.” Good example: “Provide a complete e-mail address, like ‘yourname@example.com’.”
order: 10
---

<div class="mzp-c-form-errors">
  <ul class="mzp-u-list-styled">
    <li>You must provide an e-mail address.</li>
    <li>You must select a language.</li>
    <li>Your username must be at least six characters.</li>
    <li>You must accept the terms and conditions.</li>
  </ul>
</div>

<fieldset>
  <div class="mzp-is-error">
    <label for="email-e">
      E-mail <em class="mzp-c-fieldnote">Required</em>
    </label>
    <input type="email" name="email" id="email-e" placeholder="you@example.com">
  </div>

  <div class="mzp-is-error">
    <label for="language-e">Language</label>
    <select name="language" id="language-e" required aria-required="true">
      <option value="">- select -</option>
    {{#each (data "items")}}
      <option value="{{lang-code}}">{{language}}</option>
    {{/each}}
    </select>
  </div>

  <div class="mzp-is-error">
    <label for="username-e">
      Username
      <span class="mzp-c-fieldnote">Must be at least 6 characters.</span>
    </label>
    <input type="text" id="username-e" name="username" value="bub">
  </div>
  <div class="mzp-is-error">
    <label for="password-e">
      Password
      <span class="mzp-c-fieldnote">Must be at least 8 characters and contain at least one numeral. Passwords are case sensitive. This is an example of a pretty lengthy note.</span>
    </label>
    <input type="password" id="password-e" name="password">
  </div>

  <div class="mzp-is-error">
    <label for="accept-e">
      <input type="checkbox" id="accept-e" name="accept" required aria-required="true">
      I accept the terms and conditions.
    </label>
  </div>
</fieldset>
