---
name: Error list
description: For long forms when there is an error display a summary list of form errors at the top of the form.
order: 10
links:
  Form validation demo: /demos/forms/validation.html
---

<div class="mzp-c-form-errors">
  <ul class="mzp-u-list-styled">
    <li>You must provide an e-mail address.</li>
    <li>You must select a language.</li>
    <li>Your username must be at least six characters.</li>
    <li>You must accept the terms and conditions.</li>
  </ul>
</div>
