---
name: Fieldset with legend
description: |
  Use `fieldset` to group related fields together. Include a `legend` as a title.
tips: |
  - Use meaningful elements like lists and paragraphs to give forms structure.
links:
  MDN <fieldset>: https://developer.mozilla.org/docs/Web/HTML/Element/fieldset
  MDN <legend>: https://developer.mozilla.org/docs/Web/HTML/Element/legend
order: 7
---

<fieldset>
  <legend>Log into your account</legend>
  <label for="username">Username</label>
  <input type="text" id="username" name="username">
  <label for="password">Password</label>
  <input type="password" id="password" name="password">
</fieldset>
