---
name: Field notes
description: A note to provide added context or instructions to supplement the field label. It should be inside the `label` element, after the label text.
order: 8
---

<label for="password">Password
  <span class="mzp-c-fieldnote">Must be at least 8 characters and contain at least one numeral. Passwords are case sensitive.</span>
</label>
<input type="password" id="password" name="password">
