---
name: Fieldset with legend
notes: |
    Use `fieldset` to group related fields together. Include a `legend` as a title.
links:
  MDN <fieldset>: https://developer.mozilla.org/docs/Web/HTML/Element/fieldset
  MDN <legend>: https://developer.mozilla.org/docs/Web/HTML/Element/legend
order: 7
---

<fieldset>
  <legend>Your name</legend>
  <p>
    <label for="name-given">Given name</label>
    <input type="text" id="name-given" name="givenname">

    <label for="name-family">Family name</label>
    <input type="text" id="name-family" name="familyname">
  </p>
</fieldset>
