---
description: |
  There are two classes for styling headings that appear in forms: `mzp-c-form-heading` and `mzp-c-form-subheading`
order: 7.5
tips: |
  - Make sure the html content is semantic and communicates the heirarchy before you apply these classes
  - You will get the subheading styles automatically when using a `<legend>` element
---

<h2 class="mzp-c-form-heading">Heading</h2>
<h3 class="mzp-c-form-subheading">Subheading</h3>
