---
name: Other Input Types
order: 2.5
links:
  MDN <input type=file>: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/file
  MDN <input type=search>: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/search
  MDN <input type=email>: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/email
  MDN <input type=date>: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/date
  MDN <input type=password>: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/password
---


<label for="file">File</label>
<input type="file" name="file" id="file">

<label for="search">Search</label>
<input type="search" name="search" id="search">

<label for="email">Email</label>
<input type="email" name="email" id="email">

<label for="date">Date</label>
<input type="date" name="date" id="date">

<label for="password">Password</label>
<input type="password" name="password" id="password">


