---
description: |
    Radio buttons represent a set of options where only one may be selected.
order: 3
tips: |
  - Wrap the `label` element around both the control and its text label. This gives a bigger target for clicking.
---

<label for="radio-1">
  <input type="radio" name="radios" id="radio-1"> Option 1
</label>
<label for="radio-2">
  <input type="radio" name="radios" id="radio-2"> Option 2
</label>
