---
order: 5
links:
  MDN <select>: https://developer.mozilla.org/docs/Web/HTML/Element/select
  MDN <option>: https://developer.mozilla.org/docs/Web/HTML/Element/option
---

<label for="language">Language</label>
<select name="language" id="language">
{{#each (data "items")}}
  <option value="{{lang-code}}">{{language}}</option>
{{/each}}
</select>
