---
name: Text input
description: Form inputs should always (or almost always) be paired with a `label` element.
links:
  MDN <input>: https://developer.mozilla.org/docs/Web/HTML/Element/input
  MDN <label>: https://developer.mozilla.org/docs/Web/HTML/Element/label
order: 1
---

<label for="text">Text</label>
<input type="text" name="text" id="text">
