---
order: 6
links:
  MDN <textarea>: https://developer.mozilla.org/docs/Web/HTML/Element/textarea
---

<label for="textarea">Text area</label>
<textarea name="textarea" id="textarea" rows="3" cols="40"></textarea>
