---
description: |
  There are two classes for styling titles (aka headings) that appear in forms: `mzp-c-form-title` and `mzp-c-form-subtitle`
order: 7.5
tips: |
  - Make sure the html content is semantic and communicates the heirarchy before you apply these classes
  - You will get the subtitle styles automatically when using a `<legend>` element
---

<h2 class="mzp-c-form-title">Title</h2>
<h3 class="mzp-c-form-subtitle">Subtitle</h3>
