// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@use 'wordmark' as *;

$class: 'focus';
$dir: 'firefox/browser/focus';

@each $layout-size, $logo-size in $logo-sizes {
    @include wordmark($class, $dir, $layout-size, $logo-size);
}
