// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.


// Font families
@mixin open-sans {
    font-family: $font-open-sans;
}

@mixin zilla-slab {
    font-family: $font-zilla-slab;
}


// A mixin to output font-size in rems with a px fallback for old browsers.
// Declare sizes in pixels for ease and clarity, the mixin does the math.
// Requires: remify(), pixify() - defined in includes/functions.scss.
// Usage:
//  .foo { @include font-size(24px); }

@mixin font-size($size) {
    // When unit is pixels, pass it through and convert to rem
    @if (unit($size) == 'px') {
        font-size: $size;
        font-size: remify($size);
    }

    // When unit is not pixels, show an error
    @else {
        @error 'This mixin only accepts sizes in pixels. You declared `font-size(#{$size})`.';
    }
}


// Consistent font sizes. Avoid sizing text arbitrarily and use this
// set of predefined sizes. Sizes adapt at common breakpoints, and
// there's some redundancy at smaller sizes because we don't want things
// getting too tiny.
// Example usage:
//  .title { @include text-display-xl; }
//  .subtitle { @include text-display-lg; }
//  .intro { @include text-body-lg; }

@mixin text-display-xxl { // Use this one sparingly.
    @include font-size(48px);
    line-height: 1.083;

    @media #{$mq-md} {
        @include font-size(72px);
        line-height: 1;
    }
}

@mixin text-display-xl {
    @include font-size(40px);
    line-height: 1.111;

    @media #{$mq-md} {
        @include font-size(60px);
        line-height: 1.066;
    }
}

@mixin text-display-lg {
    @include font-size(32px);
    line-height: 1.125;

    @media #{$mq-md} {
        @include font-size(48px);
        line-height: 1.083;
    }
}

@mixin text-display-md {
    @include font-size(24px);
    line-height: 1.166;

    @media #{$mq-lg} {
        @include font-size(36px);
        line-height: 1.1111;
    }
}

@mixin text-display-sm {
    @include font-size(21px);
    line-height: 1.143;

    @media #{$mq-md} {
        @include font-size(24px);
        line-height: 1.166;
    }
}

@mixin text-display-xs {
    @include font-size(18px);
    line-height: 1.333;
}

@mixin text-display-xxs {
    @include font-size(14px);
    line-height: 1.285;
}

@mixin text-body-lg {
    @include font-size(18px);
    line-height: 1.5;
}

@mixin text-body-md {
    @include font-size(16px);
    line-height: 1.5;
}

@mixin text-body-sm {
    @include font-size(14px);
    line-height: 1.285;
}

@mixin text-body-xs {
    @include font-size(12px);
    line-height: 1.333;
}

@mixin text-cta {
    @include font-size(16px);
    line-height: 1.5;
}
