// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.


// Font families
@mixin font-base {
    font-family: $font-base-family;
}

@mixin font-mozilla {
    font-family: $font-zilla-slab;
}

@mixin font-firefox {
    font-family: $font-firefox-sans;
}

// A mixin to output font-size in rems with a px fallback for old browsers.
// Declare sizes in pixels for ease and clarity, the mixin does the math.
// Requires: remify(), pixify() - defined in includes/functions.scss.
// Usage:
//  .foo { @include font-size(24px); }

@mixin font-size($size) {
    // When unit is pixels, pass it through and convert to rem
    @if (unit($size) == 'px') {
        font-size: $size;
        font-size: remify($size);
    }

    // When unit is not pixels, show an error
    @else {
        @error 'This mixin only accepts sizes in pixels. You declared `font-size(#{$size})`.';
    }
}


// Consistent font sizes. Avoid sizing text arbitrarily and use this
// set of predefined sizes. Sizes adapt at common breakpoints, and
// there's some redundancy at smaller sizes because we don't want things
// getting too tiny.
// Example usage:
//  .title { @include text-display-xl; }
//  .subtitle { @include text-display-lg; }
//  .intro { @include text-body-lg; }

$text-body-line-height: $font-base-line-height;
$text-display-line-height: 1.1;

// display copy: headings, blockquotes, other fancy stuff
@mixin text-display-xxl { // Use this one sparingly.
    @include font-size(48px);
    line-height: $text-display-line-height;

    @media #{$mq-md} {
        @include font-size(64px);
    }
}

@mixin text-display-xl {
    @include font-size(40px);
    line-height: $text-display-line-height;

    @media #{$mq-md} {
        @include font-size(56px);
    }
}

@mixin text-display-lg {
    @include font-size(32px);
    line-height: $text-display-line-height;

    @media #{$mq-md} {
        @include font-size(48px);
    }
}

@mixin text-display-md {
    @include font-size(24px);
    line-height: $text-display-line-height;

    @media #{$mq-md} {
        @include font-size(40px);
    }
}

@mixin text-display-sm {
    @include font-size(21px);
    line-height: $text-display-line-height;

    @media #{$mq-md} {
        @include font-size(32px);
    }
}

@mixin text-display-xs {
    @include font-size(18px);
    line-height: $text-display-line-height;

    @media #{$mq-md} {
        @include font-size(24px);
    }
}

@mixin text-display-xxs {
    @include font-size(16px);
    line-height: $text-display-line-height;
}

// body copy
@mixin text-body-lg {
    @include font-size(18px);
    line-height: $text-body-line-height;
}

@mixin text-body-md {
    @include font-size(16px);
    line-height: $text-body-line-height;
}

@mixin text-body-sm {
    @include font-size(14px);
    line-height: $text-body-line-height;
}

@mixin text-body-xs {
    @include font-size(12px);
    line-height: $text-body-line-height;
}

@mixin text-body-cta {
    @include font-size(16px);
    line-height: $text-body-line-height;
}


