// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.


// Font families
@mixin open-sans {
    font-family: $font-open-sans;
}

@mixin zilla-slab {
    font-family: $font-zilla-slab;
}


// A mixin to output font-size in rems with a px fallback for old browsers.
// Declare sizes in pixels for ease and clarity, the mixin does the math.
// Requires: remify(), pixify() - defined in includes/functions.scss.
// Usage:
//  .foo { @include font-size(24px); }

@mixin font-size($size) {
    // When unit is pixels, pass it through and convert to rem
    @if (unit($size) == 'px') {
        font-size: $size;
        font-size: remify($size);
    }

    // When unit is not pixels, show an error
    @else {
        @error 'This mixin only accepts sizes in pixels. You declared `font-size(#{$size})`.';
    }
}


// Consistent font sizes. Avoid sizing text arbitrarily and use this
// set of predefined sizes. Sizes adapt at common breakpoints, and
// there's some redundancy at smaller sizes because we don't want things
// getting too tiny.
// Example usage:
//  .title { @include text-display-level1; }
//  .subtitle { @include text-display-level3; }
//  .intro { @include text-body-level1; }

@mixin text-display-huge { // For especially huge titles
    @include font-size(48px);
    line-height: 1.0833;

    @media #{$media-md} {
        @include font-size(60px);
        line-height: 1.0666;
    }

    @media #{$media-lg} {
        @include font-size(72px);
        line-height: 1;
    }
}

@mixin text-display-level1 {
    @include font-size(36px);
    line-height: 1.1111;

    @media #{$media-md} {
        @include font-size(48px);
        line-height: 1.0833;
    }

    @media #{$media-lg} {
        @include font-size(60px);
        line-height: 1.0666;
    }
}

@mixin text-display-level2 {
    @include font-size(24px);
    line-height: 1.1666;

    @media #{$media-md} {
        @include font-size(36px);
        line-height: 1.1111;
    }

    @media #{$media-lg} {
        @include font-size(48px);
        line-height: 1.0833;
    }
}

@mixin text-display-level3 {
    @include font-size(18px);
    line-height: 1.3333;

    @media #{$media-md} {
        @include font-size(24px);
        line-height: 1.1666;
    }

    @media #{$media-lg} {
        @include font-size(36px);
        line-height: 1.1111;
    }
}

@mixin text-display-level4 {
    @include font-size(18px);
    line-height: 1.3333;

    @media #{$media-lg} {
        @include font-size(24px);
        line-height: 1.1666;
    }
}

@mixin text-body-level1 {
    @include font-size(18px);
    line-height: 1.3333;
}

@mixin text-body-level2 {
    @include font-size(16px);
}

@mixin text-small {
    @include font-size(14px);
    line-height: 1.1428;
}

@mixin text-extra-small {
    @include font-size(12px);
    line-height: 1.3333;
}
