// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@use '../includes/lib' as *;

// * -------------------------------------------------------------------------- */
// Card grid layout classes.

// * -------------------------------------------------------------------------- */
// 5 card hero
// On small screens cards stack vertically and span full container width.
// On medium sized screens the 1st card spans full width, and the remaining 4 cards span half widths.
// On large screens the 1st card spans 2 thirds, and the remaining cards span 1 third.
.mzp-l-card-hero {
    @media #{$mq-sm} {
        @include clearfix;

        .mzp-c-card {
            float: inline-start;
            width: calc(50% - (var(--theme-spacing-between-inline) * 0.5));
            @include bidi((
                (margin-left, 0, var(--theme-spacing-between-inline)),
                (margin-right, var(--theme-spacing-between-inline), 0),
            ));

            &:nth-child(odd) {
                margin-left: 0;
                margin-right: 0;
            }

            &.mzp-c-card-large {
                width: 100%;
            }
        }
    }

    @media #{$mq-lg} {
        .mzp-c-card {
            width: calc(33.3% - (var(--theme-spacing-between-inline) - (var(--theme-spacing-between-inline) * 0.33)));

            &:nth-child(odd) {
                @include bidi((
                    (margin-left, 0, var(--theme-spacing-between-inline)),
                    (margin-right, var(--theme-spacing-between-inline), 0),
                ));
            }

            &:nth-child(2),
            &:last-child {
                @include bidi(((margin-right, 0, margin-left, 0),));
            }

            &:nth-child(3n) {
                @include bidi(((clear, left, right),));
            }
        }

        .mzp-c-card.mzp-c-card-large {
            width: calc(66.6% - var(--theme-spacing-between-inline) * 0.33);
        }
    }
}

// * -------------------------------------------------------------------------- */
// 4 card layout
// On small screens cards stack vertically and span full container width.
// On medium sized screens cards span half width.
// On large screens cards span quarter widths.
.mzp-l-card-quarter {
    @media #{$mq-sm} {
        @include clearfix;

        .mzp-c-card {
            float: inline-start;
            width: calc(50% - (var(--theme-spacing-between-inline) * 0.5));
            @include bidi((
                (margin-left, 0, var(--theme-spacing-between-inline)),
                (margin-right, var(--theme-spacing-between-inline), 0),
            ));

            &:nth-child(even) {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }

    @media #{$mq-lg} {
        .mzp-c-card {
            width: calc(25% - (var(--theme-spacing-between-inline) - var(--theme-spacing-between-inline) * 0.25));
            @include bidi((
                (margin-left, 0, var(--theme-spacing-between-inline)),
                (margin-right, var(--theme-spacing-between-inline), 0),
            ));

            &:nth-child(even) {
                @include bidi((
                    (margin-left, 0, var(--theme-spacing-between-inline)),
                    (margin-right, var(--theme-spacing-between-inline), 0),
                ));
            }

            &:nth-child(4n) {
                @include bidi(((margin-right, 0, margin-left, 0),));
            }

            &:nth-child(4n+1) {
                @include bidi(((clear, left, right),));
            }
        }
    }
}

// * -------------------------------------------------------------------------- */
// 3 card layout
// On small screens cards stack vertically and span full container width.
// On medium sized screens cards span half width.
// On large screens cards span 1 third width.
.mzp-l-card-third {
    @media #{$mq-sm} {
        @include clearfix;

        .mzp-c-card {
            width: calc(50% - var(--theme-spacing-between-inline) * 0.5);

            @include bidi((
                (float, left, right),
                (margin-left, 0, var(--theme-spacing-between-inline)),
                (margin-right, var(--theme-spacing-between-inline), 0),
            ));

            &:nth-child(even) {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }

    @media #{$mq-lg} {
        .mzp-c-card {
            width: calc(33.3% - (var(--theme-spacing-between-inline) - var(--theme-spacing-between-inline) * 0.33));

            &:nth-child(even) {
                @include bidi((
                    (margin-left, 0, var(--theme-spacing-between-inline)),
                    (margin-right, var(--theme-spacing-between-inline), 0),
                ));
            }

            &:nth-child(3n) {
                @include bidi(((margin-right, 0, margin-left, 0),));
            }

            &:nth-child(3n+1) {
                @include bidi(((clear, left, right),));
            }
        }
    }
}

// * -------------------------------------------------------------------------- */
// 2 card layout
// On small screens cards stack vertically and span full container width.
// On medium to large sized screens cards span half width.
@media #{$mq-sm} {
    .mzp-l-card-half {
        @include clearfix;

        .mzp-c-card {
            @include bidi((
                (float, left, right),
                (margin-left, 0, var(--theme-spacing-between-inline)),
                (margin-right, var(--theme-spacing-between-inline), 0),
            ));

            &:nth-child(2n) {
                margin-left: 0;
                margin-right: 0;
            }

            &:nth-child(2n+1) {
                @include bidi(((clear, left, right),));
            }
        }
    }

    .mzp-l-card-half .mzp-c-card { /* stylelint-disable-line no-duplicate-selectors */
        width: calc(50% - (var(--theme-spacing-between-inline) - var(--theme-spacing-between-inline) * 0.5));
    }
}
