// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@use '../includes/lib' as *;

@media #{$mq-md} {
    .mzp-l-columns {
        display: grid;
        gap: var(--theme-spacing-between-block) var(--theme-spacing-between-inline);

        &.mzp-t-columns-two,
        &.mzp-t-columns-four {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    // Remove standard bottom margin from multi-column lists
    ul.mzp-l-columns,
    ol.mzp-l-columns {
        margin-bottom: 0;
    }
}

@media #{$mq-lg} {
    .mzp-l-columns {
        &.mzp-t-columns-three {
            grid-template-columns: repeat(3, 1fr);
        }

        &.mzp-t-columns-four {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

// Only one column in small containers
.mzp-t-content-sm .mzp-l-columns,
.mzp-t-content-sm.mzp-l-columns {
    display: block;
}

// Change three columns to one in medium containers
.mzp-t-content-md .mzp-l-columns.mzp-t-columns-three,
.mzp-t-content-md.mzp-l-columns.mzp-t-columns-three {
    display: block;
}

// Change four columns to two in medium containers
.mzp-t-content-md .mzp-l-columns.mzp-t-columns-four,
.mzp-t-content-md.mzp-l-columns.mzp-t-columns-four {
    grid-template-columns: repeat(2, 1fr);
}
