{% render '@logo', { product: 'family' }  %}
{% render '@logo', { product: 'firefox' }  %}
{% render '@logo', { product: 'beta' }  %}
{% render '@logo', { product: 'developer' }  %}
{% render '@logo', { product: 'nightly' }  %}
{% render '@logo', { product: 'focus' }  %}
{% render '@logo', { product: 'lockwise' }  %}
{% render '@logo', { product: 'monitor' }  %}
{% render '@logo', { product: 'relay' }  %}
{% render '@logo', { product: 'mozilla' }  %}
{% render '@logo', { product: 'vpn' }  %}
{% render '@logo', { product: 'pocket' }  %}
