<label for="password">Password
  <span class="mzp-c-fieldnote">Must be at least 8 characters and contain at least one numeral. Passwords are case sensitive.</span>
</label>
<input type="password" id="password" name="password">

<label for="email">E-mail
  <em class="mzp-c-fieldnote">Required</em>
</label>
<input type="email" name="email" id="email" placeholder="you@example.com">

<label for="password" class="mzp-is-error">Password
  <span class="mzp-c-fieldnote">Must be at least 8 characters and contain at least one numeral. Passwords are case sensitive.</span>
</label>
<input type="password" id="password" name="password">

