<div class="mzp-l-content mzp-l-card-hero">
  {% render '@card--large', { class: 'mzp-c-card-large mzp-has-aspect-16-9', image: '/img/image-16-9.jpg', link: '#', heading: 'A large hero card', body: 'A brief card description, just a single sentence.' } %}
  {% render '@card--small', { class: 'mzp-has-aspect-1-1', image: '/img/image-1-1.jpg', link: '#', heading: 'A short heading', body: 'A brief card description, just a single sentence.' } %}
  {% render '@card--small', { class: 'mzp-has-aspect-3-2', image: '/img/image-3-2.jpg', link: '#', heading: 'A short heading', body: 'A brief card description, just a single sentence.' } %}
  {% render '@card--small', { class: 'mzp-has-aspect-3-2', image: '/img/image-3-2.jpg', link: '#', heading: 'A short heading', body: 'A brief card description, just a single sentence.' } %}
  {% render '@card--small', { class: 'mzp-has-aspect-3-2', image: '/img/image-3-2.jpg', link: '#', heading: 'A short heading', body: 'A brief card description, just a single sentence.' } %}
</div>
