@use '/assets/sass/protocol/includes/lib' as *;

body {
    @include font-base;
    color: $body-text-color;

    @supports (--css:variables) {
        color: var(--token-body-text-color);
    }
}

mark {
    background-color: #ffe77e;
}
