---
name: Navigation
description: |
  Main site Navigation organism, with logo, [Menu](/patterns/molecules/menu.html) and [Download Button](/patterns/molecules/download-button.html) molecules.
hidepreview: true
notes: |
  - On wide viewports, navigation content is displayed inline.
  - On small viewports, navigation content is hidden by default and toggled via a menu icon.
    - Add `has-label` to the button to display the text label with the menu icon.
  - The logo is always visible.
    - Switch to the Firefox logo by adding the class `mzp-t-firefox` to the element with `class="mzp-c-navigation-logo"`
  - Navigation can be initialized using `Mzp.Navigation.init(options)`, where `options` is an Object with the following properties.
      - `onNavOpen` [Function] A callback when the small screen navigation icon is clicked to open (optional).
      - `onNavClose` [Function] A callback when the small screen navigation icon is clicked to close (optional).
  - Navigation can opt-in to sticky scroll behaviour by adding the class `mzp-is-sticky`.
      - Sticky behaviour will only be applied to viewports that are wider than `$mq-md` and taller than `$mq-tall`.
links:
    Navigation Demo: /demos/navigation.html
---

<div class="mzp-c-navigation {{#if sticky}}mzp-is-sticky{{/if}}">
  <div class="mzp-c-navigation-l-content">
    <div class="mzp-c-navigation-container">
      <button class="mzp-c-navigation-menu-button{{#if button-label}} has-label{{/if}}" type="button" aria-controls="{{ id }}">{{#if button-label}}{{ button-label }}{{ else }}Menu{{/if}}</button>
      {{#if logo}}<div class="mzp-c-navigation-logo"><a href="https://www.mozilla.org/">Mozilla</a></div>{{/if}}
      <div class="mzp-c-navigation-items" id="{{ id }}">
        {{#if download}}
        <div class="mzp-c-navigation-download">
          {{#embed "patterns.molecules.download-button.download-button" class="mzp-t-product mzp-t-secondary mzp-t-md"}}{{/embed}}
        </div>
        {{/if}}
        <div class="mzp-c-navigation-menu">
          {{#block "menu"}}
            {{#embed "patterns.molecules.menu.menu"}}{{/embed}}
          {{/block}}
        </div>
      </div>
    </div>
  </div>
</div>
