name: CI

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node: [20, 22, 24, 25]
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        id: node
        with:
          node-version: ${{ matrix.node }}
          cache: npm
      - name: "Install, lint and build production outputs (Node ${{ steps.node.outputs.node-version }})"
        run: |
          npm run build-package
      - name: "Build development outputs and (Xvfb) run JS tests in Firefox & Chrome"
        run: |
          firefox --version
          google-chrome --version
          xvfb-run npm test
