<section class="mzp-c-picto">
  <div class="mzp-c-picto-image">
    <img src="{{path '/img/picto/image.svg'}}" width="64" alt="">
  </div>
  <h3 class="mzp-c-picto-heading">{{ heading }}</h3>
  <div class="mzp-c-picto-body">
    <p>{{ body }}</p>
  </div>
</section>
