---
name: Medium Emphasis Box
description: A medium emphasis box
order: 2
notes: |
    - This is intended to in

---

<section class="mzp-c-box-emphasis mzp-c-box-emphasis-medium" >
  <div class="mzp-c-box-emphasis-content" >
    {{#block "content"}}
    {{/block}}
  </div>
</section>
