---
name: Paragraphs
description: |
  You know what a parapgraph is. Here's an example of paragraphs with a heading.
order: 2
---

<h3>We’re building a better Internet</h3>

<p>Our mission is to ensure the Internet is a global public resource, open and accessible to all. An Internet that truly puts people first, where individuals can shape their own experience and are empowered, safe and independent.</p>

<p>At Mozilla, we’re a global community of technologists, thinkers and builders working together to keep the Internet alive and accessible, so people worldwide can be informed contributors and creators of the Web. We believe this act of human collaboration across an open platform is essential to individual growth and our collective future.</p>
