---
name: Quote Elements
description: |
  A pull quote is an excerpt that has been pulled from a body of text used to highlight a key topic. A blockquote is a quotation that is set off from the main text typically used for long quotations.
links:
  "MDN <blockquote>": https://developer.mozilla.org/docs/Web/HTML/Element/blockquote
order: 5
---

<blockquote>
  <p>
    "{{data "specimens.sentence"}}"
  </p>
  <cite>A. Nonymous</cite>
</blockquote>

<blockquote class="mzp-t-mozilla">
  <p>
    "{{data "specimens.sentence"}}"
  </p>
  <cite>A. Nonymous</cite>
</blockquote>
