---
name: Data tables
description: |
  Tables have no base styling (apart from the browser defaults). Use the `.mzp-u-data-table` class to display tabular data with a bit more polish.
links:
  MDN: https://developer.mozilla.org/docs/Learn/HTML/Tables
order: 4
---

<table class="mzp-u-data-table">
  <caption>Table caption</caption>
  <thead>
    <tr>
      <td></td>
      <th scope="col">Column</th>
      <th scope="col">Column</th>
      <th scope="col">Column</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Row</th>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
    </tr>
    <tr>
      <th scope="row">Row</th>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
    </tr>
  </tbody>
</table>
