---
name: Flexible footer component
order: 1
description: |
  A page footer organism, containing common links to complement primary navigation.
notes: |
  - The example above shows an embedded Language Switcher component inside the Footer organism.
links:
    Footer Demo: /demos/footer.html
---

<footer class="mzp-c-footer">
  <div class="mzp-l-content">
    <nav class="mzp-c-footer-secondary">
      <div class="mzp-c-footer-legal">
        <p class="mzp-c-footer-license">
          Portions of this content are ©1998–2018 by individual mozilla.org contributors.
          Content available under a <a rel="license" href="https://www.mozilla.org/foundation/licensing/website-content/">Creative Commons license</a>.
        </p>
        <ul class="mzp-c-footer-terms">
          <li><a href="https://www.mozilla.org/privacy/websites/">Website Privacy Notice</a></li>
          <li><a href="https://www.mozilla.org/privacy/websites/#cookies">Cookies</a></li>
          <li><a href="https://www.mozilla.org/about/legal/">Legal</a></li>
        </ul>
      </div>
    </nav>
  </div>
</footer>

<script src="{{@root.baseurl}}/assets/protocol/protocol/js/protocol-details.js"></script>
<script src="{{@root.baseurl}}/assets/protocol/protocol/js/protocol-footer.js"></script>
