<section class="mzp-c-footer-section">
  <h5 class="mzp-c-footer-heading">
    Developers
  </h5>
  <ul class="mzp-c-footer-list">
    <li><a href="https://www.mozilla.org/firefox/channel/desktop/">Test New Features</a></li>
    <li><a href="https://developer.mozilla.org/">Documentation (MDN)</a></li>
    <li><a href="https://developer.mozilla.org/docs/Tools">Tools</a></li>
  </ul>
</section>
