<section class="mzp-c-footer-section">
  <h5 class="mzp-c-footer-heading">
    Product Help
  </h5>
  <ul class="mzp-c-footer-list">
    <li><a href="https://support.mozilla.org/">Support</a></li>
    <li><a href="https://bugzilla.mozilla.org/">File a Bug</a></li>
  </ul>
</section>
