<section class="mzp-c-footer-section">
  <h5 class="mzp-c-footer-heading">
    Topic
  </h5>
  <ul class="mzp-c-footer-list">
    <li><a href="https://www.mozilla.org/firefox/new/">Link One</a></li>
    <li><a href="https://www.mozilla.org/firefox/">Link Two</a></li>
    <li><a href="https://www.mozilla.org/firefox/mobile/">Link Three</a></li>
    <li><a href="https://www.mozilla.org/firefox/features/">Link Four</a></li>
    <li><a href="https://www.mozilla.org/firefox/channel/desktop/">Long link just to mix things up and cause problems.</a></li>
    <li><a href="https://www.mozilla.org/firefox/channel/desktop/">Link Six</a></li>
  </ul>
</section>
