---
name: Footer with odd columns and no language switcher
---

<footer class="mzp-c-footer">
  <div class="mzp-l-content {{#if content-class}}{{content-class}}{{/if}}">
    <nav class="mzp-c-footer-primary">
      {{#embed "patterns.organisms.footer.includes.footer-primary-logo"}}{{/embed}}
      <div class="mzp-c-footer-sections">
        {{#embed "patterns.organisms.footer.includes.footer-section"}}{{/embed}}
        {{#embed "patterns.organisms.footer.includes.footer-section"}}{{/embed}}
        {{#embed "patterns.organisms.footer.includes.footer-section"}}{{/embed}}
      </div>
    </nav>

    <nav class="mzp-c-footer-secondary">
      {{#embed "patterns.organisms.footer.includes.footer-links-social"}}{{/embed}}
      <div class="mzp-c-footer-legal">
        <p class="mzp-c-footer-license">
          Visit Mozilla Corporation’s not-for-profit parent, the <a href="https://foundation.mozilla.org/">Mozilla Foundation</a>.<br>
          Portions of this content are ©1998–2018 by individual mozilla.org contributors.
          Content available under a <a rel="license" href="https://www.mozilla.org/foundation/licensing/website-content/">Creative Commons license</a>.
        </p>
        <ul class="mzp-c-footer-terms">
          <li><a href="https://www.mozilla.org/privacy/websites/">Website Privacy Notice</a></li>
          <li><a href="https://www.mozilla.org/privacy/websites/#cookies">Cookies</a></li>
          <li><a href="https://www.mozilla.org/about/legal/">Legal</a></li>
        </ul>
      </div>
    </nav>
  </div>
</footer>

<script src="{{@root.baseurl}}/assets/protocol/protocol/js/protocol-details.js"></script>
<script src="{{@root.baseurl}}/assets/protocol/protocol/js/protocol-footer.js"></script>
