<section class="mzp-c-footer-section">
  <h5 class="mzp-c-footer-heading">
    Resources
  </h5>
  <ul class="mzp-c-footer-list">
    <li><a href="https://www.mozilla.org/privacy/">Privacy</a></li>
    <li><a href="https://www.mozilla.org/contact/">Contact</a></li>
  </ul>
</section>
