<section class="mzp-c-footer-section">
  <h5 class="mzp-c-footer-heading">
    Company
  </h5>
  <ul class="mzp-c-footer-list">
    <li><a href="https://www.mozilla.org/about/">About</a></li>
    <li><a href="https://blog.mozilla.org/press/">Press</a></li>
    <li><a href="https://careers.mozilla.org/">Careers</a></li>
  </ul>
</section>
